@import "../../../../styles/modules/variables";

.personalInfoFormAppID {
    select option:disabled {
        color: $disabled-grey;
    }
    .grey {
      color: #9B9B9B;  
    }
    .space {
        margin-bottom: 15px;
    }
    &.acp-disabled {
        .outlined-label-input input:disabled {
            background-color: #95959530;
            cursor: not-allowed;
        }
        .floating-label {
            background-color: #95959530;
            cursor: not-allowed;
        }
        .form-control{
            opacity: .5;
            cursor: not-allowed;
        }
        span , input[type=radio]{
            cursor: not-allowed;
        }
    }
    margin-bottom: 159px;
    @media (max-width: $desktop-min-width-minus) {
        margin-bottom: 49.59px;
    }
    @media (max-width: $phablet-min-width-minus) {
        margin-bottom: 55.59px;
    }
    .red {
        color: #D10000;
    }
    .bottom {
        margin-bottom: 24px;
    }
    .radio-part {
        margin: 30px 0 38px;
  
        @media (max-width: $phablet-min-width-minus) {
          margin: 26px 0 34px;
        }
  
        .ssn-part {
          margin-bottom: 27px;
  
          @media (max-width: $phablet-min-width-minus) {
            margin-bottom: 19.2px;
          }
        }
  
        .tribal-part {
          margin-bottom: 18px;
        }
      }
    .form-field {
        &.half {
            max-width: 308px;
            width: 100%;
            margin-bottom: 5px;
        }
    
        &.quarter {
            max-width: 120px;
            width: 100%;
            margin-top: 9.4px;
            margin-left: 28px;
    
            input,
            span {
              width: 120px;
            }
    
            .validation-message {
              white-space: nowrap;
            }
          }
    }
    .three-fields {
        display: flex;
        justify-content: space-between;
        max-width: 308px;
        margin-bottom: 12px;
        select {
            width: 92px;
            height: 44px;
        }
        label {
            width: 20px;
            top: 14px;
            color: #a5a3a3;
            &.dirty {
                top: -6px;
            }
        }
        .year-width {
            width: 32px;
        }
    }
    .form-control {
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        @media (max-width: $phablet-min-width-minus) {
            margin-bottom: 12px;
        }
    }
    label {
        margin-bottom: 0;
    }
    input[type="radio"] {
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
        margin: 0 5px 0 0;
        font: inherit;
        color: #888888;
        width: 24px;
        height: 24px;
        border: 2px solid #888888;
        border-radius: 50%;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
    }

    input[type="radio"]:checked {
        -webkit-appearance: none;
        appearance: none;
        margin: 0 5px 0 0;
        font: inherit;
        color: $primary-color;
        width: 24px;
        height: 24px;
        border: 2px solid $primary-color;
        border-radius: 50%;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
    }

    input[type="radio"]::before {
        content: "";
        width: 31px;
        height: 29px;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
    }
    input[type="radio"]:checked::before {
        transform: scale(0.4);
        background-color: $primary-color;
    }
}
