@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";

.plan-addons-section {
    .col-xl-11 {
        @media (max-width: $phablet-min-width-minus) {
            padding: 0;
        }
    }
    h4 {
        font-size: rem-calc(22px);
    }
    .hint {
        font-size: rem-calc(17px);
    }
    .tab-nav {
        .add-on-tabs {
            width: 100%;
            li {
                padding: 5px 13px;
                float: left;
                margin-bottom: 0;
                width: auto;
                border-right: 1px solid $grey;
                &:last-child {
                    border-right: 0;
                }
                span {
                    background-color: transparent;
                    cursor: pointer;
                    color: $black;
                    font-size: rem-calc(18px);
                    &.active {
                        background-color: $primary-color;
                        color: white;
                        padding: 10px 20px;
                        border-radius: 5px;
                    }
                }
                @media (max-width: 640px) {
                    width: 100%;
                    border: none;
                    margin-bottom: 10px;
                    border: none;
                    color: $black;
                    padding: 10px 0px;
                    span {
                        padding: 10px 20px;
                        background-color: rgba(222, 222, 222, 0.31);
                        &.active {
                            background-color: transparent;
                            color: $black;
                            background-color: rgba(134, 51, 153, 0.11);
                        }
                    }
                }
            }
        }
    }
    .validation-message {
        font-size: rem-calc(18px);
        text-transform: none;
    }
    .addon {
        padding: 11px 30px;
        width: 207px;
        @media (min-width: 639px) {
            width: 199px;
            padding: 12px 20px;
        }
        &.secondary {
            margin-right: 15px;
            @media (max-width: 498px) {
                &.addon {
                    margin-bottom: 15px;
                }
            }
        }
    }
    .categories {
        width: 100%;
        display: inline-block;
        padding: 0;
        list-style: none;
        margin-top: 0;
        li {
            border: 1px solid #7cbadb;
            padding: 6px 0;
            float: left;
            font-size: rem-calc(18px);
            color: $black;
            width: 223px;
            text-align: center;
            margin-right: 4%;
            span {
                background-color: transparent;
                padding: 0;
                cursor: pointer;
                font-size: rem-calc(18px);
            }
            &.active {
                background-color: #7cbadb;
                color: white;
            }
        }
    }
    .title {
        font-size: rem-calc(20px);
        font-family: $secondary-font-family-bold;
    }
    .subtitle {
        font-size: rem-calc(17px);
        font-family: $base-font-family;
    }
    .sort-nav {
        display: inline-block;
        padding: 0;
        list-style: none;
        li {
            border-right: 1px solid $grey;
            padding: 5px 9px;
            float: left;
            width: 35px;
            @media (max-width: 426px) {
                margin-bottom: 11px;
                padding: 3px 6px;
            }
            &:last-child {
                border-right: none;
            }
            &.active {
                a {
                    color: $primary-color;
                }
            }
            a {
                font-size: rem-calc(18px);
                color: $black;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    .actions {
        display: flex;
        gap: 12px;
        margin-top: 24px;
        @media(max-width: $phablet-min-width-minus) {
            flex-direction: column;
        }
    }
    .data-addOn-section {
        @media (#{$larger-than-desktop}) {
            margin-top: 30px;
        }
        margin-top: 20px;
        .quantity-section {
            @media (max-width: 426px) {
                display: flex;
                .quantityNum {
                    width: 17%;
                    margin-bottom: 0;
                }
            }
            padding: 10px 0;
            font-size: 18px;
            span {
                margin-right: 10px;
            }
            input[type="number"] {
                -moz-appearance: textfield;
            }
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                margin: 0;
            }
            input[type="number"]:hover::-webkit-inner-spin-button,
            input[type="number"]:hover::-webkit-outer-spin-button {
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                margin: 0;
            }
            .quantityBtn {
                cursor: pointer;
                display: inline-block;
                font-size: 1em;
                font-weight: 700;
                padding: 9px 15px;
                text-align: center;
                text-decoration: none;
                border-radius: 0;
                &.disabled {
                    cursor: not-allowed;
                }
            }
            .quantityNum {
                display: inline-block;
                height: 36.5px;
                padding: 9px 5px;
                text-align: center;
                @media (#{$larger-than-mobile}) {
                    width: 17%;
                }
                @media (#{$larger-than-tablet}) {
                    width: 8%;
                }
                @media (#{$larger-than-desktop}) {
                    width: 6%;
                }
            }
        }
        .total-section {
            margin-top: 15px;
            margin-bottom: 35px;
            span {
                font-size: rem-calc(18px);
                margin-right: 10px;
            }
            .total {
                border: 1px solid $grey;
                color: $primary-color;
                text-align: center;
                padding: 7px 25px;
            }
        }
    }
    .countriesList {
        font-size: rem-calc(15px);
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        &.payGo {
            max-height: none;
            @media (#{$larger-than-desktop}) {
                max-height: 570px;
            }
            &.long {
                max-height: none;
                @media (#{$larger-than-desktop}) {
                    max-height: 1025px;
                }
            }
        }
        &.unlimited {
            li {
                width: 40%;
                @media (max-width: 1024px) {
                    width: 60%;
                }
                @media (max-width: 750px) {
                    width: 75%;
                }
                @media (max-width: 426px) {
                    width: 100%;
                }
                .rate {
                    padding-right: 10px;
                }
            }
        }
        li {
            padding-bottom: 10px;
            width: 65%;
            height: 6%;
            @media (#{$larger-than-desktop}) {
                width: 44%;
            }
            @media (max-width: 426px) {
                width: 100%;
            }
            .countryName {
                font-size: rem-calc(15px);
            }
            .rate {
                color: $primary-color;
                font-size: rem-calc(15px);
                float: right;
                padding-right: 20px;
            }
        }
    }
    .totalCalls {
        border-bottom: 1px solid $grey;
        border-top: 1px solid $grey;
        font-size: rem-calc(17px);
        padding-top: 17px;
        padding-bottom: 40px;
        @media (min-width: 818px) {
            padding-bottom: 17px;
        }
        span {
            display: block;
            &.text-color-primary {
                font-size: rem-calc(24px);
                text-transform: capitalize;
                float: right;
                font-family: $base-font-family-bold;
                font-weight: bold;
            }
            @media (min-width: 818px) {
                display: inline;
            }
        }
    }
    .action {
        text-align: right;
        margin-top: 40px;
        margin-bottom: 15px;
        .secondary {
            margin-right: 15px;
            @media (max-width: 498px) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
        @media (max-width: 750px) {
            text-align: center;
        }
    }
    .textAddOn {
        font-size: 18px;
        height: 35px;
        margin: 10px 0 15px 10px;
    }
}
