@import "../../../styles/modules/variables";
@import "../../../styles/modules/_mixins.scss";

.why-goodmobile-page {
  .banner-section {
    position: relative;

    .banner-image-container {
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }

    .banner-text-content {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 40px;

      @media (max-width: $phablet-min-width-minus) {
        top: 32px;
      }

      .header {
        color: $header-color;
        text-align: center;

        @media (min-width: $phablet-min-width) {
          margin-bottom: 12px;
        }
      }

      .sub-header {
        margin-bottom: 8px;
        font-family: $secondary-font-family;
        font-weight: 400;
        text-align: center;
        max-width: 298px;

        @media (max-width: $phablet-min-width-minus) {
          margin-bottom: 4px;
        }

        &.last {
          margin-bottom: 0;
          max-width: 390px;

          @media (max-width: $phablet-min-width-minus) {
            max-width: 350px;
          }
        }
      }
    }
  }

  .promises-section {
    display: flex;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 64px;

    @media (max-width: $phablet-min-width-minus) {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    .promises-flex {
      display: flex;
      max-width: 1520px;
      width: 100%;
      margin: 0 auto;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 1799.9px) {
        justify-content: center;
        max-width: 640px;
        gap: 64px;
      }

      @media (max-width: 829.9px) {
        gap: 16px;
      }

      @media (max-width: $phablet-min-width-minus) {
        gap: 40px;
      }

      .promise-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 288px;

        &.top {
          @media (min-width: $phablet-min-width) and (max-width: 829.9px) {
            margin-top: 48px;
          }
        }

        .promise-content {
          text-align: center;
          margin-top: 24px;

          .title {
            margin-bottom: 8px;
          }

          .desc {
            b {
              font-family: $base-font-family-bold;
            }

            &.high-width {
              max-width: 160px;
            }

            &.support-width {
              max-width: 288px;
            }

            &.bring-width {
              max-width: 260px;
            }

            &.save-width {
              max-width: 210px;
            }
          }
        }
      }
    }
  }

  .last-section {
    width: 100%;
    background-color: $secondary-color;
    margin-top: 35px;
    padding: 80px 0;

    @media (max-width: $phablet-min-width) {
      padding: 35px 0;
    }

    .description {
      color: white;
      font-size: rem-calc(30px);
      line-height: rem-calc(40px);
      font-family: $secondary-font-family-bold;
      padding: 10px 10px;

      @media (max-width: $desktop-min-width-minus) {
        font-size: rem-calc(25px);
      }

      @media (max-width: 640px) {
        text-align: center;
        margin-bottom: 35px;
        display: inline;
      }
    }

    .button {
      padding: 13px 40px;
      float: right;
      width: 255px;
      font-family: $secondary-font-family;
      font-size: rem-calc(18px);
      line-height: rem-calc(24px);

      @media (max-width: 1024px) and (min-width: 640px) {
        font-size: rem-calc(17px);
        line-height: rem-calc(21px);
        width: 200px;
      }
    }
  }
}