<div class="why-goodmobile-page">
  <section class="banner-section">
    <picture class="banner-image-container">
      <source srcset='assets/img/banners/why-goodmobile-banner-mobile-breakpoint.webp' media="(max-width: 449.9px)"
        type="image/webp">
      <source srcset='assets/img/banners/why-goodmobile-banner-mobile-breakpoint.png' media="(max-width: 449.9px)"
        type="image/png">
      <source srcset='assets/img/banners/why-goodmobile-banner-mobile.webp' media="(max-width: 639.9px)"
        type="image/webp">
      <source srcset='assets/img/banners/why-goodmobile-banner-mobile.png' media="(max-width: 639.9px)"
        type="image/png">
      <source srcset='assets/img/banners/why-goodmobile-banner-tablet.webp' media="(max-width: 1024.9px)"
        type="image/webp">
      <source srcset='assets/img/banners/why-goodmobile-banner-tablet.png' media="(max-width: 1024.9px)"
        type="image/png">
      <source srcset='assets/img/banners/why-goodmobile-banner-desktop.webp' media="(min-width: 1025px)"
        type="image/webp">
      <source srcset='assets/img/banners/why-goodmobile-banner-desktop.png' media="(min-width: 1025px)"
        type="image/png">
      <img src="assets/img/banners/why-goodmobile-banner-desktop.png" alt="Why GoodMobile Page Banner">
    </picture>
    <div class="page-section banner-text-content">
      <h1 class="header">Say Hello to Better Wireless!</h1>
      <h5 class="sub-header">We believe that everyone has a right to a dependable high-quality wireless plan.</h5>
      <h5 class="sub-header last">We offer some of the nation’s best cell phone plans powered by the US best 5G
        network. Plans that help you stay on budget.</h5>
    </div>
  </section>
  <section class="page-section promises-section">
    <div class="promises-flex">
      <div class="promise-part">
        <div class="promise-image">
          <img src="assets/img/high-speed-data.svg" alt="High Speed Data Image">
        </div>
        <div class="promise-content">
          <h5 class="title">High-Speed Data</h5>
          <p class="desc smaller high-width">Ultra-dependable <b>5G/4G LTE</b> networks</p>
        </div>
      </div>
      <div class="promise-part">
        <div class="promise-image">
          <img src="assets/img/iphone-android-support.svg" alt="iPhone-Android Support Image">
        </div>
        <div class="promise-content">
          <h5 class="title">iPhone & Android Support</h5>
          <p class="desc smaller support-width">Unlike some smaller carriers that can only support Android devices, Good
            Mobile works with iPhone</p>
        </div>
      </div>
      <div class="promise-part top">
        <div class="promise-image">
          <img src="assets/img/bring-your-phone.svg" alt="Bring Phone Image">
        </div>
        <div class="promise-content">
          <h5 class="title">Bring your Phone</h5>
          <p class="desc smaller bring-width">With Good Mobile, you can bring you <b>unlocked 5G/4G</b> device and keep
            your phone number</p>
        </div>
      </div>
      <div class="promise-part top">
        <div class="promise-image">
          <img src="assets/img/save-money.svg" alt="Save Money Image">
        </div>
        <div class="promise-content">
          <h5 class="title">Save Money</h5>
          <p class="desc smaller save-width">Offering our Best Value Plan for only <b>$30/mo</b>.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="plans-section">
    <p class="label">PREMIUM WIRLESS</p>
    <h2 class="header-color">Cheap Phone Plans Shouldn’t Mean Sacrifice.</h2>
    <h5 class="desc">For the best cell phone deals, try Good Mobile.</h5>
    <button class="button primary" data-cy="goToPlans"
      [routerLink]="SHOP_ROUTE_URLS.BASE+'/'+SHOP_ROUTE_URLS.PLANS_AND_FEATURES+'/'+PLANS_SHOP_ROUTE_URLS.NEW_PLAN">Go
      to Plans</button>
</div>
</div>