<section class="shop-phones" >
    <div class="container-flex">
        <div class="breadcrumbs">
            <p class="page"><i class="arrow left" ></i><b (click)="goToPhonesPage()">Select phone</b> </p>
        </div>
      <div class="phone-section">
        <div class="phone">
            <div *ngIf="!isDisplay">
                <img [src]="defaultFinishId?.imageUrl" [class.note]="!!isNote" alt="phone image" *ngIf="!!defaultFinishId">
            </div>
            <div *ngIf="!!isDisplay">
                <img *ngIf="phoneImage | async as item" src="https://{{item?.phoneImage?.fields?.file?.url}}"
                     alt="phone image">
            </div>
        </div>
        <div class="phone-info">
            <p class="name" *ngIf="name | async as item" [class.faded]="!isAvailable"> {{item?.phoneName}}</p>
            <p class="price" *ngIf="isAvailable">{{selectedPhoneFromCatalog?.price | currency}}</p>
            <div *ngIf="!!isDefaultCapacity && !isAvailable" [class.faded]="!isAvailable">
                <div *ngIf="selectedDefaultCapacityId | async as capacityDefaultId">
                    <p class="price">{{capacityDefaultId?.price | currency}}</p>
                </div>
            </div>
            <div class="infographic-section" [class.faded]="!isAvailable">
                <div class="infographic tooltip" >
                    <picture>
                        <source srcset='assets/img/battery-health-light.svg' media="(min-width: 320px)" type="image/svg">
                        <img  alt="battery health" src="assets/img/battery-health-light.svg" width="48" height="48"/>
                    </picture>
                   <span class="tooltiptext first"><b>80%</b> battery health</span>
                </div>
                <div class="infographic tooltip" >
                    <picture>
                        <source srcset='assets/img/warranty-light.svg' media="(min-width: 320px)" type="image/svg">
                        <img  alt="warranty" src="assets/img/warranty-light.svg" width="48" height="48"/>
                    </picture>
                   <span class="tooltiptext"><b>90</b>-days warranty</span>
                </div>
                <div class="infographic tooltip" >
                    <picture>
                        <source srcset='assets/img/return-phone-light.svg' media="(min-width: 320px)" type="image/svg">
                        <img  alt="return phone" src="assets/img/return-phone-light.svg" width="48" height="48"/>
                    </picture>
                   <span class="tooltiptext"><b>14</b>-days return</span>
                </div>
                <div class="infographic tooltip" >
                    <picture>
                        <source srcset='assets/img/friendlier-light.svg' media="(min-width: 320px)" type="image/svg">
                        <img  alt="friendlier" src="assets/img/friendlier-light.svg" width="48" height="48"/>
                    </picture>
                   <span class="tooltiptext"><b>Friendlier for the planet</b></span>
                </div>
            </div>
            <div class="colors-section" >
                <div class="availabilityBanner" *ngIf="isLowStock || !isAvailable" [class.red]="!isAvailable">
                    <p id="not-available" class="message" *ngIf="!isAvailable"><img src="assets/icon/Warning.svg"
                            alt="red warning icon"> Not Available</p>
                    <p id="is-low-stock" class="message" *ngIf="isLowStock"><img src="assets/icon/info-orange-circle.svg"
                            alt="black warning icon"> Only {{selectedPhoneFromCatalog?.stock}} Available</p>
                </div>
                <p class="note" [class.faded]="!isAvailable">Make it yours:</p>
                <p class="section-header" [class.faded]="!isAvailable">Color:<span class="color-name">{{colorHovered || finishColor}}</span></p>
                <div *ngIf="!!defaultFinishId" [class.faded]="!isAvailable"> 
                    <ul class="color-options">
                        <li *ngFor="let x of finishes" [class.disabled]="selectedPhoneFromCatalog?.stock == 0 || !!x?.outOfStock"
                            (click)="selectFinish(x?.finishId,x?.marketUrl,x?.color,x?.hexCode, x?.os , item1?.phoneName , x?.imageUrl, x?.outOfStock)">
                            <div class="color-swatch" [style.backgroundColor]="x?.hexCode"  [class.selected]="(defaultFinishId?.finishId === x?.finishId && isDefaultFinishes) || selectedFinishId === x?.finishId"
                            (mouseenter)="colorHovered=x?.color" (mouseout)="colorHovered=''">
                                <img *ngIf="selectedPhoneFromCatalog?.stock == 0 || !!x?.outOfStock" class="disabled-img"
                                    src="assets/icon/outOfStockImg.svg" alt="Disabled Img" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="capacity-section">
                <p class="section-header" [class.faded]="!isAvailable">Capacity:</p>
                <div class="capacity" *ngIf="selectedDefaultCapacityId | async as capacityDefaultId" [class.faded]="!isAvailable">
                    <ul *ngFor="let item of phoneDetails | async" class="capacity-options">
                        <li *ngFor="let x of item?.fields?.phoneCapacity " [class.disabled]="!isAvailable" 
                            [class.selected]="capacityDefaultId?.capacityId === x?.fields?.capacityId && isDefaultCapacity || selectedCapacityId === x?.fields?.capacityId"
                            (click)="selectCapacity(x?.fields?.capacityId , x?.fields?.capacityValue , x?.fields?.price)">
                            <span>{{x?.fields?.capacityValue}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cart-section" [class.faded]="!isAvailable">
                <div class="availabilityBanner smaller">
                    <p class="message smaller"><img src="assets/icon/delivery-truck.svg" alt="delivery">
                        Deliver to you - <b>Free Delivery</b>
                    </p>
                </div>
                <button class="button primary" aria-label="Add to cart" data-cy="selectPhone" (click)="selectPhone()" [disabled]="!isAvailable" [class.disabled]="!isAvailable">Add to Cart</button>
            </div>
        </div>
      </div>
      <div class="details-section">
        <div class="details" (click)="showDescription=!showDescription">
            <div class="title" [class.full]="!showDescription">
                <h2 class="details-title">Product Description</h2>
                <div class="responsive"><i class="arrow" [class.down]="!showDescription" [class.up]="!!showDescription"></i></div>
            </div>
            <div class="info" *ngIf="showDescription">
                <div *ngFor="let item of phoneDetails | async" class="product-description" id="content1">
                    <p>{{item?.fields?.productDescription}}</p>
                </div>
            </div>
            <div class="expand">
                <i class="arrow" [class.down]="!showDescription" [class.up]="!!showDescription"></i>
            </div>
        </div>
        <div class="details" (click)="showFeatures=!showFeatures">
            <div class="title" [class.full]="!showFeatures">
                <h2 class="details-title">Features</h2>
                <div class="responsive"><i class="arrow" [class.down]="!showFeatures" [class.up]="!!showFeatures"></i></div>
            </div>
            <div class="info" *ngIf="showFeatures">
                <div *ngFor="let item of phoneDetails | async" class="">
                    <div class="feature" *ngFor="let x of item?.fields?.features">
                        <p class="feature-title"> {{x?.fields?.featureTitle}} </p>
                        <p class="feature-info"> {{x?.fields?.featureDescription}} </p>
                    </div>
                </div>
            </div>
            <div class="expand">
                <i class="arrow" [class.down]="!showFeatures" [class.up]="!!showFeatures"></i>
            </div>
        </div>
        <div class="details" (click)="showSpecs=!showSpecs">
            <div class="title" [class.full]="!showSpecs">
                <h2 class="details-title">Tech Specs</h2>
                <div class="responsive"><i class="arrow" [class.down]="!showSpecs" [class.up]="!!showSpecs"></i></div>
            </div>
            <div class="info" *ngIf="showSpecs">
                <div class="spec-section" *ngFor="let item of phoneDetails | async">
                    <div *ngFor="let x of item?.fields?.techSpecs">
                        <p class="feature-title"><b>{{x?.fields?.technicalSpecification}}</b></p>
                        <div *ngFor="let spec of techSpecification | async">
                            <div class="feature" *ngIf="spec?.fields?.technicalSpecId === x?.fields?.technicalSpecId">
                                <p class="feature-info">{{spec?.fields?.specificationTitle}}</p>
                                <p class="feature-info" *ngIf="spec?.fields?.specificationDescription">
                                    {{spec?.fields?.specificationDescription}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="expand">
                <i class="arrow" [class.down]="!showSpecs" [class.up]="!!showSpecs"></i>
            </div>
        </div>
      </div>
    </div>
</section>