<section class="container-flex forget-password-section">
  <div class="header-section">
    <h1 class="title">Forgot your password ?</h1>
    <div class="subhead">
      <p>No problem. Select a good email address for you below and we will send you a link to reset your password: </p>
    </div>
    <form class="forget-password-form" [formGroup]="forgetPasswordForm">
      <fieldset class="form-section">
        <label class="email" for="email">Enter an email address</label>
        <input id="email" data-cy="email" type="email" name="email" required formControlName="email" autocomplete="email"
          (focus)="selectAllContent($event)" (mouseup)="$event.preventDefault()">
        <label class='validation-message alert'
          *ngIf="forgetPasswordForm.controls.email.hasError('required') && forgetPasswordForm.controls.email.touched"
          id="required-email-msg" data-cy="required-email-msg">
          Email address is required.
        </label>
        <label class="validation-message" id="invalid-email-msg" *ngIf="forgetPasswordForm.controls.email.hasError('pattern')"> Email address is
          invalid</label>
      </fieldset>
      <fieldset class="action">
        <button class="button primary" (click)="sendEmail()" [disabled]="forgetPasswordForm.invalid" id="submit-button" data-cy="submitBtn"
          [uiBlockButton]="processingRequest">Submit</button>
      </fieldset>
    </form>
  </div>
</section>