@import '../../../styles/modules/variables';
@import '../../../styles/modules/mixins';

.forget-password-section {
    margin-top: 60px;
    @media (min-width: $tablet-min-width) {
        margin-top: 80px;
    }
    @media (max-width: $phablet-min-width-minus) {
        margin-top: 40px;
    }
    .header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            text-align: center;
        }
        .subhead {
            font-size: rem-calc(22px);
            line-height: 26px;
            font-family: $base-font-family;
            max-width: 755px;
            text-align: center;
        }
        @media (max-width: $desktop-min-width-minus) {
            .title {
                font-size: rem-calc(27px);
                line-height: 35px;
            }
            .subhead {
                font-size: rem-calc(17px);
                line-height: 20px;
                max-width: 458px;
            }
        }
        @media (max-width: $phablet-min-width-minus) {
            .title {
                font-size: rem-calc(26px);
                line-height: 35px;
                max-width: 286px;
            }
        }
    }
    .forget-password-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        width: 100%;
        margin-bottom: 70px;
        .form-section {
            width: 100%;
            max-width: 455px;
        }
        .action {
            width: 455px;
            .button {
                width: 145px;
                padding: 7px;
                font-size: rem-calc(20px);
            }
            @media (max-width: $phablet-min-width-minus) {
                width: auto;
            }
        }
    }
}