<section class="plan-and-features-section">
    <div class="container-flex-fluid">
      <app-new-plan-shop *ngIf="!isChangePlan"></app-new-plan-shop>
      <app-change-plan-shop *ngIf="!!isChangePlan && !planSelected"></app-change-plan-shop>
    </div>
    <div class="container-flex">
      <app-plans-list-viewer (mobilePlanSelected)="goToPlans($event)" [isChangePlan]="isChangePlan"></app-plans-list-viewer>
    </div>
    <div class="autoPay-section" *ngIf="!isChangePlan">
      <div class="header">
        <h2 class="title">Reliable Coverage</h2>
        <p class="description">
          From coast to coast, our two network carriers have more towers in more places which means you get the fastest and best coverage possible.
        </p>
      </div>
      <div class="image-container">
        <img src="assets/img/girl-with-phone.svg"  alt="From coast to coast, our two network carriers have more towers in more places which means you get the fastest and best coverage possible.">
      </div>
      </div>
      <div class="disclaimer">
        <p class="main">Unless you choose to add-on high-speed data, speeds may be reduced to a maximum of 128Kbps if you exceed your plan’s monthly high speed data allowance. Actual speed varies by device and location.</p>
        <p>For more information on GoodMobile's broadband service, visit <a [routerLink]="[SUPPORT_ROUTE_URLS.BASE + '/'+ SUPPORT_ROUTE_URLS.TERMS_AND_CONDITIONS + '/' + 'mobile-broadband-disclosure']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Broadband Disclosure</a></p>
      </div>
  </section>
  