@import "../../../../styles/modules/variables";
@import "../../../../styles/modules/mixins";

::ng-deep {
    .place-order-section {
        .page-section {
            margin-bottom: 40px;
            &.place-order {
                @media (max-width: $desktop-1399-break-point) {
                    padding: 0 55px;
                }
                @media (max-width: $desktop-min-width-minus) {
                    padding: 0 88px;
                }
                @media (max-width: $tablet-min-width-minus) {
                    padding: 0 58px;
                }
                @media (max-width: $phablet-min-width-minus) {
                    padding: 0 32px;
                }
                @media (max-width: $mobile-min) {
                    padding: 0 16px;
                }
            }
            hr {
                border-top: 1px solid #ced3d6;
                margin: 24px 0;
                width: 100%;

                @media (max-width: $phablet-min-width-minus) {
                    margin: 20px 0;
                }

                &.short {
                    max-width: 275px;
                }
            }
            .mt-24 {
                margin-top: 24px;
            }
            .step-title {
                font-size: rem-calc(32px);
                line-height: 40px;
                margin-bottom: 5px;
                font-family: $secondary-font-family-bold;

                @media (max-width: $phablet-min-width-minus) {
                    font-size: rem-calc(24px);
                    line-height: 32px;
                    margin-bottom: 8px;
                }
            }

            .step-sub-title {
                font-size: rem-calc(24px);
                line-height: 32px;
                font-family: $secondary-font-family;
                font-weight: 500;
                margin-bottom: 0;

                @media (max-width: $phablet-min-width-minus) {
                    font-size: rem-calc(18px);
                    line-height: 24px;
                }
            }

            .cards-flex {
                margin-top: 40px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                height: max-content;
                counter-reset: brick;
                gap: 40px;

                @media (max-width: $desktop-min-width-minus) {
                    flex-direction: column;
                    margin-top: 32px;
                }

                @media (max-width: $phablet-min-width-minus) {
                    margin-top: 24px;
                }

                .left,
                .right {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 50%;
                    gap: 40px;

                    @media (max-width: $desktop-min-width-minus) {
                        width: 100%;
                        flex-direction: column-reverse;
                        &.no-reverse {
                            flex-direction: column;
                        }
                    }
                }
                .full {
                    flex-direction: row;
                    flex-basis: 100%;
                }
                .place-order-card {
                    background: $white;
                    box-shadow: 0 8px 30px #5e5e5e1f;
                    border-radius: 10px;
                    min-height: 200px;
                    &.full {
                        width: 100%;
                    }
                    @media (max-width: $desktop-min-width-minus) {
                        width: 100%;
                    }

                    @media (max-width: $phablet-min-width-minus) {
                        min-height: 160px;
                    }

                    .card-header {
                        padding: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        box-shadow: inset 0px -1px 0px rgba(206, 211, 214, 0.25);

                        @media (max-width: $phablet-min-width-minus) {
                            padding: 24px 16px 16px;
                        }

                        .title {
                            font-size: rem-calc(24px);
                            line-height: 36px;
                            font-weight: 700;
                            margin-bottom: 0;

                            @media (max-width: $phablet-min-width-minus) {
                                font-size: rem-calc(20px);
                                line-height: 32px;
                            }
                        }

                        a {
                            font-size: rem-calc(16px);
                            line-height: 16px;
                            font-weight: 700;
                        }
                    }

                    .card-tab {
                        &.payment {
                            .tab-content {
                                display: block;
                                padding: 24px;

                                @media (max-width: $phablet-min-width-minus) {
                                    padding: 16px;
                                }

                                .items-sub-content {
                                    display: block;

                                    .sub-item-section {
                                        padding: 0;

                                        .item-details {
                                            align-items: center;
                                            gap: 24px;

                                            @media (max-width: 499.9px) {
                                                align-items: flex-start;
                                            }

                                            img {
                                                width: 60px;
                                                height: 60px;

                                                @media (max-width: $phablet-min-width-minus) {
                                                    width: 56px;
                                                    height: 56px;
                                                }
                                            }

                                            .details {
                                                font-size: rem-calc(16px);
                                                line-height: 24px;
                                                font-weight: 700;

                                                .title {
                                                    margin-bottom: 0;
                                                    margin-right: 12px;
                                                }

                                                .desc {
                                                    margin-bottom: 0;
                                                    color: #a5a3a3;
                                                }

                                                .details-flex {
                                                    display: flex;
                                                    justify-content: space-between;

                                                    @media (max-width: 499.9px) {
                                                        flex-direction: column;
                                                        gap: 12px;
                                                    }

                                                    .flex {
                                                        display: flex;
                                                        flex-direction: column;
                                                        gap: 8px;
                                                    }
                                                }
                                            }

                                            .amount {
                                                display: flex;
                                                gap: 8px;
                                                white-space: nowrap;

                                                @media (max-width: 346.9px) {
                                                    flex-direction: column;
                                                    gap: 4px;
                                                }

                                                .key {
                                                    font-size: rem-calc(14px);
                                                    line-height: 24px;
                                                    font-weight: 500;
                                                    margin-bottom: 0;
                                                    color: #a5a3a3;
                                                }

                                                .value {
                                                    font-size: rem-calc(16px);
                                                    line-height: 24px;
                                                    font-weight: 700;
                                                    margin-bottom: 0;
                                                    color: #0eb864;
                                                }
                                            }

                                            .item-details-flex {
                                                display: flex;
                                                justify-content: space-between;
                                                width: 100%;

                                                @media (max-width: 499.9px) {
                                                    flex-direction: column;
                                                    gap: 12px;
                                                }
                                            }
                                        }

                                        hr {
                                            max-width: unset;
                                        }
                                    }
                                }
                            }

                            .sub-content {
                                display: block;
                                padding: 24px 24px 32px;

                                @media (max-width: $phablet-min-width-minus) {
                                    padding: 16px;
                                }

                                .desc {
                                    font-size: rem-calc(16px);
                                    line-height: 24px;
                                    margin-bottom: 4px;

                                    @media (max-width: $phablet-min-width-minus) {
                                        font-size: rem-calc(14px);
                                        margin-bottom: 4px;
                                    }

                                    &.last {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }

                        .tab-label {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            color: #1c1d1f;
                            padding: 16px 24px;
                            cursor: pointer;
                            margin-bottom: 0;
                            font-size: 20px;
                            line-height: 32px;
                            font-weight: $bold;
                            font-family: $base-font-family-bold;
                            background: hsla(204, 41%, 93%, 1);

                            @media (max-width: $phablet-min-width-minus) {
                                padding: 12px 16px;
                                font-size: 18px;
                                line-height: 28px;
                            }

                            &:after {
                                content: "\276F";
                                width: 1em;
                                height: 1em;
                                text-align: center;
                                transition: all 0.35s;
                                color: $primary-color;
                                transform: rotate(90deg);
                            }

                            .tab-title {
                                margin-bottom: 0;
                            }
                        }

                        .sub-label {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            background: #f8fcfe;
                            box-shadow: inset 0px -1px 0px rgba(206, 211, 214, 0.25);
                            padding: 16px 24px;
                            padding-right: 14px;
                            margin-bottom: 0;
                            font-size: 18px;
                            line-height: 28px;
                            font-family: $base-font-family-bold;
                            color: $third-color;
                            cursor: pointer;

                            @media (max-width: $phablet-min-width-minus) {
                                padding: 12px 16px;
                                padding-right: 10px;
                                font-size: 16px;
                                line-height: 24px;
                            }

                            img {
                                transform: rotate(-180deg);
                                width: 26.67px;
                                height: 26.67px;

                                @media (max-width: $phablet-min-width-minus) {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }

                        .subtotal {
                            display: flex;
                            justify-content: flex-end;
                            color: #383838;
                            font-weight: $bold;
                            font-size: 18px;
                            line-height: 28px;
                            margin: 0;
                            font-family: $base-font-family-bold;

                            @media (max-width: $phablet-min-width-minus) {
                                font-size: 16px;
                                line-height: 24px;
                            }
                        }

                        .sub-content,
                        .items-sub-content {
                            display: none;
                            transition: max-height 0.15s cubic-bezier(0, 1, 0, 1);
                            background: #fbfbfb;
                            border-radius: 10px;
                        }

                        .flex-content {
                            display: flex;
                            flex-direction: column;
                            gap: 38px;

                            @media (max-width: $phablet-min-width-minus) {
                                gap: 24px;
                            }

                            .item-details {
                                gap: 24px;

                                @media (max-width: $phablet-min-width-minus) {
                                    gap: 22px;
                                }

                                .thumbnail {
                                    margin-right: 0;
                                    width: 60px;
                                    height: 94px;

                                    @media (max-width: $phablet-min-width-minus) {
                                        width: 46px;
                                        height: 60px;
                                    }
                                }

                                .detail-info {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 8px;

                                    .quantity {
                                        color: #a5a3a3;
                                    }
                                }
                            }
                        }

                        .item-details {
                            display: flex;
                            align-items: flex-start;

                            .thumbnail {
                                margin-right: 20px;
                                width: 45.75px;
                                height: 57.86px;

                                @media (max-width: $phablet-min-width-minus) {
                                    width: 43px;
                                    height: 34px;
                                    margin-right: 8px;
                                }

                                &.phone {
                                    width: 60px;
                                    height: 94px;

                                    @media (max-width: $phablet-min-width-minus) {
                                        width: 46px;
                                        height: 60px;
                                    }
                                }
                            }

                            .image-side {
                                margin-right: 16px;

                                @media (max-width: $phablet-min-width-minus) {
                                    margin-right: 12px;
                                }

                                .image {
                                    width: 60px;
                                    height: 60px;

                                    @media (max-width: $phablet-min-width-minus) {
                                        width: 45px;
                                        height: 45px;
                                    }
                                }
                            }

                            .details {
                                width: 100%;

                                &.summary {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 12px;

                                    @media (max-width: $phablet-min-width-minus) {
                                        gap: 4px;
                                    }

                                    .secondary {
                                        color: $secondary-color;
                                    }
                                }

                                .detail {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: baseline;

                                    &.disabled {
                                        opacity: 0.4;
                                    }

                                    .detail-info {
                                        font-size: 16px;
                                        line-height: 24px;
                                        margin: 0;
                                        font-family: $base-font-family;

                                        .bold {
                                            font-family: $base-font-family-bold;
                                        }

                                        p {
                                            margin-bottom: 0;
                                        }
                                        .promo {
                                            background: $secondary-color;
                                            padding: 5px;
                                            color: white;
                                            font-size: 12px;
                                            margin-bottom: 0;
                                            line-height: 13px;
                                            text-transform: uppercase;
                                            border-radius: 5px;
                                            max-width: 225px;
                                            @media (max-width: $phablet-min-width-minus) {
                                                font-size: 10px;
                                                max-width: 190px;
                                            }
                                        }
                                    }

                                    .promo {
                                        display: flex;
                                        align-items: center;

                                        .title {
                                            font-size: 16px;
                                            line-height: 24px;
                                            margin: 0;
                                            font-family: $base-font-family-bold;

                                            @media (max-width: $phablet-min-width-minus) {
                                                font-size: 14px;
                                            }
                                        }
                                    }

                                    .tooltip {
                                        position: relative;
                                        display: inline-block;

                                        .tooltip-arrow {
                                            position: absolute;
                                            top: 26px;
                                            left: 3px;
                                            z-index: 2;
                                            visibility: hidden;
                                        }

                                        .info-icon {
                                            width: 16px;
                                            height: 16px;
                                            margin-left: 5px;
                                            cursor: pointer;
                                        }
                                    }

                                    .tooltip:hover .tooltipInfo {
                                        visibility: visible;
                                    }

                                    .tooltip:hover img {
                                        visibility: visible;
                                    }

                                    .tooltip .tooltipInfo::after {
                                        content: "";
                                        position: absolute;
                                        bottom: 100%;
                                        left: 50%;
                                        margin-left: -5px;
                                        border-width: 5px;
                                        border-style: solid;
                                        border-color: transparent transparent #f4f4f4 transparent;
                                    }

                                    .tooltip .tooltipInfo {
                                        background: #dad0dc;
                                        box-shadow: 0px 4px 15px rgba(206, 211, 214, 0.6);
                                        border-radius: 10px;
                                        padding: 12px;
                                        text-align: left;
                                        visibility: hidden;
                                        position: absolute;
                                        left: -90px;
                                        top: 32px;
                                        width: 201px;
                                        z-index: 1;
                                        font-weight: normal;
                                        object-fit: contain;
                                        font-family: $base-font-family;
                                        color: #383838;

                                        .text {
                                            font-size: 14px;
                                            line-height: 24px;
                                            margin-bottom: 12px;
                                            text-align: center;

                                            @media (max-width: $phablet-min-width-minus) {
                                                font-size: 12px;
                                                line-height: 20px;
                                            }
                                        }
                                    }
                                }

                                .price {
                                    font-weight: $bold;
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-family: $base-font-family-bold;
                                    margin-bottom: 8px;

                                    @media (max-width: $phablet-min-width-minus) {
                                        font-size: 14px;
                                    }
                                }

                                .action {
                                    color: $primary-color;
                                    cursor: pointer;
                                    margin: 12px 0 0;
                                }

                                .quantity {
                                    margin-bottom: 12px;
                                    font-weight: $regular;
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-family: $base-font-family;

                                    @media (max-width: $phablet-min-width-minus) {
                                        font-size: 14px;
                                    }
                                }

                                .actions {
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 0px;

                                    .link {
                                        font-size: 16px;
                                        line-height: 16px;
                                        font-family: $secondary-font-family-bold;

                                        &.first {
                                            margin-right: 16px;
                                        }
                                    }
                                }

                                hr {
                                    margin: 25px 0 24px;
                                }
                            }
                        }

                        .sub-item-section {
                            padding-left: 70px;
                        }
                        .tab-content {
                            display: none;
                        }
                        .tab-content-show {
                            display: block;
                            transition: transform 0.3s ease-out;
                            transform: scaleY(1);

                            .sub-content-show {
                                display: block;
                                padding: 24px;
                                transition: max-height 0.25s ease-in-out;

                                @media (max-width: $phablet-min-width-minus) {
                                    padding: 16px;
                                }
                                &.address {
                                    padding: 0;
                                }

                                &.courier {
                                    display: flex;
                                    justify-content: space-between;

                                    .desc {
                                        margin-bottom: 0;

                                        @media (max-width: $phablet-min-width-minus) {
                                            font-size: rem-calc(14px);
                                        }
                                    }
                                }

                                .desc {
                                    font-size: rem-calc(16px);
                                    line-height: 24px;
                                    margin-bottom: 8px;

                                    @media (max-width: $phablet-min-width-minus) {
                                        font-size: rem-calc(14px);
                                        margin-bottom: 4px;
                                    }

                                    &.last {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                             .sub-content-show,
                             .items-sub-content-show {
                                display: block;
                                padding: 32px 24px;
                                transition: max-height 0.25s ease-in-out;
    
                                @media (max-width: $phablet-min-width-minus) {
                                    padding: 24px 16px;
                                }
                            }
                        }
                        .hidden-checkbox {
                            position: absolute;
                            opacity: 0;
                            z-index: -1;

                            &:checked {
                                + .tab-label {
                                    border-radius: unset;

                                    &:after {
                                        transform: rotate(-90deg);
                                    }
                                }

                                + .sub-label {
                                    img {
                                        transform: rotate(0);
                                    }
                                }

                                ~ .tab-content {
                                    display: block;
                                    transition: transform 0.3s ease-out;
                                    transform: scaleY(1);

                                    .sub-content {
                                        display: block;
                                        padding: 24px;
                                        transition: max-height 0.25s ease-in-out;

                                        @media (max-width: $phablet-min-width-minus) {
                                            padding: 16px;
                                        }

                                        &.courier {
                                            display: flex;
                                            justify-content: space-between;

                                            .desc {
                                                margin-bottom: 0;

                                                @media (max-width: $phablet-min-width-minus) {
                                                    font-size: rem-calc(14px);
                                                }
                                            }
                                        }

                                        .desc {
                                            font-size: rem-calc(16px);
                                            line-height: 24px;
                                            margin-bottom: 8px;

                                            @media (max-width: $phablet-min-width-minus) {
                                                font-size: rem-calc(14px);
                                                margin-bottom: 4px;
                                            }

                                            &.last {
                                                margin-bottom: 0;
                                            }
                                        }
                                    }
                                }

                                ~ .sub-content,
                                ~ .items-sub-content {
                                    display: block;
                                    padding: 32px 24px;
                                    transition: max-height 0.25s ease-in-out;

                                    @media (max-width: $phablet-min-width-minus) {
                                        padding: 24px 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .delivery-methods-section{
                display: flex;
                align-items: center;
                padding: 24px;
                img {
                    margin-right: 24px;
                    width: 88px;
                    height: 88px;
                    @media(max-width: $phablet-min-width-minus) {
                        width: 60px;
                        height: 60px;
                    }
                }
                .title{
                    font-family: $base-font-family-bold;
                    margin-bottom: 8px;
                }
            }
        }
    }

    .navigation-section {
        border-top: 1px solid #e3e3ea;
        padding: 16px 0px;
        // display: flex;
        // justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        position: sticky;
        z-index: 2;
        bottom: 0;
        width: 100%;
        .navs {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: $desktop-1399-break-point) {
                padding: 0 55px;
            }
            @media (max-width: $desktop-min-width-minus) {
                padding: 0 88px;
            }
            @media (max-width: $tablet-min-width-minus) {
                padding: 0 58px;
            }
            @media (max-width: $phablet-min-width-minus) {
                padding: 0 32px;
            }
            @media (max-width: $mobile-min) {
                padding: 0 16px;
            }
        }
        &.last {
            justify-content: flex-end;
        }

        .button {
            font-size: 20px;
            line-height: 20px;
            padding: 8px 35px;
            font-family: $secondary-font-family-bold;
            font-weight: 700;
            cursor: pointer;

            &.secondary {
                margin-right: 16px;
            }

            @media (max-width: $phablet-min-width-minus) {
                font-size: 16px;
                line-height: 16px;
            }
        }

        .disabled {
            cursor: not-allowed;
            color: white;
            background-color: #863399;
        }

        @media (max-width: $desktop-min-width-minus) {
            .right {
                padding: 0;
            }
        }
    }
}
