<div class="in-person-delivery-option">
    <label class="form-control" for="person">
        <input type="radio" value="person" id="person" name="person" [(ngModel)]="option"
            (change)="selectPersonOption()" required>
        <img src="/assets/icon/person-delivery.svg" width="45" height="45" alt="pickup icon" class="person-icon">
        <div class="input-details">
            <p class="title">In-Person Delivery</p>
            <p class="caption">Collect the package from the agent.</p>
        </div>
    </label>
    <div class="package-content" *ngIf="!!option && option === 'person'">
        <div class="header-part">
            <p class="title">Pick up your package directly:</p>
            <p class="smallest">Your item will be fulfilled by the agent</p>
        </div>
        <hr>
        <div class="content-part">
            <form [formGroup]="agentForm">
                <fieldset>
                    <p class="smaller">Enter Agent Code Below:</p>
                    <div class="input-flex">
                        <div class="input-part">
                            <label class="outlined-label-input">
                                <input id="code" type="text" formControlName="code" placeholder=" "
                                    (input)="isValidateButtonClicked = false;">
                                <span>Agent Code</span>
                            </label>
                            <label class="validation-message"
                                *ngIf="agentForm.controls.code.touched && agentForm.controls.code.hasError('required')"
                                id="required-agent-msg">Agent
                                code is a required field</label>
                            <label class="validation-message"
                                *ngIf="!!agentForm.controls.code.value && !!isValidateButtonClicked && !isAgentCodeVerified"
                                id="invalid-agent-msg">Agent
                                code is invalid</label>
                        </div>
                        <button class="button primary" id="validate-agent-code"
                            (click)="validateAgentCode()">Validate</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>