
@import "../../../styles/modules/variables";
.coverage-summary {
  background: linear-gradient(180deg, #D6E1FF 0%, #E3EFFF 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 64px;
  .title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .info-banner {
    margin-top: 40px;
    width: 100%;
    max-width: 654px;
  }
  @media (max-width: $phablet-min-width-minus) {
    padding-top: 32px;
    padding-bottom: 48px;
  }
}
.map-section {
  background-color: $white;
  display: flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;
  @media (max-width: $phablet-min-width-minus) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .map-container {
    box-shadow: 0px 4px 15px rgb(206 211 214 / 60%);
    padding: 24px 44px;
    width: 100%;
    margin-top: 40px;
    @media(max-width: $phablet-min-width-minus) {
      padding: 16px;
    }
  }
  .lte-card {
    background: #FBFBFB;
    padding: 24px;
    width: 100%;
    margin-top: 40px;
    box-shadow: 0px 4px 15px rgb(206 211 214 / 60%);
    .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      cursor: pointer;
      .arrow {
        height: 24px;
        width: 24px;
      }
      .question {
        display: flex;
        gap: 12px;
        align-items: flex-start;
      }
      .rotate {
        transform: rotate(-180deg);
      }
    }
    .lte-details {
      padding: 12px 45px;
      hr {
        margin: 12px 0;
      }
      b {
        font-family: $base-font-family-bold;
      }
    }
    @media(max-width: $phablet-min-width-minus) {
      padding: 16px;
    }
  }
}
#map {
    display: block;
    position: relative !important;
    width: 100%;
    height: 570px;
    z-index: 1;
}
  iframe {
    width: 100%;
    height: 600px;
  }
  .hidden {
    display: none;
  }
  .on-map {
    position: absolute;
    z-index: 1000;
    left: 0;
  }
  
  .leaflet-clickable {
    cursor: crosshair !important;
  }
  
  .leaflet-container {
    cursor: help !important;
    text-align: left !important;
  }
  .leaflet-touch .leaflet-bar {
    margin-top: 70px !important;
  }
  ::ng-deep {
    .leaflet-control-zoom .leaflet-bar .leaflet-control {
      @media (max-width: $phablet-min-width-minus) {
        margin-top: 110px;
      }
    }
  }

  ul.color-options {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid $input-border;
    border-radius: 10px;
    margin-top: 12px;
    padding: 12px;
    li {
      cursor: help;
      border: 1px solid white;
      display: inline-block;
      font-size: rem-calc(14px);
      float: left;
      height: 30px;
      line-height: 24px;
      margin-bottom: 2px;
      margin-right: 10px;
      padding: 0 15px;
  
      @media (min-width: 750px) {
        font-size: rem-calc(16px);
        margin-right: 10px;
        width: auto;
      }
      @media (max-width: 749.9px) {
        margin-right: 0px;
        padding: 0 4px;
        width: 50%;
      }
  
      .color-swatch {
        border: 1px solid #dadada;
        border-radius: 15px;
        width: 20px;
        height: 20px;
        float: left;
        display: inline-block;
        margin: 5px 10px 5px 0;
        @media (max-width: 749.9px) {
          width: 18px;
          height: 18px;
          margin: 6px 4px 2px 0;
        }
  
        &.cov-lte {
          background-color: #6ca37e;
        }
  
        &.cov-4g {
          background: -webkit-repeating-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 4px, rgba(92, 151, 107, 0.5) 6px, rgba(94, 154, 110, 0.5) 6px), -webkit-repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 4px, rgba(94, 152, 108, 0.5) 6px, rgba(94, 152, 108, 0.5) 6px);
          background: -moz-repeating-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 4px, rgba(90, 151, 106, 0.5) 6px, rgba(94, 152, 108, 0.5) 6px), -moz-repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 4px, rgba(94, 152, 108, 0.5) 6px, rgba(94, 152, 108, 0.5) 6px);
          background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 4px, rgba(94, 152, 108, 0.5) 6px, rgba(94, 152, 108, 0.5) 6px), repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 4px, rgba(94, 152, 108, 0.5) 6px, rgba(94, 152, 108, 0.5) 6px);
        }
  
        &.cov-3g {
          background-color: #ffe592;
        }
  
        &.cov-3rd {
          background: -webkit-repeating-linear-gradient(to right, #fff, #fff 2px, rgba(49, 112, 183, 0.5) 2px, rgba(49, 112, 183, 0.5) 4px);
          background: -moz-repeating-linear-gradient(to right, #fff, #fff 2px, rgba(49, 112, 183, 0.5) 2px, rgba(49, 112, 183, 0.5) 4px);
          background: repeating-linear-gradient(to right, #fff, #fff 2px, rgba(49, 112, 183, 0.5) 2px, rgba(49, 112, 183, 0.5) 4px);
        }
        &.t-5g {
          background-color: #81bda4;
        }
        &.t-4g {
          background-color: #7bdab8;
        }
        &.t-3g {
          background-color: #A9F3D7;
        }
        &.t-2g {
          background-color: #b5b5b5;
        }
        &.t-no {
          background-color: #fff;
        }
      }
  
      .name {
        float: left;
        display: inline-block;
        margin-top: 4px;
        font-size: 12px;
        font-weight: bold;
  
        @media (max-width: 749.9px){
          font-size: 12px;
        }
        @media (max-width: 414px){
          font-size: 10px;
        }
      }
    }
  }
  