@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";

.banner-section {
  position: relative;

  .banner-image-container {
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;

      @media (min-width: 500px) {
        object-position: 51%;
      }
    }
  }

  .banner-text-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 38px;

    @media (max-width: $phablet-min-width-minus) {
      top: 32px;
    }

    .header {
      color: $header-color;
      text-align: center;
      margin-bottom: 12px;

      @media (max-width: $phablet-min-width-minus) {
        margin-bottom: 4px;
      }
    }

    .sub-header {
      margin-bottom: 0;
      text-align: center;
      color: #81B3F8;
    }
  }
}
b {
  font-family: $base-font-family-bold;
}
.info-section {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAF9F8;
  text-align: center;
  h2 {
    margin-bottom: 16px;
  }
  .space {
    margin-bottom: 12px;
  }
  @media (#{$larger-than-phablet}) {
    span {
      display: block;
    }
  }
  @media(max-width: $phablet-min-width-minus) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.steps-container {
  .steps-section {
    .step-description {
      a {
        white-space: nowrap;
      }
    }
    h5 {
      font-family: $secondary-font-family;
      font-weight: 400;
      @media (max-width: 999.9px) {
        max-width: 777px;
      }
    }
    .action {
      margin-top: 32px;
      &.multiple {
        display: flex;
        gap: 32px;
        .button {
          width: 225px;
        }
      }
      @media(max-width: $phablet-min-width-minus) {
        margin-top: 24px;
        &.multiple {
          gap: 16px;
          .button {
            width: 183px;
          }
        }
      }
      @media(max-width: 499.9px) {
        &.multiple {
          flex-direction: column;
        }
      }
    }
    .last {
      padding-bottom: 64px;
      @media(max-width: $desktop-min-width-minus) {
        padding-bottom: 0px;
      }
    }
    .ltr-step {
      display: flex;
      align-items: center;
      padding-bottom: 64px;
      padding-top: 64px;
      .description {
        flex-basis: 50%;
      }
     
      .step-image {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        img {
          max-width: 500px;
          max-height: 424px;
        }
      }
      @media (max-width: 999.9px) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 32px;
        .description {
          justify-content: center;
          align-items: center;
          text-align: center;
        }
        .step-image {
          img {
            max-width: 340px;
            max-height: 340px;
          }
        }
      }
      @media (max-width: $phablet-min-width-minus) {
        padding-top: 48px;
        padding-bottom: 48px;
        .step-image {
          img {
            max-width: 240px;
            max-height: 240px;
          }
        }
      }
    }

    .rtl-step {
      background-color: #F8FCFE;
      .page-section {
        display: flex;
        align-items: center;
         padding-top: 64px;
        padding-bottom: 64px;
      }
      .step-image {
        display: flex;
        flex-basis: 50%;
        img {
          max-width: 500px;
          max-height: 424px;
        }
      }
      .description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-basis: 50%;
      }
      @media (max-width: 999.9px) {
        .page-section {
          flex-direction: column;
          align-items: center;
          gap: 32px;
        }
        .description {
          justify-content: center;
          align-items: center;
          text-align: center;
        }
        .step-image {
          img {
            max-width: 340px;
            max-height: 340px;
          }
        }
      }
      @media (max-width: $phablet-min-width-minus) {
        .page-section {
          padding-top: 48px;
          padding-bottom: 48px;
        }
        .step-image {
          img {
            max-width: 240px;
            max-height: 240px;
          }
        }

      }
    }
  }
  @media (min-width: 1000px) {
    margin-top: 65px;
  } 
}
