@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";

.page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 40px 0 64px;
    .action {
        margin-top: 28px;
        display: flex;
        gap: 40px;
    }
    .form {
        margin: 48px 0px 0;
        input {
            width: 390px;
            height: 40px;
        }
        .validation-message {
            text-align: left;
        }
    }
    @media(max-width: $phablet-min-width-minus) {
        margin: 32px 0 40px;
        .action {
            margin-top: 24px;
            gap: 16px;
        }
    }
}