<section class="page-section no-sim">
    <app-activation-header></app-activation-header>
    <div class="page-content">
        <h1 class="header-color">Awesome! Please provide your activation code:</h1>
        <form (ngSubmit)="checkSimActivationCode()" [formGroup]="activateForm" class="form">
            <label class="outlined-label-input">
                <input  id="code" data-cy="activationCode" type="text" name="code" formControlName="code" minlength="7"
                    maxlength="7"  placeholder=" " (input)="showErrorMessage=false">
                <span>Activation Code</span>
            </label>
            <label class="validation-message" id="activation-label">
                <a (click)="showActivationModal()" id="activation-link">Where to find your Activation
                    Code</a>
            </label>  
            <label class="validation-message" *ngIf="activateForm.controls.code.touched && !activateForm.controls.code.value"
                id="required-activation-code-label">Activation Code is required. </label>
            <label class="validation-message"
                *ngIf="!!activateForm.controls.code.value && !activateForm.controls.code.valid && !!activateForm.controls.code.dirty && !showErrorMessage">Activation Code is invalid. </label>
            <label class="validation-message"
                *ngIf="showErrorMessage">Invalid Activation Code. Please try again.</label>
        </form>
        <div class="action">
            <button class="button secondary" aria-label="back" (click)="goToSimCheck()"><img class="icon" src="assets/icon/left-circle-arrow-primary.svg"/> Back </button>
            <button class="button primary" aria-label="Validate" (click)="checkSimActivationCode()">Validate</button>
        </div>
    </div>
</section>