<section class="page-section no-app" *ngIf="!acpSuccess && !acpError">
  <div *ngIf="activeStep !== 4">
    <h2 class="header-color">Don’t Worry!</h2>
    <h4 class="secondary-font">Please provide the following information to verify your application!</h4>
    <div class="info-banner default-background">
      <div class="flex">
        <img src="/assets/icon/info-icon.svg" alt="Info Icon">
        <div class="banner-content">
          <p class="title">Note:</p>
          <p class="description">Please enter the information <b>EXACTLY</b> as you entered in the ACP application
            including: <b>(spaces, commas, or any special characters).</b>
          </p>
          <p class="description last">Providing inaccurate information could lead you being ineligible for the ACP
            benefits.</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="activeStep === 4">
    <h2 class="header-color">Almost there!</h2>
    <h4 class="sub-header step-4">Customer Notice and Agreement</h4>
    <p class="smaller">In choosing to apply for service under the Federal Affordable Connectivity Program (ACP) with
      Good Mobile, you should agree and initial the following:</p>
  </div>
  <section class="stepper">
    <div class="step" *ngFor="let step of steps" [class.active]="activeStep === step" [class.done]="activeStep > step">
      <div class="circle">{{ step }}</div>
      <div class="border" *ngIf="step < steps.length"></div>
    </div>
  </section>
  <app-non-exiting-personal-info *ngIf="activeStep === 1" (goToNext)="next($event)"
    (setUserInfo)="setPersonalInfo($event)" [savedInfo]="acpData?.user" [disable]="!!enrolled">
  </app-non-exiting-personal-info>
  <app-non-appId-existing-address-info *ngIf="activeStep === 2" (goToNext)="next($event)"
    (setAddresses)="setUserAddresses($event)" [address]="address" [disable]="!!enrolled">
  </app-non-appId-existing-address-info>
  <app-qualifying-info *ngIf="activeStep === 3" (goToNext)="next($event)" [disable]="!!enrolled"
    [bbqInfo]="acpData?.bqpUser" (setChildInfo)="setBqpUserInfo($event)">
  </app-qualifying-info>
  <app-signature-info *ngIf="activeStep === 4" (goToNext)="next($event)" [fName]="acpData.user.firstName"
    [lName]="acpData.user.lastName" [signed]="userSignedAgreement" (setSignature)="setSignedValue($event)"
    [disable]="!!enrolled"></app-signature-info>
</section>
<app-acp-success *ngIf="!!acpSuccess" [acpData]="acpData" [acpStatus]="acpStatus" [link]="acpLink"></app-acp-success>
<app-acp-error *ngIf="!!acpError" [acpStatus]="acpStatus"></app-acp-error>
<section class="navigation-section" *ngIf="!acpSuccess && !acpError">
  <div class="page-section navs">
    <p class="no-border" data-cy="cancelBtn" (click)="cancel()">Cancel</p>
    <div class="right">
      <button class="button secondary" data-cy="backBtn" aria-label="Next" (click)="goBack()">Back</button>
      <button class="button primary" aria-label="Next" (click)="goNext()" *ngIf="!enrolled">{{activeStep !== 4 ? 'Next' :
        'Submit'}}</button>
    </div>
  </div>

</section>