@import "../../../../styles/modules/variables";
@import "../../../../styles/modules/mixins";

.t-mobile-page {
    .top-banner {
        background: linear-gradient(180deg, #D6E1FF 0%, #E3EFFF 100%);
        padding-top: 64px;
        padding-bottom: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        @media(max-width: $phablet-min-width-minus) {
            padding-top: 48px;
            padding-bottom: 48px;
        }
    }
    b {
        font-family: $base-font-family-bold;
    }
    .setup-section {
        padding-top: 48px;
        padding-bottom: 48px;
        background: #F8FCFE;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        .header-section {
            text-align: center;
            .label {
                color: #5E5E5E;
            }
        }
        .steps-section {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 64px;
            .step-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-basis: 50%;
                max-width: 626px;
                .data {
                    height: 150px;
                }
            }
            @media(max-width: 1439.9px) {
                flex-direction: column;
                gap: 40px;
                .step-info {
                    max-width: none;
                    gap: 16px;
                    .data {
                        height: auto;
                    }
                }
            }
        }
        .info-banner {
            max-width: 1268px;
            .last {
                margin-top: 8px;
            }
            .action {
                padding-left: 8px;
            }
        }
    }
}
