<div class="t-mobile-page">
    <div class="t-mobile-banner-img">
      <picture>
        <source srcset='assets/img/banners/TMO-setup-image-mobile.webp' media="(max-width: 639.9px)" type="image/webp">
        <source srcset='assets/img/banners/TMO-setup-image-mobile.png' media="(max-width: 639.9px)" type="image/png">
        <source srcset='assets/img/banners/TMO-setup-image-desktop.webp' media="(min-width: 640px)" type="image/webp">
        <source srcset='assets/img/banners/TMO-setup-image-desktop.png' media="(min-width: 640px)" type="image/png">
        <img src="assets/img/banners/TMO-setup-image-desktop.png" alt="t-mobile-image">
      </picture>
      <div class="header">
        <h1 class="title">Get Started</h1>
        <h2 class="title">Setup your phone</h2>
      </div>
    </div>
    <div class="common-t-mobile-text">
      <div class="text-section">
        <p class="title"><b>First things first…..</b></p>
        <p class="description">If you just activated your phone, are using a new phone, or took a recent software update,
          please make sure to turn the phone off and back on with the Good Mobile SIM installed. This ensures your phone will
          get its first set of programming direct from the towers, and will force your phone to register quickly.</p>
      </div>
      <div class="text-section">
        <p class="title"><b>Secondly…</b></p>
        <p class="description">Important data settings need to be programmed into your phone. These settings are like the
          ‘key’ to the data portion of the network. Without this, your mobile data will not work.</p>
      </div>
      <div class="text-section">
        <p class="title"><b>Normally, these settings will be programmed into your phone automatically.</b></p>
        <p class="description">Depending on your phone model, you may get a text saying “We see your phone does not have
          access to the internet or send MMS. Settings will be sent to your handset.”</p>
        <p class="note"><b>If you do NOT get the settings automatically,</b> please follow the instructions below to
          manually
          enter the settings.</p>
      </div>
    </div>
    <section>
      <app-ios-tmo *ngIf="!!isIos"></app-ios-tmo>
      <app-android-tmo *ngIf="!isIos"></app-android-tmo>
    </section>
  </div>
