<div class="receipt-details-page" id="print-receipt">
    <div class="top-links">
        <a *ngIf="page === 'orders'" [routerLink]="[ACCOUNT_ROUTE_URLS.BASE + '/' + ACCOUNT_ROUTE_URLS.ORDERS]"
            class="top-link">My Orders</a>
        <a *ngIf="page === 'payments'" [routerLink]="[ACCOUNT_ROUTE_URLS.BASE + '/' + ACCOUNT_ROUTE_URLS.PAYMENTS]"></a>
        <img src="/assets/icon/black-arrow-back.svg">
        <a class="top-link normal">{{orderId}}</a>
    </div>
    <div id="div">
        <h2 class="title">Order Reciept</h2>
        <h5 class="sub-note">Your order has been confirmed!</h5>
        <div class="receipt-info">
            <div class="details">
                <div class="key-value">
                    <p class="smaller key">Merchant:</p>
                    <p class="smaller value">Good Mobile</p>
                </div>
                <div class="key-value">
                    <p class="smaller key">Order #:</p>
                    <p class="smaller value">{{order?.orderId}}</p>
                </div>
                <div class="key-value">
                    <p class="smaller key">CustomerID:</p>
                    <p class="smaller value">{{order?.customerInfo?.customerId}}</p>
                </div>
                <div class="key-value" *ngIf="!!order?.transactionDate">
                    <p class="smaller key">Date:</p>
                    <p class="smaller value">{{order?.transactionDate | date: 'short'}}</p>
                </div>
            </div>
            <div class="receipt-actions">
                <button class="print-option" [useExistingCss]="true" printSectionId="print-receipt" ngxPrint><img
                        src="/assets/icon/print-icon.svg"><span class="option-text">Print</span></button>
                <button class="email-option" (click)="sendEmail()"><img src="/assets/icon/email-icon.svg"><span
                        class="option-text">Email</span></button>
            </div>
        </div>
    </div>
    <div class="cards-flex">
        <div class="left">
            <div class="receipt-card">
                <div class="card-header">
                    <h4 class="title">Order Details</h4>
                </div>
                <div class="tab-conatiner">
                    <h5 class="sub-title">Items</h5>
                </div>
                <div *ngFor="let cart of cartItems">
                    <div class="lines-container">
                        <p class="line">Line {{ !!cart?.mdn || !!order?.mdn? ( cart?.mdn | phone ) || (order?.mdn |
                            phone) : '#1'
                            }}</p>
                    </div>
                    <div class="line-info-conatiner" id="div">
                        <div class="line-info-part" *ngFor="let item of cart?.items; let i =index">
                            <div class="flex-display">
                                <p class="smaller info">{{item?.name}}</p>
                                <p class="smaller info">{{item?.unitPrice | currency}}</p>
                            </div>
                            <p class="smallest notes" *ngIf="order?.autoPayEnabled">Auto Pay</p>
                            <p class="smallest">Quantity: {{item?.quantity}}</p>
                            <hr *ngIf="i !== (cart?.items.length - 1)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="receipt-card">
                <div class="card-header">
                    <h4 class="title">Order Summary</h4>
                </div>
                <div class="tab-conatiner">
                    <h5 class="sub-title">Summary</h5>
                </div>
                <div class="summary-details" id="div">
                    <div class="flex-display" *ngIf="order?.subTotal">
                        <p class="smaller">Subtotal</p>
                        <p class="smaller price">{{order?.subTotal | currency}}</p>
                    </div>
                    <div class="flex-display discount" *ngIf="order?.discount > 0">
                        <p class="smaller">Discount total </p>
                        <p class="smaller price">-{{order?.discount | currency}}</p>
                    </div>
                    <div class="flex-display">
                        <p class="smaller">Shipping fees</p>
                        <p class="smaller price">{{order?.shippingCost | currency}}</p>
                    </div>
                    <div class="flex-display">
                        <p class="smaller">Govt. taxes & fees</p>
                        <p class="smaller price">{{order?.govtTaxesAndFees | currency}}</p>
                    </div>
                    <div class="flex-display">
                        <p class="smaller">Surcharges & fees</p>
                        <p class="smaller price">{{order?.surchargesAndFees | currency}}</p>
                    </div>
                    <hr class="summary">
                    <p class="smaller price right">Total:{{order?.total | currency}}</p>
                </div>
                <div class="payment-and-transactions">
                    <h5 class="title">Payments & Transactions</h5>
                    <p class="smaller key" *ngIf="!!order?.paymentStatus">Status: <span
                            class="status">{{order?.paymentStatus}}</span></p>
                    <div class="key-value payment" *ngIf="!!order?.paymentTrxNumber">
                        <p class="smaller key">Confirmation #:</p>
                        <p class="smaller value">{{order?.paymentTrxNumber}}</p>
                    </div>
                    <div class="key-value payment" *ngIf="!!order?.transactionDate">
                        <p class="smaller key">Date &Time:</p>
                        <p class="smaller value">{{order?.transactionDate | date: 'short'}}</p>
                    </div>
                </div>
                <div class="payment-methods">
                    <div class="methods-info" *ngIf="!!order?.paymentCard || !!order?.paymentTrxNumber">
                        <div class="img-section">
                            <img src="assets/icon/credit-card.png" alt="Payment Card image" />
                        </div>
                        <div class="method-info">
                            <div class="details">
                                <p class="smaller title">Visa Card </p>
                                <p class="smaller note" *ngIf="!!order?.paymentCard">{{order?.paymentCard}}</p>
                            </div>
                            <div class="payment-info">
                                <p class="smallest sub-title">Deducted Amount</p>
                                <p class="smaller price">-{{order?.total | currency}}</p>
                            </div>
                        </div>
                    </div>
                    <hr class="transactions-hr"
                        *ngIf="!!order?.balanceAmount && (!!order?.paymentCard || !!order?.paymentTrxNumber)">
                    <div class="methods-info" *ngIf="!!order?.balanceAmount">
                        <div class="img-section">
                            <img src="assets/icon/balance.svg" alt="Account Balance image" />
                        </div>
                        <div class="method-info">
                            <div class="details">
                                <p class="smaller title">Account Balance </p>
                            </div>
                            <div class="payment-info">
                                <p class="smallest sub-title">Deducted Amount</p>
                                <p class="smaller price">-{{order?.balanceAmount | currency}}</p>
                            </div>
                        </div>
                    </div>
                    <hr class="transactions-hr"
                        *ngIf="!!order?.voucherAmount && order?.voucherAmount > 0 && (!!order?.balanceAmount || !!order?.paymentTrxNumber)">
                    <div class="methods-info" *ngIf="!!order?.voucherAmount && order?.voucherAmount > 0">
                        <div class="img-section">
                            <img src="assets/icon/voucher-illu.svg" alt="Voucher" />
                        </div>
                        <div class="method-info">
                            <div class="details">
                                <p class="smaller title">Top-up Card / Voucher </p>
                            </div>
                            <div class="payment-info">
                                <p class="smallest sub-title">Deducted Amount</p>
                                <p class="smaller price">-{{order?.voucherAmount | currency}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!!order?.billingAddress && !!order?.billingAddress?.address1">
                    <div class="lines-container">
                        <h5 class="sub-header">Billing Address</h5>
                    </div>
                    <div class="billing-info">
                        <p class="smaller">{{order?.billingAddress?.address1}} {{order?.billingAddress?.city}},
                            {{order?.billingAddress?.state}}
                            {{order?.billingAddress?.postalCode}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="dashed-border" *ngIf="!!isStorePickup"></p>
    <div class="barCodes-details" *ngIf="!!isStorePickup">
        <h3 class="primary-font-bold title">Scan your barcode</h3>
        <p class="smaller note">Check with the store clerk to pick up your package</p>
        <ngx-barcode [bc-value]="barCodeValues" [bc-display-value]="true" class="barCode-radios"></ngx-barcode>
    </div>
</div>