@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";

.receipt-details-page {
    @media (max-width: $phablet-min-width-minus) {
        margin-top: 32px;
    }
    .top-links {
        display: flex;
        align-items: center;
        margin-bottom: 42px;
        @media (max-width: $phablet-min-width-minus) {
            margin-bottom: 32px;
        }
        .top-link {
            font-size: 18px;
            line-height: 18px;
            font-family: $secondary-font-family-bold;
            margin-bottom: 0;
            @media (max-width: $phablet-min-width-minus) {
                font-size: 16px;
                line-height: 16px;
            }
            &.normal {
                font-family: $secondary-font-family;
                font-weight: normal;
            }
        }
        img {
            width: 7.5px;
            height: 15px;
            margin-left: 17px;
            margin-right: 15.5px;
            @media (max-width: $phablet-min-width-minus) {
                width: 5px;
                height: 10px;
                margin-left: 14px;
                margin-right: 13px;
            }
        }
    }
    .title {
        margin-bottom: 8px;
        @media (max-width: $phablet-min-width-minus) {
            margin-bottom: 0;
        }
    }
    .sub-note {
        margin-bottom: 16px;
        font-weight: normal;
        font-family: $secondary-font-family;
    }
    .key-value {
        display: flex;
        margin-bottom: 4px;
        &.payment {
            margin-bottom: 0px;
            @media (max-width: $phablet-min-width-minus) {
                flex-direction: column;
                .value {
                    margin-left: 0;
                }
            }
            .key {
                width: 122px;
            }
        }
        .key {
            font-family: $base-font-family;
            font-weight: bold;
            white-space: nowrap;
            color: #727272;
            width: 97px;
        }
        .value {
            font-family: $base-font-family-bold;
            margin-left: 8px;
            color: #727272;
            @media (max-width: $phablet-min-width-minus) {
                margin-left: 0px;
            }
        }
    }
    .receipt-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 42px;
        @media (max-width: $desktop-min-width-minus) {
            flex-direction: column;
            align-items: flex-start;
        }
        .details {
            @media (max-width: $desktop-min-width-minus) {
                margin-bottom: 30px;
            }
        }
    }
    .receipt-actions {
        button {
            background-color: unset;
            border: none;
            cursor: pointer;
        }
        .option-text {
            font-family: $base-font-family-bold;
            font-size: rem-calc(16px);
            color: $primary-color;
            margin-left: 6px;
        }
        .email-option {
            margin-left: 16px;
        }
    }
    .cards-flex {
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: max-content;
        counter-reset: brick;
        gap: 40px;
        @media (max-width: $desktop-min-width-minus) {
            flex-direction: column;
        }
        @media (max-width: $phablet-min-width-minus) {
            margin-top: 24px;
        }
        .left,
        .right {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            gap: 40px;
            @media (max-width: $desktop-min-width-minus) {
                width: 100%;
                flex-direction: column-reverse;
            }
        }
        .receipt-card {
            background: $white;
            box-shadow: 0 8px 30px #5e5e5e1f;
            border-radius: 10px;
            min-height: 200px;
            @media (max-width: $desktop-min-width-minus) {
                width: 100%;
            }
            @media (max-width: $phablet-min-width-minus) {
                min-height: 160px;
            }
            .card-header {
                padding: 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-shadow: inset 0px -1px 0px rgba(206, 211, 214, 0.25);

                @media (max-width: $phablet-min-width-minus) {
                    padding: 24px 16px 16px;
                }
                .title {
                    margin-bottom: 0px;
                }
            }
            .tab-conatiner {
                background: #e5eef4;
                border-radius: 0px;
                padding: 16px 24px;
                @media (max-width: $phablet-min-width-minus) {
                    padding: 12px 16px;
                }
                .sub-title {
                    margin-bottom: 0px;
                }
            }
            .lines-container {
                padding: 16px 24px;
                background: #f8fcfe;
                border-bottom: 1px solid #e5eef4;
                @media (max-width: $phablet-min-width-minus) {
                    padding: 12px 16px;
                }
                .line {
                    margin-bottom: 0;
                    color: #6a509b;
                    font-family: $base-font-family-bold;
                }
                .sub-header {
                    margin-bottom: 0;
                }
            }
            .flex-display {
                display: flex;
                justify-content: space-between;
                &.discount {
                    p {
                        color: #f58e25;
                    }
                }
            }
            hr {
                border-top: 1px solid #ced3d6;
                margin: 24px 0;
                width: 100%;
            }
            .line-info-conatiner {
                padding: 32px 24px 48px;
                @media (max-width: $phablet-min-width-minus) {
                    padding: 24px 16px 48px;
                }
                .line-info-part {
                    .info {
                        font-family: $base-font-family-bold;
                        margin-bottom: 0px;
                    }
                    .notes {
                        color: $sg-orange;
                        margin-bottom: 2px;
                    }
                }
            }
            .summary-details {
                padding: 24px;
                @media (max-width: $phablet-min-width-minus) {
                    padding: 16px;
                }
                .price {
                    font-family: $base-font-family-bold;
                }
                .smaller {
                    margin-bottom: 12px;
                }
                .summary {
                    margin: 24px 0 16px;
                }
                .right {
                    text-align: right;
                    margin-bottom: 0;
                }
            }
            .payment-and-transactions {
                padding: 16px 24px 24px;
                background: #e5eef4;
                @media (max-width: $phablet-min-width-minus) {
                    padding: 12px 16px 20px;
                }
                .title {
                    margin-bottom: 8px;
                }
                .key {
                    color: #727272;
                    margin-bottom: 8px;
                    @media (max-width: $phablet-min-width-minus) {
                        margin-bottom: 4px;
                    }
                    .status {
                        background: #5cd673;
                        border-radius: 50px;
                        padding: 3px 12px 4px;
                        color: #fbfbfb;
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
            }
            .payment-methods {
                padding: 24px;
                @media (max-width: $phablet-min-width-minus) {
                    padding: 16px;
                }
                .methods-info {
                    display: flex;
                    align-items: center;
                    @media (max-width: $phablet-min-width-minus) {
                        align-items: flex-start;
                    }
                    .img-section {
                        img {
                            width: 88px;
                            height: 88px;
                            margin-right: 24px;
                            @media (max-width: $phablet-min-width-minus) {
                                width: 56px;
                                height: 56px;
                            }
                        }
                    }
                    .method-info {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        width: 100%;
                        flex-wrap: wrap;
                        .details {
                            display: flex;
                            flex-direction: column;
                            .title {
                                margin-bottom: 8px;
                                font-family: $base-font-family-bold;
                            }
                            .note {
                                color: #727272;
                                margin-bottom: 0px;
                            }
                        }
                        .payment-info {
                            display: flex;
                            @media (max-width: $phablet-min-width-minus) {
                                flex-direction: column;
                            }
                            .sub-title {
                                color: #727272;
                                margin-right: 8px;
                            }
                            .price {
                                color: #5cd673;
                            }
                        }
                    }
                }
                .transactions-hr {
                    margin: 24px 0;
                }
            }
            .billing-info {
                padding: 24px 24px 56px;
                @media (max-width: $phablet-min-width-minus) {
                    padding: 16px 16px 40px;
                }
            }
        }
    }
    .dashed-border {
        border-top: 1px dashed #090909;
        max-width: 2000px;
        width: 100%;
        margin: 44px 0 32px;
    }
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .receipt-details-page {
        max-width: 821px;
        margin: 0 auto;
    }

    #div {
        break-inside: avoid;
        margin-top: 20px;
        margin: 0 auto;
    }
    .back-link {
        display: none;
    }
    .receipt-actions {
        display: none;
    }
    .key-value {
        display: flex;
        margin-bottom: 4px;
        &.payment {
            margin-bottom: 0px;
            @media (max-width: $phablet-min-width-minus) {
                flex-direction: column;
                .value {
                    margin-left: 0;
                }
            }
            .key {
                width: 122px;
            }
        }
        .key {
            font-family: $base-font-family;
            font-weight: bold;
            white-space: nowrap;
            color: #727272;
            width: 97px;
        }
        .value {
            font-family: $base-font-family-bold;
            margin-left: 8px;
            color: #727272;
            @media (max-width: $phablet-min-width-minus) {
                margin-left: 0px;
            }
        }
    }
    .receipt-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 42px;
        @media (max-width: $desktop-min-width-minus) {
            flex-direction: column;
            align-items: flex-start;
        }
        .details {
            @media (max-width: $desktop-min-width-minus) {
                margin-bottom: 30px;
            }
        }
    }
    .receipt-actions {
        button {
            background-color: unset;
            border: none;
            cursor: pointer;
        }
        .option-text {
            font-family: $base-font-family-bold;
            font-size: rem-calc(16px);
            color: $primary-color;
            margin-left: 6px;
        }
        .email-option {
            margin-left: 16px;
        }
    }
    .cards-flex {
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: max-content;
        counter-reset: brick;
        gap: 40px;
        @media (max-width: $desktop-min-width-minus) {
            flex-direction: column;
        }
        @media (max-width: $phablet-min-width-minus) {
            margin-top: 24px;
        }
        .left,
        .right {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            gap: 40px;
            @media (max-width: $desktop-min-width-minus) {
                width: 100%;
                flex-direction: column-reverse;
            }
        }
        .receipt-card {
            background: $white;
            box-shadow: 0 8px 30px #5e5e5e1f;
            border-radius: 10px;
            min-height: 200px;
            @media (max-width: $desktop-min-width-minus) {
                width: 100%;
            }
            @media (max-width: $phablet-min-width-minus) {
                min-height: 160px;
            }
            .card-header {
                padding: 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-shadow: inset 0px -1px 0px rgba(206, 211, 214, 0.25);

                @media (max-width: $phablet-min-width-minus) {
                    padding: 24px 16px 16px;
                }
                .title {
                    margin-bottom: 0px;
                }
            }
            .tab-conatiner {
                background: #e5eef4;
                border-radius: 0px;
                padding: 16px 24px;
                @media (max-width: $phablet-min-width-minus) {
                    padding: 12px 16px;
                }
                .sub-title {
                    margin-bottom: 0px;
                }
            }
            .lines-container {
                padding: 16px 24px;
                background: #f8fcfe;
                border-bottom: 1px solid #e5eef4;
                @media (max-width: $phablet-min-width-minus) {
                    padding: 12px 16px;
                }
                .line {
                    margin-bottom: 0;
                    color: #6a509b;
                    font-family: $base-font-family-bold;
                }
                .sub-header {
                    margin-bottom: 0;
                }
            }
            .flex-display {
                display: flex;
                justify-content: space-between;
                &.discount {
                    p {
                        color: #f58e25;
                    }
                }
            }
            hr {
                border-top: 1px solid #ced3d6;
                margin: 24px 0;
                width: 100%;
            }
            .line-info-conatiner {
                padding: 32px 24px 48px;
                @media (max-width: $phablet-min-width-minus) {
                    padding: 24px 16px 48px;
                }
                .line-info-part {
                    .info {
                        font-family: $base-font-family-bold;
                        margin-bottom: 0px;
                    }
                    .notes {
                        color: $sg-orange;
                        margin-bottom: 2px;
                    }
                }
            }
            .summary-details {
                padding: 24px;
                @media (max-width: $phablet-min-width-minus) {
                    padding: 16px;
                }
                .price {
                    font-family: $base-font-family-bold;
                }
                .smaller {
                    margin-bottom: 12px;
                }
                .summary {
                    margin: 24px 0 16px;
                }
                .right {
                    text-align: right;
                    margin-bottom: 0;
                }
            }
            .payment-and-transactions {
                padding: 16px 24px 24px;
                background: #e5eef4;
                @media (max-width: $phablet-min-width-minus) {
                    padding: 12px 16px 20px;
                }
                .title {
                    margin-bottom: 8px;
                }
                .key {
                    color: #727272;
                    margin-bottom: 8px;
                    @media (max-width: $phablet-min-width-minus) {
                        margin-bottom: 4px;
                    }
                    .status {
                        background: #5cd673;
                        border-radius: 50px;
                        padding: 3px 12px 4px;
                        color: #fbfbfb;
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
            }
            .payment-methods {
                padding: 24px;
                @media (max-width: $phablet-min-width-minus) {
                    padding: 16px;
                }
                .methods-info {
                    display: flex;
                    align-items: center;
                    @media (max-width: $phablet-min-width-minus) {
                        align-items: flex-start;
                    }
                    .img-section {
                        img {
                            width: 88px;
                            height: 88px;
                            margin-right: 24px;
                            @media (max-width: $phablet-min-width-minus) {
                                width: 56px;
                                height: 56px;
                            }
                        }
                    }
                    .method-info {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        width: 100%;
                        flex-wrap: wrap;
                        .details {
                            display: flex;
                            flex-direction: column;
                            .title {
                                margin-bottom: 8px;
                                font-family: $base-font-family-bold;
                            }
                            .note {
                                color: #727272;
                                margin-bottom: 0px;
                            }
                        }
                        .payment-info {
                            display: flex;
                            @media (max-width: $phablet-min-width-minus) {
                                flex-direction: column;
                            }
                            .sub-title {
                                color: #727272;
                                margin-right: 8px;
                            }
                            .price {
                                color: #5cd673;
                            }
                        }
                    }
                }
                .transactions-hr {
                    margin: 24px 0;
                }
            }
            .billing-info {
                padding: 24px 24px 56px;
                @media (max-width: $phablet-min-width-minus) {
                    padding: 16px 16px 40px;
                }
            }
        }
    }
    .barCodes-details {
        .title {
            margin-bottom: 8px;
        }
        .note {
            margin-bottom: 32px;
        }
    }
    .dashed-border {
        border-top: 1px dashed #090909;
        max-width: 2000px;
        width: 100%;
        margin: 44px 0 32px;
    }
}
::ng-deep {
    .barcode {
        svg {
            max-width: 420px !important;
            @media (max-width: $phablet-min-width-minus) {
                max-width: 280px !important;
            }
        }
    }
}
