<section class="enrollment-exisitng-page">
  <h1 class="title">ACP Enrollment</h1>
  <div *ngIf="!planPurchased">
    <div class="success-acp-banner">
      <img src="/assets/icon/enrollment-success.svg" alt="success-icon">
      <div class="descs">
        <p class="congratulation">Congratulations!</p>
        <p class="desc">You have been verified successfully into the ACP program!</p>
        <p class="desc last">You are now eligible for our <b>FREE 10GB</b> Unlimited Talk & Text Plan!</p>
      </div>
    </div>
    <h4 class="main-title">Current Phone Number:</h4>
    <p class="sub-desc">Select the Phone Number you would like to activate your ACP benefits on:</p>
    <form [formGroup]="currentMobileNumberForm" class="current-mobile-form">
      <div class="form-row">
        <div class="form-field">
          <div class="floating-label">
            <select id="mdn" class="floating-select" name="mdn" formControlName="mdn" #mdn [class.dirty]="!!mdn.value">
              <option *ngFor="let plan of activePlans" [value]="plan?.mdn">
                {{ plan?.mdn | phone }}
              </option>
            </select>
            <label>Select Phone Number</label>
          </div>
          <label class="validation-message" *ngIf="
                currentMobileNumberForm.controls.mdn.hasError('required') &&
                currentMobileNumberForm.controls.mdn.touched
              ">
            Phone number is required
          </label>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="!!planPuchasedClicked && !planPurchased">
    <div class="info-banner warning-background">
      <div class="flex">
        <img src="/assets/icon/warning-icon.svg" alt="warning-icon">
        <div class="banner-content">
          <p class="title">We have received your request!</p>
          <p class="description last">This might take few moments to process. <b>Please don't click "Submit"</b> again.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!!planPurchased">
    <h4 class="main-title">Current Phone Number:</h4>
    <div class="success-purchase">
      <img src="/assets/icon/enrollment-success.svg" alt="success-icon">
      <div class="descs">
        <p class="top-desc" data-cy="successMsg">Success!</p>
        <p class="desc" data-cy="acpActivatedMsg">Your ACP benefits has been activated on:</p>
        <p class="desc" data-cy="mdnValue">{{currentMobileNumberForm.controls.mdn.value}}</p>
        <p class="desc">You may now enjoy your ACP benefits!</p>
      </div>
    </div>
  </div>
</section>
<section class="navigation-section" [class.last]="!!planPurchased">
  <div class="left" *ngIf="!planPurchased">
    <p class="no-border" (click)="cancel()">Cancel</p>
  </div>
  <div class="right">
    <button class="button primary" data-cy="submitBtn" (click)="purchasePlan()" *ngIf="!planPurchased">Submit</button>
    <button class="button primary" data-cy="doneBtn" (click)="goToAcpSummary()" *ngIf="!!planPurchased">Done</button>
  </div>
</section>