<div class="shutdown-container">
  <div class="banner-image-container">
    <picture>
      <source srcset='assets/img/banners/shutdown-banner-mobile.webp' media="(max-width: 639.9px)" type="image/webp">
      <source srcset='assets/img/banners/shutdown-banner-mobile.jpg' media="(max-width: 639.9px)" type="image/jpg">
      <source srcset='assets/img/banners/shutdown-banner-tablet.webp' media="(max-width: 1024.9px)" type="image/webp">
      <source srcset='assets/img/banners/shutdown-banner-tablet.jpg' media="(max-width: 1024.9px)" type="image/jpg">
      <source srcset='assets/img/banners/shutdown-banner-desktop.webp' media="(min-width: 1025px)" type="image/webp">
      <source srcset='assets/img/banners/shutdown-banner-desktop.jpg' media="(min-width: 1025px)" type="image/jpg">
      <img src="assets/img/banners/shutdown-banner-desktop.jpg" alt="a person with black jacket looking at his phone">
    </picture>
  </div>
  <div class="all-cards-container">
    <section class="networks-Shutdown-card">
      <div class="card-container">
        <div class="networks-Shutdown-card-content" [innerHTML]="headerSection"></div>
        <form class="checkForm" [formGroup]="checkMDNForm">
          <label class="form-label" for="checkMDN">
            <b>Check if your phone is impacted</b>
          </label>
          <div class="form-row">
            <div class="form-field full">
              <label class="outlined-label-input">
                <input id="checkMDN" data-cy="checkMDN" placeholder=" " restrictNumbers type="tel" maxlength="10" minlength="10" required
                  formControlName="checkMDN" (input)="resetForm('imei')" class="input-field">
                <span>Enter your phone number</span>
              </label>
              <label class="validation-message"
                *ngIf="checkMDNForm.controls.checkMDN.hasError('required') && checkMDNForm.controls.checkMDN.touched"
                id="required-checkMDN-msg" data-cy="phoneNumberIsRequired">
                Phone number is required </label>
              <label class="validation-message"
                *ngIf="checkMDNForm.controls.checkMDN.hasError('pattern') || checkMDNForm.controls.checkMDN.hasError('minlength')"
                id="invalid-checkMDN-msg">
                Phone number is invalid </label>
            </div>
          </div>
          <fieldset class="re-captcha--resizing" *ngIf="checkMDNForm.controls.checkMDN.dirty">
            <app-re-captcha (resolved)="resolvedCaptcha($event)" [siteKey]="SITE_ID" #reCaptcha id="captcha-box">
            </app-re-captcha>
            <label class="validation-message" *ngIf="!captchaResponse">Please verify that you are not a robot</label>
          </fieldset>
          <button id="checkMDNbtn" data-cy="checkMDNbtn" class="button-check button primary" (click)="checkMDNValidation()"
            [uiBlockButton]="processingRequest">Check</button>
        </form>
      </div>
    </section>
    <section class="what-it-means-for-me-card">
      <div class="card-container">
        <div class="what-it-means-for-me-card-content" [innerHTML]="whatItMeansSection"></div>
      </div>
    </section>
    <section class="new-phones-and-VoLTE-card">
      <div class="card-container">
        <div class="new-phones-and-VoLTE-card-content" [innerHTML]="newPhones"></div>
      </div>
    </section>
    <section class="verifying-Your-4G-Phone-card">
      <div class="card-container">
        <div class="verifying-Your-4g-Phone-content" [innerHTML]="verifyingYour4gPhone"></div>
        <form class="checkForm" [formGroup]="checkIMEIForm">
          <label class="form-label" for="checkIMEI">
              <b>Check My Device</b>
          </label>
          <div class="form-row">
            <div class="form-field full">
              <label class="outlined-label-input">
                <input id="checkIMEI" required restrictNumbers minlength="11" maxlength="18" type="tel"
                  formControlName="checkIMEI" class="input-field" placeholder=" " (input)="resetForm('mdn')">
                <span data-cy="enterDeviceIMEI">Enter Device IMEI</span>
              </label>
              <label class="validation-message"
                *ngIf="checkIMEIForm.controls.checkIMEI.hasError('required') && checkIMEIForm.controls.checkIMEI.touched"
                id="required-checkIMEI-msg">
                IMEI is required </label>
              <label class="validation-message"
                *ngIf="checkIMEIForm.controls.checkIMEI.hasError('minlength') || checkIMEIForm.controls.checkIMEI.hasError('pattern')"
                id="invalid-checkIMEI-msg">
                IMEI is invalid </label>
              <div class="primary-col"><a (click)="showWhatIsIMEI()">What is an IMEI/MEID number?</a></div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-field full">
              <label class="outlined-label-input">
                <input id="zipCode" data-cy="zipCode" required restrictNumbers maxlength="10" type="text" formControlName="zipCode"
                  class="input-field" placeholder=" ">
                <span>Enter your Zip code</span>
              </label>
              <label class="validation-message"
                *ngIf="checkIMEIForm.controls.zipCode.hasError('required') && checkIMEIForm.controls.zipCode.touched"
                id="required-zipcode-msg">
                Zip Code is required </label>
              <label class="validation-message"
                *ngIf="checkIMEIForm.controls.zipCode.hasError('pattern') || checkIMEIForm.controls.zipCode.hasError('minlength')"
                id="invalid-zipcode-msg">
                Zip Code is invalid </label>
            </div>
          </div>
          <fieldset class="re-captcha--resizing" *ngIf="checkIMEIForm.controls.checkIMEI.dirty">
            <app-re-captcha (resolved)="secondResolvedCaptcha($event)" [siteKey]="SITE_ID" #reCaptchaImei
              id="captcha-box2">
            </app-re-captcha>
            <label class="validation-message" *ngIf="!secondcaptchaResponse">Please verify that you are not a
              robot</label>
          </fieldset>
          <button id="checkIMEIbtn" data-cy="checkIMEIbtnVerifySection" type="submit" class="button-check button primary" (click)="checkIMEIValidation()"
            [uiBlockButton]="secondProcessingRequest">Check</button>
        </form>
        <label class="cc-device-header">
          <p>Find a Compatible Device<a class="download-link" download href="assets/g2g_ATT_phones_3G_shutdown.pdf">See
              Details</a></p>
        </label>
        <div class="floating-label">
          <select id="manufacturer" name="manufacturerPhone" [(ngModel)]="manufacturer" class="floating-select"
            (change)="checkSelected()" #manufacturerPhone [class.dirty]="!!manufacturerPhone.value" value="">
            <option *ngFor="let option of uniqueManufacturer" [value]="option">{{option}}
            </option>
          </select>
          <label class="long">Select Manufacturer</label>
        </div>
        <div id="availableDevicesSection" class="available-devices-section"
          *ngIf="!!phonesModelNumber && phonesModelNumber.length > 0">
          <p class="title">Available Devices of Selected Manufacturer</p>
          <div class="devices-box scrollbar-primary" [class.scroll]="phonesModelNumber.length > 5">
            <p class="phone-model" *ngFor="let phoneModel of phonesModelNumber">{{phoneModel}}</p>
          </div>
        </div>
      </div>
    </section>
    <section class="what-about-my-SIM-card">
      <div class="card-container">
        <div class="what-about-my-SIM-card-content" [innerHTML]="whatAboutMySim"></div>
        <picture class="triple-sim" >
          <source srcset='assets/img/triple-sim-desktop.webp' type="image/webp">
          <source srcset='assets/img/triple-sim-desktop.png' type="image/png">
          <img src="assets/img/triple-sim-desktop.png" alt="triple-sim-image">
        </picture>
        <div class="how-To-Switch-Your-Sim-Card-content" [innerHTML]="howToSwitchYourSimCard"></div>
      </div>
    </section>
    <section class="what-to-Look-For-Buying-card">
      <div class="card-container">
        <div class="special">
          <h2>What to Look For Buying A New Phone<a class="download-link" download
              href="assets/g2g_ATT_phones_3G_shutdown.pdf">See Details</a></h2>
        </div>
        <div class="what-to-Look-For-Buying-card-content" [innerHTML]="whatToLook"></div>
      </div>
    </section>
    <section class="phone-not-working" *ngIf="showPhoneNotWorkingSection">
      <div class="card-container">
        <div class="phone-not-working-card-content" [innerHTML]="phoneNotWorking"></div>
      </div>
    </section>
  </div>
</div>
