<section class="internal-page-margins sitemap-container">
  <div class="col-xl-12 col-12">
    <div class="container-flex">
      <div class="title">
        <h1>Good Mobile Sitemap</h1>
      </div>
      <div class="container-flex-row sitemap-sections">
        <div class=" sitemap-section">
          <div class="section-title">
            <h3>Shop</h3>
          </div>
          <div class="section-list">
            <ul>
              <li><a [routerLink]="[SHOP_ROUTE_URLS.BASE+'/'+SHOP_ROUTE_URLS.PLANS_AND_FEATURES+'/'+PLANS_SHOP_ROUTE_URLS.NEW_PLAN]">Wireless
                  + Data Phone Plans</a></li>
              <li><a [routerLink]="[ACTIVATION_ROUTE_URLS.BASE+'/'+ACTIVATION_ROUTE_URLS.CHECK_PHONE]">Bring
                  your phone</a></li>
            </ul>
          </div>
        </div>
        <div class="sitemap-section">
          <div class="section-title">
            <h3>Activate</h3>
          </div>
          <div class="section-list">
            <ul>
              <li><a [routerLink]="[ACTIVATION_ROUTE_URLS.BASE+'/'+ACTIVATION_ROUTE_URLS.CHECK_PHONE]">Check
                  Wireless Compatibility</a></li>
              <li><a [routerLink]="[ACTIVATION_ROUTE_URLS.BASE+'/'+ACTIVATION_ROUTE_URLS.SIM_CHECK]">Activate
                  Your SIM</a></li>
            </ul>
          </div>
        </div>
        <div class=" sitemap-section">
          <div class="section-title">
            <h3>Coverage</h3>
          </div>
          <div class="section-list">
            <ul>
              <li><a [routerLink]="[SUPPORT_ROUTE_URLS.BASE+'/'+SUPPORT_ROUTE_URLS.LANDING_COVERAGE]">Cell Phone
                  Coverage Map</a></li>
            </ul>
          </div>
        </div>

        <div class=" sitemap-section">
          <div class="section-title">
            <h3>Support</h3>
          </div>
          <div class="section-list">
            <ul>
              <li><a [routerLink]="[SUPPORT_ROUTE_URLS.BASE+'/'+SUPPORT_ROUTE_URLS.DATA_SETUP]">Setup Your
                  Phone Data</a></li>
              <li><a [routerLink]="['' + '/' + ROUTE_URLS.HD_VOICE]">HD Voice</a></li>
              <li><a [routerLink]="[SUPPORT_ROUTE_URLS.BASE+'/'+SUPPORT_ROUTE_URLS.FAQS]">FAQs</a></li>
              <li><a [routerLink]="[SUPPORT_ROUTE_URLS.BASE+'/'+SUPPORT_ROUTE_URLS.CONTACT_US]">Contact
                  Us</a></li>
            </ul>
          </div>
        </div>
        <div class=" sitemap-section">
          <div class="section-title">
            <h3>About</h3>
          </div>
          <div class="section-list">
            <ul>
              <li><a [routerLink]="[SUPPORT_ROUTE_URLS.BASE+'/'+SUPPORT_ROUTE_URLS.ABOUT_GM]">About
                  Good Mobile</a></li>
              <li><a [routerLink]="[SUPPORT_ROUTE_URLS.BASE+'/'+SUPPORT_ROUTE_URLS.WHY_GM]">Why
                Good Mobile</a></li>
              <li><a [routerLink]="[SUPPORT_ROUTE_URLS.BASE+'/'+SUPPORT_ROUTE_URLS.HOW_IT_WORKS]">How it
                  Works</a></li>
              <li><a [routerLink]="[SUPPORT_ROUTE_URLS.BASE+'/'+SUPPORT_ROUTE_URLS.INTERNATIONAL_CALLING]">International
                  Calling</a></li>

            </ul>
          </div>
        </div>
        <div class="sitemap-section account">
          <div class="section-title">
            <h3>Account</h3>
          </div>
          <div class="section-list">
            <ul>
              <li><a [routerLink]="[ACCOUNT_ROUTE_URLS.BASE+'/'+ACCOUNT_ROUTE_URLS.SUMMARY]">Account
                  Summary</a></li>
              <li><a [routerLink]="[ACCOUNT_ROUTE_URLS.BASE+'/'+ACCOUNT_ROUTE_URLS.PAY_AND_RENEW]">Pay &
                  Refill YOur Account</a></li>
              <li><a [routerLink]="[ACCOUNT_ROUTE_URLS.BASE+'/'+ACCOUNT_ROUTE_URLS.PLAN_ADD_ONS]">Plan
                  Add-Ons</a></li>
              <li><a [routerLink]="[ACCOUNT_ROUTE_URLS.BASE+'/'+ACCOUNT_ROUTE_URLS.PAYMENTS]">Payment
                  History</a></li>
              <li><a [routerLink]="[ACCOUNT_ROUTE_URLS.BASE+'/'+ACCOUNT_ROUTE_URLS.USAGE]">Usage</a></li>
              <li><a [routerLink]="[ACCOUNT_ROUTE_URLS.BASE+'/'+ACCOUNT_ROUTE_URLS.MANAGE_DEVICES]">Manage
                  Devices & SIM</a></li>
              <li><a [routerLink]="[ACCOUNT_ROUTE_URLS.BASE+'/'+ACCOUNT_ROUTE_URLS.SETTINGS]">Profile
                  Settings</a></li>

            </ul>
          </div>
        </div>
        <div class="sitemap-section">
          <div class="section-title">
            <h3>Legal</h3>
          </div>
          <div class="section-list">
            <ul>
              <li><a [routerLink]="[SUPPORT_ROUTE_URLS.BASE+'/'+SUPPORT_ROUTE_URLS.TERMS_AND_CONDITIONS]">Terms
                  & Conditions</a></li>
              <li><a [routerLink]="[SUPPORT_ROUTE_URLS.BASE+'/'+SUPPORT_ROUTE_URLS.HEARING_AID_COMPATIBILITY]">Hearing
                  Aid Compatibility</a></li>
            </ul>
          </div>
        </div>
        <div class="sitemap-section">
          <div class="section-title">
            <h3>ACP</h3>
          </div>
          <div class="section-list">
            <ul>
              <li><a [routerLink]="['' + '/' + ROUTE_URLS.ACP]">Affordable Connectivity Program</a></li>
              <li><a [routerLink]="['' + '/' + ROUTE_URLS.ACP_DETAILS_LONG]">FAQs about ACP</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
