@import "../../../../../../styles/modules/variables";
@import "../../../../../../styles/modules/mixins";

.device-setup {
  padding: 0 10%;

  @media (max-width: $desktop-min-width-minus) {
    padding: 0 20px;
  }

  @media (max-width: $phablet-min-width-minus) {
    padding: 0 16px;
  }
}
.android-gsm-container {
  margin: 80px 0;

  @media (max-width: $desktop-min-width-minus) {
    margin: 62px 0;
  }

  @media (max-width: $phablet-min-width-minus) {
    margin-top: 30px;
  }

  .purple-warning {
    display: flex;
    flex-direction: row;
    background-color: rgba(134, 51, 153, 0.12);
    border-radius: 10px;
    padding: 32px 24px;
    width: 100%;
    justify-content: flex-start;
    max-width: 1051px;
    margin-bottom: 40px;
    align-items: center;

    .bolded {
      font-size: rem-calc(24px);
      line-height: rem-calc(36px);
      font-weight: 900;
      margin-bottom: 0;
      font-family: $base-font-family-bold;
    }

    .icon {
      margin-right: 20px;
    }

    @media (max-width: $phablet-min-width-minus) {
      padding: 24px;
      margin-bottom: 24px;

      .bolded {
        font-size: rem-calc(16px);
        line-height: rem-calc(24px);
        font-weight: 900;
        margin-bottom: 0;

        font-family: $base-font-family-bold;
      }

      .icon {
        margin-right: 20px;
        width: 40px;
      }
    }
  }

  .primary-color-title {
    color: $primary-color;
    font-weight: 900;
    margin-bottom: 0;

    @media (max-width: $phablet-min-width-minus) {
      padding-left: 8px;
    }
  }

  .main-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
      margin-bottom: 24px;

      @media (max-width: $phablet-min-width-minus) {
        margin-bottom: 16px;
      }
    }
  }

  .bullet {
    display: flex;
    flex-direction: row;

    span {
      font-size: rem-calc(70px);
      line-height: 0.5;
      margin-right: 10px;
      margin-left: 0;
      padding-left: 0px;

      @media (max-width: $phablet-min-width-minus) {
        font-size: rem-calc(50px);
        line-height: rem-calc(24px);
      }
    }
  }

  .thicker {
    display: inline-block;
    transform: scale(1.2, 1.5);
    margin-left: 10px;
  }

  button {
    margin-right: 16px;
    font-weight: 700;
    margin-bottom: 40px;
    padding: 8px 16px;
    height: 41px;
    width: 100%;
    max-width: 150px;
    font-size: 14px;

    @media (max-width: $phablet-min-width) {
      margin-bottom: 24px;
      font-size: 14px;
    }
  }

  p {

    font-size: rem-calc(22px);
    line-height: rem-calc(33px);

    @media (max-width: $phablet-min-width-minus) {
      font-size: rem-calc(16px);
      line-height: rem-calc(24px);
    }
  }

  .title {
    font-size: rem-calc(36px);
    line-height: rem-calc(43px);
    margin-bottom: 64px;
    width: 100%;

    @media (max-width: $phablet-min-width-minus) {
      font-size: rem-calc(32px);
      line-height: rem-calc(38px);
      margin-bottom: 24px;
    }
  }

  .subtitle {
    font-size: rem-calc(22px);
    line-height: rem-calc(27px);

    @media (max-width: $phablet-min-width-minus) {
      font-size: rem-calc(16px);
      line-height: rem-calc(24px);
    }
  }

  .list-item {
    width: 100%;
    padding-bottom: 64px;
    margin-bottom: 40px;

    &.first-list {
      padding-bottom: 40px;
      margin-bottom: 64px;
    }

    @media (max-width: $phablet-min-width-minus) {
      padding-bottom: 24px;
      margin-bottom: 24px;

      &.first-list {
        padding-bottom: 24px;
        margin-bottom: 24px;
      }
    }

    &.inner {
      @media (max-width: $phablet-min-width-minus) {
        padding-bottom: 24px;
        margin-bottom: 24px;
      }
    }

    border-bottom: #D1D3D5 solid 2px;

    .item-content {
      margin-left: 0;

      .content {
        margin-bottom: 0;
        font-weight: bold;
        font-size: rem-calc(22px);
        line-height: rem-calc(33px);
        font-family: $base-font-family-bold;

        @media (max-width: $phablet-min-width-minus) {
          font-size: rem-calc(16px);
          line-height: rem-calc(24px);

          &.unbold {
            font-family: $base-font-family;
            font-weight: 400;

            &.sub {
              margin-bottom: 40px;
            }
          }

          &.shortSub {
            margin-bottom: 24px;
          }
        }

        &.unbold {
          font-family: $base-font-family;
          font-weight: 400;

          &.sub {
            margin-bottom: 40px;
          }
        }

        &.shortSub {
          margin-bottom: 24px;
        }
      }

      .sub-list {
        margin: 0;
        padding-left: 0;
        list-style-type: none;

        .short {
          margin-bottom: 0;
        }

        &.border {
          width: 604px;
          padding-left: 0px;

          @media (max-width: $phablet-min-width-minus) {
            padding-left: 0px;
            width: 100%;
          }

          li {
            display: flex;
            border-bottom: #D1D3D5 solid 1px;
            align-items: center;
            align-content: space-between;
            flex-direction: row;
            justify-content: flex-start;
            padding: 16px 30px;
            margin-bottom: 0;

            &:first-child {
              padding-top: 0;
            }

            @media (max-width: $phablet-min-width-minus) {
              padding: 16px 0px;
            }
          }

          .content {
            width: 278px;
            font-size: rem-calc(22px);

            @media (max-width: $phablet-min-width-minus) {
              font-size: rem-calc(16px);
            }

            &.unbold {
              font-family: $base-font-family;
              font-weight: 400;
            }

          }
        }

        li {
          font-size: rem-calc(50px);
          line-height: 0;
          list-style: none;
          margin-bottom: 24px;

          @media (max-width: $phablet-min-width-minus) {
            font-size: rem-calc(35px);
            line-height: rem-calc(24px);
            margin-bottom: 16px;
          }
        }
      }

      li {
        list-style: none;
      }
    }
  }

  .actions-container {
    margin-bottom: 60px;
  }

  .shortSub {
    margin-bottom: 24px;
    font-family: $base-font-family;
    font-weight: 400;
  }

  .manage {

    a {
      font-size: rem-calc(16px);
      line-height: rem-calc(40px);
      font-family: $base-font-family-bold;
    }

    .manage-account {
      font-size: rem-calc(24px);
      font-family: $base-font-family-bold;
      line-height: rem-calc(33px);
      margin-bottom: 8px;

      @media (max-width: $phablet-min-width-minus) {
        font-size: rem-calc(20px);
        line-height: rem-calc(30px);

      }
    }
  }
}
