<div class="android-tmo-container">
    <div class="first-section">
      <p class="android-title"><b>ANDROID</b></p>
      <div class="android-desc">
        <p>Android Smartphone LTE Instructions:Android version 4.0 (Ice Cream Sandwich) and up</p>
        <p class="more-desc">The following instructions are for most Android devices. While your phone’s menu may look
          different, the
          information which goes into each of the fields is the same, no matter what model device you have. No data
          connection is necessary when entering these settings but a data-capable device is required to surf the web and
          watch videos online.
        </p>
      </div>
    </div>
    <div class="instructions-section">
      <ul class="numbers">
        <li class="digit"></li>
        <ul class="disc">
          <li>Press “Menu” button on your device</li>
          <li>Tap “Settings” > “Wireless Controls” or “Wireless and Network” > “Mobile Networks”</li>
          <li>Make sure “Data Roaming” and “Use Only 2G Networks” are both UNCHECKED</li>
        </ul>
        <li class="digit"></li>
        <ul class="style-none">
          <li>Tap Access Point Names</li>
          <li>Press Menu button and select New APN</li>
          <li>Enter the following information</li>
          <div class="display-flex margin-top">
            <li class="start">Name: GoodMobile</li>
            <li class="end">MMS Proxy: Not set</li>
          </div>
          <div class="display-flex">
            <li class="start">APN: wholesale</li>
            <li class="end">MMS Port: 8080</li>
          </div>
          <div class="display-flex">
            <li class="start">Proxy: Not set</li>
            <li class="end">MCC: 310MNC: 260</li>
          </div>
          <div class="display-flex">
            <li class="start">Port: Not set</li>
            <li class="end">Authentication Type: None</li>
          </div>
          <div class="display-flex">
            <li class="start">Username: Not set</li>
            <li class="end">APN Type: default,mms,supl</li>
          </div>
          <div class="display-flex">
            <li class="start">Password: Not set</li>
            <li class="end">APN protocol: Not set</li>
          </div>
          <div class="display-flex">
            <li class="start">Server: Not set</li>
            <li class="end">Bearer: Unspecified</li>
          </div>
          <li>MMSC: <a class="word-break" href="http://wholesale.mmsmvno.com/mms/wapenc">http://wholesale.mmsmvno.com/mms/wapenc</a></li>
        </ul>
        <li class="digit"></li>
        <ul class="disc">
          <li>Press the “Menu” button on your device and then “Save” on the screen.</li>
          <li>Go to Account Summary to manage your account</li>
        </ul>
      </ul>
    </div>
  </div>