@import "../../../../../styles/modules/variables";
@import "../../../../../styles/modules/mixins";

.android {
    padding-top: 48px;
    padding-bottom: 48px;
    background: #FBFBFB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .header-section {
        text-align: center;
        margin-bottom: 20px;
        .label {
            color: #5E5E5E;
        }
    }
    b {
        font-family: $base-font-family-bold;
    }
    .info-banner {
        max-width: 1268px;
        margin-top: 16px;
        width: 100%;
    }
    .action {
        margin-top: 40px;
        margin-left: -14px;
    }
    ul {
        padding-inline-start: 24px;
        max-width: 1268px;
        width: 100%;
        li {
            margin-bottom: 16px;
            &.smaller {
                font-size: rem-calc(16px);
                line-height: 24px;
            }
        }
        .card-info {
            background: #FBFBFB;
            border-radius: 0px 0px 10px 10px;
            width: 100%;
            max-width: 500px;
            padding: 24px;
            box-shadow: 0px 4px 15px rgb(206 211 214 / 60%);
            margin-top: 16px;
            .info {
                margin-left: 16px;
                padding-bottom: 10px;
                padding-top: 10px;
                border-bottom: 1px solid #B0B0B0;
                display: flex;
                gap: 16px;
                &.last {
                    border-bottom: none;
                }
                .name {
                    flex-basis: 40%;
                    max-width: 170px;
                }
                .value {
                    flex-basis: 60%;
                    max-width: 250px;
                    word-break: break-all;
                }
            }
            
            @media(max-width: $phablet-min-width-minus) {
                padding: 16px;
            }
           
        }
    }
}
