<section class="android page-section">
  <div class="header-section">
    <p class="label">SMARTPHONE LTE INSTRUCTIONS</p>
    <h2 class="header-color">Android LTE Instructions:</h2>
    <h5>The following instructions are for most Android devices.</h5>
  </div>
  <div class="info-banner default-background">
    <div class="flex">
        <img src="assets/icon/info-icon.svg" alt="Info Icon">
        <div class="banner-content">
            <p class="title">Note:</p>
            <p class="description">While your phone’s menu may look <b>different</b>, the information which goes into each of the fields is the <b>same</b>, no matter what model device you have.</p>
            <p class="description"><b>No</b> data connection is <b>necessary</b> when <b>entering</b> these settings but a data-capable device is <b>required</b> to surf the web and watch videos online.</p>
        </div>
    </div>
  </div>
  <ul class="list">
    <li class="smaller">Press <b>Menu</b> button on your device.</li>
    <li class="smaller">
      <p class="smaller">Tap <b>Settings > Wireless Controls</b>, or <b>Wireless & Network > Mobile Networks</b> </p>
      <div class="info-banner warning-background">
        <div class="flex">
          <img src="assets/icon/warning-icon.svg" alt="Warning Icon">
            <div class="banner-content">
                <p class="title">Attention:</p>
                <p class="description">Make sure <b>Data Roaming</b> and <b>Use only 2G Networks</b> are both <b>UNCHECKED</b>.</p>
            </div>
        </div>
      </div>
    </li>
    <li class="smaller">Tap <b>Access Point Names</b></li>
    <li class="smaller">Press <b>Menu</b> button and select <b>New APN</b></li>
    <li class="smaller"><p class="smaller">Enter the following information:</p>
      <div class="card-info">
        <div class="info">
          <p class="name smallest primary-font-bold">Name:</p>
          <p class="value smallest">Good Mobile</p>
        </div>
        <div class="info">
          <p class="name smallest primary-font-bold">APN:</p>
          <p class="value smallest">wholesale</p>
        </div>
        <div class="info">
          <p class="name smallest primary-font-bold">Proxy:</p>
          <p class="value smallest">Not set</p>
        </div>
        <div class="info">
          <p class="name smallest primary-font-bold">Port:</p>
          <p class="value smallest">Not set</p>
        </div>
        <div class="info">
          <p class="name smallest primary-font-bold">Username:</p>
          <p class="value smallest">Not set</p>
        </div>
        <div class="info">
          <p class="name smallest primary-font-bold">Password:</p>
          <p class="value smallest">Not set</p>
        </div>
        <div class="info">
          <p class="name smallest primary-font-bold">Server:</p>
          <p class="value smallest">Not set</p>
        </div>
        <div class="info">
          <p class="name smallest primary-font-bold">MMSC:</p>
          <p class="value smallest"><a class="word-break" href="http://wholesale.mmsmvno.com/mms/wapenc"
            rel="nofollow">http://wholesale.mmsmvno.com/mms/wapenc</a></p>
        </div>
        <div class="info">
          <p class="name smallest primary-font-bold">MMS Proxy:</p>
          <p class="value smallest">Not set</p>
        </div>
        <div class="info">
          <p class="name smallest primary-font-bold">MMS Port:</p>
          <p class="value smallest">8080</p>
        </div>
        <div class="info">
          <p class="name smallest primary-font-bold">MCC:</p>
          <p class="value smallest">310MNC:260</p>
        </div>
        <div class="info">
          <p class="name smallest primary-font-bold">MNC:</p>
          <p class="value smallest">260</p>
        </div>
        <div class="info">
          <p class="name smallest primary-font-bold">Authentication Type:</p>
          <p class="value smallest">None</p>
        </div>
        <div class="info">
          <p class="name smallest primary-font-bold">APN Type:</p>
          <p class="value smallest">Default,mms,supl</p>
        </div>
        <div class="info">
          <p class="name smallest primary-font-bold">APN Protocol:</p>
          <p class="value smallest">Not set</p>
        </div>
        <div class="info last">
          <p class="name smallest primary-font-bold">Bearer:</p>
          <p class="value smallest">Unspecified</p>
        </div>
      </div>
    </li>
    <li class="smaller">Press <b>Menu</b> button on your device the <b>Save</b> on the screen.</li>
    <li class="smaller">Go to <a [routerLink]=" [ACCOUNT_ROUTE_URLS.BASE + '/'+ACCOUNT_ROUTE_URLS.SUMMARY]"><b>Account Summary</b></a>  to manage your account</li>
  </ul>
  <div class="action">
    <button class="button primary" aria-label="done" (click)="goToDataSetup()">Done</button>
  </div>
</section>
