<section class="page-section activate-sim">
    <h1 class="header-color">Activate | Port your number</h1>
    <div *ngIf="!!userPlan && userPlan?.planDevice" class="form-holder">
        <div class="content-holder">
            <div class="activation-tabs">
                <ul class="tab-list">
                    <li class="tab-title" [class.active]="isNewNumber" *ngIf="!isPortOnly" (click)="isNewNumber = true">Activate with a new number</li>
                    <li class="tab-title" [class.active]="!isNewNumber" *ngIf="!isNewOnly" (click)="isNewNumber = false">Keep your current number</li>
                </ul>
            </div>
        </div>

        <div class="content-holder port-bottom " *ngIf="!isNewNumber">
            <h5 >
                In order to port your current number we need the information below. Please insure the fields are
                complete and
                correct before submitting. Any incorrect information may result in your number not porting to your new
                Good Mobile account.
            </h5>
        </div>
    </div>
    <div *ngIf="!!userPlan?.planDevice" class="activate-content">
        <div class="content-holder">
            <div class="tab-content">
                <ng-container *ngIf="!!isNewNumber && !isPortOnly">
                    <app-activate-new-number [userPlan]="userPlan" [code]="activationCode"></app-activate-new-number>
                </ng-container>
                <ng-container *ngIf="!isNewNumber">
                    <app-activate-current-number [user]="user" [userPlan]="userPlan" [code]="activationCode"></app-activate-current-number>
                </ng-container>
            </div>
        </div>
    </div>
    <div *ngIf="!!userPlan && !userPlan?.planDevice" class="container-flex-row form-holder margin-bottom-90 activation">
        <div class="col-12 ">
            <div class="margin-bottom-20">
                You need to register device?
            </div>
        </div>
        <div class="col-xl-3 col-sm-5 col-12 margin-bottom-20">
            <a (click)="registerDevice()">
                <button class="button primary">Check Compatibility</button>
            </a>
        </div>
        <div class="col-xl-3 col-sm-5 col-12">
            <a (click)="goToPhonesShop()">
                <button class="button secondary" data-cy="shopPhones">Shop Phones</button>
            </a>
        </div>
    </div>
</section>