@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";

::ng-deep {

    .activate-sim {
        margin-bottom: 60px;
        margin-top: 40px;
      
        .content-holder {
            &.port-bottom {
                margin-bottom: 30px;
            }
            &.new {
                @media (#{$larger-than-phablet}) {
                    margin-bottom: 200px;
                }
            }
            h5 {
                max-width: 993px;
            }
        }
        .activation-tabs {
            font-size: rem-calc(18px);
            margin-bottom: 25px;
            @media (max-width: $phablet-min-width-minus) {
                margin-bottom: 6px;
            }
            .tab-list {
                display: flex;
                gap: 16px;
                padding: 0;
                list-style: none;
                margin-top: 32px;
                li {
                  background: #E5EEF4;
                  color: #004064;
                  padding: 16px;
                  border-radius: 10px;
                  cursor: pointer;
                  text-align: center;
                  &.active {
                    background: #669BBF;
                    color: $white;
                  }
                }
                @media(max-width: $phablet-min-width-minus) {
                    flex-direction: column;
                }
            }
        }
        .info-banner {
            margin-bottom: 32px;
        }
        .activate-content {
            max-width: 700px;
            .contact {
                margin-top: 24px;
            }
            .activate-port-form {
                display: flex;
                flex-direction: column;
                gap: 16px;
                .form-row {
                    display: flex;
                    &.full {
                        fieldset {
                            flex-basis: 100%;
                        }
                    }
                    &.half {
                        display: flex;
                        gap: 16px;
                        fieldset {
                            flex-basis: 50%;
                        }
                    }
                    @media(max-width: $desktop-min-width-minus) {
                        &.half {
                            flex-direction: column;
                            fieldset {
                                flex-basis: 100%;
                            }
                        }
                    }
                }
                .space {
                    margin: 10px 0 0;
                }
                i.icon-search.input-search-icon {
                    position: absolute;
                    top: 40px;
                    right: 26px;
                    @media(max-width: $desktop-min-width-minus) {
                        right: 20px;
                        top: 44px;
                    }
                }
                .address-lookup-form {
                    .eight {
                        padding-left: 0;
                    }
                    .form-section {
                        .four {
                            padding-right: 0;
                        }
                    }
                    .address-lookup-details {
                        .four {
                            &:first-child {
                                padding-left: 0;
                            }
                            &:last-child {
                                padding-right: 0;
                            }
                            @media(max-width: $desktop-min-width-minus) {
                                &:first-child {
                                    padding-right: 16px;
                                } 
                            }
                            @media(max-width: $phablet-min-width-minus) {
                                &:first-child {
                                    padding-right: 0px;
                                } 
                            }
                        }
                    }
                }
            }
        }
        .account-actions {
            margin-bottom: 100px;
            .button {
                padding: 8px;
                width: 213px;
                font-size: rem-calc(22px);
                line-height: 28px;
                &.long {
                    width: 240px;
                    font-size: rem-calc(17px);
                }
            }
        }
        .activate-sim-form {
            input:read-only {
                cursor: not-allowed;
                background-color: $light-grey;
            }
            .critical {
                .message {
                    color: $red;
                    font-family: $secondary-font-family;
                    font-size: rem-calc(18px);
                    font-weight: bold;
                    @media (max-width: 640px) {
                        font-size: rem-calc(16px);
                    }
                }
            }
            .warning {
                font-size: rem-calc(13px);
                font-family: $base-font-family;
                font-weight: normal;
                line-height: 15px;
                color: $secondary-color;
                text-transform: none;
            }
            // @media (min-width: 1025px) {
            //     .five {
            //         input {
            //             max-width: 238.8px;
            //         }
            //     }
            //     .ten {
            //         input {
            //             max-width: 506px;
            //         }
            //     }
            //     .address-lookup {
            //         &.eight {
            //             input {
            //                 max-width: 346.2px;
            //             }
            //         }
            //     }
            //     .four {
            //         input {
            //             max-width: 149.8px;
            //         }
            //     }
            // }
            .form-part {
                .contact {
                    .title {
                        font-size: rem-calc(18px);
                        font-family: $base-font-family-bold;
                        line-height: 21px;
                        margin-bottom: 25px;
                        font-weight: bold;
                    }
                    .description {
                        font-size: rem-calc(18px);
                        font-family: $base-font-family;
                        line-height: 21px;
                        font-weight: normal;
                    }
                    input {
                        max-width: 238.8px;
                    }
                }
            }
        }
        .account-actions {
            .button {
                padding: 10px;
                width: 213px;
                font-size: rem-calc(22px);
                line-height: 28px;
                font-family: $secondary-font-family;
            }
        }
        .label-width {
            @media (max-width: 1182.9px) and (min-width: 1025px) {
            width: 118%;
            }
        }
    }
}
