<section class="container-flex signup-section">
    <div class="header-section">
      <h1 class="title">First, Let’s get you signed up for a free account on Good Mobile</h1>
      <p class="subhead">
        Your Good Mobile account allows you to fill out the Affordable Connectivity Program form and sign the consent. Once your enrollment is confirmed, you will be able  to manage your service. Let’s get you signed up!
      </p>
    </div>
    <form [formGroup]="userForm" class="sign-up-form">
      <div class="card-container">
        <div class="form-section">
          <fieldset class="left">
            <label for="firstName">First name</label>
            <input id="firstName" data-cy= "firstName" type="text" formControlName="firstName" required autocomplete="given-name" />
            <label class="validation-message alert"
              *ngIf="userForm.controls.firstName.hasError('required') && userForm.controls.firstName.touched"
              id="required-firstName-msg">
              First name is required </label>
            <label class="validation-message alert" *ngIf="userForm.controls.firstName.hasError('pattern')"
              id="invalid-firstName-msg">
              First name is invalid </label>
          </fieldset>
          <fieldset class="right">
            <label for="lastName">Last name</label>
            <input id="lastName" data-cy="lastName" type="text" formControlName="lastName" required autocomplete="family-name" />
            <label class="validation-message alert"
              *ngIf="userForm.controls.lastName.hasError('required') && userForm.controls.lastName.touched"
              id="required-lastName-msg">
              Last name is required </label>
            <label class="validation-message alert" *ngIf="userForm.controls.lastName.hasError('pattern')"
              id="invalid-lastName-msg">
              Last name is invalid </label>
          </fieldset>
        </div>
        <div class="form-section">
          <fieldset class="full">
            <label for="email">Email address</label>
            <input id="email" data-cy="email" data-cy="email" type="email" formControlName="email" required autocomplete="email" />
            <label class='validation-message alert' *ngIf="userForm.controls.email.hasError('pattern')"
              id="invalid-email-msg" data-cy="invalid-email-msg">
              Email address is invalid.
            </label>
            <label class='validation-message alert'
              *ngIf="userForm.controls.email.hasError('required') && userForm.controls.email.touched"
              id="required-email-msg" data-cy="required-email-msg">
              Email address is required.
            </label>
          </fieldset>
        </div>
        <div class="form-section">
          <fieldset class="left">
            <label for="password">Password</label>
            <input id="password"  data-cy="password"type="password" formControlName="password" required autocomplete="new-password" />
          </fieldset>
  
          <fieldset class="right">
            <label for="confirmPassword">Confirm password</label>
            <input id="confirmPassword" data-cy= "confirmPassword" type="password" formControlName="confirmPassword" required
              autocomplete="new-password" />
          </fieldset>
        </div>
        <div class="form-section">
          <fieldset class="full" *ngIf="userForm.controls.password.touched && !userForm.controls.password.valid">
            <label class="validation-message alert" id="password-validation-msg">
              Password must be between 6 and 12 characters with at least one capital letter, one small letter, and one
              digit. </label>
          </fieldset>
          <fieldset class="full"
            *ngIf="userForm.controls.confirmPassword.touched && userForm.hasError('mismatchedPasswords')">
            <label class="validation-message alert" id="confirmPassword-validation-msg">
              Passwords do not match </label>
          </fieldset>
        </div>
        <div class="form-section">
          <fieldset class="left">
            <app-re-captcha (resolved)="resolvedCaptcha($event)" [siteKey]="SITE_ID" #reCaptcha></app-re-captcha>
          </fieldset>
        </div>
      </div>
      <div class="actions-section">
        <fieldset class="form-actions primary-actions">
          <button type="button" class="button primary" id="verifyButton" data-cy="submitBtn" [disabled]="!userForm.valid || !captchaValid"
            [uiBlockButton]="processingRequest" (click)="signUp()">Submit</button>
        </fieldset>
        <fieldset class="form-actions secondary-actions">
          Already have an account?<br>
          <a (click)="goToLogin()" id="sign-in-legacy" data-cy="signInLink">Sign in</a>
        </fieldset>
      </div>
    </form>
  </section>