$larger-than-mobile: "min-width: 426px" !default;
$larger-than-phablet: "min-width: 640px" !default;
$larger-than-tablet: "min-width: 750px" !default;
$larger-than-desktop: "min-width: 1025px" !default;
$larger-than-desktophd: "min-width: 1200px" !default;
$larger-than-max: "min-width: 1921px" !default;

$base-font-family: "Sansation", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$black: #383838 !default;
$primary-color: #863399 !default;
$secondary-color: #f58520 !default;
@function rem-calc($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

\:host {
  .banner-slider {
    position: relative;
    overflow-x: hidden;
  }

  .banner-slider {
    .slick-list {
      .swiper-container {
        .swiper-wrapper {
          .swiper-slide.swiper-element-override {
            background-size: cover;
            min-height: 1px;
            width: 100%;

            @media (#{$larger-than-phablet}) {
              background-position: bottom center;
            }
          }
        }
      }
    }
  }
}

.banner-fbAds {
  width: 100%;
  margin-top: 5px;

  .bg-img-container {
    height: 100%;
    width: 100%;
    opacity: 1;
    &.loading {
      opacity: 0;
    }

    @media (#{$larger-than-mobile}) {
      height: 615px !important;
      max-height: 615px !important;
    }

    @media (#{$larger-than-desktop}) {
      height: 700px !important;
      max-height: 700px !important;
    }

    .bg-img-container-rel {
      position: relative;
      background-color: white;
      width: 100%;
      height: 100%;
      display: inline-block;

      .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: cover;
        bottom: 0;
        background-position: bottom left;
        background-repeat: no-repeat;

        &.small-bg {
          display: block;
          @media (#{$larger-than-desktop}) {
            display: none;
          }
        }

        &.medium-bg {
          display: none;
          @media (#{$larger-than-desktop}) {
            display: block;
          }
          @media (#{$larger-than-desktophd}) {
            display: none;
          }
        }

        &.large-bg {
          display: none;
          @media (#{$larger-than-desktophd}) {
            display: block;
          }
          @media (#{$larger-than-max}) {
            display: none;
          }
        }

        &.highest-res-bg {
          display: none;
          @media (#{$larger-than-max}) {
            display: block;
            background-position-y: 75%;
            background-position-x: center;
            background-repeat: no-repeat;
          }
        }
      }

      .highest-res-image {
        display: none;
        position: absolute;
        @media (#{$larger-than-max}) {
          display: block;
          left: 60%;
          top: 25%;
          width: 250px;
        }
      }
    }
  }

  .banner-content {
    color: $black;

    &.margin-left-fix {
      @media (#{$larger-than-mobile}) {
        padding: 0 18px;
      }
      @media (#{$larger-than-desktop}) {
        padding: 0;
        text-align: left;
        margin-right: 0;
      }
    }

    h1 {
      color: $black;
      font-size: rem-calc(36px);
      font-weight: bold;
      letter-spacing: 1px;
      margin-top: 60px;
      text-transform: none;

      @media (orientation: landscape) {
        margin-top: 130px;
      }

      @media (#{$larger-than-mobile}) {
        font-size: rem-calc(28px);
        line-height: 0.79;

        margin-top: 175px;
        margin-bottom: 14px;
      }

      @media (#{$larger-than-desktop}) {
        font-size: rem-calc(38px);
        letter-spacing: normal;
        margin-top: 244px;
        margin-bottom: 24px;
      }
    }

    .pitch {
      font-family: $base-font-family;
      font-size: rem-calc(38px);

      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-transform: none;

      @media (#{$larger-than-mobile}) {
        font-size: 19px;
        line-height: 1.16;

        margin-bottom: 5px;
      }

      @media (#{$larger-than-desktop}) {
        font-size: rem-calc(26px);

        margin-bottom: 10px;
      }
    }

    .description {
      color: $black;
      font-weight: normal;
      padding-top: 18px;
      letter-spacing: normal;

      font-size: rem-calc(16px);

      @media (#{$larger-than-desktop}) {
        line-height: 1.16;
        font-size: rem-calc(19px);
      }

      &.secondary-description {
        font-size: 14px;
        line-height: 1.14;
        margin-top: 8px;

        @media (#{$larger-than-mobile}) {
          margin-bottom: 55px;
        }

        @media (#{$larger-than-desktop}) {
          font-size: rem-calc(15px);
          line-height: 0.89;
          margin-bottom: 25px;
        }
      }
    }

    .small-pitch {
      font-size: rem-calc(12px);
      line-height: rem-calc(18px);

      @media (#{$larger-than-desktop}) {
        font-size: rem-calc(14px);
        line-height: rem-calc(22px);
      }

      a {
        color: #2e5368;
      }
    }

    .banner-disclaimer {
      font-size: rem-calc(16px);
      color: white;
      margin-top: 50px;
      position: relative;
      @media (#{$larger-than-desktop}) {
        font-size: rem-calc(16px);
        color: white;
        margin-top: 100px;
      }
    }

    a button {
      @media (#{$larger-than-mobile}) {
        min-width: 170px;
        font-size: rem-calc(15px);

        width: 170.6px;
        height: 34.1px;
        padding: 9px 40px;
      }
      @media (#{$larger-than-desktop}) {
        font-size: rem-calc(20px);
        margin-top: 15px;
        min-width: 216px;

        width: 216px;
        height: 43.2px;
      }
    }

    &.slider1 {
      .description {
        @media (#{$larger-than-mobile}) {
          max-width: 390px;
        }
        @media (#{$larger-than-desktop}) {
          max-width: 580px;
        }

        &.secondary-description {
          max-width: none;
        }
      }
    }

    &.slider2 {
      .description {
        @media (#{$larger-than-mobile}) {
          max-width: 390px;
          margin-bottom: 45px;
        }
        @media (#{$larger-than-desktop}) {
          max-width: 477px;
        }
      }
    }

    &.slider3 {
      .description {
        @media (#{$larger-than-mobile}) {
          max-width: 390px;
          margin-bottom: 45px;
        }
        @media (#{$larger-than-desktop}) {
          max-width: 525px;
          margin-bottom: 45px;
        }
      }
    }

    &.slider4 {
      .description {
        @media (#{$larger-than-mobile}) {
          max-width: 390px;
          margin-bottom: 45px;
        }
        @media (#{$larger-than-desktop}) {
          max-width: 570px;
          margin-bottom: 50px;
        }
      }
    }
  }
}

.swiper-container-override {
  .slick-dots {
    &.right {
      @media (#{$larger-than-tablet}) {
        text-align: right;
        padding-right: 7%;
        bottom: 120px;
        left: 0;
      }

      @media (#{$larger-than-desktop}) {
        padding-right: 20%; //385px;
        bottom: 35px;
      }
    }

    &.left {
      @media (#{$larger-than-tablet}) {
        text-align: left;
        padding-left: 100px;
      }
    }

    &.hallow {
      .swiper-pagination-bullet {
        opacity: 1;
        background-color: transparent;
      }

      li {
        height: 10px;
        width: 10px;
        margin: 10px 5px;

        button {
          content: "";
          height: 10px;
          width: 10px;
          padding: 0px;
          cursor: pointer;
          border: 1px solid #c8c8c8;
          border-radius: 10px;
          &:before {
            width: 13px;
            height: 13px;
          }
        }
        &.slick-active {
          button:before {
            opacity: 1;
          }
        }
        button:before {
          content: "";
        }
        &.swiper-pagination-bullet-active {
          button {
            content: "";
            height: 10px;
            width: 10px;
            padding: 5px;
            cursor: pointer;
            border: 1px solid #c8c8c8;
            border-radius: 10px;
            background-color: #c8c8c8;
          }
          &.slick-active {
            button:before {
              opacity: 1;
              color: #c8c8c8;
            }
          }
          button:before {
            content: "";
          }
        }
      }
    }
  }

  .slick-prev,
  .slick-next {
    display: none;
    @media (#{$larger-than-desktop}) {
      display: block;
    }
    top: 400px;
    &:before {
      font-size: 32px;
    }
  }

  .slick-prev {
    left: auto;
    &:before {
      content: "\e91c";
    }
  }

  .slick-next {
    right: 16.4%;
    &:before {
      color: white;
      content: "\e91d";
    }
  }

}
