@import "../../../../styles/modules/variables";

.personalInfoFormNonAppID {
    &.acp-disabled {
        .outlined-label-input input:disabled {
            background-color: #95959530;
            cursor: not-allowed;
        }

        .floating-label {
            background-color: #95959530;
            cursor: not-allowed;
        }

        .form-control {
            opacity: .5;
            cursor: not-allowed;
        }

        span,
        input[type=radio] {
            cursor: not-allowed;
        }
    }

    margin-bottom: 80px;

    @media (max-width: $desktop-min-width-minus) {
        margin-bottom: 49.59px;
    }

    @media (max-width: $phablet-min-width-minus) {
        margin-bottom: 55.59px;
    }
    .grey {
        color: #9B9B9B;  
    }
    .space {
        margin-bottom: 15px;
    }

    .red {
        color: #D10000;
    }
    .grey {
        color: #9B9B9B;  
      }
      .space {
          margin-bottom: 15px;
      }
    .fields-note {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 23.8px;
        color: #A5A3A3;
        max-width: 849px;

        @media (max-width: $phablet-min-width-minus) {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 18.61px;
        }
    }

    .bottom {
        margin-bottom: 32.2px;

        @media (max-width: $phablet-min-width-minus) {
            margin-bottom: 28.2px;
        }
    }

    .form-field {
        &.half {
            max-width: 308px;
            width: 100%;
        }

        &.quarter {
            max-width: 120px;
            width: 100%;

            input,
            span {
                width: 120px;
            }
            margin-left: 28px;
            margin-bottom: 10px;

            @media (max-width: $phablet-min-width-minus) {
                margin-bottom: 16.2px;
            }

            .validation-message {
                white-space: nowrap;
            }
        }

        span {
            color: #A5A3A3;
        }
    }

    .three-fields {
        display: flex;
        justify-content: space-between;
        max-width: 308px;
        margin-top: 21px;
        margin-bottom: 12px;

        select {
            width: 92px;
            height: 44px;
        }

        label {
            width: 20px;
            top: 14px;
            color: #A5A3A3;

            &.dirty {
                top: -6px;
            }
        }

        .year-width {
            width: 32px;
        }
    }

    .form-control {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        gap: 5px;
    }

    label {
        margin-bottom: 0;
    }

    input[type="radio"] {
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
        margin: 0 5px 0 0;
        font: inherit;
        color: #888888;
        width: 24px;
        height: 24px;
        border: 2px solid #888888;
        border-radius: 50%;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
    }

    input[type="radio"]:checked {
        -webkit-appearance: none;
        appearance: none;
        margin: 0 5px 0 0;
        font: inherit;
        color: $primary-color;
        width: 24px;
        height: 24px;
        border: 2px solid $primary-color;
        border-radius: 50%;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
    }

    input[type="radio"]::before {
        content: "";
        width: 31px;
        height: 29px;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
    }

    input[type="radio"]:checked::before {
        transform: scale(0.4);
        background-color: $primary-color;
    }
}