<section class="container-flex steps-section">
  <div class="header-container">
    <div class="stepper" *ngIf="!isPlanFlow">
      <circle-progress id="circleBar" class="circle-progress-bar" [percent]="circlePercentage" [radius]="40"
        [titleColor]="'#863399'" [outerStrokeWidth]="5" [innerStrokeWidth]="0" [outerStrokeColor]="'#FF9811'"
        [innerStrokeColor]="'#FF9811'" [outerStrokeGradientStopColor]="'#FF9811'" [title]="activeStep + '/2'"
        [animation]="true" [animationDuration]="300" [backgroundColor]="'#863399'" [backgroundOpacity]="0.1"
        [backgroundPadding]="-10" [outerStrokeGradient]="true" [startFromZero]="false">
      </circle-progress>
      <div class="line"></div>
    </div>
    <div class="step-details">
      <p class="step" *ngIf="!isPlanFlow">Step <span> {{activeStep}}</span></p>
      <h1 class="title">{{stepsDetails[activeStep - 1]?.title}}</h1>
      <p class="description">Phone purchase verification </p>
    </div>
  </div>
  <div class="step-description">
    <router-outlet (activate)="updateStep($event)"></router-outlet>
  </div>
  <div id="none-selection-validation" class="step-errors" *ngIf="!!showSelectionError && activeStep !== 2 ">
    <p class="validation-message">Please select one of the options above to continue</p>
  </div>
  <div class="internal-step-errors" *ngIf="!!showSelectedMdnError && selectedOption !== 'new'">
    <p class="validation-message">Please select an active mdn to continue</p>
  </div>
  <section class="navigation-section">
    <div class="left">
      <p class="no-border" data-cy="cancelBtn" (click)="cancel()">Cancel</p>
    </div>
    <div class="right">
      <button class="button transparent" aria-label="Back" (click)="back()" *ngIf="activeStep > 1 && !isPlanFlow">Back</button>
      <button class="button primary" aria-label="Next" [disabled]="(!!showCoverageError || !addressVal) && activeStep === 2"
        (click)="validateStep()">{{activeStep === 2 ? 'Done' : 'Next'}}</button>
    </div>
  </section>
</section>