<section class="qualifying" [class.acp-disabled]="!!disable">
    <form [formGroup]="qualifyingForm" class="qualifying-form-flow">
        <p class="main-title" data-cy="qualificationHeader">How do you Qualify? <span class="red">*</span></p>
        <div class="radioBtn" *ngFor="let item of options">
            <label class="form-control" [for]="item?.id">
                <input type="radio" [value]="item?.id" formControlName="option" [id]="item?.id"
                    (change)="onOptionChange()">{{item?.value}}
            </label>
        </div>
        <label class="validation-message"
            *ngIf="qualifyingForm.controls.option.hasError('required') && qualifyingForm.controls.option.touched">
            Please select one of the options above
        </label>
    </form>

    <form [formGroup]="childInfoForm" class="childInfoFormNonExistingApp"
        *ngIf="qualifyingForm.controls.option.value === 'child'">
        <div class="border-section"></div>
        <div class="form-section">
            <p class="bbq-info">Please provide the Beneficiary Qualifying Person (BQP) information: <span class="red">*</span></p>
            <div class="form-row bottom">
                <p class="fields-title">BQP Full Name: <span class="red">*</span></p>
                <div class="form-field half">
                    <label class="outlined-label-input">
                        <input placeholder=" " formControlName="firstName" maxlength="50" type="text" id="firstName"
                            data-cy="firstName" />
                        <span>First Name</span>
                    </label>
                    <label class="validation-message"
                        *ngIf="childInfoForm.controls.firstName.hasError('required') && childInfoForm.controls.firstName.touched"
                        id="required-fname-msg" data-cy="required-fname-msg">
                        First name is required
                    </label>
                    <label class="validation-message" *ngIf="childInfoForm.controls.firstName.hasError('pattern')"
                        id="invalid-fname-msg" data-cy="invalid-fname-msg">
                        First name is invalid
                    </label>
                </div>
                <div class="form-field half">
                    <label class="outlined-label-input">
                        <input placeholder=" " formControlName="middleName" maxlength="50" type="text" id="middleName"
                            data-cy="middleName" />
                        <span>Middle Name (Optional)</span>
                    </label>
                    <label class="validation-message" *ngIf="childInfoForm.controls.middleName.hasError('pattern')"
                        id="invalid-mname-msg">
                        Middle name is invalid
                    </label>
                </div>
                <div class="form-field half">
                    <label class="outlined-label-input">
                        <input placeholder=" " formControlName="lastName" maxlength="50" type="text" id="lastName"
                            data-cy="lastName" />
                        <span>Last Name</span>
                    </label>
                    <label class="validation-message"
                        *ngIf="childInfoForm.controls.lastName.hasError('required') && childInfoForm.controls.lastName.touched"
                        id="required-lname-msg" data-cy="required-lname-msg">
                        Last name is required
                    </label>
                    <label class="validation-message" *ngIf="childInfoForm.controls.lastName.dirty && !!childInfoForm.controls.lastName.value && !childInfoForm.controls.lastName.valid"
                        id="invalid-lname-msg" data-cy="invalid-lname-msg">
                        Last name is invalid
                    </label>
                </div>
            </div>
            <div class="form-row bottom">
                <p class="fields-title">BQP Date of Birth: <span class="red">*</span></p>
                <div class="form-row half-row">
                    <div class="three-fields">
                        <div class="form-field">
                            <div class="floating-label">
                                <select id="month" data-cy="month" name="monthOfBirth" formControlName="month"
                                    autocomplete="cc-exp-month" class="floating-select" #monthOfBirth
                                    [class.dirty]="!!monthOfBirth.value" value="" (change)="checkMonth()">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <label [class.dirty]="!!monthOfBirth.value">MM</label>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="floating-label">
                                <select id="day" data-cy="day" name="dayOfBirth" formControlName="day" autocomplete="cc-exp-day"
                                class="floating-select" #dayOfBirth [class.dirty]="!!dayOfBirth.value" value="" (change)="checkMonth()">
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30" [class.disabled]="
                                    !!childInfoForm.controls.month &&
                                    childInfoForm.controls.month.value &&
                                    childInfoForm.controls.month.value === '02'
                                  " [disabled]="
                                    !!childInfoForm.controls.month &&
                                    childInfoForm.controls.month.value &&
                                    childInfoForm.controls.month.value === '02'
                                  ">
                                  30
                                </option>
                                <option value="31" [class.disabled]="
                                    (!!monthOfBirth &&
                                      monthOfBirth.value &&
                                      childInfoForm.controls.month.value === '02') ||
                                    childInfoForm.controls.month.value === '04' ||
                                    childInfoForm.controls.month.value === '06' ||
                                    childInfoForm.controls.month.value === '09' ||
                                    childInfoForm.controls.month.value === '11'
                                  " [disabled]="
                                    (!!childInfoForm.controls.month &&
                                      childInfoForm.controls.month.value &&
                                      childInfoForm.controls.month.value === '02') ||
                                    childInfoForm.controls.month.value === '04' ||
                                    childInfoForm.controls.month.value === '06' ||
                                    childInfoForm.controls.month.value === '09' ||
                                    childInfoForm.controls.month.value === '11'
                                  ">
                                  31
                                </option>
                              </select>
                                <label class="day-width" [class.dirty]="!!dayOfBirth.value">DD</label>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="floating-label">
                                <select id="year" data-cy="year" name="yearOfBirth" formControlName="year"
                                    autocomplete="cc-exp-year" class="floating-select" #yearOfBirth
                                    [class.dirty]="!!yearOfBirth.value" value="" (change)="checkMonth()">
                                    <option [value]="elm" *ngFor="let elm of years">{{elm}}</option>
                                </select>
                                <label class="year-width" [class.dirty]="!!yearOfBirth.value">YYYY</label>
                            </div>
                        </div>
                    </div>
                    <label class="validation-message" *ngIf="(childInfoForm.controls.month.hasError('required') && childInfoForm.controls.month.touched) ||
           (childInfoForm.controls.day.hasError('required') && childInfoForm.controls.day.touched)
           || (childInfoForm.controls.year.hasError('required') && childInfoForm.controls.year.touched)"
                        id="required-month-msg" data-cy="required-month-msg">
                        Date of Birth is required
                    </label>
                    <label class="validation-message date" *ngIf="!!showInvalidDateError" id="invalid-date-msg">
                        Date is invalid
                      </label>
                </div>
            </div>
            <div class="form-row bottom">
                <p class="fields-title note">BQP Government ID type: <span class="red">*</span></p>
                <p class="fields-note">Please select the ID you used during your National Verifier process</p>
                <div class="radioBtn child">
                    <label class="form-control child" for="ssn">
                        <input type="radio" value="ssn" formControlName="identityType" id="ssn" data-cy="ssn" (change)="updateIdentitiyType()">Social Security Number
                        (SSN)
                    </label>
                </div>
                <div class="form-field quarter"
                    *ngIf="!!childInfoForm.controls.identityType.value && childInfoForm.controls.identityType.value == 'ssn'">
                    <label class="outlined-label-input">
                        <input placeholder=" " formControlName="ssn" restrictNumbers minlength="4" maxlength="4"
                            type="text" id="ssn" data-cy="ssn" />
                        <span>Last 4 SSN</span>
                    </label>
                    <label class="validation-message"
                        *ngIf=" childInfoForm.controls.ssn.touched && !childInfoForm.controls.ssn.value"
                        id="required-ssn-msg">
                        Last 4 SSN is required
                    </label>
                    <label class="validation-message"
                        *ngIf="childInfoForm.controls.ssn.hasError('minlength') && !!childInfoForm.controls.ssn.value"
                        id="invalid-ssn-msg" data-cy="invalid-ssn-msg">
                        Last 4 SSN should be 4 digits</label>
                </div>
                <div class="radioBtn child">
                    <label class="form-control child" for="tribal">
                        <input type="radio" value="tribal" formControlName="identityType" id="tribal" data-cy="tribalID" (change)="updateIdentitiyType()">Tribal ID
                    </label>
                </div>
                <label class="validation-message"
                    *ngIf="childInfoForm.controls.identityType.hasError('required') && childInfoForm.controls.identityType.touched"
                    id="required-idType-msg" data-cy="required-idType-msg">
                    Government ID Type is required
                </label>
                <div class="form-field quarter"
                    *ngIf="!!childInfoForm.controls.identityType.value && childInfoForm.controls.identityType.value == 'tribal'">
                    <label class="outlined-label-input">
                        <input placeholder=" " formControlName="tribalId" maxlength="20" type="text" id="tribal" data-cy="tribalID"/>
                        <span>Tribal ID</span>
                    </label>
                    <label class="validation-message"
                        *ngIf="childInfoForm.controls.tribalId.touched && !childInfoForm.controls.tribalId.value"
                        id="required-tribal-msg">
                        Tribal ID is required
                    </label>
                </div>
            </div>
        </div>
    </form>
</section>