<div class="landing-coverage-page">
  <section class="banner-section">
    <picture class="banner-image-container">
      <source srcset='assets/img/banners/landing-coverage-mobile.webp' media="(max-width: 499.9px)"
        type="image/webp">
      <source srcset='assets/img/banners/landing-coverage-mobile.png' media="(max-width: 499.9px)"
        type="image/png">
        <source srcset='assets/img/banners/landing-coverage-500.webp' media="(max-width: 639.9px)"
        type="image/webp">
      <source srcset='assets/img/banners/landing-coverage-500.png' media="(max-width: 639.9px)"
        type="image/png">
      <source srcset='assets/img/banners/landing-coverage-tablet.webp' media="(max-width: 1024.9px)"
        type="image/webp">
      <source srcset='assets/img/banners/landing-coverage-tablet.png' media="(max-width: 1024.9px)"
        type="image/png">
      <source srcset='assets/img/banners/landing-coverage-desktop.webp' media="(min-width: 1025px)" type="image/webp">
      <source srcset='assets/img/banners/landing-coverage-desktop.png' media="(min-width: 1025px)" type="image/png">
      <img src="assets/img/banners/landing-coverage-desktop.png" alt="Blazing Fast Speeds. Nationwide.">
    </picture>
    <div class="page-section banner-text-content">
      <h1 class="header-color">Blazing Fast Speeds. Nationwide.</h1>
      <p class="p1">From coast to coast, our networks have more towers in more places which means you get the fastest & best coverage possible.</p>
      <p class="smaller">Enter your Full Address below to check your coverage:</p>
      <p class="label">Street Address, City, State, ZIP Code</p>
      <div class="input-section">
          <input [(ngModel)]="address" matInput id="addressRef" type="search" list-formatter="description" data-cy="addressRef" #addressRef="ngModel" 
          name="addressRef" type="search" (focus)="setFoucs = true" (blur)="setFoucs = false"
          class="geolocate"  placeholder="Enter an address or location" [matAutocomplete]="auto" required
          (input)="changedAddress()"/>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addressDetails($event)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option?.description }}
            </mat-option>
          </mat-autocomplete>      
        <label class="blur-background validation-message" *ngIf="(!address && addressRef.touched) || (!!displayValidation && !address)"
          id="required-address-msg" data-cy="selectAddressValidationMsg">Full Address is required</label>
        <label class="blur-background validation-message" *ngIf="!displayedAddressModel && !!address"
          id="required-address-msg" data-cy="selectAddressValidationMsg">Please select address from the autocomplete list</label>
      </div>
      <button class="button primary" [uiBlockButton]="processingRequest" id="check-coverage-button"
        data-cy="check-coverage-button" (click)="checkCoverage()">Check coverage</button>
    </div>
  </section>
  <section class="coverage-page-section light-blue">
    <div class="page-section">
      <div class="step-image start">
        <picture class="banner-image-container">
          <source srcset='assets/img/us-map-mobile.png' type="image/png" media="(max-width: 639.9px)" type="image/png">
          <source srcset='assets/img/us-map-mobile.webp' type="image/webp" media="(max-width:  639.9px)" type="image/webp">
          <source srcset='assets/img/us-map-tablet.png' type="image/png" media="(max-width: 1439.9px)" type="image/png">
          <source srcset='assets/img/us-map-tablet.webp' type="image/webp" media="(max-width: 1439.9px)" type="image/webp">
          <source srcset='assets/img/us-map-desktop.png' type="image/png" media="(min-width: 1440px)" type="image/png">
          <source srcset='assets/img/us-map-desktop.webp' type="image/webp" media="(min-width: 1440px)" type="image/webp">
          <img class="map" src="assets/img/us-map-desktop.png"  alt="USA Map">
        </picture>
      </div>
      <div class="description">
        <p class="label">CHECK YOUR COVERAGE</p>
        <h2 class="header-color">Great Coverage on the Country’s Best Networks</h2>
        <p class="smaller">5G/4G LTE service requires a compatible device & plan. This map displays approximate coverage. Actual coverage may vary. Coverage isn’t guaranteed & is subject to change without notice.</p>
      </div>
    </div>
  </section>

  <section class="coverage-page-section white">
    <div class="page-section reverse">
      <div class="description">
        <p class="label">PREMIUM WIRLESSE</p>
        <h2 class="header-color">Prepaid Cell Phone Plans with Coast to Coast Coverages</h2>
        <p class="smaller">Good Mobile partnered with both of the country’s top 5G/4G LTE networks. As a result, Good Mobile customers enjoy fast LTE speeds & great coverage both in the city & when you are out and exploring.</p>
        <button class="button primary"  [routerLink]="[SHOP_ROUTE_URLS.BASE+'/'+SHOP_ROUTE_URLS.PLANS_AND_FEATURES+'/'+PLANS_SHOP_ROUTE_URLS.NEW_PLAN]">Shop Plans</button>
      </div>
      <div class="step-image">
        <picture>
          <source srcset='assets/img/girl-with-phone-mobile.webp' media="(max-width: 639.9px)" type="image/webp">
          <source srcset='assets/img/girl-with-phone-mobile.png' media="(max-width: 639.9px)" type="image/png">
          <source srcset='assets/img/girl-with-phone-tablet.webp' media="(max-width: 1024.9px)" type="image/webp">
          <source srcset='assets/img/girl-with-phone-tablet.png' media="(max-width: 1024.9px)" type="image/png">
          <source srcset='assets/img/girl-with-phone-desktop.webp' media="(min-width: 1025px)" type="image/webp">
          <source srcset='assets/img/girl-with-phone-desktop.png' media="(min-width: 1025px)" type="image/png">
          <img class="girls" src="assets/img/girl-with-phone-desktop.png" alt="Prepaid Cell Phone Plans with Coast to Coast Coverage">
        </picture>
      </div>
    </div>
  </section>
  <section class="check-phone-section page-section">
    <p class="label">CHECK COMPATIBILITY</p>
    <h2 class="header-color">Check your phone’s compatibility with the Good Mobile network</h2>
    <h5 class="secondary-font">Most 5G/4G LTE phones work on our network. Let’s confirm if yours is compatible.</h5>
    <button class="button primary" [routerLink]="ACTIVATION_ROUTE_URLS.BASE+'/'+ACTIVATION_ROUTE_URLS.CHECK_PHONE">Check
      your phone</button>
  </section>
  <section class="faqs-section page-section white">
    <div class="title-section">
      <p class="label">FAQ QUESTIONS</p>
      <h2 class="header-color">We are here to help you!</h2>
      <h5 class="secondary-font">Browse through the most frequently asked questions.</h5>
    </div>
    <div class="landing-questions">
      <div class="row">
        <div class="twelve questions">
          <div *ngFor="let item of questions | async">
            <div *ngFor="let qst of item?.fields?.questions">
              <app-question-answer question="{{qst?.fields?.questionText}}" [id]="qst?.fields?.questionId"
                [isActive]="qst?.fields?.questionId == questionIdParam"
                (click)="toggleActive(qst?.fields?.questionId,qst?.fields?.answerId)">
                <p (click)="collapsed=true" id="{{qst?.fields?.answerId}}"></p>
              </app-question-answer>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="button thirdly no-padding" [routerLink]="[SUPPORT_ROUTE_URLS.BASE+'/'+SUPPORT_ROUTE_URLS.FAQS]">More FAQs</button>
  </section>
  <app-invisible-recaptcha (resolved)="resolvedCaptcha($event)" [siteKey]="SITE_ID" #reCaptcha>
  </app-invisible-recaptcha>
</div>
