<section class="iphone page-section">
  <div class="header-section">
    <p class="label">SMARTPHONE LTE INSTRUCTIONS</p>
    <h2 class="header-color">iPhone LTE Instructions:</h2>
  </div>
  <div class="info-banner default-background">
    <div class="flex">
        <img src="assets/icon/info-icon.svg" alt="Info Icon">
        <div class="banner-content">
            <p class="title">Note:</p>
            <p class="description">To ensure your carrier settings are up to date, go to <b>Settings > General > About > Carrier</b>.</p>
            <p class="description">If prompted to update your carrier settings, select <b>Update</b>.</p>
        </div>
    </div>
  </div>
  <ul class="list">
    <li class="smaller">Select the <b>Settings</b> icon on your home screen.</li>
    <li class="smaller">Select the <b>Cellular</b> menu option in the first section of the menu.</li>
    <li class="smaller">Select <b>Cellular Data Options</b></li>
    <li class="smaller">Select <b>Voice & Data</b>, Select <b>LTE</b> and turn on <b>VoLTE</b></li>
    <li class="smaller"><p class="smaller">Select the <b>Cellular Data Network</b> option and enter the following information into the fields:</p>
      <div class="card-info">
        <div class="card-section">
          <p class="smallest primary-font-bold">Cellular Data</p>
          <div class="section-info">
            <div class="info">
              <p class="name smallest primary-font-bold">APN:</p>
              <p class="value smallest">wholesale</p>
            </div>
            <div class="info">
              <p class="name smallest primary-font-bold">Username:</p>
              <p class="value smallest">(Leave blank)</p>
            </div>
            <div class="info">
              <p class="name smallest primary-font-bold">Password:</p>
              <p class="value smallest">(Leave blank)</p>
            </div>
          </div>
        </div>
        <div class="card-section">
          <p class="smallest primary-font-bold">MMS:</p>
          <div class="section-info">
            <div class="info">
              <p class="name smallest primary-font-bold">APN:</p>
              <p class="value smallest">wholesale</p>
            </div>
            <div class="info">
              <p class="name smallest primary-font-bold">Username:</p>
              <p class="value smallest">(Leave blank)</p>
            </div>
            <div class="info">
              <p class="name smallest primary-font-bold">Password:</p>
              <p class="value smallest">(Leave blank)</p>
            </div>
            <div class="info">
              <p class="name smallest primary-font-bold">MMSC:</p>
              <p class="value smallest"><a class="word-break" href="http://wholesale.mmsmvno.com/mms/wapenc"
                rel="nofollow">http://wholesale.mmsmvno.com/mms/wapenc</a></p>
            </div>
            <div class="info">
              <p class="name smallest primary-font-bold">MMS Proxy:</p>
              <p class="value smallest">(Leave blank)</p>
            </div>
            <div class="info">
              <p class="name smallest primary-font-bold">MMS Max Message Size:</p>
              <p class="value smallest">1048576</p>
            </div>
            <div class="info last">
              <p class="name smallest primary-font-bold">MMS UA Prof URL:</p>
              <p class="value smallest"><a class="word-break" href="http://www.apple.com/mms/uaprof.rdf"
                rel="nofollow">http://www.apple.com/mms/uaprof.rdf</a></p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="smaller">
      <p class="smaller"><b>Restart</b> your iPhone.</p>
      <div class="action">
        <button class="button primary" aria-label="done" (click)="goToDataSetup()">Done</button>
      </div>
    </li>
  </ul>
</section>

