<div class="ios-tmo-container">
    <div class="first-section">
      <p class="ios-title"><b>IPHONE</b></p>
      <div class="ios-desc">
        <p>iPhone LTE Instructions:</p>
      </div>
    </div>
    <div class="instructions-section">
      <p class="title">All iPhone Models:</p>
      <p class="info">To ensure your carrier settings are up to date, go to <b> Settings > General > About > Carrier.</b>
          If prompted to update your carrier settings, select <b>Update.</b></p>
      <ol class="list numbers">
          <li>Select the <b>Settings</b> icon on your homescreen.</li>
          <li>Select the <b>Cellular</b> menu option in the first section of the menu.</li>
          <li>Select <b>Cellular Data Options</b></li>
          <li>Select <b>Voice & Data,</b> Select <b>LTE</b> and turn on <b>VoLTE</b></li>
          <li>Go Back to <b>Cellular</b> settings.</li>
          <li>Select the <b>Cellular Data Network</b> option and enter the following information into the fields:</li>
      </ol>
      <p class="title">Cellular Data</p>
      <ul class="list disc">
        <li>APN – <b>wholesale</b></li>
        <li>Username – (leave blank)</li>
        <li>Password – (leave blank)</li>
      </ul>
      <p class="title">MMS</p>
      <ul class="list disc">
        <li>APN – <b>wholesale</b></li>
        <li>Username – (leave blank)</li>
        <li>Password – (leave blank)</li>
        <li>MMSC – <a class="word-break" href="http://wholesale.mmsmvno.com/mms/wapenc"
            rel="nofollow"><b>http://wholesale.mmsmvno.com/mms/wapenc</b></a></li>
        <li>MMS Proxy – (leave blank)</li>
        <li>MMS Max Message Size – <b>1048576</b></li>
        <li>MMS UA Prof URL – <a class="word-break" href="http://www.apple.com/mms/uaprof.rdf"
            rel="nofollow"><b>http://www.apple.com/mms/uaprof.rdf</b></a></li>
      </ul>
      <p class="restart-iphone"><b>Restart your iPhone.</b></p>
    </div>
  </div>