@import "../../../styles/modules/variables";

.acp-success {
    margin-top: 60px;
    padding: 0 10%;

    @media (max-width: $desktop-min-width-minus) {
        padding: 0 20px;
    }

    @media (max-width: $phablet-min-width-minus) {
        margin-top: 32px;
        padding: 0 16px;
    }
    .qr-section {
        margin-top: 24px;
        .qr {
            margin: 12px 0;
        }
    }
    .info-banner {
        margin-bottom: 44px;
        width: 100%;

        @media (min-width: 1760px) {
            position: relative;
            max-width: 1000px;
            z-index: 2;
        }

        @media (max-width: $phablet-min-width-minus) {
            margin-bottom: 32px;
        }
    }
    b {
        font-family: $base-font-family-bold;
    }
    .illustration-section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        margin-top: 0;

        @media (min-width: 1760px) {
            margin-top: 170px;
        }

        .picture {
            position: relative;

            @media (min-width: 1760px) {
                width: 100%;
            }

            img {
                width: 499px;
                height: 331.82px;
                object-fit: contain;

                @media (min-width: 1760px) {
                    position: absolute;
                    width: 1488px;
                    bottom: 0;
                    left: 0;
                }

                @media (max-width: $phablet-min-width-minus) {
                    width: 320px;
                    height: 211.82px;
                }
            }
        }
    }

    .extra-note {
        p {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 292px;
            text-align: center;

            @media (min-width: 1760px) {
                text-align: left;
            }

            @media (max-width: $phablet-min-width-minus) {
                margin-bottom: 114px;
            }
        }
    }
}