<section class="page-section app-info" *ngIf="!acpSuccess && !acpError">
  <div *ngIf="activeStep !== 2">
    <h2 class="header-color">Great!</h2>
    <h4 class="secondary-font" data-cy="personalInfoHeader">Please provide the following information to verify your
      application!</h4>
    <div class="info-banner default-background">
      <div class="flex">
        <img src="/assets/icon/info-icon.svg" alt="Info Icon">
        <div class="banner-content">
          <p class="title">Note:</p>
          <p class="description">Please enter the information <b>EXACTLY</b> as you entered in the ACP application
            including: <b>(spaces, commas, or any special characters).</b>
          </p>
          <p class="description last">Providing inaccurate information could lead you being ineligible for the ACP
            benefits.</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="activeStep === 2 ">
    <h2 class="header-color">Almost there!</h2>
    <h4 class="step-2" data-cy="noticeAgreementHeader">Customer Notice and Agreement</h4>
    <p class="smaller">To apply for service under the Federal ACP with Good Mobile, you should agree and initial the following:</p>
  </div>
  <section class="stepper">
    <div class="step" *ngFor="let step of steps" [class.active]="activeStep === step" [class.done]="activeStep > step">
      <div class="circle">{{ step }}</div>
      <div class="border" *ngIf="step < steps.length"></div>
    </div>
  </section>
  <app-app-id-personal-info *ngIf="activeStep === 1" (goToNext)="next($event)" (setUserInfo)="setPersonalInfo($event)"
    [savedInfo]="{user:acpData?.user, appId: acpData?.providerApplicationId}" [disable]="!!enrolled">
  </app-app-id-personal-info>
  <app-signature-info *ngIf="activeStep === 2" (goToNext)="next($event)" [fName]="acpData?.user?.firstName"
    [lName]="acpData?.user?.lastName" [signed]="userSignedAgreement" (setSignature)="setSignedValue($event)"
    [disable]="!!enrolled" [appId]="acpData?.providerApplicationId"></app-signature-info>
</section>
<app-acp-success *ngIf="!!acpSuccess" [acpData]="acpData" [acpStatus]="acpStatus" [link]="acpLink"></app-acp-success>
<app-acp-error *ngIf="!!acpError" [acpStatus]="acpStatus"></app-acp-error>
<section class="navigation-section" *ngIf="!acpSuccess && !acpError">
  <div class="page-section navs">
    <p class="no-border" data-cy="cancelBtn" (click)="cancel()">Cancel</p>
    <div class="right">
      <button class="button secondary" data-cy="backBtn" aria-label="Next" (click)="goBack()">Back</button>
      <button class="button primary" aria-label="Next" (click)="goNext()" *ngIf="!enrolled">{{activeStep !== 2 ? 'Next' :
        'Submit'}}</button>
    </div>
  </div>
</section>