@import '../../../styles/modules/variables';
@import '../../../styles/modules/mixins';

.welcome-section {
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    @media(max-width: $phablet-min-width-minus) {
        padding-top: 40px;
    }
    .section-container {
        display: flex;
        align-items: center;
        .details-section {
            flex-grow: 1;
            flex-basis: calc(60% - 40px);
            min-width: 300px;
            .content {
                display: flex;
                flex-direction: column;
                .actions-section {
                    margin-top: 32px;
                    display: flex;
                    gap: 16px;
                    .button {
                        width: 192px;
                    }
                }
            }
        }
        .image-section {
            flex-grow: 1;
            flex-basis: 40%;
            min-width: 300px;
            img {
                display: block;
                max-width: 100%;    
            }
          &.center {
            justify-content: center;
          }
        }
        @media(max-width: 889.9px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 32px;
          .details-section {
            flex-basis: 100%;
            .content {
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .action {
              margin-top: 12px;
            }
          }
          .image-section {
            flex-basis: 100%;
            justify-content: center;
            align-items: center;
          }
        }
        @media(max-width: $phablet-min-width-minus) {
          .details-section {
            .content {
              .actions-section {
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
              }
            }
          }
        }
      }
      
}