@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";

.cancel-plan {
    .container-flex {
        max-width: 1255px;
    }
    .header {
        font-size: rem-calc(38px);
        font-family: $secondary-font-family-bold;
        line-height: 26px;
        @media (max-width: 1041px) and (min-width: 1025px) {
            white-space: nowrap;
        }
        @media (max-width: 835px) and (min-width: 640px) {
            margin-left: -34px;
        }
    }

    .account-section-title {
        margin-bottom: 45px;
        font-size: rem-calc(22px);
        line-height: 26px;

        @media (max-width: 835px) and (min-width: 640px) {
            margin-left: -34px;
        }

        &.mobile-shown {
            display: none;
        }
    }

    .card-container {
        margin-bottom: 30px;
        @media (#{$larger-than-desktop}) {
            margin-bottom: 50px;
        }
        @media (max-width: 700px) and (min-width: 640px) {
            border: 1px solid #707070;
            border-radius: 11px;
            text-align: left;
            margin-left: -38px;
            width: 118%;
            padding: 25px 22px 25px 22px;
        }

        @media (max-width: 835px) and (min-width: 700px) {
            border: 1px solid #707070;
            border-radius: 11px;
            text-align: left;
            margin-left: -38px;
            width: 114%;
            padding: 25px 22px 25px 22px;
        }

        @media (max-width: 639px) {
            margin-bottom: 0;
            padding: 15px 5px;
        }
    }
    .plan-container {
        .title {
            .title-text {
                width: 56%;
                font-size: rem-calc(17px);
                line-height: 20px;
                font-family: $base-font-family-bold;
                font-weight: bold;

                @media (max-width: 582px) and (min-width: 426px) {
                    width: 51%;
                }
                @media (max-width: 640px) and (min-width: 582px) {
                    width: 63%;
                }
                &.cancel-title {
                    @media (min-width: 581px) and (max-width: 588.9px) {
                        width: 65%;
                    }
                }

                &.one-liner {
                    width: 100%;
                    @media (#{$larger-than-phablet}) {
                        width: 75%;
                        margin: 0;
                    }
                }
                @media (#{$larger-than-phablet}) {
                    width: 70%;
                    padding: 2px 0;
                }
                &.Top {
                    margin-top: -7px;
                    font-size: rem-calc(16px);
                }
            }
            &.data {
                padding-top: 15px;
            }
            @media (max-width: 639px) {
                margin-bottom: 8px;
                &.data {
                    padding-top: 10px;
                    border-bottom: 1px solid $grey;
                    padding-bottom: 15px;
                    margin-bottom: 10px;
                }
            }
            .title-info {
                width: 44%;
                font-size: rem-calc(17px);
                line-height: 20px;
                font-family: $base-font-family-bold;

                @media (max-width: 582px) and (min-width: 426px) {
                    width: 49%;
                }
                @media (max-width: 640px) and (min-width: 582px) {
                    width: 37%;
                }
                &.cancel-info {
                    @media (min-width: 581px) and (max-width: 588.9px) {
                        width: 35%;
                    }
                }

                &.one-liner {
                    width: 100%;
                    @media (#{$larger-than-phablet}) {
                        width: 25%;
                    }
                }

                @media (#{$larger-than-phablet}) {
                    width: 30%;
                    text-align: right;
                }
                &.Top {
                    margin-top: -7px;
                    font-size: rem-calc(16px);
                    margin-left: 0px;
                }
            }
            .title {
                .account-plan-price {
                    @media (max-width: 648px) {
                        width: 17%;
                    }
                }
            }
            @media (#{$larger-than-phablet}) {
                &.split {
                    padding: 0;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    height: 80px;
                    flex-direction: row;
                    margin-top: -16px;
                    div {
                        height: 100%;
                        &:first-child {
                            border-bottom: none;
                            @include account-border(right);
                            padding-right: 20px;
                        }
                        &:last-child {
                            padding-left: 20px;
                        }
                    }
                    span {
                        height: 100%;
                        padding: 30px 0;
                    }
                }
            }
        }
    }
    .actions-container {
        text-align: center;
        @media (#{$larger-than-phablet}) {
            text-align: right;
        }
        .button {
            width: 209.8px;
            padding: 10px 25px;
            font-size: rem-calc(20px);
            font-family: $secondary-font-family;
            @media (#{$larger-than-phablet}) {
                &.secondary {
                    margin-right: 15px;
                }
            }
        }
    }
    @media (max-width: $ipad-min-width) {
        .account-info {
            padding: 0 25px;
        }
        .header {
            font-size: rem-calc(27px);
            line-height: 35px;
            margin-bottom: 10px;
        }
        .account-section-title {
            margin-bottom: 30px;
            font-size: rem-calc(18px);
            line-height: 21px;
        }
        .actions-container {
            margin-bottom: 75px;
            .button {
                width: 216px;
                font-size: rem-calc(15px);
                padding: 13px 25px;
            }
        }
    }
    @media (max-width: 639px) {
        .account-info {
            padding: 0px;
        }
        .header {
            font-size: rem-calc(27px);
            line-height: 35px;
        }

        .account-section-title {
            font-size: rem-calc(18px);
            line-height: 21px;
            &.mobile-shown {
                display: inline-block;
                margin-bottom: 5px;
                font-size: rem-calc(20px);
                line-height: 27px;
                font-family: $secondary-font-family;
                font-weight: 500;
                padding: 10px 15px;
            }
        }
        .plan-container {
            .title {
                margin-bottom: 16px;
            }
        }
        .actions-container {
            margin-bottom: 50px;
            .button {
                font-size: rem-calc(20px);
                padding: 13px 25px;
                display: block;
                margin: 10px auto;
                text-align: center;
            }
        }
    }
    .cancel-plan-form-container {
        margin-bottom: 50px;
        .title {
            font-size: rem-calc(38px);
            line-height: 50px;
        }
        .subtitle {
            margin-bottom: 0;
            font-size: rem-calc(20px);
            font-family: $base-font-family-bold;
            line-height: 1.15;
            margin-bottom: 25px;
        }
        .note {
            font-size: rem-calc(18px);
            font-family: $base-font-family;
            line-height: 1.39;
            &.common {
                margin-bottom: 30px;
            }
        }
        .radio-checkbox {
            input[type="radio"] {
                + .radio-checkbox-label {
                    &:before {
                        top: 14px;
                        border-radius: 0;
                    }
                    p {
                        font-size: rem-calc(16px);
                        font-family: $base-font-family-bold;
                        font-weight: bold;
                        line-height: 46px;
                    }
                }
            }
        }
        .action {
            margin: 30px 0 50px;
        }
        .recaptcha {
            margin: 20px 0;
        }
        .button {
            width: 213px;
            font-size: rem-calc(20px);
            padding: 10px 30px;
        }
        @media (max-width: $phablet-min-width) {
            margin-bottom: 30px;
            .title {
                font-size: rem-calc(27px);
                line-height: 35px;
                margin-bottom: 25px;
            }
            .subtitle {
                font-size: rem-calc(20px);
                line-height: 23px;
                margin-bottom: 20px;
            }
            .note {
                font-size: rem-calc(16px);
                line-height: 18px;
            }
            .recaptcha {
                margin: 20px 0 35px;
            }
            .radio-checkbox {
                input[type="radio"] {
                    + .radio-checkbox-label {
                        margin-bottom: 0;
                        &:before {
                            width: 17.7px;
                            height: 17.7px;
                        }
                        p {
                            font-size: rem-calc(16px);
                            line-height: 40px;
                            margin-bottom: 0;
                            margin-left: 28px;
                        }
                    }
                }
            }
            .action {
                margin-bottom: 50px;
            }
        }
    }
}
