@import "../../../styles/modules/variables";
@import "../../../styles/modules/mixins";

::ng-deep {
  .address-form {
    &.acp-disabled {
      .outlined-label-input input:disabled {
        background-color: #95959530;
        cursor: not-allowed;
      }

      .floating-label {
        background-color: #95959530;
        cursor: not-allowed;
      }

      .form-control {
        opacity: .5;
        cursor: not-allowed;
      }

      span,
      input[type=radio] {
        cursor: not-allowed;
      }
    }

    &.bottom {
      margin-bottom: 60px;

      @media (max-width: $phablet-min-width-minus) {
        margin-bottom: 32px;
      }
    }

    .fields-title {
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 0;
      font-family: $base-font-family;

      @media (max-width: $phablet-min-width-minus) {
        font-size: 18px;
        line-height: 28px;
      }
    }

    .red {
      color: #D22119;
    }

    .fields-note {
      font-weight: normal;
      font-size: rem-calc(16px);
      line-height: 24px;
      margin-top: 2px;
      margin-bottom: 24px;
      color: #A5A3A3;
      max-width: 849px;

      @media (max-width: $phablet-min-width-minus) {
        font-size: rem-calc(14px);
        line-height: 24px;
        margin-bottom: 20px;
      }
    }

    .form-field {
      &.half {
        max-width: 392px;
        width: 100%;
        margin-bottom: 10px;
      }

      &.quarter {

        input,
        span {
          width: 120px;
        }

        margin-left: 28px;
        margin-bottom: 22.2px;

        @media (max-width: $phablet-min-width-minus) {
          margin-bottom: 16.2px;
        }
      }

      span {
        color: #A5A3A3;
      }
    }

    .three-fields {
      display: flex;
      justify-content: space-between;
      max-width: 308px;
      margin-top: 21px;
      margin-bottom: 12px;

      select {
        width: 92px;
        height: 44px;
      }

      label {
        width: 20px;
        top: 14px;
        color: #A5A3A3;

        &.dirty {
          top: -6px;
        }
      }

      .year-width {
        width: 32px;
      }
    }

    .outlined-label-input {
      &.quarter {
        width: 120px;
      }
    }

    .flex-responsive {
      display: flex;
      max-width: 392px;
      row-gap: 10px;
      column-gap: 16px;

      @media (max-width: $phablet-min-width-minus) {
        flex-wrap: wrap;
      }
    }
  }

  .checkbox {
    margin-top: 16px;
    margin-bottom: 36px;
    display: flex;
    align-items: center;

    @media (max-width: $phablet-min-width-minus) {
      margin-bottom: 32px;
    }

    .toggle-label {
      font-size: rem-calc(12px);
      line-height: 20px;
      margin-left: 8px;
      margin-bottom: 0;
    }
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    cursor: pointer;
    border: 3px solid #939699;
    border-radius: 3px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
  }

  input[type="checkbox"]:checked {
    background-color: $primary-color;
    border: none;
  }

  input[type="checkbox"]:checked:after {
    display: block;
    content: " ";
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}