<div class="form-holder">
    <div class="content-holder">
        <form #activateSimForm="ngForm" class="activate-sim-form">
            <section class="secondary">
                <div class="alert critical portIn" *ngIf="userPlan?.portInFailedMessage">
                    <p class="message"><i class="icon-alert"></i>
                        {{userPlan?.portInFailedMessage}} <span
                            *ngIf="(userPlan?.portInStatusReason == '6D') || (userPlan?.portInStatusReason == '1P') || (userPlan?.portInStatusReason == '8B')">
                            {{customerCareNumber}}</span>
                    </p>
                </div>
                <div class="form-part">
                    <fieldset *ngIf="showActivationCode" class="ten">
                        <label for="activationCode">Enter activation Code
                            <span class="form-text error validation-message">*</span>
                        </label>
                        <input restrictNumbers type="text" name="activationCode" [(ngModel)]="activationCode"   [class.disabled]="!!userPlan?.eSIM && !!userPlan?.activationCode"
                            id="activationCode" data-cy="activationCode" #activationCodeRef="ngModel" required minlength="7" maxlength="8" [pattern]="codePattern" 
                            [readonly]="!!updatePortIn || (!!userPlan?.eSIM && !!userPlan?.activationCode)">
                        <label class="validation-message" id="activation-label">
                            <a (click)="showActivationModal()" id="activation-link">Where to find your Activation
                                Code</a>
                        </label>
                        <label class="validation-message"
                            *ngIf="activationCodeRef.touched && !activationCodeRef.valid && !activationCodeRef.value">Activation
                            Code is required. </label>
                        <label class="validation-message"
                            *ngIf="activationCodeRef.dirty && !activationCodeRef.valid && !!activationCodeRef.value">Activation
                            Code is invalid. </label>
                    </fieldset>

                    <fieldset *ngIf="showIccid" class="ten">
                        <label for="iccid">Verify ICCID number
                            <span class="form-text error validation-message">*</span>
                        </label>
                        <input restrictNumbers type="tel" name="iccid" [(ngModel)]="iccid" id="iccid"
                            #iccidRef="ngModel" required restrictNumbers minlength="19" maxlength="22"
                            [readonly]="!!updatePortIn">
                        <label class="validation-message" id="iccid-label">
                            <a (click)="showIccidModal()" id="iccid-link">Where to find my SIM ICCID number</a>
                        </label>
                        <label class="validation-message" *ngIf="iccidRef.touched && !iccidRef.valid">ICCID is required.
                        </label>
                    </fieldset>

                    <fieldset class="five height">
                        <label class="label-width" for="currentNumber">Current number we are moving
                            <span class="form-text error validation-message">*</span>
                        </label>
                        <input type="tel" name="currentNumber" id="currentNumber" data-cy="currentNumber" [(ngModel)]="portIn.mdn"
                            #mdn="ngModel" required [readonly]="!!updatePortIn" #currentNumberRef="ngModel"
                            restrictNumbers maxlength="10">
                        <label class="validation-message" *ngIf="currentNumberRef.touched && !currentNumberRef.valid">
                            Current number is required. </label>
                    </fieldset>

                    <fieldset class="five align-up">
                        <label for="accountNumber">Old account number
                            <span class="form-text error validation-message">*</span>
                        </label>
                        <input restrictNumbers type="tel" name="accountNumber" id="accountNumber"  data-cy="accountNumber" [(ngModel)]="portIn.accountNumber"
                            autocomplete="off" #accountNumber="ngModel" required
                            [readonly]="!!updatePortIn && !editableAccountNumber" maxlength="30">
                        <label class="validation-message" *ngIf="accountNumber.touched && !accountNumber.valid">
                            Old account number is required. </label>
                    </fieldset>

                    <fieldset class="ten">
                        <label for="accountPassword">PIN/Password with Current Provider
                            <span class="form-text error validation-message">*</span>
                        </label>
                        <input type="password" name="accountPassword" id="accountPassword" data-cy="accountPassword"
                            [(ngModel)]="portIn.accountPassword" #accountPassword="ngModel" required
                            [readonly]="!!updatePortIn && !editablePin" autocomplete="account-pin">
                        <label class="provider-note">
                            Likely different from your login password</label>
                        <label class="validation-message" *ngIf="accountPassword.touched && !accountPassword.valid">
                            PIN/Password is required. </label>
                    </fieldset>
                </div>
                <div class="form-part">

                    <fieldset class="five">
                        <label for="firstName">First Name
                            <span class="form-text error validation-message">*</span>
                        </label>
                        <input type="text" name="firstName" id="firstName" data-cy="firstName" [(ngModel)]="portIn.firstName"
                            #firstName="ngModel" required [readonly]="!!updatePortIn && !editableFirstName"
                            autocomplete="given-name">
                        <label class="validation-message" *ngIf="firstName.touched && !firstName.valid">
                            First Name is required. </label>
                    </fieldset>

                    <fieldset class="five">
                        <label for="lastName">Last Name
                            <span class="form-text error validation-message">*</span>
                        </label>
                        <input type="text" name="lastName" id="lastName" data-cy="lastName" [(ngModel)]="portIn.lastName"
                            #lastName="ngModel" required [readonly]="!!updatePortIn && !editableLastName"
                            autocomplete="family-name">
                        <label class="validation-message" *ngIf="lastName.touched && !lastName.valid">
                            Last Name is required. </label>
                    </fieldset>

                    <fieldset class="address-lookup ten">
                        <app-address-lookup [(displayedAddress)]="userPortAddress" (isValid)="setValidAddress($event)"
                            (addressChange)="addressChanged($event)" [readonly]="!!updatePortIn && !editableAddress"
                            [billingAddressAlias]="true">
                        </app-address-lookup>
                    </fieldset>
                </div>

                <div class="secondary form-part">
                    <fieldset class="ten contact">
                        <h3 class="title">Secondary Contact Number</h3>
                        <p class="description">Please provide another number we can use to contact you if problems with
                            this account.</p>
                        <label for="recoveryNumber">Recovery Contact Number
                            <span class="form-text error validation-message">*</span></label>
                        <input type="tel" name="recoveryNumber" id="recoveryNumber" data-cy="recoveryNumber" [(ngModel)]="portIn.contactPhone"
                            #recoveryNumber="ngModel" required restrictNumbers maxlength="10" autocomplete="tel">
                        <label class="validation-message" *ngIf="recoveryNumber.touched && !recoveryNumber.valid">
                            Recovery Contact Number is required. </label>
                    </fieldset>
                </div>
                <fieldset class="re-captcha--resizing">
                    <app-re-captcha (resolved)="resolvedCaptcha($event)" [siteKey]="SITE_ID" #reCaptcha>
                    </app-re-captcha>
                </fieldset>
            </section>
            <div class="account-actions margin-bottom-90">
                <button class="button primary long"
                    [disabled]="!userPlan?.planDevice || !activateSimForm.valid || !isValidAddress || !captchaValid"
                    (click)="activateCurrentNumber()" [uiBlockButton]="processingRequest" id="activate-button" data-cy="activate-button">
                    {{!!updatePortIn ? 'Submit My Updates' : 'Submit Number Transfer'}}
                </button>
                <span class="validation-message" *ngIf="!userPlan?.planDevice">You need to register your device before
                    you continue</span>
            </div>
        </form>
    </div>
</div>