<section class="container-flex internal-page-margins choose-path">
    <div class="container-flex-row flex-center margin-bottom-20">
        <div class="text-center">
            <h1 class="header" id="choose-sim-header">Awesome, what do you want to do next?</h1>
        </div>
    </div>
    <div class="actions-container">
        <button class="button primary" id="activate-new" (click)="goToActivationFlow()">Activate a new line</button>
        <button class="button secondary" id="replace-sim" (click)="goToReplacementFlow()">Replace my SIM</button>
    </div>
</section>