<section class="missing-items report-page page-section" [class.space]="!!showContactForm" id="parent">
    <div class="back-section">
        <img src="/assets/icon/back-arrow.svg">
        <h6 class="back-link" (click)="goToReportIssue()">Report an Issue</h6>
    </div>
    <h3 id="title">Wrong or missing item(s)</h3>
    <p class="smaller" *ngIf="!showContactForm">Please let us know which item(s) you need help with:</p>
    <div class="red-banner" *ngIf="!!showValidationError">
        <img src="assets/icon/red-alert.svg" alt="alert">
        <p class="validation" data-cy="itemsValidationMsg">Please select at least one item to proceed</p>
    </div>
    <div class="order-cards-container" *ngIf="!showContactForm">
        <div class="order-card" id="details-card">
            <div class="order-card-container">
                <div class="card-header-section">
                    <h4 class="card-header">Order Details</h4>
                </div>
                <div class="card-tab">
                    <input type="checkbox" id="items" [(ngModel)]="items">
                    <h5 class="tab-label" for="items">Items</h5>
                    <div class="tab-content">
                        <ng-container *ngIf="orderInfo?.intent === ORDER_INTENT.NEW">
                            <input type="checkbox" id="lines" [(ngModel)]="line">
                            <h6 class="sub-label new" for="lines">
                                <span>Line #1</span><img class="icon" data-cy="arrowIcon"
                                    src="assets/icon/arrow_circle.svg" alt="arrow icon">
                            </h6>
                            <div class="sub-content">
                                <div class="item-details" *ngFor="let plan of orderInfo?.plans; let i = index">
                                    <div class="details-side">
                                        <input class="styled-checkbox" [id]="plan?.itemId" type="checkbox"
                                            [value]="plan?.itemId" [(ngModel)]="selectedItem"
                                            (ngModelChange)="showValidationError=false">
                                        <label [for]="plan?.itemId" class="checkbox-label">
                                        </label>
                                        <img class="thumbnail" src="assets/icon/plan_thumbnail.svg" alt="thumbnail">
                                        <div class="details">
                                            <p class="item-title smaller"><b>{{plan?.subtitle}}</b></p>
                                            <p class="smaller">Unlimited Talk, Text & Data</p>
                                            <p class="category smaller"><b>(New plan)</b></p>
                                            <p class="id smallest" *ngIf="plan?.itemId">Item # {{plan?.itemId}}</p>
                                            <p class="code" *ngIf="plan?.redemptionCode">Redemption Code:
                                                {{plan?.redemptionCode}}</p>
                                            <p class="quantity">Quantity: {{ plan?.quantity }}</p>
                                        </div>
                                    </div>
                                    <div class="price-side">
                                        <p class="price smaller"><b>${{plan?.price}}</b></p>
                                    </div>
                                </div>
                                <div class="sub-item-section">
                                    <hr>
                                    <div class="item-details" *ngFor="let sim of orderInfo?.cards; let i = index">
                                        <div class="details-side">
                                            <img class="thumbnail" src="assets/icon/sim-image.svg" alt="SIM card">
                                            <div class="details">
                                                <p class="item-title smaller"><b>SIM Card</b></p>
                                                <p class="category smaller"><b>(New)</b></p>
                                                <p class="id smallest" *ngIf="sim?.itemId">Item # {{ sim?.itemId }}</p>
                                                <p class="quantity">Quantity: 1</p>
                                                <p class="action smaller" (click)="scrollToDeliveryDetails()"
                                                    *ngIf="screenWidth < 1025">Delivery Details</p>
                                            </div>
                                        </div>
                                        <div class="price-side">
                                            <p class="price smaller"><b>${{sim?.price}}</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="orderInfo?.intent === ORDER_INTENT.MIGRATION">
                            <input type="checkbox" id="lines" [(ngModel)]="line">
                            <label class="sub-label new" for="lines">
                                <span>Line {{orderInfo?.mdn | phone }}</span><img class="icon" data-cy="arrowIcon"
                                    src="assets/icon/arrow_circle.svg" alt="arrow icon">
                            </label>
                            <div class="sub-content">
                                <div class="item-details" *ngFor="let sim of orderInfo?.cards; let i = index">
                                    <div class="details-side">
                                        <input class="styled-checkbox" [id]="sim?.itemId" type="checkbox"
                                            [value]="sim?.itemId" [(ngModel)]="selectedSIM"
                                            (ngModelChange)="showValidationError=false">
                                        <label [for]="sim?.itemId" class="checkbox-label">
                                        </label>
                                        <img class="thumbnail" src="assets/icon/sim-image.svg" alt="SIM card">
                                        <div class="details">
                                            <p class="item-title smaller"><b>SIM Card</b></p>
                                            <p class="category smaller"><b>(Migration)</b></p>
                                            <p class="id smallest" *ngIf="sim?.itemId">Item # {{ sim?.itemId }}</p>
                                            <p class="quantity">Quantity: 1</p>
                                        </div>
                                    </div>
                                    <div class="price-side">
                                        <p class="price smaller"><b>${{sim?.price}}</b></p>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="orderInfo?.intent === ORDER_INTENT.ADDON">
                            <input type="checkbox" id="addon" [(ngModel)]="line">
                            <label class="sub-label new" for="addon">
                                <span>Line {{orderInfo?.mdn | phone }}</span><img class="icon" data-cy="arrowIcon"
                                    src="assets/icon/arrow_circle.svg" alt="arrow icon">
                            </label>
                            <div class="sub-content" *ngFor="let addon of orderInfo?.planAddOns; let i = index">
                                <div class="item-details">
                                    <div class="details-side">
                                        <input class="styled-checkbox" [id]="addon?.itemId" type="checkbox"
                                            [value]="addon?.itemId" [(ngModel)]="selectedAddon"
                                            (ngModelChange)="showValidationError=false">
                                        <label [for]="addon?.itemId" class="checkbox-label">
                                        </label>
                                        <img class="thumbnail"
                                            [src]="addon.addOnType === 'add-on-data' ? 'assets/icon/1G.svg' : 'assets/icon/International.svg'"
                                            alt="thumbnail">
                                        <div class="details">
                                            <p class="item-title smaller"><b>{{addon?.subtitle}}</b></p>
                                            <p class="category smaller"><b>(Addon)</b></p>
                                            <p class="id smallest" *ngIf="addon?.itemId">Item # {{ addon?.itemId }}</p>
                                            <p class="quantity">Quantity: {{ addon?.quantity }}</p>
                                        </div>
                                    </div>
                                    <div class="price-side">
                                        <p class="price smaller"><b>{{addon?.price | currency:'USD':'symbol':0}}</b></p>
                                    </div>
                                </div>
                                <hr *ngIf="i < (orderInfo?.planAddOns.length - 1)">
                            </div>
                        </ng-container>
                        <ng-container *ngIf="orderInfo?.intent === ORDER_INTENT.REFILL">
                            <input type="checkbox" id="lines" [(ngModel)]="line">
                            <label class="sub-label new" for="lines">
                                <span translate>Line {{plan?.mdn | phone }}</span><img class="icon" data-cy="arrowIcon"
                                    src="assets/icon/arrow_circle.svg" alt="arrow icon">
                            </label>
                            <div class="sub-content">
                                <div class="item-details" *ngFor="let plan of orderInfo?.plans; let i = index">
                                    <div class="details-side">
                                        <input class="styled-checkbox" [id]="plan?.itemId" type="checkbox"
                                            [value]="plan?.itemId" [(ngModel)]="selectedItem"
                                            (ngModelChange)="showValidationError=false">
                                        <label [for]="plan?.itemId" class="checkbox-label">
                                        </label>
                                        <img class="thumbnail" src="assets/icon/plan_thumbnail.svg" alt="thumbnail">
                                        <div class="details">
                                            <p class="item-title smaller"><b>{{plan?.subtitle}}</b></p>
                                            <p class="smaller">Unlimited Talk, and Text</p>
                                            <p class="category smaller"><b>(Refill Plan)</b></p>
                                            <p class="quantity">Quantity: {{ plan?.quantity }}</p>
                                        </div>
                                    </div>
                                    <div class="price-side">
                                        <p class="price smaller"><b>{{plan?.price | currency:'USD':'symbol':0}}</b></p>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="orderInfo?.intent === ORDER_INTENT.CHANGE">
                            <input type="checkbox" id="lines" [(ngModel)]="line">
                            <label class="sub-label new" for="lines">
                                <span>Line {{orderInfo?.mdn | phone }}</span><img class="icon" data-cy="arrowIcon"
                                    src="assets/icon/arrow_circle.svg" alt="arrow icon">
                            </label>
                            <div class="sub-content">
                                <div class="item-details" *ngFor="let plan of orderInfo?.plans; let i = index">
                                    <div class="details-side">
                                        <input class="styled-checkbox" [id]="plan?.itemId" type="checkbox"
                                            [value]="plan?.itemId" [(ngModel)]="selectedItem"
                                            (ngModelChange)="showValidationError=false">
                                        <label [for]="plan?.itemId" class="checkbox-label">
                                        </label>
                                        <img class="thumbnail" src="assets/icon/plan_thumbnail.svg" alt="plan">
                                        <div class="details">
                                            <p class="item-title smaller"><b>{{plan?.subtitle}}</b></p>
                                            <p class="smaller">Unlimited Talk, and Text</p>
                                            <p class="category smaller"><b>(Change Plan)</b></p>
                                            <p class="quantity">Quantity: {{ plan?.quantity}}</p>
                                        </div>
                                    </div>
                                    <div class="price-side">
                                        <p class="price smaller"><b>{{plan?.price | currency:'USD':'symbol':0}}</b></p>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="orderInfo?.intent === ORDER_INTENT.REPLACEMENT">
                            <input type="checkbox" id="lines" [(ngModel)]="line">
                            <label class="sub-label new" for="lines">
                                <span translate>Line {{orderInfo?.mdn | phone }}</span><img class="icon"
                                    data-cy="arrowIcon" src="assets/icon/arrow_circle.svg" alt="arrow icon">
                            </label>
                            <div class="sub-content">
                                <div class="item-details" *ngFor="let sim of orderInfo?.cards; let i = index">
                                    <div class="details-side">
                                        <input class="styled-checkbox" [id]="sim?.itemId" type="checkbox"
                                            [value]="sim?.itemId" [(ngModel)]="selectedSIM"
                                            (ngModelChange)="showValidationError=false">
                                        <label [for]="sim?.itemId" class="checkbox-label">
                                        </label>
                                        <img class="thumbnail" src="assets/icon/sim-image.svg" alt="SIM card">
                                        <div class="details">
                                            <p class="item-title smaller"><b>SIM Card</b></p>
                                            <p class="category smaller"><b>(Replacement)</b></p>
                                            <p class="id smallest" *ngIf="sim?.itemId">Item #{{ sim?.itemId}}</p>
                                            <p class="quantity">Quantity: 1</p>
                                            <hr *ngIf="!!orderInfo?.planAddOns">
                                        </div>
                                    </div>
                                    <div class="price-side">
                                        <p class="price smaller"><b>{{sim?.price | currency:'USD':'symbol':0}}</b></p>
                                    </div>
                                </div>
                                <div *ngIf="!!orderInfo?.planAddOns">
                                    <div class="item-details"
                                        *ngFor="let addon of orderInfo?.planAddOns; let i = index">
                                        <div class="details-side">
                                            <input class="styled-checkbox" [id]="addon?.itemId" type="checkbox"
                                                [value]="addon?.itemId" [(ngModel)]="selectedAddon"
                                                (ngModelChange)="showValidationError=false">
                                            <label [for]="addon?.itemId" class="checkbox-label">
                                            </label>
                                            <img class="thumbnail"
                                                [src]="addon.addOnType === 'add-on-data' ? 'assets/icon/1G.svg' : 'assets/icon/International.svg'"
                                                alt="thumbnail">
                                            <div class="details">
                                                <p class="item-title smaller"><b>{{addon?.subtitle}}</b></p>
                                                <p class="category smaller"><b>(Addon)</b></p>
                                                <p class="id smallest" *ngIf="addon?.itemId">Item # {{ addon?.itemId }}
                                                </p>
                                                <p class="quantity">Quantity: {{ addon?.quantity }}</p>
                                                <hr *ngIf="i < (orderInfo?.planAddOns.length - 1)">
                                            </div>
                                        </div>
                                        <div class="price-side">
                                            <p class="price smaller"><b>{{addon?.price | currency:'USD':'symbol':0}}</b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="orderInfo?.intent === ORDER_INTENT.NEW_SIM">
                            <input type="checkbox" id="lines" [(ngModel)]="line">
                            <h6 class="sub-label new" for="lines">
                                <span>Line #1</span><img class="icon" data-cy="arrowIcon"
                                    src="assets/icon/arrow_circle.svg" alt="arrow icon">
                            </h6>
                            <div class="sub-content">
                                <div class="item-details" *ngFor="let sim of orderInfo?.cards; let i = index">
                                    <div class="details-side">
                                        <input class="styled-checkbox" [id]="sim?.itemId" type="checkbox"
                                            [value]="sim?.itemId" [(ngModel)]="selectedSIM"
                                            (ngModelChange)="showValidationError=false">
                                        <label [for]="sim?.itemId" class="checkbox-label">
                                        </label>
                                        <img class="thumbnail" src="assets/icon/sim-image.svg" alt="SIM card">
                                        <div class="details">
                                            <p class="item-title smaller"><b>SIM Card</b></p>
                                            <p class="category smaller"><b>(New)</b></p>
                                            <p class="id smallest" *ngIf="sim?.itemId">Item # {{sim?.itemId}}</p>
                                            <p class="quantity">Quantity: 1</p>
                                        </div>
                                    </div>
                                    <div class="price-side">
                                        <p class="price smaller"><b>{{sim?.price | currency:'USD':'symbol':0}}</b></p>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="navigation-section page-section" *ngIf="!showContactForm">
    <div class="page-section navs">
        <p class="no-border" (click)="goToReportIssue()">Cancel</p>
        <button class="button primary" aria-label="next" data-cy="nextBtn" (click)="setItems()">Next</button>
    </div>
</section>
<app-contact-form (backToMain)="goToReportIssue()" (backOneStep)="showContactForm=false" [orderInfo]="orderInfo"
    [hasBack]=true *ngIf="!!showContactForm">
</app-contact-form>