<section class="container-flex ios-gsm-container device-setup">
      <h1 class="title">iPHONE SMARTPHONE LTE INSTRUCTIONS:</h1>
      <p class="subtitle">Make sure you are connected to a WiFi network and go to the following link on your iPhone:</p>
      <p class="content"><b>Phones which are 5G capable require special data settings to be able to use the 5G network. You must also turn on 5G through your account summary page.</b></p>
      <div class="submission-item">
        <b>Select your phone Type</b>
        <div class="item-content">
          <button class="button primary" (click)="fourthGen()" id="fourthGen-button">4G phone</button>
          <button class="button secondary" (click)="fifthGen()" id="fifthGen-button">5G phone</button>
        </div>
      </div>
  </section>