<section class="container-flex internal-page-margins choose-sim">
    <div class="container-flex-row flex-center margin-bottom-20">
        <div class="text-center">
            <h1 class="header" id="choose-sim-header">Where did you purchase your GoodMobile SIM card?</h1>
        </div>
    </div>
    <div class="actions-container">
        <button class="button primary" id="goodmobile-button" (click)="goToSimPath()">The GoodMobile website</button>
        <button class="button secondary" id="somewhere-button" (click)="goToActivatePlan()">Somewhere else</button>
    </div>
</section>