<section class="page-section check-sim">
    <app-activation-header></app-activation-header>
    <div class="page-content" *ngIf="(!!activePlans && activePlans?.length > 0) || (!!pendingPlans && pendingPlans?.length > 0)">
        <h1 class="header-color">Awesome! <br> What would you like to do next?</h1>
        <div class="options">
            <label class="radio-label" for="purchased" *ngIf="!!pendingPlans && pendingPlans?.length > 0">
                <input type="radio" value="purchased" [(ngModel)]="option" id="purchased" #optionRef="ngModel">Activate a purchased plan.
            </label>
            <label class="radio-label" for="new" >
                <input type="radio" value="new" [(ngModel)]="option"  id="new" #optionRef="ngModel">Buy a new line plan.
            </label>
            <label class="radio-label" for="replace" *ngIf="!!activePlans && activePlans?.length > 0">
                <input type="radio" value="replace" [(ngModel)]="option"  id="replace" #optionRef="ngModel">Replace my mobile’s SIM.
            </label>
            <label class="validation-message" *ngIf="optionRef?.touched && !option">Please select one of the options</label>
        </div>
       <div class="action">
        <button class="button secondary" aria-label="back" (click)="goToVerifyActivation()"><img class="icon" src="assets/icon/left-circle-arrow-primary.svg"/> Back </button>
        <button class="button primary" (click)="selectOption()">Next <img class="icon" src="assets/icon/right-circle-arrow.svg"/></button>
       </div>
    </div>
    <div class="page-content" *ngIf="(!activePlans || (!!activePlans && activePlans?.length == 0)) && (!pendingPlans || (!!pendingPlans && pendingPlans?.length == 0))">
        <h1 class="header-color">Please pick a plan from our plans catalog to activate your SIM with.</h1>
        <div class="sub-action">
            <button class="button thirdly" aria-label="view orders" (click)="goToOrders()">View Orders</button>
        </div>
       <div class="action">
        <button class="button secondary" (click)="goToVerifyActivation()" aria-label="back" ><img class="icon" src="assets/icon/left-circle-arrow-primary.svg"/> Back </button>
        <button class="button primary" (click)="purchasePlan()">Shop Plans</button>
       </div>
    </div>
</section>