<section class="container-flex internal-page-margins no-sim">
    <div class="container-flex-row flex-center margin-bottom-20">
        <div class="text-center">
            <h1 class="header" id="no-sim-header">Ok, no problem,</h1>
            <h2 class="subheader">if you already purchased a plan from GoodMobile,
                you will receive a free SIM card by mail.</h2>
            <h3 class="subhead">Did you purchase a GoodMobile plan?</h3>
        </div>
    </div>
    <div class="actions-container">
        <button class="button primary" id="shop-button" (click)="goToShopPath()">No, go to shop</button>
        <button class="button secondary" id="arrival-button" (click)="goToSimArrival()">Yes, SIM hasn’t arrived
            yet</button>
    </div>
</section>