<section class="page-section no-sim">
    <app-activation-header></app-activation-header>
    <div class="page-content">
        <h1 class="header-color">No worries. If you purchased a plan/SIM from our website, please check your order delivery details.</h1>
        <div class="sub-action">
            <button class="button thirdly" aria-label="view orders" (click)="goToOrders()">View Orders</button>
        </div>
       <div class="action">
        <button class="button secondary" aria-label="back" (click)="goToSimCheck()"><img class="icon" src="assets/icon/left-circle-arrow-primary.svg"/> Back </button>
        <button class="button primary" aria-label="shop plans" (click)="goToShopPath()">Shop Plans</button>
       </div>
    </div>
</section>