@import '../../../styles/modules/mixins';
@import '../../../styles/modules/variables';

.reset-password-section{
    margin-top: 50px;
.reset-password-form {
    padding-top: 40px;
    padding-bottom: 100px;
    .password, .validation-message {
      text-align: left;
    }
    input {
      margin-bottom: 24px;
    }
    .action {
      text-align: left;
      padding-top: 10px;
      .button {
        width: 187px;
        padding: 11px;
        font-size: rem-calc(20px);
      }
    }
}
.resetSuccess {
    @media (#{$larger-than-phablet}) {
      min-height: 300px;
    }
}
}