<section class="container-flex account-section reset-password-section">
    <div class="container-flex-row flex-center margin-bottom-20" *ngIf="!passwordResetSuccess">
      <div class="col-sm-7 col-10 text-center">
        <h1>Reset your password</h1>
        <div class="subhead">
          <p>Enter your new password</p>
        </div>
        <form class="reset-password-form" [formGroup]="resetPasswordForm">
          <div class="container-flex-row flex-center">
            <div class="col-lg-7 col-md-12 col-12">
                <label for="password" class="password">Enter new password</label>
                <input id="password" data-cy="password" type="password" formControlName="password" required autocomplete="new-password"/>
            </div>
            <div class="col-lg-7 col-md-12 col-12">
                <label for="confirmPassword" class="password">Confirm new password</label>
                <input id="confirmPassword"  data-cy="confirmPassword" type="password" formControlName="confirmPassword" required autocomplete="new-password"/>
            </div>
            <div class="col-lg-7 col-md-12 col-12">
                <label class="validation-message" *ngIf="resetPasswordForm.controls.password.touched && resetPasswordForm.controls.password.invalid">
                    Password must be between 6 and 12 characters with at least one capital letter, one small letter, and one digit. </label>
                <label class="validation-message padding-top-10" *ngIf="resetPasswordForm.controls.confirmPassword.touched && resetPasswordForm.hasError('mismatchedPasswords')">
                    Passwords do not match </label>
            </div>
            <div class="col-lg-7 col-md-12 col-12 action">
                <button class="button primary" (click)="resetPassword()" [disabled]="resetPasswordForm.invalid" [uiBlockButton]="processingRequest">Reset Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="container-flex-row flex-center margin-bottom-50 resetSuccess" *ngIf="passwordResetSuccess">
        <div class="col-md-7 col-10 text-center">
            <h1>Password Reseted Successfully!</h1>
            <div class="subhead">
                <p>Your new password was updated successfully.</p>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 col-12 text-center">
            <button class="button primary" (click)="goToLogin()" >Login</button>
        </div>
    </div>
</section>
  