@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";

.replace-result {
    .header {
        font-size: rem-calc(38px);
        line-height: 50px;
        margin-bottom: 15px;
    }
    .details {
        font-size: rem-calc(20px);
        line-height: 33px;
        max-width: 648px;
        margin-bottom: 5px;
    }
    .actions-container {
        text-align: center;
        margin-top: 40px;
        .button {
            width: 213px;
            padding: 11px;
            font-size: rem-calc(20px);
        }
    }
    @media (max-width: $desktop-min-width-minus) {
        .flex-center {
            margin-top: 30px;
        }
        .header {
            font-size: rem-calc(28px);
            line-height: 37px;
        }
        .details {
            font-size: rem-calc(18px);
            line-height: 25px;
        }
        .actions-container {
            margin-bottom: 130px;
            .button {
                width: 168px;
                font-size: rem-calc(15px);
            }
        }
    }
    @media (max-width: $phablet-min-width-minus) {
        .flex-center {
            margin-top: 15px;
        }
        .header {
            font-size: rem-calc(26px);
            line-height: 30px;
            margin-bottom: 30px;
        }
        .details {
            font-size: rem-calc(17px);
            display: inline;
        }
        .actions-container {
            .button {
                width: 195px;
                font-size: rem-calc(20px);
                display: block;
                margin: 15px auto;
            }
        }
    }
}