@import "../../styles/modules/_variables.scss";
@import "../../styles/modules/_mixins.scss";

::ng-deep {
    .customer-feedback-container {
        display: flex;
        width: 100%;
        padding: 0 20px;
        .common {
            display: flex;
            padding-top: 60px;
            .testimonials {
                position: relative;
                .responsive-image {
                    display: none;
                }
                .details {
                    position: absolute;
                    left: 50px;
                    top: 30px;
                    width: 289px;
                    @media(max-width: $mobile-min-width-minus){
                        width: 100%;
                    }
                    .header {
                        font-size: rem-calc(22px);
                        line-height: 30px;
                        font-family: $base-font-family-bold;
                        color: white;
                    }
                    .description {
                        font-size: rem-calc(18px);
                        line-height: 30px;
                        max-width: 289px;
                        color: white;
                    }
                }
                &.testimonials-msp {
                    .header {
                        color: $black;
                    }
                    .description {
                        color: $black;
                    }
                }
            }
            @media (min-width: 1500px) {
                justify-content: center;
            }
        }
        @media (max-width: 1024.9px) {
            flex-direction: column;
            align-items: center;
            padding-top: 0px;
            position: relative;
            .common {
                display: block;
                padding: 40px;
                margin: auto;
                position: relative;
                .testimonials {
                    padding-right: 135px;
                    .details {
                        left: 0;
                        top: 20px;
                        text-align: center;
                    }
                }
            }
        }
        @media (max-width: 750px) {
            .common {
                padding-top: 10px;
                .testimonials {
                    .desktop-image {
                        display: none;
                    }
                    .responsive-image {
                        display: inline;
                    }
                    .details {
                        .header {
                            color: $black;
                        }
                        .description {
                            color: $black;
                        }
                    }
                }
            }
        }
        @media (max-width: 414px) {
            .common {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    .feedback-cards-container {
        padding-left: 3%;
        overflow: hidden !important;
        margin-top: 0 !important;
        .swiper-wrapper {
            .swiper-slide {
                display: flex;
                @media (max-width: 1024.9px) {
                    display: block;
                }
            }
        }
        .feedback-card {
            max-width: 428px;
            min-height: 295px;
            margin: 0 15px;
            background-color: white;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            padding: 33px 30px 20px;
            color: $black;
            .name {
                font-size: rem-calc(22px);
                line-height: 30px;
                color: $primary-color;
                font-family: $base-font-family-bold;
                margin-bottom: 20px;
            }
            .content {
                font-size: rem-calc(18px);
                line-height: 35px;
            }
            @media (max-width: 1216.9px) {
                // height: 361.4px;
                height: 325px;
            }
        }
        .navigator-section {
            margin: auto;
            color: white;
            .arrow-holder {
                cursor: pointer;
            }
        }
        @media (min-width: 1025px) {
            &.desktop {
                display: flex;
                height: 400px;
            }
            &.responsive {
                display: none;
            }
        }
        @media (max-width: 1024.9px) {
            &.responsive {
                display: flex;
                align-items: center;
                max-height: 460px;
                position: absolute;
                top: 185px;
            }
            &.desktop {
                display: none;
            }
            padding-left: 0;
            flex-direction: column;
            .feedback-card {
                min-height: 270px;
                width: 375px;
                height: 270px;
                padding: 25px;
                margin: 0;
                .name {
                    font-size: rem-calc(24px);
                    line-height: 30px;
                }
            }
            .navigator-section {
                margin-top: 20px;
                transform: rotate(90deg);
                .arrow-holder {
                    font-size: rem-calc(18px);
                    font-weight: bold;
                }
            }
         .social-media-slider-override {
            .slick-dots-msp{
                   left:127px;
            }
         }
        }
        @media (max-width: 750px) {
            &.responsive {
                top: 900px;
                display: none;
            }
            .feedback-card {
                max-width: 318px;
                height: 300px;
                padding: 25px;
                margin: 0;
                .name {
                    font-size: rem-calc(24px);
                    line-height: 30px;
                }
            }
            .navigator-section {
                margin: 0px;
                padding: 20px 0;
            }
        }
        @media (max-width: 414px) {
            &.responsive {
                top: 760px;
            }
            .feedback-card {
                max-width: 300px;
            }
        }
    }
    .feedback-content {
        &.msp-background {
            background-color: #f0f0f0;
        }
        display: none;
        @media (max-width: 750px) {
            display: block;
            position: absolute;
            top: 160px;
        }
        background-color: #7dd0de;
        width: 100%;
        height: 390px;
        .swiper-container {
            overflow: hidden !important;
            margin-top: 40px;
        }
        .swiper-slide {
            display: flex;
            justify-content: center;
            height: 380px;
        }
        .social-media-slider-override {
            height: 370px;
            .slick-dots {
                top: calc(100% - 65px);
                left: 0;
                text-align: center;
                @media (max-width: 1024.9px) {
                    top: calc(100% - 197px);
                    left: 75px;
                }
                @media (max-width: 749.9px) {
                    top: calc(100% - 127px);
                    margin: 0;
                    left: 0;
                }
            }
        }
        .feedback-card {
            width: 330px;
            height: 273px;
            padding: 25px;
            margin: 0;
            background-color: white;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            color: $black;
            text-align: center;
            .name {
                font-size: rem-calc(24px);
                line-height: 30px;
                color: $primary-color;
                font-family: $base-font-family-bold;
                margin-bottom: 20px;
            }
            .content {
                font-size: rem-calc(18px);
                line-height: 35px;
            }
        }
        .feedback-card-next {
            display: none;
        }
        @media (max-width: 414px) {
            height: 365px;
            .swiper-slide {
                justify-content: center;
            }
            .feedback-card {
                width: 274px;
                height: 240px;
                padding: 25px 15px 20px;
                .name {
                    font-size: rem-calc(20px);
                }
                .content {
                    font-size: rem-calc(14px);
                    line-height: 23px;
                }
            }
            .social-media-slider-override {
                height: 336px;
            }
            .feedback-card-next {
                display: block;
                width: 168px !important;
                background-color: #d8eaf4;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                padding: 25px 0px 20px 10px;
                margin: 20px 0 20px 20px;
                height: 243px;
                position: absolute;
                right: -62px;
                text-align: center;
                .name {
                    font-size: rem-calc(18px);
                    line-height: 25px;
                    color: $primary-color;
                    font-family: $base-font-family-bold;
                    margin-bottom: 15px;
                }
                .content {
                    font-size: rem-calc(14px);
                    line-height: 23px;
                    max-height: 140px;
                }
            }
        }
    }
}
