@import "../../../../styles/modules/variables";
@import "../../../../styles/modules/_mixins.scss";

::ng-deep {
  .mdn-search-section {
    @media (min-width: $phablet-min-width) {
      display: flex;
      align-items: center;
    }
    @media (max-width: $phablet-min-width-minus) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  .enter-mdn {
    @media (min-width: $phablet-min-width-minus) {
      padding-right: 20px;
    }
    @media (min-width: $phablet-min-width) and (max-width: $desktop-min-width-minus) {
      padding-left: 10px;
    }
    label {
      @media (max-width: $phablet-min-width-minus) {
        font-size: rem-calc(14px);
      }
    }
    input {
      height: 45px;
      @media (#{$larger-than-desktop}) {
        width: 565px;
      }
      @media (min-width: $phablet-min-width) {
        width: 400px;
      }
    }
  }
  .search-mdn {
    @media (min-width: $phablet-min-width) {
      margin: auto 0;
    }
    button {
      font-size: rem-calc(20px);
      margin-top: 13px;
      @media (max-width: $phablet-min-width-minus) {
        width: 135px;
      }
    }
  }
  .tool-tip-text {
    visibility: hidden;
    font-size: rem-calc(10px);
    width: 120px;
    background-color: #876dab;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    right: 68px;
    margin-top: -7px;
    @media (max-width: $desktop-min-width-minus) {
      right: 62px;
      margin-top: -3px;
    }
    @media (max-width: $phablet-min-width-minus) {
      width: 100px;
      right: 16px;
    }
  }
  .copy-icon-link:hover .tool-tip-text {
    visibility: visible;
  }
  .copied {
    font-size: rem-calc(10px);
    width: 120px;
    background-color: #f58f2b;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    right: 68px;
    margin-top: -7px;
    @media (max-width: $desktop-min-width-minus) {
      right: 62px;
      margin-top: -3px;
    }
    @media (max-width: $phablet-min-width-minus) {
      width: 100px;
      right: 16px;
    }
  }
  .copy-icon {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    right: 61px;
    width: 24px;
      height: 54px;
    @media (max-width: $desktop-min-width-minus) {
      right: 51px;
    }
    @media(max-width:$phablet-min-width-minus){
      height:51px;
    }
  }
}
