@import "../../../../../styles/modules/_variables.scss";
@import "../../../../../styles/modules/_mixins.scss";

::ng-deep {
    .plans-section {
        padding: 10px;
        margin-bottom: 35px;
        @media (max-width: 833.9px) {
            margin-top: 20px;
        }
        @media (max-width: 639.9px) {
            margin-top: 0;
            padding: 0;
        }
        &.no-bottom {
            margin-bottom: 0px;
        }
        .plan-row {
            border: 1px solid $input-border;
            border-radius: 6px;
            margin-bottom: 10px;
            &.special {
                border: 1px solid $primary-color;
                .plan-title {
                    border-radius: 6px;
                }
            }
            .plan-title {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 135px;
                &.special-promo {
                    background-color: $primary-color;
                    height: 166px;
                    @media (max-width: $desktop-min-width-minus) {
                        height: 124px;
                    }
                    @media (max-width: $phablet-min-width-minus) {
                        height: 121.4px;
                    }
                    .special-promo-title {
                        font-size: rem-calc(23px);
                        color: $secondary-color;
                        letter-spacing: 1.25px;
                        text-transform: uppercase;
                        text-align: center;
                        position: relative;
                        margin-bottom: 19px;
                        font-weight: normal;
                        font-family: $base-font-family;
                        top: 0;
                        @media (max-width: $desktop-min-width-minus) {
                            font-size: rem-calc(16px);
                            margin-bottom: 15px;
                        }
                        @media (max-width: $ipad-min-width-minus) {
                            margin-bottom: 6px;
                        }
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: rem-calc(12px);
                        }
                        @media (max-width: 359.9px) {
                            margin-bottom: 18px;
                        }
                    }
                    .data-value {
                        color: white;
                    }
                    .price-value {
                        color: white;
                    }
                    .price {
                        .view-details {
                            color: white;
                        }
                        .arrow {
                            border-color: white;
                        }
                    }
                    button {
                        background-color: $secondary-color;
                    }
                    .action {
                        .responsive {
                            .arrow {
                                border-color: $secondary-color;
                            }
                        }
                    }
                }
                &.ebb {
                    position: relative;
                    &::before {
                        width: 0;
                        height: 0;
                        border-top: 18px solid transparent;
                        border-right: 17px solid transparent;
                        border-left: 17px solid #e66f03;
                        border-bottom: 17px solid #e66f03;
                        content: " ";
                        position: absolute;
                        top: -36px;
                        left: 335px;
                    }
                    .ebb-banner {
                        background-color: $secondary-color;
                        font-family: $base-font-family-bold;
                        padding: 15px;
                        color: white;
                        position: absolute;
                        top: -36px;
                        font-size: rem-calc(20px);
                        margin-bottom: 0;
                        left: 10px;
                        height: 49px;
                    }
                    @media (max-width: $phablet-min-width-minus) {
                        &::before {
                            left: 257px;
                        }
                        .ebb-banner {
                            font-size: rem-calc(16px);
                            padding: 15px 5px;
                        }
                    }
                }
                .data {
                    cursor: pointer;
                    flex-basis: 28%;
                    text-align: center;
                    .data-value {
                        font-size: rem-calc(65px);
                        line-height: 66px;
                        font-family: $base-font-family-bold;
                        font-weight: bold;
                        margin-bottom: 0;
                        .gb {
                            font-size: rem-calc(46px);
                            line-height: 66px;
                            font-family: $base-font-family-bold;
                        }
                        &.no-data {
                            font-size: rem-calc(30px);
                            line-height: 34px;
                            max-width: 150px;
                            margin: 0 auto;
                        }
                    }
                    .data-amounts{
                        &.data-amounts-flex {
                            display: flex;
                            align-items: center;
                            margin-left: 33px;
                            @media (max-width: $ipad-min-width-minus) {
                                margin-left: 26px;
                            } 
                            @media (max-width: $phablet-min-width-minus){
                                margin-left: 4px;
                            }

                            .data-value{
                                font-weight: normal;
                                font-family: $base-font-family;
                                @media (max-width: 359.9px) {
                                    font-size: rem-calc(26px);
                                    line-height: 30px;
                                }
                            }
                            .gb {
                                font-weight: normal;
                                font-family: $base-font-family;
                                @media (max-width: 359.9px) {
                                    font-size: rem-calc(20px);
                                    line-height: 30px;
                                }
                            }
                            .slash {
                                margin-right: 4px;
                                .val{
                                    font-size: rem-calc(50px);
                                    line-height: 62px;
                                    @media(max-width: $desktop-min-width-minus) {
                                        font-size: rem-calc(30px);
                                        line-height: 34px;
                                    }
                                    @media (max-width: $ipad-min-width-minus) {
                                        font-size: rem-calc(24px);
                                        line-height: 27px;
                                    }
                                    @media (max-width: 359.9px) {
                                        font-size: rem-calc(20px);
                                    }
                                }
                                .gb{
                                    font-size: rem-calc(30px);
                                    @media(max-width: $desktop-min-width-minus) {
                                        font-size: rem-calc(24px);
                                        line-height: 27px;
                                    }
                                    @media (max-width: 359.9px) {
                                        font-size: rem-calc(14px);
                                    }
                                }
                            }
                            .cross-off-line {
                                width: 70px;
                                height: 39px;
                                border-bottom: solid 3px #F58520;
                                transform: skewY(-28deg);
                                position: absolute;          
                                @media(max-width: $desktop-min-width-minus) {
                                    width: 48px;
                                    height: 30px;
                                }             
                                @media (max-width: $ipad-min-width-minus) {
                                    width: 44px;
                                    height: 16px;
                                }     
                                @media (max-width: 359.9px) {
                                    width: 30px;
                                    height: 20px;
                                }
                            }

                        }
                    }
                    .description {
                        font-size: rem-calc(25px);
                        line-height: 33px;
                        font-weight: bold;
                        font-family: $base-font-family-bold;
                        margin-bottom: 0;
                    }
                }
                .price {
                    cursor: pointer;
                    flex-basis: 44%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .price-value {
                        font-size: rem-calc(57px);
                        line-height: 48px;
                        font-family: $base-font-family-bold;
                        margin-bottom: 0;
                    }
                    .month {
                        font-size: rem-calc(44px);
                        line-height: 48px;
                        font-family: $base-font-family-bold;
                        margin-bottom: 0;
                    }
                    .view-details {
                        font-size: rem-calc(18px);
                        line-height: 23px;
                        font-family: $base-font-family;
                        color: $primary-color;
                        margin-top: 10px;
                        margin-bottom: 0;
                        cursor: pointer;
                    }
                    .arrow {
                        border: solid $primary-color;
                        border-width: 0 1px 1px 0;
                        padding: 3px;
                        margin-left: 2px;
                    }
                }
                .action {
                    flex-basis: 33.333333%;
                    .button {
                        width: 213px;
                        padding: 11px;
                        font-size: rem-calc(17px);
                    }
                    @media (min-width: 834px) {
                        .responsive {
                            display: none;
                        }
                    }
                }
            }
            .flex-content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
            .plan-details {
                padding: 10px 65px;
                &.special-promo {
                    @media (max-width: $ipad-min-width-minus) {
                        margin-top: 20px;
                    }
                    .price-details {
                        border-top: none;
                    }
                    .promo-title {
                        font-size: rem-calc(18px);
                        line-height: 27px;
                        font-weight: bold;
                        padding-top: 15px;
                    }
                }
                .price-details {
                    border-top: 1px solid $input-border;
                    font-family: $base-font-family-bold;
                    font-weight: bold;
                    font-size: rem-calc(20px);
                    line-height: 28px;
                    padding-top: 15px;
                    margin-bottom: 10px;
                    .value {
                        font-size: rem-calc(27px);
                    }
                }
                .price-note {
                    font-size: rem-calc(16px);
                    font-family: $base-font-family-bold;
                    font-weight: bold;
                    line-height: 12px;
                    margin-bottom: 27px;
                }
                .autoPay {
                    cursor: pointer;
                }
                .details-list {
                    list-style: none;
                    font-weight: normal;
                    margin: 0;
                    padding: 0;
                    -webkit-padding-start: 0px;
                    -webkit-margin-before: 0;
                    -webkit-margin-after: 0;
                    -webkit-margin-start: 0;
                    -webkit-margin-end: 0;
                    li {
                        padding: 0px;
                        margin: 0;
                        list-style-position: outside;
                        display: flex;
                        font-size: rem-calc(15px);
                        line-height: 17px;
                        .tick {
                            //  content: '✓';
                            color: $primary-color;
                            margin-right: 5px;
                            display: inline;
                        }
                        .help {
                            background-color: $primary-color;
                            color: white;
                            border-radius: 100px;
                            padding: 2px 6px;
                            font-size: rem-calc(15px);
                            margin-left: 5px;
                            cursor: pointer;
                        }
                        .mobile {
                            color: $primary-color;
                            cursor: pointer;
                        }
                    }
                    @media (#{$larger-than-phablet}) {
                        li {
                            .mobile {
                                display: none;
                            }
                        }
                    }
                }
                .details-action {
                    .button {
                        margin: 20px 0;
                        width: 216px;
                        font-size: rem-calc(20px);
                        padding: 9px;
                    }
                }
            }
            @media (max-width: $desktop-min-width-minus) and (min-width: 834px) {
                .plan-title {
                    height: 94.6px;
                    .data {
                        .data-value {
                            font-size: rem-calc(48px);
                            line-height: 49px;
                            .gb {
                                font-size: rem-calc(34px);
                                line-height: 49px;
                            }
                            &.no-data {
                                font-size: rem-calc(16px);
                                line-height: 21px;
                                max-width: 100px;
                            }
                        }
                        .description {
                            font-size: rem-calc(16px);
                            line-height: 21px;
                        }
                    }
                    .price {
                        .price-value {
                            font-size: rem-calc(40px);
                            line-height: 38px;
                        }
                        .month {
                            font-size: rem-calc(32px);
                            line-height: 31px;
                        }
                        .view-details {
                            font-size: rem-calc(13px);
                            line-height: 15px;
                            padding-left: 5px;
                        }
                        .arrow {
                            padding: 2px;
                        }
                    }
                    .action {
                        .button {
                            width: 200px;
                            padding: 10px;
                            font-size: rem-calc(15px);
                        }
                    }
                }
                .plan-details {
                    padding: 10px 45px;
                    .price-details {
                        border-top: none;
                        font-size: rem-calc(19px);
                        line-height: 24px;
                        padding-top: 10px;
                        .value {
                            font-size: rem-calc(23px);
                        }
                    }
                    .details-action {
                        .button {
                            width: 200px;
                            font-size: rem-calc(15px);
                            padding: 10px;
                        }
                    }
                }
            }
            @media (max-width: $ipad-min-width-minus) {
                .plan-title {
                    height: 108.4px;
                    .data {
                        .data-value {
                            font-size: rem-calc(30px);
                            line-height: 34px;
                            .gb {
                                font-size: rem-calc(24px);
                            }
                            &.no-data {
                                font-size: rem-calc(15px);
                                line-height: 17px;
                                max-width: 80px;
                                padding-top: 5px;
                            }
                        }
                        .description {
                            font-size: rem-calc(15px);
                            display: block;
                            line-height: 25px;
                            &.no-data {
                                width: 75px;
                            }
                        }
                    }
                    .price {
                        .price-value {
                            font-size: rem-calc(30px);
                            line-height: 32px;
                        }
                        .month {
                            font-size: rem-calc(28px);
                            line-height: 32px;
                        }
                        .view-details {
                            display: none;
                        }
                    }
                    .action {
                        text-align: center;
                        flex-basis: 30%;
                        @media (max-width: 449.9px) {
                            flex-basis: 20%;
                        }
                        cursor: pointer;
                        .button {
                            display: none;
                        }
                        .responsive {
                            margin-right: 0px;
                            margin-bottom: 0;
                            .arrow {
                                padding: 4px;
                                border: solid $primary-color;
                                border-width: 0 3px 3px 0;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .plan-details {
                    padding: 0 20px 10px;
                    .price-details {
                        border-top: none;
                        font-size: rem-calc(17px);
                        line-height: 23px;
                        padding-top: 0px;
                        padding-left: 18px;
                        margin-bottom: 0;
                        .value {
                            font-size: rem-calc(17px);
                        }
                    }
                    .price-note {
                        font-size: rem-calc(14px);
                        padding-left: 18px;
                    }
                    .details-section {
                        padding-left: 18px;
                    }
                    .details-action {
                        .button {
                            width: 216px;
                            font-size: rem-calc(20px);
                            padding: 9px;
                        }
                    }
                }
            }
            @media (max-width: $phablet-min-width-minus) {
                .plan-title {
                    .price {
                        flex-basis: 80%;
                    }
                }
            }
            @media (max-width: 414px) {
                .plan-details {
                    .price-details {
                        padding-left: 0;
                    }
                    .price-note {
                        padding-left: 0;
                    }
                    .details-section {
                        padding-left: 0;
                        .details-list {
                            li {
                                p {
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .p-text1 {
            font-family: $secondary-font-family;
            font-size: rem-calc(22px);
            color: #050505;
            font-weight: 600;
            padding-left: 9%;
            margin-bottom: 31px;
            &.sub-text {
                @media (max-width: $ipad-min-width-minus) {
                    margin-bottom: 40px;
                }
            }
            @media (max-width: $desktop-min-width-minus) {
                font-size: rem-calc(18px);
                padding-left: 6%;
                margin-bottom: 25.5px;
            }
            @media (max-width: 484.9px) {
                padding-left: 0;
            }
            &.p-text2 {
                color: $black;
                margin-bottom: 13px;
                @media (max-width: $desktop-min-width-minus) {
                    margin-bottom: 11px;
                }
            }
        }
        .plan-row2 {
            border: 1px solid $input-border;
            border-right: none;
            border-left: none;
            border-bottom: none;
            margin: 0 auto;
            width: 85%;
            @media (max-width: $desktop-min-width-minus) {
                width: 93%;
            }
            @media (max-width: 749.9px) {
                margin-bottom: 86px;
                width: 100%;
            }
            &.ebb {
                position: relative;
                &::before {
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-left: 10px solid #e66f03;
                    border-bottom: 10px solid #e66f03;
                    content: " ";
                    position: absolute;
                    top: -21px;
                    left: 253px;
                }
                .ebb-banner {
                    background-color: $secondary-color;
                    font-family: $base-font-family-bold;
                    padding: 12px;
                    color: white;
                    position: absolute;
                    top: -21px;
                    font-size: rem-calc(16px);
                    margin-bottom: 0;
                    left: 10px;
                    height: 40px;
                }
                @media (max-width: $ipad-min-width-minus) {
                    &::before {
                        top: -30px;
                        border-top: 14px solid transparent;
                        border-right: 14px solid transparent;
                        border-left: 14px solid #e66f03;
                        border-bottom: 15px solid #e66f03;
                    }
                    .ebb-banner {
                        top: -30px;
                    }
                }
            }
            .plan-title {
                cursor: pointer;
                display: flex;
                width: 100%;
                justify-content: center;
                padding: 0 2%;
                align-items: center;
                height: 105px;
                @media (max-width: $desktop-min-width-minus) {
                    height: 86px;
                }
                @media (max-width: 749.9px) {
                    flex-direction: column;
                }
                .data {
                    flex-basis: 45%;
                    cursor: pointer;
                    @media (max-width: 749.9px) {
                        text-align: center;
                    }
                    .description {
                        font-size: rem-calc(18px);
                        line-height: 33px;
                        font-family: $base-font-family;
                        margin-bottom: 0;
                        color: $black;
                        @media (max-width: $desktop-min-width-minus) {
                            font-size: rem-calc(15px);
                        }
                    }
                    .data-value {
                        font-size: rem-calc(18px);
                        font-family: $base-font-family-bold;
                        font-weight: bold;
                        margin-bottom: 0;
                        @media (max-width: $desktop-min-width-minus) {
                            font-size: rem-calc(15px);
                        }
                        @media (min-width: 750px) and (max-width: 833.9px) {
                            width: 135px;
                        }
                        @media (max-width: 749.9px) {
                            display: inline-block;
                        }
                    }
                }
                .price {
                    flex-basis: 26%;
                    margin-left: 4%;
                    cursor: pointer;
                    @media (max-width: $desktop-min-width-minus) {
                        flex-basis: 35%;
                    }
                    .price-value {
                        font-size: rem-calc(55px);
                        line-height: 48px;
                        font-family: $base-font-family-bold;
                        font-weight: bold;
                        margin-bottom: 0;
                        float: right;
                        @media (max-width: $desktop-min-width-minus) {
                            font-size: rem-calc(50px);
                        }
                    }
                    .month {
                        font-size: rem-calc(25px);
                        line-height: 48px;
                        font-family: $base-font-family-bold;
                        font-weight: bold;
                        margin-bottom: 0;
                        @media (max-width: $desktop-min-width-minus) {
                            font-size: rem-calc(20px);
                        }
                    }
                    .view-details {
                        font-size: rem-calc(20px);
                        line-height: 23px;
                        font-family: $base-font-family;
                        color: $primary-color;
                        margin-top: 10px;
                        margin-bottom: 0;
                        cursor: pointer;
                    }
                    .arrow {
                        border: solid $primary-color;
                        border-width: 0 1px 1px 0;
                        padding: 3px;
                        margin-left: 5px;
                    }
                }
                .action-button {
                    .button {
                        width: 204px;
                        font-size: rem-calc(16px);
                        @media (min-width: 640px) and (max-width: 729px) {
                            margin-left: 0px;
                        }
                        @media (max-width: 749.9px) {
                            margin: 0 auto;
                            margin-top: 13px;
                            width: 177px;
                        }
                    }
                }
                .action-arrow {
                    flex-basis: 18%;
                    text-align: right;
                    .responsive {
                        margin-bottom: 0;
                        i.arrow {
                            border-width: 0 2px 2px 0;
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
            }
            .plan-details {
                padding-left: 20px;
                .price-details {
                    border-top: none;
                    font-family: $base-font-family-bold;
                    font-weight: bold;
                    font-size: rem-calc(22px);
                    line-height: 28px;
                    padding-top: 15px;
                    padding-left: 20px;
                    margin-bottom: 10px;
                    .value {
                        font-size: rem-calc(27px);
                    }
                }
                .price-note {
                    font-size: rem-calc(15px);
                    font-family: $base-font-family-bold;
                    font-weight: bold;
                    line-height: 12px;
                    padding-left: 20px;
                    margin-bottom: 27px;
                }
                .autoPay {
                    cursor: pointer;
                }
                .details-list {
                    list-style: none;
                    font-weight: normal;
                    margin: 0;
                    padding: 0;
                    -webkit-padding-start: 0px;
                    -webkit-margin-before: 0;
                    -webkit-margin-after: 0;
                    -webkit-margin-start: 0;
                    -webkit-margin-end: 0;
                    li {
                        padding: 0px;
                        margin: 0;
                        list-style-position: outside;
                        display: flex;
                        .tick {
                            color: $primary-color;
                            margin-right: 5px;
                            display: inline;
                        }
                        .help {
                            background-color: $primary-color;
                            color: white;
                            border-radius: 100px;
                            padding: 2px 6px;
                            font-size: rem-calc(15px);
                            margin-left: 5px;
                            cursor: pointer;
                        }
                        .mobile {
                            color: $primary-color;
                            cursor: pointer;
                        }
                    }
                    // @media (#{$larger-than-phablet}) {
                    //     li {
                    //         height: 40px;
                    //         .mobile {
                    //             display: none;
                    //         }
                    //     }
                    // }
                    @media (max-width: $desktop-min-width-minus) {
                        li {
                            .help {
                                font-size: rem-calc(13px);
                            }
                            .tick {
                                margin-right: 8px;
                            }
                        }
                    }
                    @media (max-width: 833.9px) {
                        line-height: 25px;
                        li {
                            p {
                                font-size: rem-calc(11px);
                                line-height: 33px;
                            }
                        }
                    }
                    @media (max-width: 750px) {
                        line-height: 25px;
                    }
                    @media (max-width: 749.9px) {
                        li {
                            p {
                                font-size: rem-calc(12px);
                                line-height: 17px;
                            }
                        }
                    }
                }
                .details-action {
                    margin-bottom: 16px;
                    .button {
                        margin: 20px 0;
                        width: 216px;
                        font-size: rem-calc(20px);
                        padding: 9px;
                    }
                }
            }
            @media (max-width: 749.9px) {
                .plan-title {
                    height: 282px;
                    .data {
                        margin-bottom: 15px;
                        .description {
                            font-size: rem-calc(17px);
                        }
                        .data-value {
                            font-size: rem-calc(17px);
                        }
                    }
                    .price {
                        order: 2;
                        padding: 0px;
                    }
                    .action-button {
                        order: 3;
                        margin-bottom: 35px;
                    }
                    .action-arrow {
                        order: 4;
                        margin-bottom: 30px;
                    }
                }
                .plan-details {
                    padding: 0 20px 10px;
                    padding-left: 0px;
                    .price-details {
                        border-top: none;
                        font-size: rem-calc(17px);
                        line-height: 23px;
                        padding-top: 0px;
                        padding-left: 20px;
                        margin-bottom: 0;
                        .value {
                            font-size: rem-calc(17px);
                        }
                    }
                    .details-action {
                        .button {
                            width: 216px;
                            font-size: rem-calc(20px);
                            padding: 9px;
                        }
                    }
                }
            }
            .arrow2 {
                width: 10px;
                height: 10px;
                border: solid 2.5px #863399;
            }
            i.arrow2 {
                border: solid #863399;

                &.primary {
                    border: solid $primary-color;
                }

                &.secondary {
                    border: solid $secondary-color;
                }

                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 2px;
                margin-bottom: 3px;

                &.right {
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                }

                &.left {
                    transform: rotate(135deg);
                    -webkit-transform: rotate(135deg);
                }

                &.up {
                    transform: rotate(-135deg);
                    -webkit-transform: rotate(-135deg);
                    width: 16px;
                    height: 15px;
                }

                &.down {
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
            }
            @media (max-width: 749.9px) {
                width: 100%;
                margin-bottom: 0;
                .plan-title {
                    height: 100%;
                }
                .description {
                    &.no-data {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    i.arrow {
        border: solid #863399;

        &.primary {
            border: solid $primary-color;
        }

        &.secondary {
            border: solid $secondary-color;
        }

        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 2px;
        margin-bottom: 3px;

        &.right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }

        &.left {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

        &.up {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }

        &.down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }
    .button-link-flex {
        text-align: center;
    }
    .button-section {
        width: 216px;
        @media (max-width: $desktop-min-width-minus) {
            width: 200px;
        }
    }
}
