<div class="container-flex plans-container">
  <div class="header">
    <div *ngIf="!filteredPlans || filteredPlans.length == 0">
      <h2 class="subhead">
        Loading Plans...
      </h2>
    </div>
    <div class="plans-section" *ngIf="!isChangePlan">
      <div class="plan-row" *ngFor="let plan of filteredPlans; let i = index;" [class.active]="selectedIndex == i" [class.special]="!!plan.specialPromotion"
        [id]="i" #planElement>
        <div class="plan-title col-12" (click)="toggleSelectedPlan(i)" [class.special-promo]="!!plan.specialPromotion" [class.ebb]="!!plan.ebb">
          <div class="ebb-banner" *ngIf="!!plan?.ebb">Affordable Connectivity Program</div>
          <p class="special-promo-title" *ngIf="!!plan.specialPromotion && !!plan.specialPromotion?.promotionTitle" #promoPlans id="promoPlans">
            {{plan.specialPromotion?.promotionTitle}}
          </p>
          <div class="flex-content">
          <div class="data">
            <p class="data-value no-data" *ngIf="plan?.details?.data == 0">Unlimited talk & text</p>
            <div class="data-amounts" *ngIf="plan?.details?.data > 0" [class.data-amounts-flex]="plan?.details?.data > 0 && !!plan.specialPromotion?.promotionData && plan.specialPromotion?.promotionData > 0">
              <p class="data-value" *ngIf="plan?.details?.data > 0" [class.slash]="!!plan.specialPromotion?.promotionData && plan.specialPromotion?.promotionData > 0"> <span class="cross-off-line" *ngIf="!!plan.specialPromotion?.promotionData && plan.specialPromotion?.promotionData > 0"></span><span class="val">{{plan?.details?.data/1024}}</span><span class="gb">GB</span></p>
              <p class="data-value" *ngIf="plan?.details?.data > 0 && !!plan.specialPromotion?.promotionData && plan.specialPromotion?.promotionData > 0">{{(plan?.details?.data + plan.specialPromotion?.promotionData )/1024}}<span class="gb">GB</span></p>
            </div>
         </div>
          <div class="price">
            <p class="price-value">
              {{calculatePlanPrice(plan)}}<span class="month">/mo</span>
            </p>
            <p class="view-details">View plan details <i
                class="arrow down" *ngIf="selectedIndex != i || !activePlan"></i> <i class="arrow up"
                *ngIf="selectedIndex == i && activePlan"></i></p>
          </div>
          <div class="action">
            <div class="button-link-flex">
                <button class="button primary" (click)="addPlanToCart($event, i)" *ngIf="!plan.ebb && !isPhonePurchase" id="select-{{plan?.id}}">Add to cart</button>
                <!-- <button class="button primary" (click)="addPlanToCart($event, i)" id="proceed-to-checkout-{{plan?.id}}" *ngIf="!!userHasDevice && !plan.ebb && !isPhonePurchase">Go to checkout </button> -->
                <button class="button primary" (click)="goToEbb()" id="check-qualification" data-cy="check-qualification" *ngIf="!!plan.ebb">{{!!hasEbb && !!isLoggedIn ? '1/1 purchased' : 'Learn More'}}  </button>
                <button class="button primary" (click)="selectPlanForPhone(i)" id="select-plan-{{plan?.id}}" *ngIf="!!isPhonePurchase">Select Plan </button>
            </div>
            <p class="responsive"><i class="arrow down" *ngIf="selectedIndex != i || !activePlan"></i> <i
                class="arrow up" *ngIf="selectedIndex == i && activePlan"></i></p>
          </div>
        </div>
        </div>
        <div class="plan-details col-12" *ngIf="selectedIndex == i && activePlan" [class.special-promo]="!!plan?.isSpecialPromotion">
          <p class="price-details" *ngIf="!plan.ebb"><span class="value" >${{plan?.price - plan?.promoPrice}}</span>/mo after </p>
          <p class="price-details" *ngIf="!!plan.ebb"><span class="value">FREE</span>/mo with ACP Approval and Enrollment</p>
          <p class="price-note">{{!!plan.ebb ? 'Plan value' : 'Regular price'}} {{plan?.price | currency}}/mo</p>
          <p class="promo-title" *ngIf="!!plan.specialPromotion">{{plan?.specialPromotion?.promotionTitle}}</p>
          <div class="details-section">
            <ul class="details-list">
              <li *ngIf="!!plan?.details?.data  && plan?.details?.data  != 0">
                <p class="tick">✓</p>
                <p>{{(!!plan.specialPromotion?.promotionData && plan.specialPromotion?.promotionData > 0) ? (plan?.details?.data + plan.specialPromotion?.promotionData )/1024 : (plan?.details?.data/1024) }} GB high-speed data per month; speeds reduce after allowance is used</p>
              </li>
              <li>
                <p class="tick">✓</p>
                <p>Unlimited talk and text <span *ngIf="!!plan?.details?.data  != 0">+ data access </span>on America’s
                  nationwide networks </p>
              </li>
              <li *ngIf="!!plan?.ebb">
                <p class="tick">✓</p>
                <p>Affordable Connectivity Program (ACP) qualification and enrollment required. <a [routerLink]="['/' + ROUTE_URLS.ACP]">[More Info]</a></p>
              </li>
              <li *ngIf="!plan?.isSpecialPromotion">
                <p class="tick">✓</p>
                <p>Works with network compatible unlocked iPhone and Android phones</p>
              </li>
              <li *ngIf="!!plan?.isSpecialPromotion">
                <p class="tick">✓</p>
                <p>{{calculatePlanPrice(plan)}} + applicable tax for service let you try us out at our lowest prices ever.</p>
              </li>
              <li *ngIf="!!plan?.isSpecialPromotion">
                <p class="tick">✓</p>
                <p>After that your subscription will auto renew monthly at regular {{plan?.details?.data/1024}}GB for {{calculatePlanPrice(plan)}} + applicable tax. Watch your email for ways to keep this exceptional pricing.</p>
              </li>
              <li *ngIf="!currentPlan?.activationCode">
                <p class="tick">✓</p>
                <p>FREE SIM Card Activation Kit. FREE Shipping.</p>
              </li>
            </ul>
          </div>
          <div class="details-action button-section">
            <div class="button-link-flex">
                <button class="button primary" (click)="addPlanToCart($event, i)" *ngIf="!plan.ebb && !isPhonePurchase" id="add-to-cart-{{plan?.id}}">Add to cart </button>
                <!-- <button class="button primary" (click)="addPlanToCart($event, i)" id="checkout-{{plan?.id}}" *ngIf="(!!currentPlan?.planDevice || !!currentPlan?.planExpectedDevice) && !plan.ebb && !isPhonePurchase">Go to checkout </button> -->
                <button class="button primary" (click)="goToEbb()" id="check-qualification" data-cy="check-qualification" *ngIf="!!plan.ebb">{{!!hasEbb && !!isLoggedIn ? '1/1 purchased' : 'Learn More'}} </button>
                <button class="button primary" (click)="selectPlanForPhone(i)" id="select-plan-{{plan?.id}}" *ngIf="!!isPhonePurchase">Select Plan </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="plans-section no-bottom" *ngIf="!!isChangePlan">
      <p class="p-text1 p-text2">Changing your plan:</p>
      <p class="p-text1 sub-text">Choose your replacement plan:</p>
      <div class="plan-row2" *ngFor="let plan of filteredPlans; let i = index;" [class.active]="selectedIndex == i" [class.ebb]="!!plan?.ebb"
        [id]="i" #planElement>
        <div class="ebb-banner" *ngIf="!!plan.ebb">Affordable Connectivity Program </div>
        <div class="plan-title" (click)="toggleSelectedPlan(i)">
          <div class="data">
            <p class="description no-data">Unlimited talk & text</p>
            <p class="data-value" *ngIf="plan?.details?.data > 0">First {{plan?.details?.data/1024 + 'GB'}} on High
              Speed Data</p>
          </div>
          <div class="action-button">
            <button class="button primary" (click)="selectChangePlan(i, event)" id="select-{{plan?.id}}" *ngIf="!plan.ebb">Select
              plan</button>
            <button class="button primary" (click)="goToEbb()" id="learn-{{plan?.id}}" *ngIf="!!plan.ebb">{{!!hasEbb && !!isLoggedIn ? '1/1 purchased' : 'Learn More'}} </button>
          </div>
          <div class="price">
            <p class="price-value">{{!!plan.ebb ? 'FREE' : '$' + (plan?.price - plan?.promoPrice)}}<span class="month">/mo</span></p>
          </div>
          <div class="action-arrow">
            <p class="responsive"><i class="arrow down arrow2" *ngIf="selectedIndex != i || !activePlan"></i> <i
                class="arrow up" *ngIf="selectedIndex == i && activePlan"></i></p>
          </div>
        </div>
        <div class="plan-details" *ngIf="selectedIndex == i && activePlan">
          <p class="price-details" *ngIf="!plan.ebb"><span class="value">${{plan?.price - plan?.promoPrice}}</span>/mo </p>
          <p class="price-details" *ngIf="!!plan.ebb"><span class="value">FREE</span>/mo </p>
          <p class="price-note">Regular price {{plan?.price | currency}}/mo</p>
          <div class="details-section">
            <ul class="details-list">
              <li *ngIf="!!plan?.details?.data  && plan?.details?.data  != 0">
                <p class="tick">✓</p>
                <p>{{plan?.details?.data / 1024}}GB high-speed data
                  with speeds up to 4G LTE; speeds reduce after allowance is used</p>
              </li>
              <li>
                <p class="tick">✓</p>
                <p>Unlimited talk and text <span *ngIf="!!plan?.details?.data  != 0">+ data access </span>on America’s
                  best nationwide 4G LTE network </p>
              </li>
              <li *ngIf="!!plan?.ebb">
                <p class="tick">✓</p>
                <p>Affordable Connectivity Program (ACP) qualification and enrollment required. <a [routerLink]="['/' + ROUTE_URLS.ACP]">[More Info]</a></p>
              </li>
              <li>
                <p class="tick">✓</p>
                <p>Works with AT&T and compatible unlocked iPhone and Android phones</p>
              </li>
              <li *ngIf="!currentPlan?.activationCode">
                <p class="tick">✓</p>
                <p>FREE SIM Card Activation Kit</p>
              </li>
            </ul>
          </div>
          <div class="details-action">
            <button class="button primary" (click)="selectChangePlan(i, event)" id="add-to-cart-{{plan?.id}}" *ngIf="!plan.ebb">Select
              plan</button>
            <button class="button primary" (click)="goToEbb()" id="learn-more" *ngIf="!!plan.ebb">{{!!hasEbb && !!isLoggedIn? '1/1 purchased' : 'Learn More'}} </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>