@import "../../../../styles/modules/_variables.scss";
@import "../../../../styles/modules/_mixins.scss";

.report-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 1360px;
    padding-left: 50px;
    padding-right: 50px;

    @media (max-width: $desktop-min-width-minus) {
        padding-top: 32px;
        margin-bottom: 60px;
    }

    @media (max-width: $phablet-min-width-minus) {
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 40px;
        padding-top: 0px;
    }

    .info-banner {
        &.success {
            margin-bottom: 173px;

            @media (max-width: $desktop-min-width-minus) {
                margin-bottom: 60px;
            }

            @media (max-width: $phablet-min-width-minus) {
                margin-bottom: 40px;
            }
        }
    }

    .desc {
        font-size: rem-calc(16px);
        line-height: 24px;
        margin: 32px 0 24px;

        @media (max-width: $phablet-min-width-minus) {
            max-width: 288px;
            margin: 24px 0 16px;
        }
    }

    .contact-box {
        background: #FBFBFB;
        box-shadow: 0px 4px 12px rgba(94, 94, 94, 0.03), 0px 8px 30px rgba(94, 94, 94, 0.08), 0px 5px 16px rgba(0, 60, 117, 0.02);
        border-radius: 10px;
        margin-bottom: 50px;

        @media (max-width: $phablet-min-width-minus) {
            max-width: 288px;
        }

        .box-header {
            padding: 16px 24px;
            border-bottom: 1px solid #D9E6EF;

            @media (max-width: $phablet-min-width-minus) {
                padding: 16px;
            }

            h4 {
                margin: 0;
            }
        }

        .contact-form {
            padding: 24px 24px 32px;

            @media (max-width: $phablet-min-width-minus) {
                padding: 16px 16px 24px;
            }

            .validation-message {
                font-size: rem-calc(12px);
                margin: 8px 0 0;
            }

            fieldset {
                position: relative;
                margin-bottom: 16px;
                max-width: 500px;
                width: 100%;

                &.last {
                    margin-bottom: 0;
                }
            }

            input,
            textarea {
                background: #FBFBFB;
                border: 1px solid #868686;
                border-radius: 4px;
                font-size: rem-calc(16px);
                line-height: 24px;

                &::placeholder {
                    color: #868686;
                }
            }

            .required {
                position: absolute;
                left: 160px;
                top: 8px;
                font-size: rem-calc(16px);
                line-height: 24px;
                color: #D61D33;

                &.textarea {
                    left: 135px;
                }

                &.none {
                    display: none;
                }
            }

            .phone {
                height: 40px;
            }

            .description-input {
                height: 250px;
            }
        }
    }
}

.section-footer {
    display: flex;
    justify-content: space-between;
    padding: 24px 55px;
    margin-bottom: 2px;
    box-shadow: 0px 1px 0px 0px #E2E2E2 inset;

    .transparent {
        background-color: transparent;
        border: none;
        color: $primary-color;
        font-family: $secondary-font-family-bold;
        font-size: rem-calc(16px);
        margin-bottom: 0;

        &.hidden {
            visibility: hidden;
        }
    }

    .button {
        width: 100px;
        font-size: rem-calc(16px);
        line-height: 16px;
        padding: 8px;
        font-family: $secondary-font-family-bold;
    }

    @media (max-width: $phablet-min-width-minus) {
        .btn-container {
            padding-left: 16px;
            padding-right: 16px;
        }

        .flex {
            display: flex;
        }
    }
}