<div class="page-section featured-container">
  <div class="description-section">
    <p class="label">OUR FEATURES</p>
    <h2 class="header">Cell phone plan at a great price</h2>
    <h5 class="sub-header">Best selling wireless plans</h5>
  </div>
  <div class="plans-cards-section" *ngIf="innerWidth >= 1025">
    <div class="view-plans" (click)="viewAllPlans()">
      <h6>View All Plans</h6>
      <img src="assets/icon/circle-right-arrow.svg" alt="Icon">
    </div>
    <div class="cards-section">
      <div class="featured-card-container" *ngFor="let plan of featuredPlans">
        <div class="featured-plan-card">
          <div class="card-header">
            <p class="smallest">{{plan?.category}}</p>
          </div>
          <div class="card-body">
            <img *ngIf="!!plan?.ebb" class="ribbon" src="assets/img/new-ribbon.svg" alt="ribbon">
            <div class="price-section">
              <p class="price"><span class="dollar" *ngIf="plan?.price > 0">$</span>{{plan?.price > 0 ? plan?.price :
                'FREE'}}<span class="month" *ngIf="plan?.price > 0">/mo</span></p>
            </div>
            <div class="data-section">
              <p class="data">{{!!plan?.specialPromotion && plan?.specialPromotion?.promotionData > 0 ?
                (plan?.specialPromotion?.promotionData + plan?.data) / 1024 : (plan?.data / 1024)}}GB</p>
              <p class="lte">premium 5G Data</p>
              <p class="caption">With Unlimited Talk &Text</p>
            </div>
            <div class="action">
              <button class="button primary small" (click)="viewAllPlans()" title="Select-plan" id="select-{{plan?.id}}"
                aria-label="select plan"> Select Plan</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="plans-cards-section" *ngIf="innerWidth < 1025">
    <div class="plan-gigs-section">
      <div class="plan-gigs">
        <ng-container *ngFor="let item of planPrices">
          <a (click)="priceSelected(item)" class="gig-item" [class.active-gig]="item === selectedPrice"><span
              class="dollar" *ngIf="item !== 0">$</span>{{item === 0 ? 'FREE' : item}}
            <img src="/assets/icon/dark-tail-arrow.svg" alt="tail" class="tail-arrow" *ngIf="item === selectedPrice">
          </a>
        </ng-container>
      </div>
    </div>
    <div class="cards-section">
      <ng-container *ngFor="let plan of responsiveFeaturedPlans">
        <div class="featured-card-container" *ngIf="selectedPrice === (plan?.price)">
          <div class="featured-plan-card">
            <div class="card-header">
              <p class="smallest">{{plan?.category}}</p>
            </div>
            <div class="card-body">
              <img *ngIf="!!plan?.ebb" class="ribbon" src="assets/img/new-ribbon.svg" alt="ribbon">
              <div class="price-section">
                <p class="price"><span class="dollar" *ngIf="plan?.price > 0">$</span>{{plan?.price > 0 ? plan?.price :
                  'FREE'}}<span class="month" *ngIf="plan?.price > 0">/mo</span></p>
              </div>
              <div class="data-section">
                <p class="data">{{!!plan?.specialPromotion && plan?.specialPromotion?.promotionData > 0 ?
                  (plan?.specialPromotion?.promotionData + plan?.data) / 1024 : (plan?.data / 1024)}}GB</p>
                <p class="lte">premium 5G Data</p>
                <p class="caption">With Unlimited Talk &Text</p>
              </div>
              <div class="action">
                <button class="button primary small" (click)="viewAllPlans(plan.price)" title="Select-plan"
                  id="select-{{plan?.id}}" aria-label="select plan"> Select Plan</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>




  <!-- <ng-container *ngIf="innerWidth >= 640">
    <div class="cards-section">
      <div class="featured-card-container" *ngFor="let plan of featuredPlans" (click)="viewAllPlans()">
        <div class="featured-plan-card">
          <div class="ribbon" *ngIf="!!plan?.ebb"><img class="ribbon" src="assets/img/new-ribbon.svg" alt="ribbon">
          </div>
          <div class="card-header-section">
            <p class="card-header caption">{{plan?.category}}</p>
          </div>
          <div class="price-section">
            <p class="price"><span class="dollar" *ngIf="plan?.price > 0">$</span>{{plan?.price > 0 ? plan?.price :
              'FREE'}}<span class="month" *ngIf="plan?.price > 0">/mo</span></p>
          </div>
          <div class="data-section">
            <p class="data">{{!!plan?.specialPromotion && plan?.specialPromotion?.promotionData > 0 ?
              (plan?.specialPromotion?.promotionData + plan?.data) / 1024 : (plan?.data / 1024)}}GB</p>
            <p class="lte">premium 5G Data</p>
            <p class="unlimited caption">With Unlimited Talk &Text</p>
          </div>
          <div class="action">
            <button class="button primary small" (click)="viewAllPlans()" title="Select-plan" id="select-{{plan?.id}}"
              aria-label="select plan"> Select Plan</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container> -->

  <!-- <ng-container *ngIf="innerWidth < 640">
    <div class="swiper-container featured swiper-width">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let plan of featuredPlans">
          <div class="featured-plan-card">
            <div class="ribbon" *ngIf="!!plan?.ebb"><img class="ribbon" src="assets/img/new-ribbon.svg"></div>
            <div class="card-header-section">
              <p class="card-header caption">{{plan?.category}}</p>
            </div>
            <div class="price-section">
              <p class="price"><span class="dollar" *ngIf="plan?.price > 0">$</span>{{plan?.price > 0 ? plan?.price :
                'FREE'}}<span class="month" *ngIf="plan?.price > 0">/mo</span></p>
            </div>
            <div class="data-section">
              <p class="data">{{!!plan?.specialPromotion && plan?.specialPromotion?.promotionData > 0 ?
                (plan?.specialPromotion?.promotionData + plan?.data) / 1024 : (plan?.data / 1024)}}GB</p>
              <p class="lte">premium 5G Data</p>
              <p class="unlimited caption">With Unlimited Talk &Text</p>
            </div>
            <div class="action">
              <button class="button primary small" (click)="viewAllPlans()" title="Select-plan" id="select-{{plan?.id}}"
                aria-label="select plan"> Select Plan</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-container-override featured-plans-slider-override">
        <div class="row">
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </ng-container> -->
</div>