<div class="page-section featured-container">
    <div class="description-section">
      <p class="note caption">OUR FEATURES</p>
      <h2 class="header">Cell phone plan at a great price</h2>
      <p class="details">Best selling wireless plans</p>
      <div class="icons-section">
        <div class="icons-container">
          <img width="72" height="72" src="assets/img/data-overage-fees.svg" alt="No Data Overage Fees"/>
          <p class="icons-text caption">No Data Overage Fees</p>
        </div>
        <div class="icons-container">
          <img width="72" height="72" src="assets/img/unlimited-talk-text.svg" alt="Unlimited Talk & Text"/>
          <p class="icons-text caption">Unlimited Talk & Text</p>
        </div>
        <div class="icons-container">
          <img width="72" height="72" src="assets/img/no-annual-contract.svg" alt="No Annual Contract"/>
          <p class="icons-text caption">No Annual Contract</p>
        </div>
      </div>
    </div>
    <ng-container *ngIf="innerWidth > 640.9; else responsive ">
      <div class="cards-section">
        <div class="featured-card-container" *ngFor="let plan of featuredPlans"  (click)="goToPlans(plan)">
          <div class="featured-plan-card" >
            <div class="ribbon" *ngIf="!!plan?.ebb"><span>New!</span></div>
            <div class="card-header-section">
              <p class="card-header caption">{{plan?.category}}</p>
            </div>
            <div class="price-section">
              <p class="price"><span class="dollar" *ngIf="plan?.price > 0">$</span>{{plan?.price > 0 ? plan?.price : 'FREE'}}<span class="month" *ngIf="plan?.price > 0">/mo</span></p>
            </div>
            <div class="data-section">
              <p class="data">{{!!plan?.specialPromotion && plan?.specialPromotion?.promotionData > 0 ? (plan?.specialPromotion?.promotionData + plan?.data) / 1024 : (plan?.data / 1024)}}GB</p>
              <p class="lte">premium 5G Data</p>
              <p class="unlimited caption">With Unlimited Talk &Text</p>
            </div>
            <div class="action">
              <button class="button primary small" (click)="goToPlans(plan)" title="Select-plan" id="select-{{plan?.id}}" aria-label="select plan"> Select Plan</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

   <ng-template #responsive>
    <div class="swiper-container featured swiper-width" [swiper]="config" (slideChangeEnd)="slideChanged($event)" [(index)]="index">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let plan of featuredPlans">
          <div class="featured-plan-card" >
            <div class="ribbon" *ngIf="!!plan?.ebb"><span>New!</span></div>
            <div class="card-header-section">
              <p class="card-header caption">{{plan?.category}}</p>
            </div>
            <div class="price-section">
              <p class="price"><span class="dollar" *ngIf="plan?.price > 0">$</span>{{plan?.price > 0 ? plan?.price : 'FREE'}}<span class="month" *ngIf="plan?.price > 0">/mo</span></p>
            </div>
            <div class="data-section">
              <p class="data">{{!!plan?.specialPromotion && plan?.specialPromotion?.promotionData > 0 ? (plan?.specialPromotion?.promotionData + plan?.data) / 1024 : (plan?.data / 1024)}}GB</p>
              <p class="lte">premium 5G Data</p>
              <p class="unlimited caption">With Unlimited Talk &Text</p>
            </div>
            <div class="action">
              <button class="button primary small" (click)="goToPlans(plan)" title="Select-plan" id="select-{{plan?.id}}" aria-label="select plan"> Select Plan</button>
            </div>
          </div>
      </div>
    </div>
    <div class="swiper-container-override featured-plans-slider-override">
      <div class="container">
        <div class="row">
          <ul class="slick-dots slider-pagination" ></ul>
        </div>
      </div>
    </div>
  </div>
   </ng-template>
  </div>
