@import "../../styles/modules/_variables.scss";
@import "../../styles/modules/_mixins.scss";

::ng-deep {
    .featured-container {
        display: flex;
        gap: 24px;
        margin-top: 84px;
        .description-section {
            display: flex;
            flex-direction: column;
            flex-basis: 60%;
            .header {
                color: $section-header-color;
                margin-bottom: 12px;
                @media(max-width: 1199.9px) {
                    max-width: 269px;
                }
            }
            .note {
                color: $medium-grey;
            }
            .details {
                font-size: rem-calc(20px);
                line-height: 24px;
             
            }
            .icons-section {
                display: flex;
                gap: 32px;
                align-items: center;
                margin-top: 32px;
                .icons-container {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    .icons-text {
                        font-family: $secondary-font-family-bold;
                    }
                    @media (max-width:1439.9px) {
                        flex-direction: column;
                        text-align: center;
                        align-items: center;
                        .icons-text {
                            max-width: 70px;
                        }
                    }
                }
            }
         
            @media (max-width: $phablet-min-width-minus) {
                .header {
                    font-size: rem-calc(24px);
                    line-height: 30px;
                    margin-top: -20px;
                }
                .details {
                    font-size: rem-calc(16px);
                    line-height: 22px;
                    max-width: 275px;
                    margin: 0 auto;
                    margin-bottom: 6px;
                }
                .disclaimer {
                    font-size: rem-calc(13px);
                    line-height: 22px;
                }
                .promo-note{
                    margin-bottom: 10px;
                    font-size: rem-calc(13px);
                    line-height: 22px;
                    margin-top: 10px;
                }
            }
            @media (max-width: 342px) {
                .header {
                    margin: -20px auto 12px;
                    max-width: 218px;
                }
            }
        }
       .cards-section {
            display: flex;
            gap: 40px;
            max-width: 560px;
            flex-basis: 40%;
            justify-content: flex-end;
       }
    }
    
    .swiper-container {
        overflow: hidden;
        margin-top: 15px;
        &.featured {
            .swiper-wrapper  {
                margin-top: 28px;
                .swiper-slide {
                    box-shadow: 0px 4px 12px 0px #00000029!important;
                    border: 0.5px solid #fdebf0;
                }
            }
        }
        &.swiper-width{
            width: 100%;
            max-width: 300px;
            height: 421px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 24px;
            .special-promo-banner {
                .special-promo-text {
                    text-align: center;
                }
            }
        }
        .navigate-container {
            text-align: center;
            padding-top: 125px;
            .button {
                width: 200px;
                padding: 9px;
                font-size: rem-calc(20px);
            }
        }
    }
    .featured-plan-card {
        display: flex;
        flex-direction: column;
        min-width: 240px;
        width: 100%;
        position: relative;
        height: 290px;
        box-shadow: 0px 8px 30px 0px #5E5E5E1F;
        border-radius: 5px;
        background: #FCFCFB;
        .card-header-section {
            background: #6A509B;
            color: $white;
            border-radius: 8px 8px 0px 0px;
            padding: 8px 16px 10px;
            text-align: center;
        }
        .data-section {
            padding: 8px 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .data {
                font-size: rem-calc(28px);
                margin-bottom: 0;
                line-height: 36px;
                font-weight: bold;
            }
            .lte {
                font-size: rem-calc(10px);
                margin-bottom: 0;
                line-height: 16px;
                font-family: $secondary-font-family;
            }
            .unlimited {
                color: $third-color;
            }
        }
        .price-section {
            padding-top: 32px;
            display: flex;
            justify-content: center;
            .price {
                color: $section-header-color;
                font-size: rem-calc(36px);
                line-height: 40px;
                font-weight: bold;
                margin-bottom: 0;
                display: flex;
                padding-bottom: 4px;
                border-bottom: 1px solid #765BA7;
            }
            .month {
                font-size: rem-calc(24px);
                line-height: 23px;
                margin-top: 10px;
            }
            .dollar {
                font-size: rem-calc(18px);
                line-height: 28px;
                margin-bottom: 0;
            }
        }
        .action {
            display: flex;
            justify-content: center;
            padding: 24px 0 32px;
            .button {
                width: 121px;
            }
        }
        .ribbon {
            position: absolute;
            left: -5px; top: -5px;
            z-index: 1;
            overflow: hidden;
            width: 75px; height: 75px;
            text-align: right;
          }
          .ribbon span {
            font-size: 10px;
            color: #FFF;
            text-align: center;
            line-height: 20px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            width: 100px;
            display: block;
            background: #9D0125;
            background: linear-gradient(139.03deg, #9D0125 30.56%, #CD3446 50.32%);
            box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
            position: absolute;
            top: 19px; left: -21px;
          }
          .ribbon span::before {
            content: "";
            position: absolute; left: 0px; top: 100%;
            z-index: -1;
            border-left: 3px solid #9D0125;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #9D0125;
          }
          .ribbon span::after {
            content: "";
            position: absolute; right: 0px; top: 100%;
            z-index: -1;
            border-left: 3px solid transparent;
            border-right: 3px solid #9D0125;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #9D0125;
          }
    }
    .swiper-button-next {
            background-color: $primary-color;
            height: 34.3px;
            width: 34.3px;
            z-index: 1;
            cursor: pointer;
            color: white;
            background-size: 28%;
            top: 410px;
            right: 80px;
        }
        .swiper-button-prev {
            background-color: $secondary-color;
            height: 34.3px;
            width: 34.3px;
            z-index: 1;
            cursor: pointer;
            color: white;
            background-size: 28%;
            top: 410px;
            left: 80px;
        }
}
