<div class="acp-details-page">
    <section class="banner-section">
      <div class="banner-container">
        <div class="banner-text-content">
        <h1>Free cellphone service through a government assistance program under the affordable connectivity program</h1>
        <h2 class="header">Affordable Connectivity Program (ACP) </h2>
        </div>
        <div class="banner-img">
          <picture>
            <source srcset='assets/img/acp-details-header.svg' media="(min-width: 319px)" type="image/svg">
            <img src="assets/img/acp-details-header.svg" alt="6GB Free ACP plan" height="472">
          </picture>
        </div>
      </div>
    </section>
    <section class="road-section">
        <div class="container-flex">
            <div class="timeline">
                <div class="outer">
                    <div class="road-step">
                    <img class="step-img" src="assets/img/first-road-step.svg" />
                    <div class="info">
                      <h2 class="title">What Is Affordable Connectivity Program (ACP) Phone Service? </h2>
                      <div class="condition">
                        <img class="check" src="assets/icon/circle-check.svg" alt="checkmark">
                        <p class="condition-description long">The Affordable Connectivity Program <b>(ACP)</b>, created in the Bipartisan Infrastructure Law, 
                            is an FCC benefit program that helps ensure that eligible households can afford the broadband 
                            and communications services they need for <b>work, school, healthcare and more.</b> </p>
                      </div>
                      <div class="condition">
                        <img class="check" src="assets/icon/circle-check.svg" alt="checkmark">
                        <p class="condition-description long">The ACP provides $65 billion in broadband funding, with the money used to provide eligible households up to $30/month (or $75/month on Tribal lands) off wireless broadband internet bills.
                            We are offering wireless high-speed plan that are fully covered by the ACP—meaning millions of working families can now get cell phone with high-speed internet without paying a dime.</p>
                      </div>
                      <div class="condition">
                        <img class="check" src="assets/icon/circle-check.svg" alt="checkmark">
                        <p class="condition-description long">Experts estimate that 48 million households—or nearly 40% of households in the country—qualify 
                            for the ACP either because their income is at or below 200% of the Federal Poverty Level, or because 
                            a member of the household Participates in SNAP, Medicaid, WIC, SSI, FPHA, Veterans Pension and Survivors Benefit. Federal Pell Grant, Lifeline, Certain Tribal assistance programs or <span class="scroll-link" (click)="scrollToPrograms()"><b>other programs</b></span> </p>
                      </div>
                    </div>
                  </div>
                  <div class="road-step">
                    <img class="step-img" src="assets/img/second-road-step.svg" />
                    <div class="info">
                        <h3 class="title">Why is Good Mobile offering this program?</h3>
                        <div class="condition">
                            <img class="check" src="assets/icon/circle-check.svg" alt="checkmark">
                            <p class="condition-description long"><b>Good Mobile</b> believes that access to <b>high-speed internet</b> is no longer a luxury. Still, too many families go without 
                                high-speed internet because of the cost or have to cut back on other essentials to make their monthly internet service payments. Good Mobile is participating in ACP to ensure households can stay connected to <b>work, education, healthcare,</b> and <b>other services.</b> </p>
                        </div>
                        <div class="condition">
                            <img class="check" src="assets/icon/circle-check.svg" alt="checkmark">
                            <p class="condition-description long">We are offering high-speed plans that are fully covered by the ACP—meaning millions of working families can now get high-speed internet without paying a dime. The Free cellular service plan includes<b> Unlimited Data, Talk & Text with first 6GB high-speed data,</b> enabling households that meet ACP requirements to have broadband service at no cost. </p>
                        </div>
                        <div class="condition">
                            <img class="check" src="assets/icon/circle-check.svg" alt="checkmark">
                            <p class="condition-description long">Current Good Mobile customers on any other plan would be automatically moved to the new <b>ACP 6GB plan</b> upon ACP enrollment. If you wish to change to a different plan, you will be unenrolled from the ACP program during the plan change process. </p>
                        </div>
                        <a class="link" (click)="goToACPForm()">Get Started <img class="arrow" src="assets/icon/arrow_circle.svg" alt="arrow"/></a>
                    </div>
                  </div>
                  <div class="road-step">
                    <img class="step-img" src="assets/img/third-road-step.svg" />
                    <div class="info">
                        <h3 class="title">What is a Household?</h3>
                        <div class="condition">
                            <p class="condition-description long">A household is a group of people who live together and share money even if they are not related to each other. If you live together and share money, you are one household. If you either don’t live together or you don’t share money, you are two or more households.</p>
                        </div>
                        <div class="households-container">
                            <div class="household-section">
                                <h3 class="section-title"><img class="title-icon" src="assets/icon/house.svg">One Household Examples</h3>
                                <p class="household"><img class="title-icon" src="assets/icon/couple.svg"><span><b>A married couple</b> who live together must share 
                                    one ACP benefit.</span></p>
                                <p class="household"><img class="title-icon" src="assets/icon/family.svg"><span><b>A parent/guardian and child</b> who live together must share one ACP benefit. </span></p>
                                <p class="household"><img class="title-icon" src="assets/icon/woman.svg"><span><b>An adult</b> who lives with friends or family who provide financial support must share one ACP benefit. </span></p>
                            </div>
                            <div class="household-section">
                                <h3 class="section-title"><img class="title-icon" src="assets/icon/house+.svg">Multiple Household Examples</h3>
                                <p class="household"><img class="title-icon" src="assets/icon/roommate.svg"><span><b>4 roommates</b> who live together but do not share money are 4 separate households. All 4 can receive the ACP.</span></p>
                                <p class="household"><img class="title-icon" src="assets/icon/seniors.svg"><span><b>30 seniors</b> who live in an assisted-living home but do not share money are 30 separate households. All 30 can receive the ACP.</span></p>
                                <p class="household"><img class="title-icon" src="assets/icon/student.svg"><span><b>A student</b>  who receives a Federal Pell Grant and lives alone is a different household than his or her parents. Both the student and their parents are separate households and can receive their own benefits.
                                </span></p>
                            </div>
                        </div>
                        <div class="action">
                            <p class="ready">Ready to start?</p>
                            <button class="button secondary" (click)="goToACPForm()">Start Here!</button>
                        </div>
                    </div>
                  </div>
                  <div class="road-step">
                    <img class="step-img" src="assets/img/forth-road-step.svg" />
                    <div class="info">
                        <h3 class="title">Do I Qualify? </h3>
                        <div class="condition">
                            <p class="condition-description long">Household is eligible for the Affordable Connectivity Program benefit if:</p>
                        </div>
                        <div class="list">
                            <div class="condition">
                                <img class="check" src="assets/icon/circle-check.svg" alt="checkmark">
                                <p class="condition-description">
                                The household income is at or below 200% of the <span class="scroll-link" (click)="scrollToPrograms()"><b>Federal Poverty Guidelines</b></span>.
                                <span class="or">OR</span>
                                </p>
                            </div>
                            <div class="condition">
                                <img class="check" src="assets/icon/circle-check.svg" alt="checkmark">
                                <p class="condition-description long">If a member of the household participates in one of these programs below:</p>
                            </div>
                            <ul class="sub-condition">
                                <li id="medicaid"><span>Medicaid</span></li>
                                <li><span>Supplemental Nutrition Assistance Program <b> (SNAP)</b></span></li>
                                <li><span>The National School Lunch Program or the School Breakfast Program, including through the USDA Community Eligibility Provision, and <b>WIC</b></span></li>
                                <li><span>Supplemental Security Income <b>(SSI)</b></span></li>
                                <li><span>Federal Public Housing Assistance</span></li>
                                <li><span>Lifeline</span></li>
                                <li><span>Veterans and Survivors Pension Benefits Fund</span></li>
                                <li><span>Received a Federal Pell Grant during the current award year</span></li>
                                <li><span>Meets the eligibility criteria for a participating provider's existing low-income internet program;</span></li>
                                <div class="or"><b>OR</b></div>
                            </ul>
                            <div class="condition">
                                <img class="check" src="assets/icon/circle-check.svg" alt="checkmark">
                                <p class="condition-description"><span>Participates in one of these assistance programs and lives on Qualifying Tribal lands:</span></p>
                            </div>
                            <ul class="sub-condition">
                                <li><span>Bureau of Indian Affairs General Assistance,</span></li>
                                <li><span>Tribal Head Start (only households meeting the 
                                    relevant income qualifying standard),</span></li>
                                <li><span>Tribal Temporary Assistance for Needy Families (Tribal TANF), or</span></li>
                                <li><span>Food Distribution Program on Indian Reservations.</span></li>
                            </ul>
                        </div>
                        <div class="condition">
                            <p class="condition-description larger">You may have to show proof of participation, like a benefit letter or official document, 
                                when you apply for the ACP. </p>
                        </div>
                        <div class="infographic-section" id="house-hold-income">
                            <h4 class="infographic-title">Based on household income </h4>
                            <div class="statistics-container">
                                <div class="statistics-section">
                                    <div class="statistic">
                                        <div class="infographic">
                                            <img class="infographic-img" src="assets/icon/person.svg" alt="person"/>
                                        </div>
                                        <div class="percentages">
                                            <div class="percentage">
                                                <div class="line-section">
                                                    <div class="line orange small"></div>
                                                </div>
                                                <p class="number">$27,180</p>
                                            </div>
                                            <div class="percentage">
                                                <div class="line-section">
                                                    <div class="line purple small"></div>
                                                </div>
                                                <p class="number">$33,980</p>
                                            </div>
                                            <div class="percentage">
                                                <div class="line-section">
                                                    <div class="line blue small"></div>
                                                </div>
                                                <p class="number">$31,260</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="statistic">
                                        <div class="infographic">
                                            <img class="infographic-img" src="assets/icon/person2.svg" alt="2 persons"/>
                                        </div>
                                        <div class="percentages">
                                            <div class="percentage">
                                                <div class="line-section">
                                                    <div class="line orange medium"></div>
                                                </div>
                                                <p class="number">$36,620</p>
                                            </div>
                                            <div class="percentage">
                                                <div class="line-section">
                                                    <div class="line purple medium"></div>
                                                </div>
                                                <p class="number">$45,780</p>
                                            </div>
                                            <div class="percentage">
                                                <div class="line-section">
                                                    <div class="line blue medium"></div>
                                                </div>
                                                <p class="number">$42,120</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="statistic">
                                        <div class="infographic">
                                            <img class="infographic-img" src="assets/icon/person3.svg" alt="group of 3"/>
                                        </div>
                                        <div class="percentages">
                                            <div class="percentage">
                                                <div class="line-section">
                                                    <div class="line orange large"></div>
                                                </div>
                                                <p class="number">$46,060</p>
                                            </div>
                                            <div class="percentage">
                                                <div class="line-section">
                                                    <div class="line purple large"></div>
                                                </div>
                                                <p class="number">$57,580</p>
                                            </div>
                                            <div class="percentage">
                                                <div class="line-section">
                                                    <div class="line blue large"></div>
                                                </div>
                                                <p class="number">$52,980</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="statistic">
                                        <div class="infographic">
                                            <img class="infographic-img" src="assets/icon/person4.svg" alt="group of 4"/>
                                        </div>
                                        <div class="percentages">
                                            <div class="percentage">
                                                <div class="line-section">
                                                    <div class="line orange largest"></div>
                                                </div>
                                                <p class="number">$55,500</p>
                                            </div>
                                            <div class="percentage">
                                                <div class="line-section">
                                                    <div class="line purple largest"></div>
                                                </div>
                                                <p class="number">$69,380</p>
                                            </div>
                                            <div class="percentage">
                                                <div class="line-section">
                                                    <div class="line blue largest"></div>
                                                </div>
                                                <p class="number">$63,840</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="statistic">
                                        <div class="names">
                                            <p class="name">Each</p>
                                            <p class="name">Additional</p>
                                            <p class="name">Member</p>
                                        </div>
                                        <div class="percentages">
                                            <div class="percentage">
                                                <div class="line-section">
                                                    <div class="line orange smallest"></div>
                                                </div>
                                                <p class="number">$9,440</p>
                                            </div>
                                            <div class="percentage">
                                                <div class="line-section">
                                                    <div class="line purple smallest"></div>
                                                </div>
                                                <p class="number">$11,800</p>
                                            </div>
                                            <div class="percentage">
                                                <div class="line-section">
                                                    <div class="line blue smallest"></div>
                                                </div>
                                                <p class="number">$10,860</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="legend-section desktop">
                                        <div class="legend">
                                            <div class="legend-color orange"></div>
                                            <p class="legend-title">Most State</p>
                                        </div>
                                        <div class="legend">
                                            <div class="legend-color purple"></div>
                                            <p class="legend-title">Alaska</p>
                                        </div>
                                        <div class="legend">
                                            <div class="legend-color blue"></div>
                                            <p class="legend-title">Hawaii</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="legend-section responsive">
                                    <div class="legend">
                                        <div class="legend-color orange"></div>
                                        <p class="legend-title">Most State</p>
                                    </div>
                                    <div class="legend">
                                        <div class="legend-color purple"></div>
                                        <p class="legend-title">Alaska</p>
                                    </div>
                                    <div class="legend">
                                        <div class="legend-color blue"></div>
                                        <p class="legend-title">Hawaii</p>
                                    </div>
                                </div>
                            </div>
                            <div class="enroll">
                                <button class="button primary" (click)="goToACPForm()">Enroll Now</button>
                            </div>
                        </div>
                        <div class="important-note"><b>Important: </b> ACP eligibility is determined through the National Verifier, the federal government’s application and approval for determining eligibility. Good Mobile does not determine customer ACP eligibility.</div>
                    </div>
                  </div>
                  <div class="road-step" id="what-is-needed">
                    <img class="step-img" src="assets/img/fifth-road-step.svg" />
                    <div class="info">
                      <h3 class="title">What is needed to apply? </h3>
                      <div class="condition">
                        <img class="check" src="assets/icon/circle-check.svg" alt="checkmark">
                        <p class="condition-description"><span>Apply with <b>Good Mobile!</b> That’s all! <span class="subnote">If you qualify, we get you approved in minutes for FREE and 6GB high-speed Data with unlimited Talk, and Text
                            and connect you to our 4G LTE/5G network. </span></span></p>
                      </div>
                      <div class="condition">
                        <img class="check" src="assets/icon/circle-check.svg" alt="checkmark">
                        <p class="condition-description"><span>Upon completion, you’ll be redirected to the federal government's National Lifeline Eligibility Verifier <b>(National Verifier)</b> to confirm your eligibility.
                             <span class="subnote">If you are verified, you should have a National Verifier Application ID number and you can continue to Good Mobile’s website to finish the process and start using your benefits.  </span></span></p>
                      </div>
                      <div class="phone-section">
                        <h4 class="subtitle">And yes! You can always</h4>
                        <div class="options">
                          <p class="option"><img src="assets/img/bring-device.svg" alt="Bring your own Phone"/><span>Bring Your Own Phone</span></p>
                          <p class="option"><img src="assets/img/keep-device.svg" alt="Keep your phone number, or request a new one."/><span>Keep your phone number, or request a new one.</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="road-step">
                    <img class="step-img" src="assets/img/last-road-step.svg" />
                  </div>
                </div>
            </div>
            <div class="last-action">
                <button class="button primary" (click)="goToACPForm()">Apply Now</button>
            </div>
        </div>
    </section>
  </div>
  