<div class="container model-container full {{context.customClass}}">
    <div class="modal-header">
      <button class="modal-close modal-toggle" (click)="closeDialog()"><i class="icon-close"></i></button>
      <h2 class="modal-heading" *ngIf="context.isManage">Add Payment Method to Wallet</h2>
      <h2 class="modal-heading" *ngIf="!context.isManage">{{editMode?'Edit':'Add New'}} Payment Method</h2>
    </div>
    <div class="modal-body">
      <div class="modal-content">
        <div class="row form-section" *ngIf="context.isManage">
          <div class="three" *ngFor="let methodItem of methodsList">
            <h5 class="text-bold">{{methodItem.method}} {{methodItem.id === context.userPlan.paymentMethodId ? '- Default' : ''}}</h5>
            <small>{{methodItem.alias}}<br> Expiring {{methodItem.expirationDate | expirationDateFormat}}</small>
            <div class="link-holder">
              <small><a class="text-bold" [class.disabled]="setDefaultRequest" [attr.disabled]="setDefaultRequest" (click)="makePaymentMethodAsDefault(methodItem.id)"
                        *ngIf="methodItem.id !== context.userPlan.paymentMethodId">Make Default</a></small>
            </div>
          </div>
        </div>
        <div class="form-section payment-form">
          <fieldset class="twelve credit-image">
            <h4 *ngIf="context.isManage">Add New Payment Method</h4>
            <div class="radio">
              <div class="radio">
                <input title="credit card method" type="radio" value="Credit Card" checked name="cc_method">
                <label class="radio-label"></label>
              </div>
              <label class="radio-label">
                <img src="/assets/img/credit-cards-logos-bw.png" alt="Credit Card">
                <span> Credit Card</span>
              </label>
            </div>
          </fieldset>
        </div>
        <div class="row form-section">
          <div class="twelve">
            <app-credit-card-payment [(paymentInfo)]="paymentInfo" (isValid)="setValidCardInfo($event)"></app-credit-card-payment>
  
            <div class="form-section">
              <h4>Billing Address</h4>
              <app-address-lookup [displayedAddress]="billingAddress" (addressChange)="updateAddress($event)" (isValid)="setValidBillingAddress($event)"></app-address-lookup>
            </div>
          </div>
        </div>
        <div class="row form-section modal-actions">
          <button *ngIf="!editMode" class="button primary" (click)="savePaymentInfo()"
                  [class.disabled]="!isValidPaymentInfo" [disabled]="!isValidPaymentInfo" [uiBlockButton]="processingRequest">
            Save
          </button>
          <button *ngIf="editMode" class="button primary" (click)="savePaymentInfo()" [class.disabled]="!isValidPaymentInfo"
                  [disabled]="!isValidPaymentInfo" [uiBlockButton]="processingRequest">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
  