<section class="container-flex internal-page-margins sim-arrival">
    <div class="container-flex-row flex-center margin-bottom-20">
        <div class="text-center">
            <h1 class="header" id="sim-arrival-header">Sounds like your GoodMobile SIM hasn’t arrived yet.
                Hang tight, the SIM should arrive soon, please check
                your email for tracking information.</h1>
        </div>
    </div>
    <div class="actions-container">
        <button class="button primary" id="summary-button" (click)="goToAccountSummary()">Go to Account Summary</button>
    </div>
</section>