@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";

.sim-arrival {
    .header {
        font-size: rem-calc(30px);
        line-height: 39px;
        margin-bottom: 15px;
        max-width: 717px;
    }
    .subhead {
        font-size: rem-calc(30px);
        line-height: 39px;
    }
    .actions-container {
        text-align: center;
        margin-top: 40px;
        .button {
            width: 258px;
            padding: 11px;
            font-size: rem-calc(20px);
        }
    }
    @media (max-width: $desktop-min-width-minus) {
        .flex-center {
            margin-top: 30px;
        }
        .header {
            font-size: rem-calc(28px);
            line-height: 37px;
            max-width: 650px;
        }
    }
    @media (max-width: $phablet-min-width-minus) {
        .flex-center {
            margin-top: 15px;
        }
        .header {
            font-size: rem-calc(26px);
            line-height: 30px;
            padding: 10px;
        }
        .subhead {
            font-size: rem-calc(20px);
            line-height: 30px;
        }
        .actions-container {
            .button {
                display: block;
                margin: 15px auto;
            }
        }
    }
}