@import "../../../../styles/modules/_variables.scss";
@import "../../../../styles/modules/_mixins.scss";

.report-issue {
    @media (max-width: $desktop-min-width-minus) {
        margin-bottom: 100px;
    }

    .back-section {
        display: flex;
        margin-bottom: 32px;
        align-items: center;
        flex-wrap: wrap;

        .back-link {
            cursor: pointer;
            color: $primary-color;
            margin-bottom: 0;
            font-weight: bold;
            margin-right: 10px;
        }

        .id {
            font-family: $secondary-font-family-bold;
            color: $primary-color;
            margin-bottom: 0;
        }

        img {
            transform: rotate(180deg);
        }

        @media(max-width: $phablet-min-width-minus) {
            margin-bottom: 24px;
            margin-top: 24px;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        .header {
            font-family: $secondary-font-family-bold;
            margin-bottom: 12px;
        }

        @media (max-width: $phablet-min-width-minus) {
            margin-bottom: 24px;
        }
    }

    .options-container {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        gap: 16px;

        .report-option {
            background: #F8FCFE;
            border: 1px solid #005895;
            box-shadow: 0px 4px 12px rgba(165, 163, 163, 0.25);
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            padding: 12px;
            gap: 12px;
            align-items: center;
            flex-basis: 47%;

            &:hover {
                background: #FEF9F4;
                border: 1px solid #E68215;
            }

            &.disabled {
                background: #A5A3A333;
                box-shadow: 0px 4px 12px 0px #38383826;
                cursor: not-allowed;

                &:hover {
                    background: #A5A3A333;
                }
            }

            .option-img {
                width: 60px;
                height: 60px;
            }

            .option-title {
                font-family: $base-font-family-bold;
            }
        }

        @media(max-width: $desktop-min-width-minus) {
            flex-direction: column;

            .report-option {
                flex-basis: 100%;
            }
        }

        @media(max-width: $phablet-min-width-minus) {
            gap: 12px;

            .report-option {
                .option-img {
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }
}