@import "../../../../styles/modules/_variables.scss";
@import "../../../../styles/modules/_mixins.scss";

::ng-deep {
    .edit-address {
        h3 {
            margin-bottom: 32px;

            @media(max-width: $phablet-min-width-minus) {
                margin-bottom: 24px;
            }
        }

        .form-section-specific{
            max-width: 512px;

            &.edit {
                max-width: 550px;
            }

            .name {
                max-width: 305px;
                margin-bottom: 30px;

                &.long {
                    max-width: 350px;
                }

                .validation-message {
                    margin-bottom: 0;
                }
            }

            .shipping-method-form {
                margin-top: 24px;
            }

            .four {
                padding-left: 0;

                @media (max-width: $phablet-min-width-minus) {
                    margin-top: 20px;
                }

                .validation-message {
                    margin-bottom: 0 !important;
                }
            }

            .address-lookup {
                padding-left: 0;
            }

            .icon-search {
                display: none;
            }

            input {
                height: 40px;
            }

            @media (max-width: $phablet-min-width-minus) {
                .name {
                    max-width: none;
                }
            }
        }

        .current-address {
            .smaller {
                margin-bottom: 24px;

                b {
                    font-family: $base-font-family-bold;
                }
            }

            .info-banner {
                position: relative;

                .edit-icon {
                    position: absolute;
                    top: 24px;
                    right: 24px;
                    cursor: pointer;

                    @media (max-width: $phablet-min-width-minus) {
                        top: 16px;
                        right: 16px;
                    }
                }
            }

            .edit-card {
                background: #A5A3A30D;
                box-shadow: 0px 3px 15px 0px #29292933;
                border-radius: 10px;
                padding: 10px 30px 30px;
            }

            &.success {
                margin-top: 24px;
            }

            @media (max-width: $phablet-min-width-minus) {
                .label {
                    font-size: rem-calc(16px);
                    line-height: 24px;
                }
            }
        }

        .addresses-list-section {
            margin-top: 32px;

            @media (max-width: $phablet-min-width-minus) {
                margin-top: 24px;
            }

            .smaller {
                margin-bottom: 24px;

                @media (max-width: $phablet-min-width-minus) {
                    margin-bottom: 20px;
                }
            }

            .info-banner {
                margin-bottom: 24px;

                @media (max-width: $phablet-min-width-minus) {
                    margin-bottom: 20px;
                }
            }

            .addresses-box {
                background: #FBFBFB;
                box-shadow: 0px 4px 12px rgba(94, 94, 94, 0.03), 0px 8px 30px rgba(94, 94, 94, 0.08), 0px 5px 16px rgba(0, 60, 117, 0.02);
                border-radius: 10px;

                .box-header {
                    padding: 16px 24px;
                    border-bottom: 1px solid #D9E6EF;

                    h4 {
                        margin: 0;
                    }
                }

                .list-container {
                    padding: 24px 24px 32px;

                    .address-item {
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid #CED3D6;
                        padding: 20px 0;
                        align-items: flex-start;

                        &:last-of-type {
                            border-bottom: none;
                        }

                        .selection {
                            .info {
                                display: block;
                                font-size: rem-calc(16px);
                                font-weight: 400;
                                font-family: $base-font-family;
                                line-height: 24px;
                                margin: 5px 0 0;
                            }
                        }

                        &.hidden {
                            display: none;
                        }

                        &.last {
                            border: none;
                        }
                    }

                    .showMore {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        color: $primary-color;
                        margin: 16px 0 24px;
                        cursor: pointer;

                        .more {
                            font-size: rem-calc(18px);
                            line-height: 18px;
                            margin-bottom: 0;
                            padding-left: 10px;
                            font-family: $secondary-font-family-bold;
                        }

                        img {
                            width: 24px;
                            height: 24px;

                            &.rotate {
                                transform: rotate(-180deg);
                            }
                        }
                    }

                    .check {
                        margin-right: 8px;
                    }

                    .new-address {
                        .section-hightligt {
                            background: #E5EEF4;
                            color: $primary-color;
                            padding: 8px 16px;
                            display: flex;
                            align-items: center;
                            border-radius: 10px;
                            cursor: pointer;

                            .section-title {
                                margin-bottom: 0;
                                font-family: $base-font-family-bold;
                            }

                            .icon {
                                font-size: rem-calc(30px);
                                line-height: 28px;
                                margin-bottom: 5px;
                                margin-right: 5px;
                            }
                        }

                        .form-actions {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 0;

                            .transparent {
                                border: none;
                                background-color: transparent;
                                color: $primary-color;
                                font-family: $secondary-font-family-bold;
                                font-size: rem-calc(20px);
                                padding: 0;

                                &.hidden {
                                    visibility: hidden;
                                }
                            }

                            .primary {
                                width: 110px;
                                font-family: $secondary-font-family-bold;
                                font-size: rem-calc(20px);
                                padding: 8px;
                                margin-right: 15px;
                            }
                        }
                    }

                    [type="radio"]:checked,
                    [type="radio"]:not(:checked) {
                        position: absolute;
                        left: -9999px;
                    }

                    [type="radio"]:checked+label,
                    [type="radio"]:not(:checked)+label {
                        position: relative;
                        padding-left: 28px;
                        cursor: pointer;
                        line-height: 20px;
                        display: inline-block;
                        color: #383838;
                        font-size: rem-calc(18px);
                        font-family: $secondary-font-family-bold;
                        margin-bottom: 0;
                    }

                    [type="radio"]:checked+label:before,
                    [type="radio"]:not(:checked)+label:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 21px;
                        height: 21px;
                        border: 1px solid #A5A3A3;
                        border-radius: 100%;
                        background: #fff;

                    }

                    [type="radio"]:checked+label:after,
                    [type="radio"]:not(:checked)+label:after {
                        content: '';
                        width: 14px;
                        height: 13px;
                        background: $primary-color;
                        position: absolute;
                        top: 4px;
                        left: 4px;
                        border-radius: 100%;
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                    }

                    [type="radio"]:not(:checked)+label:after {
                        opacity: 0;
                        -webkit-transform: scale(0);
                        transform: scale(0);
                    }

                    [type="radio"]:checked+label:after {
                        opacity: 1;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }

            @media (max-width: $phablet-min-width-minus) {
                margin-top: 24px;

                .desc {
                    font-size: rem-calc(16px);
                    line-height: 24px;
                    margin-bottom: 16px;
                }

                .addresses-box {
                    .box-header {
                        padding: 16px;
                    }

                    .list-container {
                        padding: 16px 16px 24px;

                        .address-item {
                            padding: 16px 0;

                            .selection {
                                .info {
                                    display: block;
                                    font-size: rem-calc(12px);
                                    line-height: 20px;
                                    margin: 8px 0 0;
                                }
                            }
                        }

                        .showMore {
                            gap: 4px;
                            margin: 16px 0;

                            .more {
                                font-size: rem-calc(16px);
                                line-height: 16px;
                                padding-left: 5px;
                            }

                            img {
                                width: 16px;
                                height: 16px;
                            }
                        }

                        .new-address {
                            .section-hightligt {
                                .icon {
                                    font-size: rem-calc(28px);
                                }
                            }

                            .form-section {
                                .name {
                                    max-width: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .more-help {
            margin: 32px 0 0;

            .help {
                color: $primary-color;
                font-family: $secondary-font-family-bold;
                line-height: 18px;
                margin-bottom: 0;
                cursor: pointer;
            }

            @media (max-width: $phablet-min-width-minus) {
                margin: 24px 0 0;
            }
        }
    }
}