@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-in {
    opacity: 1;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

.fade-out {
    opacity: 0;
    animation-name: fadeOut;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

::ng-deep {
    .acp-section {
        margin-bottom: 20px;

        @media (min-width: $desktop-min-width) {
            padding-top: 38px;
        }

        @media (max-width: $desktop-min-width-minus) {
            margin-top: 50px;
            margin-bottom: 70px;
        }

        .summary-title {
            font-size: rem-calc(32px);
            line-height: 40px;
            font-family: $secondary-font-family-bold;
            margin-bottom: 0;

            @media (max-width: $phablet-min-width-minus) {
                font-size: rem-calc(24px);
                line-height: 32px;
            }
        }

        .actions-top {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;

            @media (max-width: $mobile-min-width-minus) {
                flex-direction: column;
                gap: 16px;
            }

            a {
                font-size: rem-calc(20px);
                line-height: 20px;
                font-family: $secondary-font-family-bold;

                @media (max-width: $phablet-min-width-minus) {
                    font-size: rem-calc(16px);
                    line-height: 16px;
                }
            }
        }

        .info-banner {
            margin-top: 40px;

            @media (max-width: $phablet-min-width-minus) {
                margin-top: 24px;
            }

            &.none {
                display: none;
            }
        }

        .acp-application-card {
            max-width: 941px;
            width: 100%;
            background: rgba(165, 163, 163, 0.05);
            box-shadow: 0px 3px 15px rgba(41, 41, 41, 0.2);
            border-radius: 10px;
            margin-top: 40px;

            @media (max-width: $phablet-min-width-minus) {
                margin-top: 24px;
            }

            .card-header-part {
                padding: 24px 32px;
                background: #FFFFFF;
                border-radius: 10px 10px 0px 0px;
                position: relative;

                @media (max-width: $desktop-min-width-minus) {
                    flex-wrap: wrap;
                }

                @media (max-width: $phablet-min-width-minus) {
                    padding: 32px;
                }

                &.border-radius {
                    border-radius: 10px;
                }

                .header-flex {
                    display: flex;
                    justify-content: space-between;
                    margin-right: 50px;

                    @media (max-width: $tablet-min-width-minus) {
                        flex-direction: column;
                        gap: 8px;
                    }

                    &.no-margin {
                        margin-right: 0;
                    }

                    .title {
                        font-size: rem-calc(24px);
                        line-height: 32px;
                        font-family: $secondary-font-family-bold;
                        margin-bottom: 0;
                        white-space: nowrap;

                        @media (max-width: $phablet-min-width-minus) {
                            font-size: rem-calc(20px);
                            line-height: 28px;
                        }

                        img {
                            margin-left: 12px;

                            @media (max-width: $phablet-min-width-minus) {
                                margin-left: 8px;
                            }
                        }
                    }

                    .app-id {
                        font-size: rem-calc(16px);
                        line-height: 24px;
                        color: #A5A3A3;
                        margin-top: 4px;
                        display: flex;
                        gap: 8px;

                        @media (min-width: $desktop-min-width) and (max-width: 1149.9px) {
                            flex-direction: column;
                            gap: 2px;
                        }

                        @media (max-width: 499.9px) {
                            flex-direction: column;
                            gap: 2px;
                        }

                        p {
                            margin: 0;
                        }
                    }

                    .status-date {
                        font-size: rem-calc(16px);
                        line-height: 24px;
                        white-space: nowrap;

                        .key {
                            color: #A5A3A3;
                            margin-bottom: 0;

                            &.bottom {
                                margin-bottom: 8px;
                            }
                        }

                        .value {
                            color: $black;
                            margin-left: 20px;
                            margin-bottom: 0;

                            &.status {
                                color: $secondary-color;
                                margin-left: 8px;
                            }

                            &.complete-status {
                                color: #0EB864;
                            }

                            &.alert-status {
                                color: #D22119;
                            }
                        }
                    }
                }

                .collapse-icon {
                    position: absolute;
                    right: 32px;
                    top: 24px;

                    @media (max-width: $phablet-min-width-minus) {
                        right: 16px;
                        top: 16px;
                    }

                    img {
                        cursor: pointer;

                        @media (max-width: $phablet-min-width-minus) {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

            .card-content-part {
                padding: 40px 24px 32px;

                @media (max-width: $phablet-min-width-minus) {
                    padding: 32px 16px 32px;
                }

                .description {
                    font-size: rem-calc(18px);
                    line-height: 28px;
                    padding: 0 8px;
                    margin-bottom: 40px;

                    @media (max-width: $phablet-min-width-minus) {
                        font-size: rem-calc(16px);
                        line-height: 24px;
                    }
                }

                .action-required {
                    padding: 24px 24px 32px;
                    background: rgba(134, 51, 153, 0.1);
                    box-shadow: 0px 3px 4px rgb(234 234 234 / 25%);
                    border-radius: 8px 8px 10px 10px;
                    display: flex;
                    align-items: flex-start;
                    gap: 12px;

                    @media (max-width: $phablet-min-width-minus) {
                        padding: 16px 16px 24px;
                        gap: 8px;
                    }

                    &.alert-background {
                        background: #FFEFEE;
                    }

                    &.success-background {
                        background: #E6F7EE;
                        padding: 24px;

                        @media (max-width: $phablet-min-width-minus) {
                            padding: 16px 16px 24px;
                        }
                    }

                    img {
                        @media (max-width: $phablet-min-width-minus) {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    .action-required-content {
                        .title {
                            font-size: rem-calc(20px);
                            line-height: 28px;
                            font-family: $secondary-font-family-bold;
                            margin-bottom: 8px;
                        }

                        .desc {
                            font-size: rem-calc(18px);
                            line-height: 28px;
                            margin-bottom: 0;

                            @media (max-width: $phablet-min-width-minus) {
                                font-size: rem-calc(16px);
                                line-height: 24px;
                            }

                            .top {
                                margin-bottom: 0;
                                margin-top: 8px;
                            }

                            &.top-bottom {
                                margin-top: 8px;
                                margin-bottom: 8px;
                            }

                            .bold-nowrap {
                                font-weight: bold;
                                white-space: nowrap;
                            }
                        }

                        .actions {
                            margin-top: 24px;
                            display: flex;
                            align-items: center;
                            gap: 24px;

                            @media (max-width: $tablet-min-width-minus) {
                                flex-direction: column;
                                align-items: flex-start;
                            }

                            @media (max-width: $phablet-min-width-minus) {
                                margin-top: 20px;
                            }

                            button {
                                font-size: rem-calc(20px);
                                line-height: 20px;
                                font-family: $secondary-font-family-bold;
                                padding: 8px 32px;

                                @media (max-width: $phablet-min-width-minus) {
                                    font-size: rem-calc(16px);
                                    line-height: 16px;

                                    &.long {
                                        padding: 8px 20px;
                                    }
                                }

                                &.pending-width {
                                    width: 242px;

                                    @media (max-width: $phablet-min-width-minus) {
                                        width: 190px;
                                    }
                                }

                                &.hold-width {
                                    width: 252px;

                                    @media (max-width: $phablet-min-width-minus) {
                                        width: 190px;
                                    }
                                }
                            }

                            a {
                                font-size: rem-calc(20px);
                                line-height: 20px;
                                font-family: $secondary-font-family-bold;

                                @media (max-width: $phablet-min-width-minus) {
                                    font-size: rem-calc(16px);
                                    line-height: 16px;
                                }
                            }
                        }

                        .refresh-note {
                            font-size: rem-calc(14px);
                            line-height: 24px;
                            font-weight: 700;
                            color: $secondary-color;
                            margin-bottom: 0;
                            margin-top: 8px;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}