<section class="acp-section col-xl-offset-1">
    <p class="summary-title">ACP Summary</p>
    <p class="created-date smaller" *ngIf="!!createdDate">Creation Date: <span>{{createdDate | date}}</span></p>
    <p class="created-date smaller space" *ngIf="!!providerApplicationID">ACP application ID:
        <span>{{providerApplicationID}}</span>
    </p>
    <div class="actions-top" *ngIf="!showAcpApplicationCard">
        <a data-cy="viewApplicationForm" [routerLink]="[ACP_ROUTE_URLS.BASE + '/' + ACP_ROUTE_URLS.DETAILS]">View Application Form</a>
        <a (click)="cancelApplication()" *ngIf="!acpPlan">Cancel Application</a>
    </div>
    <div class="acp-application-card" *ngIf="!!barCodeValue">
        <div class="card-header-part" [class.border-radius]="hideCardContentUI === true">
            <div class="header-flex">
                <p class="title">User Information</p>
            </div>
            <div class="collapse-icon">
                <img [src]="hideCardContentUI ? 'assets/icon/path-down-icon.svg' : 'assets/icon/path-up-icon.svg'"
                    alt="arrow icon" (click)="hideCardContentUI = !hideCardContentUI">
            </div>
        </div>
        <div class="card-content-part" *ngIf="!hideCardContentUI">
            <ng-container *ngIf="!ACP_DEVICE_DESCS[acpDeviceCase] && !pendingACPDevice">
                <h5>Your ACP ID:</h5>
                <div class="barcode-section">
                    <ngx-barcode6 [bc-value]="barCodeValue" [bc-display-value]="true" class="barCode-radios">
                    </ngx-barcode6>
                </div>
                <p class="smaller grey">{{barCodeValue}}</p>
            </ng-container>
            <ng-container *ngIf="!!pendingACPDevice">
                <div class="intro">
                    <img src="assets/icon/hooray-icon.svg" alt="hooray" width="50" height="50">
                    <p class="smaller intro-desc" data-cy="orderDeviceSuccessfullyPlaced">Your device order has been successfully placed!</p>
                </div>
                <p class="tertiary text-color-primary" (click)="showDeviceCode=true;showACPCodeSection=false;" *ngIf="!showDeviceCode"><b>Show Device order Barcode </b> <img class="arrow-icon" src="assets/icon/arrow_circle.svg" alt="arrow"></p>
                <div class="info-banner default-background device-code-section" *ngIf="showDeviceCode">
                    <h5 class="title">Your Device order Barcode: <span class="tertiary text-color-primary" (click)="toggleDeviceCode()">{{showDeviceCode ? 'Hide' : 'Show'}}</span></h5>
                    <p class="smallest">Take this barcode with instructions below to your Goodwill store clerk to collect your Device.</p>
                    <div class="barcode-section">
                        <ngx-barcode6 [bc-value]="acpDeviceOrder?.devices[0]?.itemId" [bc-display-value]="true" class="barCode-radios">
                        </ngx-barcode6>
                    </div>
                    <p class="smaller text-color-grey">Item # {{acpDeviceOrder?.devices[0]?.itemId}}</p>
                    <p class="smallest clark">STORE’S CLERK INSTRUCTIONS</p>
                    <div class="instruction-flex">
                        <div class="instruction-details">
                            <img class="instruction-img" src="/assets/icon/card-scan.svg" alt="card-scan-icon" width="60" height="64">
                            <p class="smallest img-claric">Select <b>‘Online Tablet Order’</b> button</p>
                        </div>
                        <div class="instruction-details">
                            <img class="instruction-img" src="/assets/icon/barcode-scan.svg" alt="barcode-scan-icon" width="60" height="64">
                            <p class="smallest img-claric">Scan <b>Barcode</b></p>
                        </div>
                        <div class="instruction-details">
                            <img class="instruction-img" src="/assets/icon/device-scan.svg" alt="device-scan-icon" width="60" height="64">
                            <p class="smallest img-claric">Scan <b>Device IMEI</b></p>
                        </div>
                    </div>
                </div>
                <div class="acp-code-section">
                    <p class="tertiary text-color-primary" (click)="toggleACPCode()"><b>{{!!showACPCodeSection ? 'Hide ACP ID Barcode ' : 'Show ACP ID Barcode '}}</b> <img class="arrow-icon" src="assets/icon/arrow_circle.svg" alt="arrow" [class.rotate]="!showACPCodeSection"></p>
                    <div class="code-section" *ngIf="showACPCodeSection">
                        <div class="barcode-section" >
                            <h5>Your ACP ID:</h5>
                            <ngx-barcode6 [bc-value]="barCodeValue" [bc-display-value]="true" class="barCode-radios">
                            </ngx-barcode6>
                        </div>
                        <p class="smaller text-color-grey">{{barCodeValue}}</p>
                    </div>
                </div>
            </ng-container>
            <div class="banners-section">
                <div class="info-banner success-background" *ngIf="!!showSPCard && !acpPlan" [class.none]="!!isDisplayNone"
                    [ngClass]="{'fade-in': !!showSuccessBanner, 'fade-out': !showSuccessBanner}">
                    <div class="flex center">
                        <img src="assets/icon/success-icon.svg" alt="Success Icon">
                        <div class="banner-content">
                            <p class="description last">Your application with Good Mobile was successfully approved.</p>
                        </div>
                    </div>
                </div>
                <div class="info-banner default-background device" *ngIf="!!ACP_DEVICE_DESCS[acpDeviceCase]">
                    <div class="flex">
                        <img *ngIf="ACP_DEVICE_DESCS[acpDeviceCase]?.imgPath1"
                            [src]="ACP_DEVICE_DESCS[acpDeviceCase]?.imgPath1" alt="Icon">
                        <div class="banner-content">
                            <p class="title" data-cy="bannerContentTitle" *ngIf="ACP_DEVICE_DESCS[acpDeviceCase]?.title">
                                {{ACP_DEVICE_DESCS[acpDeviceCase]?.title}}</p>
                            <p class="description" *ngIf="ACP_DEVICE_DESCS[acpDeviceCase]?.desc1"
                                [innerHTML]="ACP_DEVICE_DESCS[acpDeviceCase]?.desc1" data-cy="youAreEligibleDescription"></p>
                            <p class="description last" *ngIf="ACP_DEVICE_DESCS[acpDeviceCase]?.desc2"
                                [innerHTML]="ACP_DEVICE_DESCS[acpDeviceCase]?.desc2"></p>
                            <div class="device-checkout-options" *ngIf="canPurchaseADevice">
                                <p class="question">How do you want to claim your device?</p>
                                <div class="options-container">
                                    <div class="radioBtn" [class.selected]="option === 'online'">
                                        <label class="form-control" for="online" (click)="selectDeviceOption('online')">
                                          <input type="radio" value="online" [(ngModel)]="option" data-cy="online" id="online" name="online" required>
                                          <div class="content">
                                              <img src="/assets/icon/online.svg" alt="online" class="home-icon">
                                              <div class="input-details">
                                              <p class="smallest primary-font-bold">Choose Device Online</p>
                                              <p class="caption">Order online & pick it up in-store</p>
                                          </div>
                                        </div>
                                        </label>
                                    </div>
                                    <div class="radioBtn" [class.selected]="option === 'store'">
                                        <label class="form-control" for="store" (click)="selectDeviceOption('store')">
                                          <input type="radio" value="store" [(ngModel)]="option" data-cy="store" id="store" name="store" required>
                                          <div class="content">
                                              <img src="/assets/icon/store.svg" alt="store pickup" class="home-icon">
                                              <div class="input-details">
                                              <p class="smallest primary-font-bold">Pick Device In-Store</p>
                                              <p class="caption">Choose it if you're at the store</p>
                                          </div>
                                        </div>
                                        </label>
                                    </div>
                                </div>
                                <p class="validation-message" data-cy="pleaseSelectOptionMsg" *ngIf="showDeviceOptionError">Please Select an option to proceed</p>
                            </div>
                            <div class="actions" *ngIf="!!ACP_DEVICE_DESCS[acpDeviceCase]?.buttonName">
                                <button class="button primary" data-cy="letStartBtn" *ngIf="!!ACP_DEVICE_DESCS[acpDeviceCase]?.buttonName"
                                    (click)="this[ACP_DEVICE_DESCS[acpDeviceCase]?.buttonAction]()">
                                    {{ACP_DEVICE_DESCS[acpDeviceCase]?.buttonName}}</button>
                            </div>
                        </div>
                        <img *ngIf="ACP_DEVICE_DESCS[acpDeviceCase]?.imgPath2" class="position-img"
                            [src]="ACP_DEVICE_DESCS[acpDeviceCase]?.imgPath2" alt="Icon">
                    </div>
                </div>
                <div class="info-banner error-background" *ngIf="!!showAttentionBanner">
                    <div class="flex">
                        <img src="assets/icon/red-alert.svg" alt="Alert Icon">
                        <div class="banner-content">
                            <p class="title">Attention</p>
                            <p class="description bottom-8">Your previous application has expired.</p>
                            <p class="description"><b>Don’t Worry!</b></p>
                            <p class="description bottom-8">We've created a new application on your behalf.</p>
                            <p class="description last"><b>To start using your free service, please make sure to finish
                                    your ACP
                                    approval process within 30 days of your application date.</b></p>
                        </div>
                    </div>
                </div>
                <div class="info-banner error-background"
                    *ngIf="!!showAcpPlanActivationCard && ( !!planActivationStatus && planActivationStatus !== 'ENROLLED' )">
                    <div class="flex">
                        <img src="assets/icon/red-alert.svg" alt="Alert Icon">
                        <div class="banner-content">
                            <p class="title">Attention</p>
                            <p class="description last">Please make sure to activate yor plan within <b>30 days</b>,
                                otherwise, you
                                will lose the service.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="acp-application-card" *ngIf="!!showAcpApplicationCard">
        <div class="card-header-part">
            <div class="header-flex no-margin">
                <div class="title-app-id">
                    <p class="title">ACP Application<span><img *ngIf="!showAlert" src="assets/icon/pending-dot.svg"
                                alt="dot icon"></span>
                    </p>
                    <div class="app-id" *ngIf="!showAlert">
                        <p>Good Mobile APP ID:</p>
                        <p>{{acpAppDetails?.data?.applicationId}}</p>
                    </div>
                </div>
                <div class="status-date" *ngIf="!showAlert">
                    <p class="key bottom">Status: <span class="value status">{{appStatus}}</span></p>
                    <p class="key">Last modified: <span class="value">{{acpAppDetails?.data?.updatedAt | date}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="card-content-part">
            <div class="info-banner default-background" [class.error-background]="!!showAlert">
                <div class="flex">
                    <img [src]="!!showAlert ? 'assets/icon/error-icon.svg' : 'assets/icon/info-icon.svg'"
                        alt="Note Icon">
                    <div class="banner-content" *ngIf="!!ACP_DESCS[appStatus]">
                        <p class="title" *ngIf="ACP_DESCS[appStatus]?.title" data-cy="infoBannerTitle">{{ACP_DESCS[appStatus]?.title}}</p>
                        <p class="description" data-cy="infoBannerFirstDescription" *ngIf="!!ACP_DESCS[appStatus]?.desc1"
                            [innerHTML]="ACP_DESCS[appStatus]?.desc1"></p>
                        <p class="description last" data-cy="infoBannerLastDescription" *ngIf="!!ACP_DESCS[appStatus]?.desc2"
                            [innerHTML]="ACP_DESCS[appStatus]?.desc2"></p>
                        <div class="actions" *ngIf="!!ACP_DESCS[appStatus]?.buttonName">
                            <button class="button primary" data-cy="resumeFilingBtn" [class.long]="!!ACP_DESCS[appStatus]?.longClass"
                                *ngIf="!!ACP_DESCS[appStatus]?.buttonName"
                                (click)="this[ACP_DESCS[appStatus]?.buttonAction]()"
                                [disabled]="!!this[ACP_DESCS[appStatus]?.disabledCondition]"
                                [class.disabled]="!!this[ACP_DESCS[appStatus]?.disabledCondition]">{{ACP_DESCS[appStatus]?.buttonName}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="acp-application-card" *ngIf="!!showAcpPlanActivationCard">
        <div class="card-header-part" [class.border-radius]="hideCardContentNV === true">
            <div class="header-flex">
                <p class="title">ACP Plan Activation<span><img
                            [src]="(!!planActivationStatus && planActivationStatus === 'ENROLLED') ? 'assets/icon/green-dot.svg' : 'assets/icon/pending-dot.svg'"
                            alt="dot icon"></span></p>
                <div class="status-date">
                    <p class="key bottom">Status: <span class="value status bold" data-cy="acpPlanActivationStatusValue"
                            [class.complete-status]="(!!planActivationStatus && planActivationStatus === 'ENROLLED')">{{ACP_PLAN_STATUS_TITLE[planActivationStatus]}}</span>
                    </p>
                    <p class="key">Last modified: <span class="value">{{!!appDetails ? (appDetails?.updatedAt | date) :
                            'N/A'}}</span></p>
                </div>
            </div>
            <div class="collapse-icon">
                <img [src]="hideCardContentPA ? 'assets/icon/path-down-icon.svg' : 'assets/icon/path-up-icon.svg'"
                    alt="arrow icon" (click)="hideCardContentPA = !hideCardContentPA">
            </div>
        </div>
        <div class="card-content-part" *ngIf="!hideCardContentPA">
            <div class="info-banner default-background">
                <div class="flex">
                    <img src="assets/icon/info-icon.svg" alt="Note Icon">
                    <div class="banner-content" *ngIf="!!ACP_PLAN_DESCS[planActivationStatus]">
                        <p class="title" *ngIf="ACP_PLAN_DESCS[planActivationStatus]?.title">
                            {{ACP_PLAN_DESCS[planActivationStatus]?.title}}</p>
                        <p class="description" *ngIf="!!ACP_PLAN_DESCS[planActivationStatus]?.desc1"
                            [innerHTML]="ACP_PLAN_DESCS[planActivationStatus]?.desc1"></p>
                        <p class="description bottom-8" *ngIf="!!ACP_PLAN_DESCS[planActivationStatus]?.desc2"
                            [innerHTML]="ACP_PLAN_DESCS[planActivationStatus]?.desc2"></p>
                        <p class="description last" *ngIf="!!ACP_PLAN_DESCS[planActivationStatus]?.desc3"
                            [innerHTML]="ACP_PLAN_DESCS[planActivationStatus]?.desc3" data-cy="mdnValue"></p>
                        <p class="description mt-10" data-cy="acpDeviceOrderDescription"
                            [class.separator]="!!ACP_PLAN_DESCS[planActivationStatus]?.showSeparator"
                            *ngIf="!!ACP_PLAN_DESCS[planActivationStatus]?.desc4"
                            [innerHTML]="ACP_PLAN_DESCS[planActivationStatus]?.desc4"></p>
                        <p class="description mt-10" data-cy="acpDeviceProceedCollectDescription" *ngIf="!!ACP_PLAN_DESCS[planActivationStatus]?.desc5"
                            [innerHTML]="ACP_PLAN_DESCS[planActivationStatus]?.desc5"
                            (click)="this[ACP_PLAN_DESCS[planActivationStatus]?.descAction]()"></p>
                        <div class="stores-list" *ngIf="!!showStores">
                            <app-stores-list></app-stores-list>
                        </div>
                        <div class="actions"
                            *ngIf="!!ACP_PLAN_DESCS[planActivationStatus]?.primaryButtonName || !!ACP_PLAN_DESCS[planActivationStatus]?.secondaryButtonName || !!ACP_PLAN_DESCS[planActivationStatus]?.linkName">
                            <button class="button primary" data-cy="actionAcpBtn"
                                [class.pending-width]="!!ACP_PLAN_DESCS[planActivationStatus]?.pendingWidth"
                                [class.hold-width]="!!ACP_PLAN_DESCS[planActivationStatus]?.onHoldWidth"
                                [class.long]="!!ACP_PLAN_DESCS[planActivationStatus]?.longClass"
                                *ngIf="!!ACP_PLAN_DESCS[planActivationStatus]?.primaryButtonName"
                                (click)="this[ACP_PLAN_DESCS[planActivationStatus]?.primaryButtonAction]()"
                                [disabled]="!!this[ACP_PLAN_DESCS[planActivationStatus]?.disabledCondition]"
                                [class.disabled]="!!this[ACP_PLAN_DESCS[planActivationStatus]?.disabledCondition]">{{ACP_PLAN_DESCS[planActivationStatus]?.primaryButtonName}}
                            </button>
                            <button class="button secondary"
                                [class.pending-width]="!!ACP_PLAN_DESCS[planActivationStatus]?.pendingWidth"
                                [class.hold-width]="!!ACP_PLAN_DESCS[planActivationStatus]?.onHoldWidth"
                                [class.long]="!!ACP_PLAN_DESCS[planActivationStatus]?.longClass"
                                *ngIf="!!ACP_PLAN_DESCS[planActivationStatus]?.secondaryButtonName"
                                (click)="this[ACP_PLAN_DESCS[planActivationStatus]?.secondaryButtonAction]()"
                                [disabled]="!!this[ACP_PLAN_DESCS[planActivationStatus]?.disabledCondition]"
                                [class.disabled]="!!this[ACP_PLAN_DESCS[planActivationStatus]?.disabledCondition]">{{ACP_PLAN_DESCS[planActivationStatus]?.secondaryButtonName}}
                            </button>
                            <button class="button thirdly"
                                (click)="this[ACP_PLAN_DESCS[planActivationStatus]?.linkAction]()"
                                *ngIf="!!ACP_PLAN_DESCS[planActivationStatus]?.linkName">{{ACP_PLAN_DESCS[planActivationStatus]?.linkName}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="acp-application-card" *ngIf="!!showSPCard">
        <div class="card-header-part" [class.border-radius]="hideCardContentSP === true">
            <div class="header-flex">
                <p class="title">Service Provider<span><img src="assets/icon/green-dot.svg" alt="dot icon"></span></p>
                <div class="status-date">
                    <p class="key bottom">Status: <span class="value complete-status bold" data-cy="acpStatusValueComplete">Complete</span></p>
                    <p class="key">Last modified: <span class="value">{{!!verificationDetails ?
                            (verificationDetails?.updatedAt |
                            date) : 'N/A'}}</span></p>
                </div>
            </div>
            <div class="collapse-icon">
                <img [src]="hideCardContentSP ? 'assets/icon/path-down-icon.svg' : 'assets/icon/path-up-icon.svg'"
                    alt="arrow icon" (click)="hideCardContentSP = !hideCardContentSP">
            </div>
        </div>
        <div class="card-content-part" *ngIf="!hideCardContentSP">
            <div class="info-banner success-background">
                <div class="flex center">
                    <img src="assets/icon/success-icon.svg" alt="Success Icon">
                    <div class="banner-content">
                        <p class="description last">Your application with Good Mobile was successfully approved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="acp-application-card" *ngIf="!!showNVCard">
        <div class="card-header-part" [class.border-radius]="hideCardContentNV === true">
            <div class="header-flex">
                <p class="title">National Verifier<span><img
                            *ngIf="!showNVErrorSection && !showExpiredSection && !showGenericError"
                            [src]="(!!nvStatus && nvStatus === ACP_STATUS.COMPLETE) ? 'assets/icon/green-dot.svg': (!!showNVOnHoldSection? 'assets/icon/red-dot.svg' : 'assets/icon/pending-dot.svg')"
                            alt="dot icon"></span></p>
                <div class="status-date" *ngIf="!showNVErrorSection && !showExpiredSection && !showGenericError">
                    <p class="key bottom">Status: <span class="value status bold" data-cy="acpStatusValue"
                            [class.complete-status]="(!!nvStatus && nvStatus === ACP_STATUS.COMPLETE)"
                            [class.alert-status]="!!showNVOnHoldSection">{{STATUS_TITLE[nvStatus]}}</span>
                    </p>
                    <p class="key">Last modified: <span class="value">{{!!verificationDetails ?
                            (verificationDetails?.updatedAt |
                            date) : 'N/A'}}</span></p>
                </div>
            </div>
            <div class="collapse-icon">
                <img [src]="hideCardContentNV ? 'assets/icon/path-down-icon.svg' : 'assets/icon/path-up-icon.svg'"
                    alt="arrow icon" (click)="hideCardContentNV = !hideCardContentNV">
            </div>
        </div>
        <div class="card-content-part" *ngIf="!hideCardContentNV">
            <p class="desc" *ngIf="!!showCardDesc">
                Applicants must complete the ACP application via Good Mobile. Upon completion,
                applicants will be redirected to the National Verifier to <b>{{verificationDetails?.status === ACP_STATUS.PENDING_CERT ? 'complete the ACP Qualification.' : 'upload necessary documents to certify their eligibility.'}}</b>
            </p>
            <div class="info-banner warning-background documents-banner" *ngIf="!!showQrCode">
                <div class="flex">
                    <img src="assets/icon/warning-icon.svg" alt="Warning Icon">
                    <div class="banner-content">
                        <p class="title" (click)="showMoreDocuments = !showMoreDocuments"><span class="">Need more
                                Documents!</span> <img class="arrow" src="assets/icon/arrow-blue.svg"
                                [class.rotate]="!showMoreDocuments"></p>
                        <div class="content" *ngIf="showMoreDocuments">
                            <p class="description bottom">FCC National Verifier needs more information or documents* to
                                confirm your eligibility:</p>
                            <p class="caption">*Send copies or pictures of your original, valid document. NEVER send the
                                original document.</p>
                            <div class="docs-section">
                                <div class="document-item">
                                    <p class="smaller primary-font-bold">1. Valid government ID <span class="showHide"
                                            (click)="showValidDocs = !showValidDocs">See {{showValidDocs ? 'Less' :
                                            'More'}}</span></p>
                                    <div class="more-details" *ngIf="showValidDocs">
                                        <p class="smaller">Provide documents such as:</p>
                                        <ul class="details-list">
                                            <li>Military state or Tribal ID</li>
                                            <li>U.S. Driver’s license</li>
                                            <li>Passport</li>
                                            <li>Permanent Resident Card <span class="or">or</span> Government
                                                assistance program document</li>
                                        </ul>
                                        <p class="smaller">That includes <b>first & last name, date of birth, & future
                                                expiration date.</b></p>
                                    </div>
                                </div>
                                <p class="smaller primary-font-bold and">And</p>
                                <div class="document-item">
                                    <p class="smaller primary-font-bold">2. Provide a letter or official document as
                                        proof <span class="showHide" (click)="showProofDocs = !showProofDocs">See
                                            {{showProofDocs ? 'Less' : 'More'}}</span></p>
                                    <div class="more-details" *ngIf="showProofDocs">
                                        <p class="smaller">If you participate in one of the qualifying programs, you
                                            need to provide:</p>
                                        <ul class="details-list">
                                            <li>Benefit award letter or Approval letter</li>
                                            <li>Screenshot of online portal</li>
                                            <li>Survivors Benefit Summary letter</li>
                                        </ul>
                                        <p class="smaller">That clearly states the <b>name of the person</b> in the
                                            house hold <b>who qualifies,</b> name of the <b>program,</b> name of the
                                            <b>government</b> or <b>Tribal agency</b> that <b>issued the document,</b> &
                                            issue date within the past <b>12 months</b> or <b>future expiration
                                                date.</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <p class="description last">You can download guiding examples to the required documents for
                                your next steps here: <a (click)="downloadFiles()">Download Guide</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-banner default-background" [class.error-background]="!!showAlert"
                [class.success-background]="!!nvStatus && nvStatus === ACP_STATUS.COMPLETE">
                <div class="flex" [class.center]="!!nvStatus && nvStatus === ACP_STATUS.COMPLETE">
                    <img [src]="(!!nvStatus && nvStatus === ACP_STATUS.COMPLETE) ? 'assets/icon/success-icon.svg' : (!!showAlert ? 'assets/icon/error-icon.svg' : 'assets/icon/info-icon.svg')"
                        alt="note icon">
                    <div class="banner-content" *ngIf="!!NV_DESCS[nvStatus]">
                        <p class="title" data-cy="infoBannerTitle" *ngIf="NV_DESCS[nvStatus]?.title">{{NV_DESCS[nvStatus]?.title}}</p>
                        <p class="description" data-cy="infoBannerFirstDescription" [class.last]="!!nvStatus && nvStatus === ACP_STATUS.COMPLETE"
                            *ngIf="!!NV_DESCS[nvStatus]?.desc1" [innerHTML]="NV_DESCS[nvStatus]?.desc1"></p>
                        <p class="description" data-cy="infoBannerSecDescription" *ngIf="!!NV_DESCS[nvStatus]?.desc2"
                            [innerHTML]="NV_DESCS[nvStatus]?.desc2"></p>
                        <p class="description bottom-8" data-cy="infoBannerThirdDescription" *ngIf="!!NV_DESCS[nvStatus]?.desc3"
                            [innerHTML]="NV_DESCS[nvStatus]?.desc3"></p>
                        <p class="description last" data-cy="infoBannerLastDescription" *ngIf="!!NV_DESCS[nvStatus]?.desc4"
                            [innerHTML]="NV_DESCS[nvStatus]?.desc4"></p>
                        <div class="actions" *ngIf="!!NV_DESCS[nvStatus]?.buttonName || !!NV_DESCS[nvStatus]?.linkName">
                            <button class="button primary" data-cy="resumeFilingBtn" [class.long]="!!NV_DESCS[nvStatus]?.longClass"
                                *ngIf="!!NV_DESCS[nvStatus]?.buttonName"
                                (click)="this[NV_DESCS[nvStatus]?.buttonAction]()"
                                [disabled]="!!this[NV_DESCS[nvStatus]?.disabledCondition]"
                                [class.disabled]="!!this[NV_DESCS[nvStatus]?.disabledCondition]">{{NV_DESCS[nvStatus]?.buttonName}}
                            </button>
                            <button class="button thirdly" (click)="this[NV_DESCS[nvStatus]?.linkAction]()"
                                *ngIf="!!NV_DESCS[nvStatus]?.linkName">{{NV_DESCS[nvStatus]?.linkName}}
                            </button>
                        </div>
                        <p class="refresh-note"
                            *ngIf="!!NV_DESCS[nvStatus]?.note && !!this[NV_DESCS[nvStatus]?.noteCondition]"
                            [innerHTML]="NV_DESCS[nvStatus]?.note"></p>
                    </div>
                </div>
                <div class="qr-section" *ngIf="!!showQrCode">
                    <p class="smaller">Or <b>“Scan the QR Code”</b> complete your application and upload your documents
                        on your <b>smartphone</b>.</p>
                    <div class="qr">
                        <qrcode data-cy="qrCode" [qrdata]="verificationDetails?.link" [width]="200" [errorCorrectionLevel]="'M'">
                        </qrcode>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>