<div [class.acp-disabled]="!!disable">
  <form [formGroup]="signatureForm" class="signatureForm">
    <div class="form-row">
      <input type="text" formControlName="firstCheck" data-cy="firstCheck" placeholder="AA" maxlength="2"
        oninput="this.value = this.value.toUpperCase()" />
      <p class="smaller">
        The ACP Program is a government program that reduces the consumer’s broadband Internet access Service bill by
        the amount of the Emergency Broadband Benefit made available to an eligible consumer.
      </p>
    </div>
    <div class="form-row">
      <input type="text" formControlName="secondCheck" data-cy="secondCheck" placeholder="AA" maxlength="2"
        oninput="this.value = this.value.toUpperCase()" />
      <p class="smaller">
        The ACP Program is temporary in nature and is limited to one supported service plan per household. Your
        household will be subject to the provider’s undiscounted rates and general terms and conditions at the end of
        the ACP Program if you continue to receive service.
      </p>
    </div>
    <div class="form-row">
      <input type="text" formControlName="thirdCheck" data-cy="thirdCheck" placeholder="AA" maxlength="2"
        oninput="this.value = this.value.toUpperCase()" />
      <p class="smaller">
        You may obtain ACP-supported broadband service from any participating
        provider of your choosing, and you can transfer their Federal Affordable
        Connectivity program to another provider at any time.
      </p>
    </div>
    <div class="form-row">
      <input type="text" formControlName="forthCheck" data-cy="forthCheck" placeholder="AA" maxlength="2"
        oninput="this.value = this.value.toUpperCase()" />
      <p class="smaller">
        You have read and understood these disclosures and that you affirmatively consent to providing your Emergency
        Broadband Benefit to Good Mobile.
      </p>
    </div>
    <label class="validation-message" data-cy="requiredSignature" *ngIf="
        (signatureForm.controls.firstCheck.touched &&
          signatureForm.controls.firstCheck.hasError('required')) ||
        (signatureForm.controls.secondCheck.touched &&
          signatureForm.controls.secondCheck.hasError('required')) ||
        (signatureForm.controls.thirdCheck.touched &&
          signatureForm.controls.thirdCheck.hasError('required')) ||
        (signatureForm.controls.forthCheck.touched &&
          signatureForm.controls.forthCheck.hasError('required'))
      " id="consent-required-msg">
      Initials are required , please make sure you filled all of them
    </label>
    <label class="validation-message" *ngIf="
        signatureForm.controls.firstCheck.hasError('pattern') ||
        signatureForm.controls.secondCheck.hasError('pattern') ||
        signatureForm.controls.thirdCheck.hasError('pattern') ||
        signatureForm.controls.forthCheck.hasError('pattern')
      " id="consent-invalid-msg" data-cy="mismatchingMsg">
      Mismatching initials with your first charecter of your first name and first
      charecter of your last name
    </label>
    <p class="smaller primary-font-bold note">
      By signing my name below, I acknowledge I understand and agree to these terms and conditions.
    </p>
    <p class="sub-note smallest">This is your full name exactly as entered in step one</p>
    <div class="signed-name">
      <label class="outlined-label-input">
        <input placeholder=" " formControlName="name" type="text" id="name" data-cy="name"
          oninput="this.value = this.value.toUpperCase()" />
        <span>Enter first & last name</span>
      </label>
      <p class="hint caption">{{fullName | uppercase}}</p>
      <label class="validation-message" data-cy="requiredName" *ngIf="
          signatureForm.controls.name.hasError('required') &&
          signatureForm.controls.name.touched
        " id="fullname-required-msg">
        Full name is required
      </label>
      <label class="validation-message" *ngIf="
          !!signatureForm.controls.name.value &&
          signatureForm.hasError('mismatchedFullName')
        " id="fullname-invalid-msg" data-cy="fullnameInvalidMsg">
        Your full name does not match the previous registered one
      </label>
    </div>
    <div class="captcha">
      <app-re-captcha (resolved)="resolvedCaptcha($event)" [siteKey]="SITE_ID" #reCaptcha></app-re-captcha>
      <label class="validation-message" data-cy="captchaRequired" *ngIf="showCaptchaError">Please verify that you are not a robot</label>
    </div>
  </form>
</div>