@import "../../../styles/modules/variables";
@import "../../../styles/modules/mixins";

::ng-deep {
    .acp-disabled {

        .outlined-label-input input:disabled, input:disabled {
            background-color: #95959530;
            cursor: not-allowed;
        }
        .floating-label {
            background-color: #95959530;
            cursor: not-allowed;
        }
        .form-control{
            opacity: .5;
            cursor: not-allowed;
        }
        span, input[type=radio] {
            cursor: not-allowed;
        }
    }
    .signatureForm {
        display: flex;
        flex-direction: column;
        @media (max-width: $desktop-min-width-minus) {
            margin-bottom: 40px;
        }
        .captcha {
            margin-bottom: 60px;
        }
        .form-row {
            display: flex;
            margin-bottom: 20px;
            gap: 16px;
            background: #F1F9FD;
            border-radius: 0 0 10px 10px;
            padding: 24px;
            align-items: flex-start;
            box-shadow: 0 8px 30px #5e5e5e1f;
            width: 100%;
            input {
                width: 53px;
                height: 40px;
                border: 1px solid #868686;
                border-radius: 4px;
                background: #ffffff;
                opacity: 0.4;
                text-transform: uppercase;
                padding: 7.5px 9px;
                &:focus {
                    opacity: 1;
                }
                &.ng-dirty {
                    opacity: 1;
                }
            }
         
            span {
                color: #383838;
            }
        }
        .note {
            margin-top: 12px;
            @media (max-width: $phablet-min-width-minus) {
                margin-top: 8px;
            }
        }
        .sub-note {
            color: #a5a3a3;
            margin-bottom: 14px;
        }
        .hint {
            color: #A5A3A3;
            margin-top: 8px;
        }
        .signed-name {
            width: 60%;
            margin-bottom: 40px;
            @media (max-width: $desktop-min-width-minus) {
                width: 100%;
                margin-bottom: 0;
            }
            .outlined-label-input {
                max-width: 316px;
                width: 100%;
                &.disabled {
                    input {
                        background-color: white;
                    }
                }
            }
        }
    }
}
