<div class="acp-devices-page">
    <div class="banner-section">
        <div class="banner-img">
            <picture>
                <source srcset='assets/img/banners/acp-device-banner-mobile.webp' media="(max-width: 639.9px)"
                    type="image/webp">
                <source srcset='assets/img/banners/acp-device-banner-mobile.png' media="(max-width: 639.9px)"
                    type="image/png">
                <source srcset='assets/img/banners/acp-device-banner-tablet.webp' media="(max-width: 1024.9px)"
                    type="image/webp">
                <source srcset='assets/img/banners/acp-device-banner-tablet.png' media="(max-width: 1024.9px)"
                    type="image/png">
                <source srcset='assets/img/banners/acp-device-banner-desktop.webp' media="(min-width: 1025px)"
                    type="image/webp">
                <source srcset='assets/img/banners/acp-device-banner-desktop.png' media="(min-width: 1025px)"
                    type="image/png">
                <img src="assets/img/banners/acp-device-banner-desktop.png" width="2000" height="400"
                    alt="acp-device-banner">
            </picture>
        </div>

        <div class="left-banner-assets">
            <picture>
                <source srcset='assets/img/acp-new-device-tablet.svg' media="(max-width: 1024.9px)" type="image/svg">
                <source srcset='assets/img/acp-new-device-desktop.svg' media="(min-width: 1025px)" type="image/svg">
                <img src="assets/img/acp-new-device-desktop.svg" width="209" height="69" alt="device asset">
            </picture>
        </div>
        <div class="right-banner-assets">
            <picture>
                <source srcset='assets/img/acp-device-gov-tablet.svg' media="(max-width: 1024.9px)" type="image/svg">
                <source srcset='assets/img/acp-device-gov-desktop.svg' media="(min-width: 1025px)" type="image/svg">
                <img src="assets/img/acp-device-gov-desktop.svg" width="248" height="53" alt="acp gov asset">
            </picture>
        </div>
    </div>
</div>