<div class="acp-devices-page">
    <div class="banner-section">
        <div class="banner-img">
            <picture>
                <source srcset='assets/img/banners/acp-device-banner-mobile.webp' media="(max-width: 639.9px)"
                    type="image/webp">
                <source srcset='assets/img/banners/acp-device-banner-mobile.png' media="(max-width: 639.9px)"
                    type="image/png">
                <source srcset='assets/img/banners/acp-device-banner-tablet.webp' media="(max-width: 1024.9px)"
                    type="image/webp">
                <source srcset='assets/img/banners/acp-device-banner-tablet.png' media="(max-width: 1024.9px)"
                    type="image/png">
                <source srcset='assets/img/banners/acp-device-banner-desktop.webp' media="(min-width: 1025px)"
                    type="image/webp">
                <source srcset='assets/img/banners/acp-device-banner-desktop.png' media="(min-width: 1025px)"
                    type="image/png">
                <img src="assets/img/banners/acp-device-banner-desktop.png" width="2000" height="400"
                    alt="acp-device-banner">
            </picture>
        </div>

        <div class="left-banner-assets">
            <picture>
                <source srcset='assets/img/acp-new-device-tablet.svg' media="(max-width: 1024.9px)" type="image/svg">
                <source srcset='assets/img/acp-new-device-desktop.svg' media="(min-width: 1025px)" type="image/svg">
                <img src="assets/img/acp-new-device-desktop.svg" width="209" height="69" alt="device asset">
            </picture>
        </div>
        <div class="right-banner-assets">
            <picture>
                <source srcset='assets/img/acp-device-gov-tablet.svg' media="(max-width: 1024.9px)" type="image/svg">
                <source srcset='assets/img/acp-device-gov-desktop.svg' media="(min-width: 1025px)" type="image/svg">
                <img src="assets/img/acp-device-gov-desktop.svg" width="248" height="53" alt="acp gov asset">
            </picture>
        </div>
    </div>
    <div class="page-section devices-section">
        <div class="top-section">
            <p class="label">OUR DEVICES</p>
            <h2 class="title">ACP Devices</h2>
            <h5 class="pre-last-note">A one-time discount of up to $100 on a laptop, tablet, or desktop computer </h5>
            <h5 class="last-note">(Today you will pay as low as $10.01 ONLY!)</h5>
        </div>
        <div class="type-section">
            <img src="/assets/img/acp-tablet.svg" width="45" height="45" alt="tablet">
            <p class="device-type">Tablet</p>
        </div>
        <div class="devices" *ngIf="!!acpDevices && acpDevices?.length > 0 && innerWidth >= 800">
            <div class="device-card" *ngFor="let item of acpDevices">
                <div class="device-img-section">
                    <img src="https://{{item?.fields?.deviceImg.fields?.file.url}}" width="175" height="220"
                        alt="device">
                </div>
                <div class="device-desc-section">
                    <p class="device-name">{{item?.fields?.deviceModel}}</p>
                    <div class="prices">
                        <h4 class="price">{{item?.fields?.price | currency}}</h4>
                        <div class="market">
                            <p class="market-price smaller">{{item?.fields?.marketValue | currency}}</p>
                            <p class="bottom-border"></p>
                        </div>
                    </div>
                    <button class="button primary" (click)="selectDevice(item)" id="select-device" data-cy="selectDevice">Select Device</button>
                </div>
            </div>
        </div>
        <div class="devices" *ngIf="!!acpDevices && acpDevices?.length > 0 && innerWidth < 800">
            <div class="swiper-container acp-devices">
                <div class="swiper-wrapper">
                    <div class="swiper-slide device-card" *ngFor="let item of acpDevices">
                        <div class="device-img-section">
                            <img src="https://{{item?.fields?.deviceImg.fields?.file.url}}" width="175" height="220"
                                alt="device">
                        </div>
                        <div class="device-desc-section">
                            <p class="device-name">{{item?.fields?.deviceModel}}</p>
                            <div class="prices">
                                <p class="price">{{item?.fields?.price | currency}}</p>
                                <div class="market">
                                    <p class="smaller market-price">{{item?.fields?.marketValue | currency}}</p>
                                    <p class="bottom-border"></p>
                                </div>
                            </div>
                            <button class="button primary" (click)="selectDevice()" id="select-device">Select
                                Device</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-container-override">
                    <div class="swiper-button-next">
                    </div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section info-section">
       <p class="label">Join US</p>
       <h2 class="header-color">3 Steps to Get Your Device</h2>
       <h5>With Unlimited Talk, Text & Data!</h5>
       <div class="steps-section">
        <div class="step">
            <img src="assets/img/acp-device1.svg" alt="Apply for the ACP" />
            <h4>Apply for the ACP</h4>
        </div>
        <div class="step">
            <img src="assets/img/acp-device2.svg" alt="Activate your line" />
            <h4>Activate your line</h4>
        </div>
        <div class="step">
            <img src="assets/img/acp-device3.svg" alt="Claim your device" />
            <h4>Claim your device</h4>
        </div>
       </div>
    </div>
    <div class="faqs-section page-section">
        <p class="label">FAQ QUESTIONS</p>
        <h2 class="sec-head bottom header-color">We are here to help you!</h2>
        <h5 class="subtext">Browse through the most frequently asked questions.</h5>
        <div class="plans-questions">
            <div *ngFor="let qst of catalogPhoneQsts" class="questions-container">
                <a class="copy-icon-link"
                    (click)="toggleActive(qst?.fields?.questionId,qst?.fields?.answerId, true)"><img
                        src="/assets/icon/copy-icon.svg" class="copy-icon" alt="copy icon"><span
                        class="tool-tip-text">Copy question url</span> <span
                        *ngIf="!!isCopied && qst?.fields?.questionId == questionIdParam"
                        class="copied">Copied!</span></a>
                <app-question-answer question="{{qst?.fields?.questionText}}" [id]="qst?.fields?.questionId"
                    [isActive]="qst?.fields?.questionId == questionIdParam"
                    (click)="toggleActive(qst?.fields?.questionId,qst?.fields?.answerId)">
                    <p (click)="collapsed=true" id="{{qst?.fields?.answerId}}"></p>
                </app-question-answer>
            </div>
        </div>
    </div>
</div>