@import '../../../../styles/modules/variables';
@import '../../../../styles/modules/mixins';

.order-details {
    .back-section {
        display: flex;
        font-family: $secondary-font-family-bold;
        font-size: rem-calc(16px);
        line-height: 24px;
        margin-bottom: 32px;
        align-items: center;

        .back-link {
            cursor: pointer;
            color: $primary-color;
            margin-bottom: 0;
        }

        .id {
            font-family: $secondary-font-family;
            color: $primary-color;
            margin-bottom: 0;
            margin-left: 10px;
            font-size: rem-calc(16px);
        }

        img {
            transform: rotate(180deg);
        }

        @media(max-width: $phablet-min-width-minus) {
            margin-bottom: 24px;

            .back-link {
                display: flex;
                align-items: center;
            }
        }

        @media (max-width: $mobile-min) {
            font-size: rem-calc(12px);

        }
    }

    .title-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        .order-id {
            font-size: rem-calc(32px);
            line-height: 35px;
            margin-bottom: 10px;
            color: $black;
        }

        .status {
            background: #1FCC4099;
            padding: 1px 10px;
            border-radius: 50px;
            color: white;
            max-width: 100px;
            font-size: rem-calc(14px);
            margin-left: 8px;

            &.cancled {
                background: #D61D3399;
            }

            &.pending {
                background: #F9801099;
            }

            &.help {
                background: transparent;
                color: $secondary-color;
                font-size: rem-calc(16px);
                font-family: $base-font-family-bold;
                padding-left: 0px;
                margin-left: 5px;
                max-width: 160px;
            }
        }

        .order-info {
            font-family: $secondary-font-family;
            font-size: rem-calc(16px);
            line-height: 24px;
            color: #ABB0B2;
            margin-bottom: 0px;

            &.action-status {
                display: flex;
                align-items: center;

                .help-icon {
                    margin-left: 10px;
                }
            }
        }

        .action-required {
            cursor: pointer;
            color: #7dd0de;
            font-size: rem-calc(16px);
            margin-top: 10px;
            padding-left: 60px;
            font-family: $base-font-family-bold;
        }

        .action {
            color: $primary-color;
            font-family: $secondary-font-family-bold;
            font-size: rem-calc(18px);
            line-height: 18px;
            margin-bottom: 10px;
            cursor: pointer;
            display: flex;
            margin-top: 16px;

            img {
                margin-right: 10px;
            }
        }

        @media(max-width: $phablet-min-width-minus) {
            margin-bottom: 24px;

            .order-id {
                font-size: rem-calc(24px);
                line-height: 32px;
                margin-bottom: 5px;
            }
        }
    }

    .order-cards-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: max-content;
        counter-reset: brick;
        gap: 40px;
        margin-bottom: 40px;

        .left,
        .right {
            flex-direction: column;
            flex-basis: 50%;
            width: 100%;

            @media(min-width: $desktop-min-width) {
                &.flex {
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-basis: 100%;
                    gap: 40px;

                    .summary {
                        margin-top: 0;
                    }
                }

                &.none {
                    display: none;
                }
            }
        }

        .order-card {
            background-color: $white;
            flex-basis: 48%;
            align-self: self-start;
            box-shadow: 0 8px 30px #5e5e5e1f;
            border-radius: 10px;

            &.summary {
                margin-top: 40px;
            }

            .order-card-container {
                padding-bottom: 48px;
                background-color: $white;
                @media(max-width: $phablet-min-width-minus) {
                    padding-bottom: 32px;
                }
            }

            .card-header-section {
                padding: 24px;
                display: flex;
                justify-content: space-between;
                align-items: baseline;

                .card-header {
                    font-size: rem-calc(24px);
                    line-height: 32px;
                    color: $black;
                    margin-bottom: 0;
                    font-family: $secondary-font-family-bold;
                }

                .action {
                    color: $primary-color;
                    font-family: $base-font-family-bold;
                    font-size: rem-calc(16px);
                    line-height: 16px;
                    margin-bottom: 0px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    margin-top: 16px;

                    img {
                        margin-right: 10px;
                    }
                }

                @media(max-width: $phablet-min-width-minus) {
                    padding: 24px 16px 16px;
                    flex-direction: column;
                    justify-content: flex-start;

                    .card-header {
                        font-size: rem-calc(20px);
                        line-height: 24px;
                    }
                }
            }

            .card-tab {
                background-color: #F4F4F4;

                .title-action {
                    font-size: rem-calc(16px);
                    line-height: 24px;
                    margin-left: 16px;
                    cursor: pointer;
                    color: #B0B0B0;

                    @media(max-width: $phablet-min-width-minus) {
                        margin-left: 0;
                    }
                }

                .tab-content {
                    display: none;

                    .info {
                        font-size: rem-calc(16px);
                        color: $black;
                        line-height: 24px;
                        margin-bottom: 0;
                    }

                    .info-title {
                        font-size: rem-calc(18px);
                        line-height: 24px;
                        font-family: $base-font-family-bold;
                        margin-top: 24px;
                    }

                    .info-section {
                        padding: 18px 24px 18px 24px;
                        background-color: $white;

                        &.tracking {
                            display: flex;
                            align-items: center;

                            .tracking-icon {
                                width: 55px;
                            }

                            .dots {
                                margin-top: 8px;
                            }

                            @media (max-width: 470px) {
                                .tracking-icon {
                                    width: 47px;
                                }

                                .dots {
                                    margin-top: -5px;
                                    width: 20px;
                                }
                            }
                        }

                        &.total-info {
                            padding-bottom: 0;
                        }

                        .total-details {
                            display: flex;
                            justify-content: flex-end;

                            .total {
                                font-size: rem-calc(16px);
                                line-height: 24px;
                                font-family: $base-font-family-bold;
                                margin-bottom: 0;
                            }
                        }

                        .price-details {
                            display: flex;
                            margin-bottom: 12px;
                            color: $third-color;

                            .price-title {
                                flex-basis: 80%;
                                font-size: rem-calc(16px);
                                line-height: 24px;
                                margin-bottom: 0;
                            }

                            .value {
                                flex-basis: 20%;
                                display: flex;
                                justify-content: flex-end;
                                font-size: rem-calc(16px);
                                line-height: 24px;
                                font-family: $base-font-family-bold;
                                margin-bottom: 0;
                            }
                        }

                        hr {
                            border-top: 1px solid #CED3D6;
                            width: 100%;
                            margin: 24px 0 16px;
                        }

                        @media(max-width: $phablet-min-width-minus) {
                            padding: 14px 15px;

                            .info {
                                font-size: rem-calc(14px);
                                line-height: 18px;
                            }

                            .info-title {
                                font-size: rem-calc(16px);
                                line-height: 20px;
                                margin-top: 16px;
                            }

                            .price-details {
                                margin-bottom: 8px;

                                .price-title {
                                    font-size: rem-calc(14px);
                                    line-height: 18px;
                                }

                                .value {
                                    font-size: rem-calc(14px);
                                    line-height: 18px;
                                }
                            }
                        }

                    }
                }

                .title-tracking {
                    display: flex;
                    align-items: center;
                    margin-top: 24px;

                    .tracking-icon {
                        width: 55px;
                    }

                    .dots {
                        margin-top: 8px;
                    }

                    @media (max-width: 470px) {
                        .tracking-icon {
                            width: 47px;
                        }

                        .dots {
                            margin-top: -5px;
                            width: 20px;
                        }
                    }
                }

                .tab-label {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #1c1d1f;
                    padding: 16px 24px;
                    cursor: pointer;
                    margin-bottom: 0;
                    font-size: 20px;
                    line-height: 32px;
                    font-weight: $bold;
                    font-family: $secondary-font-family-bold;
                    background: hsla(204, 41%, 93%, 1);

                    &:after {
                        content: "\276F";
                        width: 1em;
                        height: 1em;
                        text-align: center;
                        transition: all .35s;
                        color: $primary-color;
                        transform: rotate(90deg);
                    }

                    &.track {
                        align-items: flex-start;
                    }

                    .tab-title {
                        color: #1c1d1f;
                        cursor: pointer;
                        margin-bottom: 0;
                        font-size: 20px;
                        line-height: 32px;
                        font-weight: $bold;
                        font-family: $secondary-font-family-bold;
                    }

                    @media(max-width: $phablet-min-width-minus) {
                        font-size: rem-calc(18px);
                        line-height: 24px;
                        padding: 12px 16px;

                        .tab-title {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }

                .sub-label {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: #F8FCFE;
                    box-shadow: inset 0px -1px 0px rgba(206, 211, 214, 0.25);
                    padding: 16px 24px;
                    padding-right: 14px;
                    margin-bottom: 0;
                    font-size: 18px;
                    line-height: 28px;
                    font-family: $base-font-family-bold;
                    color: #765BA7;
                    cursor: pointer;
                    .black {
                        color: $third-color;
                    }
                    @media (max-width: $phablet-min-width-minus) {
                        padding: 12px 16px;
                        padding-right: 10px;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    img {
                        transform: rotate(-180deg);
                        width: 26.67px;
                        height: 26.67px;

                        @media (max-width: $phablet-min-width-minus) {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                .sub-content {
                    display: none;
                    transition: max-height 0.15s cubic-bezier(0, 1, 0, 1);
                    background-color: $white;

                    .item-details {
                        display: flex;

                        .details-side {
                            flex-basis: 80%;
                            display: flex;

                            &.refill {
                                padding-bottom: 32px;

                                &:last-child {
                                    padding-bottom: 0;
                                }
                            }

                            .phone-image-container {
                                width: 70px;
                            }

                            .thumbnail {
                                height: 48px;
                                margin-right: 12px;
                                width: 60px;

                                &.phone {
                                    width: 40px;
                                    height: 70px;
                                }
                            }

                            .details {
                                display: flex;
                                flex-direction: column;
                                font-size: rem-calc(16px);
                                line-height: 24px;

                                p {
                                    margin-bottom: 5px;
                                }
                                .title {
                                    margin-bottom: 8px;
                                    @media(max-width:$phablet-min-width-minus) {
                                        margin-bottom: 4px;
                                    }
                                }
                                .promo{
                                    background: #F58520;
                                    border-radius: 3px;
                                    padding: 5px;
                                    text-transform: uppercase;
                                    color: white;
                                    max-width: 235px;
                                    font-size: 12px;
                                    font-weight: bold;
                                    line-height: 12px;
                                    @media(max-width:$phablet-min-width-minus) {
                                        font-size: 10px;
                                        line-height: 11px;
                                    }
                                }
                                .action {
                                    color: $primary-color;
                                    cursor: pointer;
                                    margin: 12px 0 0;
                                    font-family: $base-font-family-bold;
                                }

                                .quantity {
                                    margin: 5px 0;
                                }

                                .id {
                                    color: #A5A3A3;
                                }

                                .code {
                                    color: $secondary-color;
                                }

                                hr {
                                    margin: 25px 0 24px;
                                }
                            }
                        }

                        .price-side {
                            flex-basis: 20%;

                            .price {
                                display: flex;
                                justify-content: flex-end;
                                font-size: rem-calc(16px);
                                line-height: 24px;
                            }
                        }
                    }

                    hr {
                        border-top: 1px solid #CED3D6;
                        // max-width: 275px;
                        width: 100%;
                        margin: 24px 0;
                    }

                    .sub-item-section {
                        padding-left: 70px;
                    }

                    @media (max-width: $phablet-min-width-minus) {
                        .item-details {
                            .details-side {
                                .phone-image-container {
                                    width: 65px;
                                }

                                .thumbnail {
                                    margin-right: 12px;

                                    &.phone {
                                        width: 32px;
                                        height: 60px;
                                    }
                                }

                                .details {
                                    font-size: rem-calc(14px);
                                    line-height: 18px;

                                    .quantity {
                                        margin: 0;
                                    }

                                    .action {
                                        margin: 8px 0 0;
                                    }
                                }
                            }
                        }

                        hr {
                            margin: 16px 0;
                        }

                        .sub-item-section {
                            padding-left: 45px;
                        }
                    }

                    @media(max-width: 375px) {
                        .sub-item-section {
                            padding-left: 0px;
                        }
                    }
                }

                input {
                    position: absolute;
                    opacity: 0;
                    z-index: -1;

                    &:checked {
                        +.tab-label {
                            &:after {
                                transform: rotate(-90deg);
                            }
                        }

                        +.sub-label {
                            img {
                                transform: rotate(0);
                            }
                        }

                        ~.tab-content {
                            display: block;
                            background-color: #EDEDED;
                            transition: transform 0.3s ease-out;
                            transform: scaleY(1);
                        }

                        ~.sub-content {
                            display: block;
                            padding: 18px 24px 0px 24px;
                            transition: max-height 0.25s ease-in-out;

                            &.shipping {
                                padding-bottom: 16px;
                            }

                            @media (max-width: $phablet-min-width-minus) {
                                padding: 14px 16px;
                            }
                        }
                    }
                }
            }
        }

        @media(max-width: $desktop-min-width-minus) {
            flex-direction: column;
            flex-wrap: nowrap;

            .order-card {
                flex-basis: 100%;
                align-self: stretch;
            }
        }
    }
}