@import "../../../styles/modules/variables";
@import "../../../styles/modules/mixins";

.docs-page {
    .subhead {
        margin-bottom: 24px;
        font-family: $base-font-family;
        max-width: 893px;
    }
    .red {
        color: #d22119;
    }
    .info-banner {
        margin-bottom: 32px;
        max-width: 893px;
        @media screen and (max-width: $phablet-min-width-minus) {
            margin-bottom: 24px;
        }
        .banner-content {
            .description {
                margin-bottom: 12px;
                @media screen and (max-width: $phablet-min-width-minus) {
                    margin-bottom: 8px;
                }
            }
            .sub-note {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 8px;
                @media screen and (max-width: $desktop-min-width-minus) {
                    align-items: baseline;
                }
                &.last {
                    margin-bottom: 0px;
                }
                img {
                    width: 16px;
                    height: 16px;
                    @media screen and (max-width: $phablet-min-width-minus) {
                        width: 10px;
                        height: 10px;
                    }
                }

                .desc {
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 0;
                    font-family: $base-font-family;
                    b {
                        font-family: $base-font-family-bold;
                    }
                }
            }
        }
    }
    .docs-card {
        max-width: 893px;
        padding: 24px 20px;
        background: #fcfcfb;
        box-shadow: 0px 4px 12px rgba(94, 94, 94, 0.03), 0px 8px 30px rgba(94, 94, 94, 0.08),
            0px 5px 16px rgba(0, 60, 117, 0.02);
        border-radius: 8px;
        margin-bottom: 32px;
        @media screen and (max-width: $phablet-min-width-minus) {
            padding: 20px 16px;
        }
        .card-top-section {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: baseline;
            img {
                cursor: pointer;
            }
        }
        .title {
            color: #6a509b;
            font-family: $base-font-family-bold;
            margin-bottom: 0;
        }
        .card-contents {
            display: flex;
            flex-direction: column;
            margin-top: 24px;
            .top-section {
                display: flex;
                align-items: center;
                margin-bottom: 12px;
                @media screen and (max-width: $phablet-min-width-minus) {
                    align-items: baseline;
                }

                img {
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                    @media screen and (max-width: $phablet-min-width-minus) {
                        height: 12px;
                    }
                }
            }
            .sub-info {
                margin-left: 14px;
                @media screen and (max-width: $phablet-min-width-minus) {
                    margin-left: 8px;
                }
                .info {
                    display: flex;
                    align-items: baseline;
                    margin-bottom: 4px;
                    p {
                        margin-bottom: 0px;
                        width: 100%;
                    }
                    .circle {
                        border: solid 1px #74c0eb;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        background: #74c0eb;
                        margin-right: 8px;
                    }
                }
            }
            .docs-section {
                background: #f3f3f3;
                border-radius: 10px;
                max-width: 805px;
                padding: 20px;
                @media screen and (max-width: $phablet-min-width-minus) {
                    padding: 24px 8px;
                }
                .swiper-container {
                    max-width: 100%;
                    overflow: hidden;
                    .swiper-container-override {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 330px;
                        @media screen and (max-width: $phablet-min-width-minus) {
                            top: 260px;
                            left: -10px;
                            right: -10px;
                        }
                    }
                    .swiper-button-next::after,
                    .swiper-button-prev::after {
                        font-size: rem-calc(12px);
                    }
                    .swiper-button-prev,
                    .swiper-button-next {
                        position: absolute;
                        background-color: $primary-color;
                        background-size: 28%;
                        color: $white;
                        height: 21px;
                        width: 21px;
                        z-index: 1;
                        cursor: pointer;
                        --swiper-navigation-size: 11px;
                        border-radius: 50%;
                    }
                }
                .one-slide,
                .swiper-width {
                    width: 100%;
                    max-width: 421px;
                    position: relative;
                    margin: 0 auto;
                }
                .one-slide-section,
                .swiper-slide {
                    height: 100%;
                    border-radius: 5px;
                    display: block;
                    text-align: center;
                    background: inherit;
                    img {
                        max-width: 308px;
                        height: 400px;
                        margin-bottom: 16px;
                    }
                    .title {
                        font-size: 14px;
                        line-height: 24px;
                        color: #090909;
                        max-width: 100%;
                        margin-bottom: 17px;
                    }
                    @media screen and (max-width: $phablet-min-width-minus) {
                        max-width: 100%;
                        width: 100%;
                        height: 100%;
                        img {
                            width: 177px;
                            margin-bottom: 11px;
                            object-fit: fill;
                            height: 228px;
                        }
                        .title {
                            margin-bottom: 12px;
                        }
                    }
                }
                .one-slide-wrapper,
                .swiper-wrapper {
                    &.wrapper-flex {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
                .zoom {
                    display: none;
                    @media screen and (max-width: $phablet-min-width-minus) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 0px;
                        margin-top: 6px;
                        color: #f58e25;
                        font-size: 12px;
                        line-height: 12px;
                        font-weight: bold;
                        font-family: $base-font-family-bold;
                    }
                }
                .text-items {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    margin-top: 3px;
                    @media screen and (max-width: $phablet-min-width-minus) {
                        margin-top: 14px;
                    }
                    .info {
                        display: flex;
                        align-items: baseline;
                        margin-bottom: 12px;
                        &.last {
                            margin-bottom: 0;
                        }
                        p {
                            margin-bottom: 0px;
                            width: 100%;
                            font-size: 14px;
                            line-height: 24px;
                        }
                        .circle {
                            border: solid 1px #090909;
                            border-radius: 50%;
                            width: 10px;
                            height: 10px;
                            background: #090909;
                            margin-right: 8px;
                        }
                    }
                }
            }
            .actions {
                margin-top: 24px;
                .consent {
                    margin-bottom: 21px;
                    @media screen and (max-width: $phablet-min-width-minus) {
                        margin-bottom: 14px;
                    }
                }
                .consent-form {
                    display: flex;
                    align-items: center;
                    @media screen and (max-width: $phablet-min-width-minus) {
                        align-items: flex-start;
                    }
                    .label {
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: normal;
                        font-family: $base-font-family;
                        margin-bottom: 0;
                        margin-left: 7px;
                    }
                }
            }
        }
    }
}
