<section class="confirm-change-plan">
  <div class="plans-banner page-section">
    <h1 class="header-color">Replacing your plan</h1>
    <p>We are confirming your plan replacement. Please go through the changes made to your current plan, when ready, you can proceed.</p>
  </div>
  <div class="confirm-section page-section">
    <p class="label">CHANGING YOUR PLAN</p>
    <h2 class="header-color">Confirm Plan Changes</h2>
    <h5 class="noMargin primary-font" *ngIf="!!selectedUserPlan && !!selectedUserPlan?.basePlan?.renewDate">Effective on: {{selectedUserPlan?.basePlan?.renewDate | date}}</h5>
    <div class="details-card">
      <h5>Your Replacement Plan:</h5>
      <div class="plan-details">
        <img src="assets/icon/plan_thumbnail.svg" alt="plan">
        <div class="plan">
          <p class="smallest primary-font-bold">{{(selectedMobilePlan?.details?.data / 1024)}}GB 4G LTE Data</p>
          <p class="smallest">Unlimited Talk, Text & Data</p>
        </div>
      </div>
      <hr>
      <div class="price-section">
        <p class="smaller">Best Value Plan</p>
        <p class="smaller primary-font-bold">{{selectedMobilePlan?.price | currency}}/mo</p>
      </div>
    </div>
    <div class="actions">
      <button class="button primary" (click)="userConfirmed()">{{!!isCheckoutFlow ? 'Proceed to checkout' : 'Change plan'}}</button>
      <button class="button secondary" (click)="goToAccountSummary()">Cancel</button>
    </div>
  </div>
</section>