@import "../../../styles/modules/variables";

::ng-deep {

    .enrollment-new-line-page {
        display: block !important;
        margin-top: 60px;
        padding-bottom: 60px;
        @media (min-width: $phablet-min-width) {
            display: flex;
        }
       
        @media (max-width: $phablet-min-width-minus) {
            margin-top: 32px;
            padding-bottom: 32px;
        }
       
        .title {
            font-family: $base-font-family-bold;
            color: $header-color;
            @media (max-width: $phablet-min-width-minus) {
                margin-bottom: 24px;
            }
        }
        .success-acp-banner {
            padding: 24px;
            margin-top: 16px;
            box-shadow: 0px 4px 15px rgba(206, 211, 214, 0.6);
            border-radius: 0px 0px 10px 10px;
            background-color: #EBFAEE;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 40px;
            @media (max-width: $phablet-min-width-minus) {
                margin-bottom: 26px;
            }
            img {
                width: 26.67px;
                height: 26.67px;
                margin-right: 14px;
            }
            .descs {
                .congratulation {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: bold;
                    margin-bottom: 4px;
                    font-family: $secondary-font-family-bold;
                    @media (max-width: $phablet-min-width-minus) {
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 2px;
                    }
                }
                .desc {
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: bold;
                    margin-bottom: 8px;
                    font-family: $base-font-family-bold;
                    @media (max-width: $phablet-min-width-minus) {
                        font-size: 14px;
                        line-height: 24px;
                        margin-bottom: 4px;
                    }
                    &.last {
                        font-weight: normal;
                        margin: 0;
                        font-family: $base-font-family;
                    }
                }
            }
        }
        .stepper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 42px;
            @media (max-width: $phablet-min-width-minus) {
                margin-bottom: 26px;
            }
            .step {
                color: $primary-color;
                display: flex;
                align-items: center;
                .circle {
                    font-family: $base-font-family;
                    border-radius: 100%;
                    color: #a5a3a3;
                    text-align: center;
                    box-shadow: 0 0 0 3px #fff;
                    border: 0.712388px solid #a5a3a3;
                    font-size: 20px;
                    line-height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    margin-left: 10px;
                    width: 40px;
                    height: 40px;
                    @media (max-width: $phablet-min-width-minus) {
                        width: 28px;
                        height: 28px;
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
                .border {
                    border: 0.617264px solid #a5a3a3;
                    transform: rotate(90deg);
                    width: 0;
                    height: 24px;
                    margin: 0 6px;
                }
                &.active {
                    color: $primary-color;
                    .circle {
                        background: #D9E6EF;
                        color: $primary-color;
                        border: 1.25px solid $purple;
                        width: 40px;
                        height: 40px;
                        @media (max-width: $phablet-min-width-minus) {
                            width: 32px;
                            height: 32px;
                        }
                        &:after {
                            background: #D9E6EF;
                        }
                    }
                }
                &.done {
                    color: $primary-color;
                    .circle {
                        background: $primary-color;
                        color: #fff;
                        width: 36px;
                        height: 36px;
                        @media (max-width: $phablet-min-width-minus) {
                            width: 26.75px;
                            height: 26.75px;
                        }
                        &:after {
                            background-color: $primary-color;
                        }
                    }
                }
            }
        }
        .compatability-section {
            .main-title {
                margin-bottom: 12px;
            }
            .sub-desc {
                font-size: 18px;
                line-height: 28px;
                font-family: $base-font-family;
                margin-bottom: 20px;
                max-width: 524px;
                width: 100%;
                @media (max-width: $phablet-min-width-minus) {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 24px;
                }
            }
            .sub-title {
                font-size: 18px;
                line-height: 28px;
                font-family: $secondary-font-family-bold;
                margin-bottom: 12px;
                @media (max-width: $phablet-min-width-minus) {
                    line-height: 24px;
                    margin-bottom: 16px;
                }
            }
            .form-row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
                &.last {
                    margin-bottom: 32px;
                }
                .top-label {
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 4px;
                    font-family: $base-font-family-bold;
                    @media (max-width: $phablet-min-width-minus) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
                .serial-device-note {
                    font-size: 10px;
                    line-height: 16px;
                    margin-top: 0;
                    margin-bottom: 12px;
                    color: #383838;
                }
                .imei-link {
                    font-size: 12px;
                    line-height: 20px;
                    font-family: $base-font-family-bold;
                    margin-bottom: 16px;
                    margin-top: 8px;
                }
                .outlined-label-input {
                    display: block;
                    &.flowed {
                        overflow: visible;
                        .ngui-auto-complete-wrapper {
                            ngui-auto-complete {
                                z-index: 4 !important;
                            }
                        }
                    }
                    input {
                        width: 400px;
                        margin-bottom: 0px;
                        @media (max-width: $phablet-min-width-minus) {
                            width: 296px;
                        }
                    }
                    span {
                        &.focused {
                            color: $primary-color;
                            &:before {
                                border-top-color: $primary-color !important;
                                box-shadow: inset 0 1px $primary-color;
                            }
                            &:after {
                                border-top-color: $primary-color !important;
                                box-shadow: inset 0 1px $primary-color;
                            }
                        }
                        &.not-focused {
                            font-size: inherit;
                            line-height: 60px;
                            @media (max-width: $phablet-min-width-minus) {
                                font-size: rem-calc(16px);
                            }
                        }
                        &.grayed {
                            color: #5E5E5E;
                            &:before {
                                border-top-color: #5E5E5E !important;
                                box-shadow: inset 0 0.5px #5E5E5E;
                            }
                            &:after {
                                border-top-color: #5E5E5E !important;
                                box-shadow: inset 0 0.5px #5E5E5E;
                            }
                        }
                        &.error {
                            color: $alert;
                            &:before {
                                border-top-color: $alert !important;
                                box-shadow: inset 0 1px $alert;
                            }
                            &:after {
                                border-top-color: $alert !important;
                                box-shadow: inset 0 1px $alert;
                            }
                        }
                    }
                }
            }
            .success-check-banner {
                background: #e6f7ee;
                box-shadow: 0px 3px 4px rgba(234, 234, 234, 0.25);
                border-radius: 8px;
                padding: 24px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 60px;
                max-width: 575px;
                &.success-bottom {
                    margin-bottom: 12px;
                }
                @media (max-width: $phablet-min-width-minus) {
                    margin-bottom: 32px;
                }
                img {
                    margin-right: 10px;
                }
                .notes {
                    .head-note {
                        font-size: 20px;
                        line-height: 28px;
                        margin-bottom: 4px;
                        font-family: $secondary-font-family-bold;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 18px;
                            line-height: 24px;
                        }
                    }
                    .sub-note {
                        font-size: 18px;
                        line-height: 28px;
                        margin-bottom: 0;
                        font-family: $base-font-family;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                }
            }
            .error-check-banner {
                background: #ffefee;
                box-shadow: 0px 3px 4px rgba(234, 234, 234, 0.25);
                border-radius: 8px;
                padding: 24px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 60px;
                @media (max-width: $phablet-min-width-minus) {
                    margin-bottom: 32px;
                }
                img {
                    margin-right: 10px;
                }
                .notes {
                    .head-note {
                        font-size: 20px;
                        line-height: 28px;
                        margin-bottom: 8px;
                        font-family: $secondary-font-family-bold;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 18px;
                            line-height: 24px;
                            margin-bottom: 4px;
                        }
                    }
                    .sub-note-bold {
                        font-size: 18px;
                        line-height: 28px;
                        margin-bottom: 8px;
                        font-family: $base-font-family-bold;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 14px;
                            line-height: 24px;
                            margin-bottom: 4px;
                        }
                    }
                    .sub-note {
                        font-size: 18px;
                        line-height: 28px;
                        margin-bottom: 24px;
                        font-family: $base-font-family;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 14px;
                            line-height: 24px;
                            margin-bottom: 20px;
                        }
                    }
                    .button {
                        font-family: $secondary-font-family-bold;
                        padding: 8px 30px;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 16px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
        .radio-check {
            display: flex;
            align-items: flex-start;
            &.esim{
                align-items: center;
                margin-bottom: 19px;
                cursor: pointer;
                input {
                    margin-top: 0;
                }
            }
            .details {
                margin-bottom: 20px;
                @media (max-width: $phablet-min-width-minus) {
                    margin-bottom: 16px;
                }
                .option-label {
                    font-size: 18px;
                    line-height: 28px;
                    font-family: $base-font-family;
                    margin: 0;
                    cursor: pointer;
                    @media (max-width: $phablet-min-width-minus) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }
        .esim-flow {
            margin-bottom: 68px;
            @media (max-width: $phablet-min-width-minus) {
                margin-bottom: 100px;
            }
            .tooltip {
                position: relative;
                display: inline-block;
                .tooltip-arrow {
                    position: absolute;
                    top: 26px;
                    left: 3px;
                    z-index: 2;
                    visibility: hidden;
                }
                .info-icon {
                    width: 16px;
                    height: 16px;
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
            .tooltip:hover .tooltipInfo {
                visibility: visible;
            }
            .tooltip:hover img {
                visibility: visible;
            }
            .tooltip .tooltipInfo::after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent #f4f4f4 transparent;
            }
            .tooltip .tooltipInfo {
                z-index: 3;
                background: #dad0dc;
                box-shadow: 0px 4px 15px rgba(206, 211, 214, 0.6);
                border-radius: 10px;
                padding: 12px;
                text-align: left;
                visibility: hidden;
                position: absolute;
                left: -90px;
                top: 32px;
                width: 272px;
                z-index: 1;
                font-weight: normal;
                object-fit: contain;
                font-family: $base-font-family;
                color: #383838;
                .text {
                    font-size: 12px;
                    line-height: 20px;
                    margin-bottom: 0px;
                    text-align: left;
                }
                @media (max-width: $phablet-min-width-minus) {
                    left: -30px
                }
            }
            .esim-title {
                font-size: 16px;
                line-height: 24px;
                font-family: $base-font-family;
                margin-bottom: 21.6px;
                @media (max-width: $phablet-min-width-minus) {
                    max-width: 256px;
                }
            }
        }
        .address-section {
            .address-section-title {
                margin-bottom: 12px;
            }
            .link{
                font-size: 18px;
                line-height: 18px;
                margin-bottom: 0px;
                font-weight: bold;
                font-family: $secondary-font-family-bold;
                display: flex;
                align-items: center;
                .arrow-img{
                    width: 20px;
                    height: 20px;
                    margin-left:10px ;
                }
            }
            .banner-specific{
                margin-bottom: 12px;
            }
            .address-card {
                background: #a5a3a30d;
                box-shadow: 0px 3px 15px 0px #29292933;
                border-radius: 10px;
                margin: 0px 0 24px;
                .inner-padding{
                    padding: 0 16px;
                }
                .card-title {
                    padding: 32px 24px;
                    margin-bottom: 0;
                    border-bottom: 1px solid #e2e2e2;
                    font-weight: bold;
                    background: rgba(234, 234, 234, 0.05);
                    font-family: $base-font-family-bold;
                    @media (max-width: $phablet-min-width-minus) {
                        padding: 16px;
                        font-size: rem-calc(20px);
                        line-height: 32px;
                    }
                }
                .card-content,
                .tab-content {
                    padding: 24px;
                    @media (max-width: $phablet-min-width-minus) {
                        padding: 16px;
                    }
                    .info {
                        font-size: rem-calc(18px);
                        line-height: 28px;
                        margin-bottom: 18px;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: rem-calc(16px);
                            line-height: 24px;
                            margin-bottom: 12px;
                        }
                    }
                    b {
                        font-family: $secondary-font-family-bold;
                    }
                }
            }
            .pickups-form {
                margin-top: 20px;
                margin-bottom: 60px;
                @media(max-width: $phablet-min-width-minus) {
                    margin-bottom: 32px;
                }
                .radioBtn {
                    background: #f8fcfe;
                    border: 1px solid #005895;
                    box-shadow: 0px 4px 12px rgb(165 163 163 / 25%);
                    border-radius: 10px;
                    padding: 16px;
                    margin-bottom: 24px;
                    min-height: 80px;
                    .form-control {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: flex-start;
                        margin-bottom: 0;
                        gap: 10px;
                        .input-icon {
                            width: 45px;
                            height: 45px;
                        }
                        .value {
                            font-family: $base-font-family-bold;
                        }
                    }
                }
            }
            .stores-option-section{
                margin-bottom: 60px;
                @media(max-width: $phablet-min-width-minus) {
                    margin-bottom: 32px;
                }
                .store-section {
                    background: $white;
                    box-shadow: 0px 8px 30px 0px #5e5e5e1f;
                    border-radius: 0px 0px 10px 10px;
                    margin-bottom: 32px;
                    .inner-paddings {
                        padding: 24px 32px 0px;
                        &.end {
                            padding: 10px 32px 0px;
                            padding-bottom: 32px;
                        }
                        @media (max-width: $phablet-min-width-minus) {
                            padding: 16px 28px 0px;
                            &.end {
                                padding-bottom: 28px;
                            }
                        }
                    }
                    .sub-head {
                        color: #6a509b;
                        margin-bottom: 2px;
                        font-family: $secondary-font-family-bold;
                    }
                    .sub-title {
                        margin-bottom: 4px;
                        font-family: $secondary-font-family;
                        font-weight: normal;
                    }
                    .border {
                        border-color: #e2e2e2;
                        margin: 16px 0;
                    }
                    .stores-section {
                        background: #f3f3f3;
                        padding: 24px 32px 24px 24px;
                        box-shadow: 0px 4px 12px rgba(94, 94, 94, 0.03), 0px 8px 30px rgba(94, 94, 94, 0.08),
                            0px 5px 16px rgba(0, 60, 117, 0.02);
                        border-radius: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        @media (max-width: $ipad-min-width-minus) {
                            flex-direction: column;
                            padding: 16px;
                        }
                        .stores {
                            display: flex;
                            align-items: flex-start;
                            margin-right: 50px;
                            @media (max-width: $ipad-min-width-minus) {
                                margin-bottom: 24px;
                                margin-right: 0;
                            }
                            img {
                                width: 32px;
                                height: 32px;
                                margin-right: 12px;
                            }
                            .store-name {
                                margin-bottom: 8px;
                            }
                        }
                    }
                }
                .barCoder-form {
                    display: flex;
                    align-items: center;
                    .label {
                        font-size: 18px;
                        line-height: 32px;
                        font-weight: bold;
                        font-family: $base-font-family-bold;
                        margin-bottom: 0;
                        margin-left: 12px;
                        @media (max-width: $phablet-min-width-minus) {
                            line-height: 28px;
                        }
                    }
                }
            }
            .tooltip-info-section{
                display: flex;
                align-items: baseline;
                @media (max-width: $phablet-min-width-minus) {
                    flex-direction: column;
                }
                .info{
                    margin-bottom: 12px;
                }
            }
            .address-tooltip {
                position: relative;
                margin-left: 4px;
                @media (max-width: $phablet-min-width-minus) {
                    margin-left: 0px;
                    margin-bottom: 12px;
                }
                .why-img {
                    position: absolute;
                    top: 25px;
                    left: 11px;
                    visibility: hidden;
                }
            }
            .address-tooltip:hover .tooltipInfo {
                visibility: visible;
            }
            .address-tooltip:hover .why-img {
                visibility: visible;
            }
            .address-tooltip .tooltipInfo::after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent #f4f4f4 transparent;
            }
            .address-tooltip .tooltipInfo {
                background: #5E5E5E;
                box-shadow: 0px 4px 15px rgba(206, 211, 214, 0.6);
                border-radius: 8px;
                padding: 8px 12px;
                text-align: left;
                visibility: hidden;
                position: absolute;
                left: -100px;
                top: 30px;
                width: 335px;
                z-index: 1;
                font-weight: normal;
                object-fit: contain;
                font-family: $base-font-family;
                @media (max-width: $desktop-min-width-minus) {
                    left: -280px;
                }
                @media (max-width: $phablet-min-width-minus) {
                    width: 288px;
                    padding: 12px;
                    left: -40px;
                }
                b {
                    font-weight: bold;
                    font-family: $base-font-family-bold;
                }
                .tip-note {
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 12px;
                    color: #FBFBFB;
                    @media (max-width: $phablet-min-width-minus) {
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
                .address-details {
                    color: #FBFBFB;
                    .top-info {
                        font-size: 12px;
                        line-height: 20px;
                        font-family: $base-font-family-bold;
                        margin-bottom: 2px;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 10px;
                            line-height: 16px;
                        }
                    }
                    .info {
                        font-size: 12px;
                        line-height: 20px;
                        margin-bottom: 0;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 10px;
                            line-height: 16px;
                        }
                    }
                }
            }
            .address-added-banner {
                background: #e6f7ee;
                box-shadow: 0px 3px 4px rgba(234, 234, 234, 0.25);
                border-radius: 8px;
                padding: 24px;
                display: flex;
                align-items: flex-start;
                margin-bottom: 20px;
                max-width: 801px;
                @media (max-width: $phablet-min-width-minus) {
                    margin-bottom: 16px;
                }
                img {
                    width: 27px;
                    height: 27px;
                    margin-right: 14.67px;
                }
                p {
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 0;
                    font-family: $secondary-font-family-bold;
                    @media (max-width: $phablet-min-width-minus) {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
            }
            .title {
                font-size: 18px;
                line-height: 28px;
                font-family: $secondary-font-family-bold;
                margin-bottom: 12px;
                margin-top: 2px;
                @media (max-width: $phablet-min-width-minus) {
                    margin-top: 0;
                    margin-bottom: 8px;
                    line-height: 24px;
                }
            }
            .sub-title {
                font-size: 18px;
                line-height: 28px;
                font-family: $base-font-family;
                margin-bottom: 20px;
                @media (max-width: $phablet-min-width-minus) {
                    margin-bottom: 16px;
                    line-height: 24px;
                    font-size: 16px;
                }
            }
            .info-link {
                font-size: 16px;
                line-height: 16px;
                font-family: $secondary-font-family-bold;
            }
            .address-selection-options {
                margin-bottom: 39px;
                .current-address {
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 37px;
                    .address-details {
                        margin-left: 10px;
                        margin-top: 8px;
                        .alias {
                            color: #383838;
                            font-size: 16px;
                            line-height: 24px;
                            font-family: $base-font-family-bold;
                            margin-bottom: 4px;
                            @media (max-width: $phablet-min-width-minus) {
                                font-size: 14px;
                            }
                        }
                        .info {
                            font-size: 16px;
                            line-height: 24px;
                            margin: 0;
                            font-family: $base-font-family;
                            @media (max-width: $phablet-min-width-minus) {
                                font-size: 14px;
                            }
                        }
                    }
                }
           
            }
            .shipping-address-card {
                margin-bottom: 36px;
                .border {
                    border: .75px solid #CED3D6;
                    margin-bottom: 24px;
                    @media (max-width: $phablet-min-width-minus) {
                        margin-bottom: 20px;
                        width: 100%;
                    }
                }
                .showMore {
                    margin-top: 12px;
                    .more {
                        font-size: 20px;
                        line-height: 20px;
                        margin-bottom: 16px;
                        font-family: $secondary-font-family-bold;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 14px;
                            line-height: 14px;
                            margin-bottom: 17px;
                        }
                    }
                    i {
                        height: 9px;
                        width: 9px;
                        margin-left: 6.97px;
                        border-color: $primary-color;
                        border-bottom-width: 2px;
                        border-right-width: 2px;
                    }
                    .rotate {
                        transform: rotate(-135deg);
                        margin-top: 5px;
                    }
                }
                .address {
                    &.hidden {
                        display: none;
                    }
                    &.last {
                        border: none;
                    }
                    .radio-check {
                        display: flex;
                        align-items: flex-start;
                        input[type="radio"] {
                            cursor: pointer;
                            -webkit-appearance: none;
                            appearance: none;
                            margin: 0 12px 0 0;
                            font: inherit;
                            color: #888888;
                            width: 24px;
                            height: 24px;
                            border: 2px solid #888888;
                            border-radius: 50%;
                            transform: translateY(-0.075em);
                            display: grid;
                            place-content: center;
                        }

                        input[type="radio"]:checked {
                            -webkit-appearance: none;
                            appearance: none;
                            margin: 0 12px 0 0;
                            font: inherit;
                            color: $primary-color;
                            width: 24px;
                            height: 24px;
                            border: 2px solid $primary-color;
                            border-radius: 50%;
                            transform: translateY(-0.075em);
                            display: grid;
                            place-content: center;
                        }

                        input[type="radio"]::before {
                            content: "";
                            width: 31px;
                            height: 29px;
                            border-radius: 50%;
                            transform: scale(0);
                            transition: 120ms transform ease-in-out;
                        }
                        input[type="radio"]:checked::before {
                            transform: scale(0.4);
                            background-color: $primary-color;
                        }
                        .details {
                            margin-bottom: 20px;
                            @media (max-width: $phablet-min-width-minus) {
                                margin-bottom: 16px;
                            }
                            .label {
                                margin-bottom: 4px;
                                font-size: 18px;
                                line-height: 24px;
                                font-family: $secondary-font-family-bold;
                                cursor: pointer;
                                @media (max-width: $phablet-min-width-minus) {
                                    font-size: 14px;
                                }
                            }
                            .info {
                                margin-bottom: 0px;
                                color: #383838;
                                font-size: 16px;
                                line-height: 24px;
                                font-family: $base-font-family;
                                @media (max-width: $phablet-min-width-minus) {
                                    font-size: 12px;
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }

                .new-address {
                    margin-top: 26px;
                    .toggle-title {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        background: #E5EEF4;
                        border-radius: 10px;
                        margin-bottom: 16px;
                        padding: 8px 12px;
                        .icon {
                            color: $primary-color;
                            margin-bottom: 10px;
                            width: 16px;
                            height: 16px;
                            span {
                                font-size: 33px;
                                margin: 0;
                                line-height: 0px;
                            }
                            &.minus {
                                margin-bottom: 0px;
                                span {
                                    font-size: 50px;
                                    margin: 0;
                                    line-height: 0px;
                                }
                            }
                        }
                        .text {
                            color: $primary-color;
                            margin: 0;
                            margin-left: 10px;
                            @media (max-width: $phablet-min-width-minus) {
                                margin-left: 8px;
                            }
                        }
                    }
                    .shipping-method-form {
                        display: flex;
                        flex-direction: column;
                        margin-top: 30px;
                        max-width: 460px;
                        @media (max-width: $phablet-min-width-minus) {
                            max-width: 100%;
                        }
                        input {
                            border-color: #dadada !important;
                            height: 37px;
                            width: 100%;
                            padding-right: 0;
                        }
                        fieldset {
                            padding-right: 0;
                        }
                        @media (max-width: $desktop-min-width-minus) and (min-width: $phablet-min-width) {
                            fieldset {
                                padding-left: 0px;
                                padding-right: 15px;
                                &.eight {
                                    width: 66.6%;
                                }
                                &.four {
                                    width: 33%;
                                }
                            }
                        }
                        .icon-search {
                            display: none;
                        }
                        .action {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            @media (max-width: $desktop-min-width-minus) {
                                max-width: 428px;
                            }
                            @media (max-width: $phablet-min-width-minus) {
                                max-width: 100%;
                            }
                            .cancel-link {
                                font-size: 20px;
                                line-height: 20px;
                                font-family: $secondary-font-family-bold;
                                @media (max-width: $phablet-min-width-minus) {
                                    font-size: 16px;
                                    line-height: 16px;
                                }
                            }
                            .button {
                                padding: 8px 32px;
                                font-size: 20px;
                                line-height: 20px;
                                font-family: $secondary-font-family-bold;
                                @media (max-width: $phablet-min-width-minus) {
                                    font-size: 16px;
                                    line-height: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .navigation-section {
        border-top: 1px solid #e3e3ea;
        padding: 16px 0px;
        // display: flex;
        // justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        position: sticky;
        z-index: 2;
        bottom: 0;
        width: 100%;
        .navs {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .right {
                display: flex;
                gap: 8px;
                &.end{
                    justify-content: flex-end;
                }
            }
           
        }
        &.last {
            justify-content: flex-end;
        }

        .button {
            font-weight: 700;
            cursor: pointer;
            &.thirdly {
                padding: 0;
                text-align: left;
            }
        }

    }
    .plan-purchased-banner {
        display: flex;
        align-items: flex-start;
        padding: 24px;
        max-width: 915px;
        box-shadow: 0px 4px 15px rgba(206, 211, 214, 0.6);
        border-radius: 0px 0px 10px 10px;
        background-color: #EBFAEE;
        width: 100%;
        margin-bottom: 32px;
        img {
            margin-right: 10px;
            width: 26px;
            height: 26px;
            @media (min-width: $phablet-min-width) {
                width: 20px;
                height: 20px;
            }
        }
        .descs {
            max-width: 823px;
            .top-desc {
                font-size: 20px;
                line-height: 28px;
                font-family: $secondary-font-family-bold;
                margin-bottom: 8px;
                @media (min-width: $phablet-min-width) {
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 4px;
                }
            }
            .sub-desc {
                font-size: 18px;
                line-height: 28px;
                font-family: $base-font-family;
                margin-bottom: 0;
                @media (min-width: $phablet-min-width) {
                    font-size: 14px;
                }
            }
        }
    }
}
