<section class="enrollment-new-line-page page-section">
    <h1 class="title">ACP Enrollment</h1>
    <div *ngIf="!planPurchased">
        <div class="success-acp-banner" *ngIf="!successCehck && !errorCheck &&activeStep === 1">
            <img src="assets/icon/success-icon.svg" alt="Success Icon">
            <div class="descs">
                <p class="congratulation">Congratulations!</p>
                <p class="desc">You have been verified successfully into the ACP program!</p>
                <p class="desc last">You are now eligible for our <b>FREE 10GB</b> Unlimited Talk & Text Plan!</p>
            </div>
        </div>
        <section class="stepper" *ngIf="!isEsim">
            <div class="step" *ngFor="let step of steps" [class.active]="activeStep === step"
                [class.done]="activeStep > step">
                <div class="circle">{{ step }}</div>
                <div class="border" *ngIf="step < steps.length"></div>
            </div>
        </section>
       <section *ngIf="!!activeStep && activeStep === 1" class="compatability-section">
            <h3 class="main-title" data-cy="addingNewLineTitle">Adding a New Line:</h3>
            <form [formGroup]="newMobileServiceFrom" *ngIf="!successCehck && !errorCheck ">
                <p class="sub-desc">Let's find out if the device, that you will use, is compatible with our network!</p>
                <div class="form-row">
                    <div class="form-field">
                        <p class="top-label">Enter your device’s IMEI number</p>
                        <p class="serial-device-note">Dial: *#06# on your phone to get your IMEI/MEID</p>
                        <label class="outlined-label-input">
                            <input placeholder=" " required formControlName="imei" name="equipmentNumber"
                                id="equipmentNumber" data-cy="equipmentNumber" restrictNumbers required
                                maxlength="18" />
                            <span>Enter your device’s IMEI number</span>
                        </label>
                        <a class="imei-link" (click)="showWhatIsIMEI()">What is an IMEI/MEID number?</a>
                        <label class="validation-message"
                            *ngIf="newMobileServiceFrom.controls.imei.hasError('required') && newMobileServiceFrom.controls.imei.touched">
                            Device IMEI Number Is Required
                        </label>
                        <label class="validation-message"
                            *ngIf="newMobileServiceFrom.controls.imei.hasError('minlength')">
                            Device IMEI should be between 11-18 digits
                        </label>
                    </div>
                </div>
                <div class="form-row last">
                    <div class="form-field">
                        <p class="top-label">Enter your full address </p>
                        <label class="outlined-label-input flowed">
                            <input formControlName="address" matInput type="search" list-formatter="description" data-cy="addressRef"  
                                type="search" (focus)="setFoucs = true" (blur)="setFoucs = false"
                               class="geolocate"  placeholder="  " [matAutocomplete]="auto" required
                               (input)="changedAddress()"/>
                               <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addressDetails($event)">
                                 <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                   {{ option?.description }}
                                 </mat-option>
                               </mat-autocomplete>        
                            <span [class.focused]="!!setFoucs || !!newMobileServiceFrom.controls.address.touched"
                                [class.not-focused]="!setFoucs && !newMobileServiceFrom.controls.address.value"
                                [class.error]="!!newMobileServiceFrom.controls.address.touched && !!newMobileServiceFrom.controls.address.errors"
                                [class.grayed]="!setFoucs && !!newMobileServiceFrom.controls.address.value">Enter your
                                full
                                address</span>
                        </label>
                        <label class="validation-message"
                            *ngIf="newMobileServiceFrom.controls.address.touched && newMobileServiceFrom.controls.address.hasError('required')"
                            id="required-zip-code-label">Address is required</label>
                        <label class="validation-message"
                            *ngIf="!displayedAddressModel && !!newMobileServiceFrom.controls.address.value"
                            id="required-address-msg">Please select address from the autocomplete list</label>
                    </div>
                </div>
            </form>
            <div *ngIf="!!successCehck && !errorCheck" class="success-check-banner" [class.success-bottom]="!!isEsim">
                <img src="assets/icon/success-icon.svg" alt="Success Icon">
                <div class="notes" *ngIf="!isEsim">
                    <p class="head-note" data-cy="phoneIsCompatibleTitle">Your Phone is compatible!</p>
                    <p class="sub-note" data-cy="phoneIsCompatibleSubTitle">You can use the device you have with our network!</p>
                </div>
                <div class="notes" *ngIf="!!isEsim">
                    <p class="head-note">Great news!</p>
                    <p class="sub-note">Your phone is ready to join our network and it is <b>eSIM compatible</b>
                        (Instant Activation!)</p>
                </div>
            </div>
            <div class="esim-flow" *ngIf="!!successCehck && !errorCheck && !!isEsim">
                <div class="esim-title">Are you happy with getting your <b>eSIM?</b>
                    <div class="tooltip">
                        <img src="/assets/icon/why-arrow.svg" alt="arrow" class="tooltip-arrow">
                        <img src="/assets/icon/Information-sec.svg" alt="info" class="info-icon">
                        <div class="tooltipInfo">
                            <p class="text">An eSIM is an industry-standard digital SIM that allows you to activate a
                                cellular plan from your carrier without having to use a physical SIM.
                            </p>
                            <p class="text">The activation process is immediate without having to wait around.</p>
                        </div>
                    </div>
                </div>
                <form [formGroup]="simOptionsForm">
                    <div *ngFor="let item of simOptions">
                        <label class="radio-check esim" [for]="item?.id">
                            <input type="radio" type="radio" [value]="item?.id" formControlName="option" [id]="item?.id"
                                (change)="onOptionChange()">{{item?.value}}
                        </label>
                    </div>
                    <label class="validation-message"
                        *ngIf="simOptionsForm.controls.option.hasError('required') && simOptionsForm.controls.option.touched">Please
                        select one of the options above to continue</label>
                </form>
            </div>
            <div *ngIf="!!errorCheck && !successCehck" class="error-check-banner">
                <img src="/assets/icon/error-enrollment.svg" alt="error-icon">
                <div class="notes">
                    <p class="head-note">Sorry!</p>
                    <p class="sub-note-bold">Your Phone isn’t compatible with our network, BUT...!</p>
                    <p class="sub-note">You can try and check another device or re-enter your information again.</p>
                    <button class="button primary" (click)="tryAgain()">Try Again</button>
                </div>
            </div>
        </section>
        <section class="address-section" *ngIf="!!activeStep && activeStep === 2">
            <h3 class="address-section-title" data-cy="addressSectionTitle">How do you want to get your package?</h3>
            <p class="smaller">Select the preferred method below:</p>
            <form #pickupOptionsForm="ngForm" class="pickups-form">
                <div class="radioBtn">
                    <label class="form-control" for="home">
                        <input type="radio" value="home" [(ngModel)]="option" data-cy="homeDelivery" id="home" name="home" required
                            (change)="pickupOptionChanged()">
                        <img src="/assets/icon/home.svg" alt="pickup icon" class="home-icon">
                        <div class="input-details">
                            <p class="value">Home Delivery</p>
                            <p class="caption">I’d like to have my package delivered to my door.</p>
                        </div>
                    </label>
                </div>
                <div *ngIf="!!option && option === 'home'">
                    <div class="info-banner success-background banner-specific" *ngIf="!!isAdressAddedSuccessfully">
                    <div class="flex">
                        <img src="assets/icon/success-icon.svg" alt="Success Icon">
                        <div class="banner-content">
                            <p class="title">Awesome!</p>
                            <p class="description last">Your address has been successfully added!</p>
                        </div>
                    </div>
                  </div>
                    <div class="address-card">
                        <h4 class="card-title">Shipping Details</h4>
                        <div class="card-content" id="addressDetails">
                            <p class="info" id="selectAddress" *ngIf="!!addressWithIdSection">Please
                                select a shipping address or add a new one:</p>
                            <div *ngIf="!!addressNoOptionSection" class="inner-padding">
                                <p class="info" id="selectAddress">Do
                                    you want to use the same address for shipping as the one entered in the ACP
                                    Application?</p>
                                <div class="address-selection-options">
                                    <div class="current-address" *ngIf="!!applicationAddress">
                                        <input type="radio" [(ngModel)]="addressOption" name="mailaddress" value="mail"
                                            (change)="optionChanged()" id="mailaddress" />
                                        <div class="address-details">
                                            <p class="alias">{{!!applicationAddress?.name? applicationAddress?.name :
                                                applicationAddress?.alias}}
                                            </p>
                                            <p class="info">{{applicationAddress?.address1}}</p>
                                            <p class="info" *ngIf="!!applicationAddress?.address2">
                                                {{applicationAddress?.address2}}</p>
                                            <p class="info">{{applicationAddress?.city}}, {{applicationAddress?.state}},
                                                {{applicationAddress?.postalCode}}</p>
                                        </div>
                                    </div>
                                    <a class="link" (click)="changeAddressOption()">Use another address <img
                                            class="arrow-img" alt="arrow"
                                            [src]="!!addressCard?'/assets/icon/circle-arrow-up-primary.svg': '/assets/icon/circle-arrow-down-primary.svg'"></a>
                                </div>
                            </div>
                            <div *ngIf="!!addressNoOptionNotVerfiedSection" class="inner-padding">
                                <div class="tooltip-info-section" id="selectAddress">
                                    <p class="info smaller">The address you entered in the
                                    ACP application form couldn't be validated for
                                    shipping:</p>
                                    <div class="address-tooltip">
                                        <img src="/assets/icon/why-arrow.svg" alt="arrow" class="why-img">
                                        <a class="info-link">Why?</a>
                                        <div class="tooltipInfo">
                                            <p class="tip-note">Possible <b>typos</b> or <b>misspellings</b> could have been made, or
                                                a conflict in
                                                the <b>city</b>, <b>state</b> and <b>ZIP code</b>.</p>
                                            <div class="address-details">
                                                <p class="top-info">Previously entered address:</p>
                                                <p class="info">{{!!verifiedAddress?.name? verifiedAddress?.name :
                                                    verifiedAddress?.alias}}</p>
                                                <p class="info">{{verifiedAddress?.address1}}</p>
                                                <p class="info" *ngIf="!!verifiedAddress?.address2">
                                                    {{verifiedAddress?.address2}}</p>
                                                <p class="info">{{verifiedAddress?.city}}, {{verifiedAddress?.state}},
                                                    {{verifiedAddress?.postalCode}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="sub-title">Please provide another address:</p>
                            </div>
                            <div class="shipping-address-card inner-padding" *ngIf="!!addressCard">
                                <div class="address" *ngFor="let address of addressesList; let i = index"
                                    [class.hidden]="i > 1 && !showAllAddresses"
                                    [class.last]="(i === 1 && !showAllAddresses) || (i === (addressesList?.length - 1) && !!showAllAddresses) || (addressesList?.length === 1)">
                                    <div class="radio-check">
                                        <input title="{{ !!address.name ? address?.name : address?.alias }}"
                                            type="radio" [(ngModel)]="selectedShippingAddress" name="shippingAddress"
                                            [id]="address.id" [value]="address"
                                            (ngModelChange)="isAddressVerified=true;showShippingForm = false; isAdressAddedSuccessfully = false" />
                                        <div class="details">
                                            <label class="label" for="{{address.id}}">{{
                                                !!address?.name ?
                                                address?.name : address?.alias }}</label>
                                            <p class="info">
                                                {{ address?.address1 }}
                                                {{ !!address?.address2 ? ", " + address?.address2 : "" }}
                                                , {{ address?.city }} , {{ address?.state }} {{ address?.postalCode }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="border"
                                        *ngIf="i < addressesList.length -1 && ((i !== 1 && addressesList?.length > 2 && !showAllAddresses) ||  (addressesList?.length > 2 && !!showAllAddresses))">
                                    </div>
                                </div>
                                <div class="showMore" *ngIf="addressesList?.length > 2"
                                    (click)="showAllAddresses = !showAllAddresses">
                                    <a class="link">{{!!showAllAddresses ? 'Show less' : 'Show more'}}
                                        <img
                                            class="arrow-img" alt="arrow"
                                            [src]="!!showAllAddresses?'/assets/icon/circle-arrow-up-primary.svg': '/assets/icon/circle-arrow-down-primary.svg'">
                                    </a>
                                </div>
                                <div class="new-address">
                                    <div class="toggle-title" data-cy="addNewAddress"  (click)="
                                showShippingForm = !showShippingForm;
                                selectedShippingAddress = null;
                                isAddressVerified = false;
                                touchShippingForm = false;
                            ">
                                        <p class="icon" [class.minus]="!!showShippingForm">
                                            <span>{{ !!showShippingForm ? "-" : "+" }}</span>
                                        </p>
                                        <p class="smaller text"><b>Add New Address</b></p>
                                    </div>
                                    <form #shippingMethodForm="ngForm" *ngIf="!!showShippingForm"
                                        class="shipping-method-form">
                                        <fieldset class="address-lookup">
                                            <app-address-lookup [displayedAddress]="shippingAddress"
                                                (isValid)="setValidAddress($event)"
                                                (addressChange)="addressLookUpChanged($event)"
                                                [touchForm]="touchShippingForm" [showAlias]="true">
                                            </app-address-lookup>
                                        </fieldset>
                                        <div class="action">
                                            <a class="cancel-link" aria-label="cancel"
                                                (click)="showShippingForm = false;">
                                                Cancel
                                            </a>
                                            <button class="button primary" data-cy="saveBtn" aria-label="Add address"
                                                (click)="addAddress()">
                                                Save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="radioBtn">
                    <label class="form-control" for="store">
                        <input type="radio" data-cy="storePickup" value="store" [(ngModel)]="option" id="store" name="store" required
                            (change)="pickupOptionChanged()">
                        <img src="/assets/icon/store.svg" alt="pickup icon" class="store-icon">
                        <div class="input-details">
                            <p class="value">Store Pickup</p>
                            <p class="caption">I’d like to collect my package frome store.</p>
                        </div>
                    </label>
                </div>
                <div *ngIf="!!option && option === 'store'" class="stores-option-section">
                    <div class="store-section">
                        <div class="inner-paddings">
                            <h4 class="sub-head">You can pick up your SIM Card at any of the following stores:</h4>
                            <h5 class="sub-title">More stores are coming soon</h5>
                        </div>
                        <hr class="border">
                        <div class="inner-paddings end">
                            <app-stores-list></app-stores-list>
                        </div>
                    </div>
                    <div class="info-banner default-background">
                        <div class="flex">
                            <img src="assets/icon/info-icon.svg" alt="Info Icon">
                            <div class="banner-content">
                                <p class="title">The barcode is required to get your package from the store!</p>
                                <p class="description last">This barcode will be in your purchased plans and your order
                                    receipt.</p>
                                <div class="actions">
                                    <form #barCodeCheck="ngForm" class="barCoder-form">
                                        <input type="checkbox" [(ngModel)]="barCode" name="br" required
                                            #barCodeVal="ngModel" data-cy="barCodeVal">
                                        <label class="label">I understand that.</label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <app-invisible-recaptcha (resolved)="resolvedCaptcha($event)" [siteKey]="SITE_ID" #reCaptcha
            *ngIf="!!activeStep && activeStep === 1">
        </app-invisible-recaptcha>
    </div>
    <!-- <div *ngIf="!!planPurchased && !isEsim" class="plan-purchased-banner">
        <img src="assets/icon/success-icon.svg" alt="Success Icon">
        <div class="descs">
            <p class="top-desc">ACP Application successful!</p>
            <p class="sub-desc"><b>Next Steps -  {{!!isStorePickup ? 'In Store SIM Card Pickup.' : 'We are shipping your SIM card.'}}</b></p>
            <p class="sub-desc" *ngIf="!!isStorePickup">Click <b>"Continue"</b> to get your barcode.<br>Show the bardcode to your local goodwill store to receive your SIM Card.<br> Activate the SIM with your Good Mobile <b>ACP plan!</b></p>
            <p class="sub-desc" *ngIf="!isStorePickup">When you receive your SIM card, follow the instructions on the package to activate the SIM with your Good Mobile <b>ACP plan!</b></p>
        </div>
    </div>
    <div *ngIf="!!planPurchased && !!isEsim" class="plan-purchased-banner">
        <img src="assets/icon/success-icon.svg" alt="Success Icon">
        <div class="descs">
            <p class="top-desc">Purchase successful!</p>
            <p class="sub-desc">Your ACP plan has been successfully purchased! You May proceed to activate you eSIM and
                start enjoying your ACP benefits!</p>
        </div>
    </div> -->
</section>
<section class="navigation-section" >
    <div class="page-section navs" [class.end]="!!planPurchased">
        <button class="button thirdly noPadding" data-cy="cancel" (click)="cancel()" *ngIf="!planPurchased">Cancel</button>
        <div class="right" *ngIf="!planPurchased">
            <button class="button secondary" data-cy="backBtn" aria-label="Back"
                (click)="activeStep = activeStep -1;successCehck = true" *ngIf="activeStep !== 1">Back</button>
            <button class="button primary" data-cy="checkBtn" aria-label="Check" (click)="checkDevice()"
                *ngIf="!successCehck && !errorCheck && activeStep === 1">Check</button>
            <button class="button primary"  data-cy="nextBtn" aria-label="Next" (click)="goToStep2()"
                *ngIf="(!!successCehck || !!errorCheck ) && activeStep === 1" [class.disabled]="!!errorCheck"
                [disabled]="!!errorCheck">Next</button>
            <button class="button primary" *ngIf="activeStep === 2"
                [class.disabled]="!option || (option === 'home' && (!isAddressVerified || (!!addressNoOptionSection && !addressOption))) || (option === 'store' && !barCode)"
                [disabled]="!option || (option === 'home' && (!isAddressVerified || (!!addressNoOptionSection && !addressOption))) || (option === 'store' && !barCode)"
                (click)="purchasePlan()"  data-cy="nextBtn">Submit</button>
        </div>
        <div class="right end" *ngIf="!!planPurchased">
            <button class="button primary" data-cy="continueBtn" (click)="goToPendingActivation()">{{!!isStorePickup ? 'Continue' : 'Done'}}</button>
        </div>
    </div>
    
</section>