@import "../../../styles/modules/variables";

::ng-deep {
    .blur > * {
        filter: blur(4px);
        pointer-events: none;
    }
    .disable-blur {
        filter: blur(0);
        pointer-events: unset;
    }
    .enrollment-new-line-page {
        display: block !important;
        margin-top: 60px;
        padding: 0 10%;
        @media (min-width: $phablet-min-width) {
            display: flex;
        }
        @media (max-width: $desktop-min-width-minus) {
            padding: 0 20px;
        }
        @media (max-width: $phablet-min-width-minus) {
            padding: 0 16px;
        }
        .title {
            font-size: 32px;
            line-height: 40px;
            font-weight: bold;
            margin-bottom: 40px;
            font-family: $secondary-font-family-bold;
            @media (max-width: $phablet-min-width-minus) {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 24px;
            }
        }
        .success-acp-banner {
            background: #e6f7ee;
            box-shadow: 0px 3px 4px rgba(234, 234, 234, 0.25);
            border-radius: 8px;
            padding: 28px 26px;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 40px;
            @media (max-width: $phablet-min-width-minus) {
                margin-bottom: 26px;
            }
            img {
                width: 26.67px;
                height: 26.67px;
                margin-right: 14px;
            }
            .descs {
                .congratulation {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: bold;
                    margin-bottom: 4px;
                    font-family: $secondary-font-family-bold;
                    @media (max-width: $phablet-min-width-minus) {
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 2px;
                    }
                }
                .desc {
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: bold;
                    margin-bottom: 8px;
                    font-family: $base-font-family-bold;
                    @media (max-width: $phablet-min-width-minus) {
                        font-size: 14px;
                        line-height: 24px;
                        margin-bottom: 4px;
                    }
                    &.last {
                        font-weight: normal;
                        margin: 0;
                        font-family: $base-font-family;
                    }
                }
            }
        }
        .stepper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 42px;
            @media (max-width: $phablet-min-width-minus) {
                margin-bottom: 26px;
            }
            .step {
                color: $primary-color;
                display: flex;
                align-items: center;
                .circle {
                    font-family: $base-font-family;
                    border-radius: 100%;
                    color: #a5a3a3;
                    text-align: center;
                    box-shadow: 0 0 0 3px #fff;
                    border: 0.712388px solid #a5a3a3;
                    font-size: 20px;
                    line-height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    margin-left: 10px;
                    width: 40px;
                    height: 40px;
                    @media (max-width: $phablet-min-width-minus) {
                        width: 28px;
                        height: 28px;
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
                .border {
                    border: 0.617264px solid #a5a3a3;
                    transform: rotate(90deg);
                    width: 0;
                    height: 24px;
                    margin: 0 6px;
                }
                &.active {
                    color: $primary-color;
                    .circle {
                        background: rgba(134, 51, 153, 0.1);
                        color: $primary-color;
                        border-right: 0.66px solid #ff9811;
                        border-left: 0.66px solid #863399;
                        border-top: 0.66px solid #ff9811;
                        border-bottom: 0.66px solid #863399;
                        width: 40px;
                        height: 40px;
                        @media (max-width: $phablet-min-width-minus) {
                            width: 32px;
                            height: 32px;
                        }
                        &:after {
                            background: rgba(134, 51, 153, 0.1);
                        }
                    }
                }
                &.done {
                    color: $primary-color;
                    .circle {
                        background: $primary-color;
                        color: #fff;
                        width: 36px;
                        height: 36px;
                        @media (max-width: $phablet-min-width-minus) {
                            width: 26.75px;
                            height: 26.75px;
                        }
                        &:after {
                            background-color: $primary-color;
                        }
                    }
                }
            }
        }
        .compatability-section {
            .main-title {
                font-size: 24px;
                line-height: 32px;
                font-family: $secondary-font-family-bold;
                margin-bottom: 12px;
                @media (max-width: $phablet-min-width-minus) {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
            .sub-desc {
                font-size: 18px;
                line-height: 28px;
                font-family: $base-font-family;
                margin-bottom: 20px;
                max-width: 524px;
                width: 100%;
                @media (max-width: $phablet-min-width-minus) {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 24px;
                }
            }
            .sub-title {
                font-size: 18px;
                line-height: 28px;
                font-family: $secondary-font-family-bold;
                margin-bottom: 12px;
                @media (max-width: $phablet-min-width-minus) {
                    line-height: 24px;
                    margin-bottom: 16px;
                }
            }
            .form-row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
                &.last {
                    margin-bottom: 32px;
                }
                .top-label {
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 4px;
                    font-family: $base-font-family-bold;
                    @media (max-width: $phablet-min-width-minus) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
                .serial-device-note {
                    font-size: 10px;
                    line-height: 16px;
                    margin-top: 0;
                    margin-bottom: 12px;
                    color: #383838;
                }
                .imei-link {
                    font-size: 12px;
                    line-height: 20px;
                    font-family: $base-font-family-bold;
                    margin-bottom: 16px;
                    margin-top: 8px;
                }
                .outlined-label-input {
                    display: block;
                    &.flowed {
                        overflow: visible;
                        .ngui-auto-complete-wrapper {
                            ngui-auto-complete {
                                z-index: 4 !important;
                            }
                        }
                    }
                    input {
                        width: 400px;
                        margin-bottom: 0px;
                        @media (max-width: $phablet-min-width-minus) {
                            width: 296px;
                        }
                    }
                    span {
                        &.focused {
                            color: $primary-color;
                            &:before {
                                border-top-color: $primary-color !important;
                                box-shadow: inset 0 1px $primary-color;
                            }
                            &:after {
                                border-top-color: $primary-color !important;
                                box-shadow: inset 0 1px $primary-color;
                            }
                        }
                        &.not-focused {
                            font-size: inherit;
                            line-height: 60px;
                            @media (max-width: $phablet-min-width-minus) {
                                font-size: rem-calc(16px);
                            }
                        }
                        &.grayed {
                            color: #5E5E5E;
                            &:before {
                                border-top-color: #5E5E5E !important;
                                box-shadow: inset 0 0.5px #5E5E5E;
                            }
                            &:after {
                                border-top-color: #5E5E5E !important;
                                box-shadow: inset 0 0.5px #5E5E5E;
                            }
                        }
                        &.error {
                            color: $alert;
                            &:before {
                                border-top-color: $alert !important;
                                box-shadow: inset 0 1px $alert;
                            }
                            &:after {
                                border-top-color: $alert !important;
                                box-shadow: inset 0 1px $alert;
                            }
                        }
                    }
                }
            }
            .success-check-banner {
                background: #e6f7ee;
                box-shadow: 0px 3px 4px rgba(234, 234, 234, 0.25);
                border-radius: 8px;
                padding: 24px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 60px;
                max-width: 575px;
                &.success-bottom {
                    margin-bottom: 12px;
                }
                @media (max-width: $phablet-min-width-minus) {
                    margin-bottom: 32px;
                }
                img {
                    margin-right: 10px;
                }
                .notes {
                    .head-note {
                        font-size: 20px;
                        line-height: 28px;
                        margin-bottom: 4px;
                        font-family: $secondary-font-family-bold;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 18px;
                            line-height: 24px;
                        }
                    }
                    .sub-note {
                        font-size: 18px;
                        line-height: 28px;
                        margin-bottom: 0;
                        font-family: $base-font-family;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                }
            }
            .error-check-banner {
                background: #ffefee;
                box-shadow: 0px 3px 4px rgba(234, 234, 234, 0.25);
                border-radius: 8px;
                padding: 24px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 60px;
                @media (max-width: $phablet-min-width-minus) {
                    margin-bottom: 32px;
                }
                img {
                    margin-right: 10px;
                }
                .notes {
                    .head-note {
                        font-size: 20px;
                        line-height: 28px;
                        margin-bottom: 8px;
                        font-family: $secondary-font-family-bold;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 18px;
                            line-height: 24px;
                            margin-bottom: 4px;
                        }
                    }
                    .sub-note-bold {
                        font-size: 18px;
                        line-height: 28px;
                        margin-bottom: 8px;
                        font-family: $base-font-family-bold;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 14px;
                            line-height: 24px;
                            margin-bottom: 4px;
                        }
                    }
                    .sub-note {
                        font-size: 18px;
                        line-height: 28px;
                        margin-bottom: 24px;
                        font-family: $base-font-family;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 14px;
                            line-height: 24px;
                            margin-bottom: 20px;
                        }
                    }
                    .button {
                        font-family: $secondary-font-family-bold;
                        padding: 8px 30px;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 16px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
        .radio-check {
            display: flex;
            align-items: flex-start;
            &.esim{
                align-items: center;
                margin-bottom: 19px;
                cursor: pointer;
                input {
                    margin-top: 0;
                }
            }
            input[type="radio"] {
                cursor: pointer;
                -webkit-appearance: none;
                appearance: none;
                margin: 0 13.6px 0 0;
                font: inherit;
                color: #888888;
                width: 24px;
                height: 24px;
                border: 2px solid #888888;
                border-radius: 50%;
                transform: translateY(-0.075em);
                display: grid;
                place-content: center;
                margin-top: 3px;
                @media (max-width: $phablet-min-width-minus) {
                    margin: 0 9px 0 0;
                }
            }

            input[type="radio"]:checked {
                -webkit-appearance: none;
                appearance: none;
                margin: 0 13.6px 0 0;
                font: inherit;
                color: $primary-color;
                width: 24px;
                height: 24px;
                border: 2px solid $primary-color;
                border-radius: 50%;
                transform: translateY(-0.075em);
                display: grid;
                place-content: center;
                margin-top: 3px;
                @media (max-width: $phablet-min-width-minus) {
                    margin: 0 9px 0 0;
                }
            }

            input[type="radio"]::before {
                content: "";
                width: 31px;
                height: 29px;
                border-radius: 50%;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
            }
            input[type="radio"]:checked::before {
                transform: scale(0.4);
                background-color: $primary-color;
            }
            .details {
                margin-bottom: 20px;
                @media (max-width: $phablet-min-width-minus) {
                    margin-bottom: 16px;
                }
                .option-label {
                    font-size: 18px;
                    line-height: 28px;
                    font-family: $base-font-family;
                    margin: 0;
                    cursor: pointer;
                    @media (max-width: $phablet-min-width-minus) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }
        .esim-flow {
            margin-bottom: 68px;
            @media (max-width: $phablet-min-width-minus) {
                margin-bottom: 100px;
            }
            .tooltip {
                position: relative;
                display: inline-block;
                .tooltip-arrow {
                    position: absolute;
                    top: 26px;
                    left: 3px;
                    z-index: 2;
                    visibility: hidden;
                }
                .info-icon {
                    width: 16px;
                    height: 16px;
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
            .tooltip:hover .tooltipInfo {
                visibility: visible;
            }
            .tooltip:hover img {
                visibility: visible;
            }
            .tooltip .tooltipInfo::after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent #f4f4f4 transparent;
            }
            .tooltip .tooltipInfo {
                z-index: 3;
                background: #dad0dc;
                box-shadow: 0px 4px 15px rgba(206, 211, 214, 0.6);
                border-radius: 10px;
                padding: 12px;
                text-align: left;
                visibility: hidden;
                position: absolute;
                left: -90px;
                top: 32px;
                width: 272px;
                z-index: 1;
                font-weight: normal;
                object-fit: contain;
                font-family: $base-font-family;
                color: #383838;
                .text {
                    font-size: 12px;
                    line-height: 20px;
                    margin-bottom: 0px;
                    text-align: left;
                }
                @media (max-width: $phablet-min-width-minus) {
                    left: -30px
                }
            }
            .esim-title {
                font-size: 16px;
                line-height: 24px;
                font-family: $base-font-family;
                margin-bottom: 21.6px;
                @media (max-width: $phablet-min-width-minus) {
                    max-width: 256px;
                }
            }
        }
        .address-section {
            .address-tooltip {
                position: relative;
                display: inline-block;
                .info-img {
                    width: 20px;
                    height: 20px;
                }
                .why-img {
                    position: absolute;
                    top: 25px;
                    left: 11px;
                    visibility: hidden;
                }
            }
            .address-tooltip:hover .tooltipInfo {
                visibility: visible;
            }
            .address-tooltip:hover .why-img {
                visibility: visible;
            }
            .address-tooltip .tooltipInfo::after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent #f4f4f4 transparent;
            }
            .address-tooltip .tooltipInfo {
                background: #dad0dc;
                box-shadow: 0px 4px 15px rgba(206, 211, 214, 0.6);
                border-radius: 10px;
                padding: 20px;
                text-align: left;
                visibility: hidden;
                position: absolute;
                left: -100px;
                top: 32px;
                width: 352px;
                z-index: 1;
                font-weight: normal;
                width: 352px;
                object-fit: contain;
                font-family: $base-font-family;
                @media (max-width: $desktop-min-width-minus) {
                    left: -80px;
                }
                @media (max-width: $phablet-min-width-minus) {
                    width: 272px;
                    padding: 12px;
                    left: -80px;
                }
                .tip-note {
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 12px;
                    @media (max-width: $phablet-min-width-minus) {
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
                .address-details {
                    background: rgba(255, 255, 255, 0.8);
                    border-radius: 5px;
                    max-width: 312px;
                    padding: 8px;
                    .top-info {
                        font-size: 12px;
                        line-height: 20px;
                        font-family: $base-font-family-bold;
                        margin-bottom: 2px;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 10px;
                            line-height: 16px;
                        }
                    }
                    .info {
                        font-size: 12px;
                        line-height: 20px;
                        color: #383838;
                        margin-bottom: 0;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 10px;
                            line-height: 16px;
                        }
                    }
                }
            }
            .address-added-banner {
                background: #e6f7ee;
                box-shadow: 0px 3px 4px rgba(234, 234, 234, 0.25);
                border-radius: 8px;
                padding: 24px;
                display: flex;
                align-items: flex-start;
                margin-bottom: 20px;
                max-width: 801px;
                @media (max-width: $phablet-min-width-minus) {
                    margin-bottom: 16px;
                }
                img {
                    width: 27px;
                    height: 27px;
                    margin-right: 14.67px;
                }
                p {
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 0;
                    font-family: $secondary-font-family-bold;
                    @media (max-width: $phablet-min-width-minus) {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
            }
            .title {
                font-size: 18px;
                line-height: 28px;
                font-family: $secondary-font-family-bold;
                margin-bottom: 12px;
                margin-top: 2px;
                @media (max-width: $phablet-min-width-minus) {
                    margin-top: 0;
                    margin-bottom: 8px;
                    line-height: 24px;
                }
            }
            .sub-title {
                font-size: 18px;
                line-height: 28px;
                font-family: $base-font-family;
                margin-bottom: 20px;
                @media (max-width: $phablet-min-width-minus) {
                    margin-bottom: 16px;
                    line-height: 24px;
                    font-size: 16px;
                }
            }
            .info-link {
                font-size: 16px;
                line-height: 16px;
                font-family: $secondary-font-family-bold;
            }
            .address-selection-options {
                margin-left: 22px;
                margin-bottom: 66px;
                &.bottom {
                    margin-bottom: 26px;
                }
                @media (max-width: $phablet-min-width-minus) {
                    margin-bottom: 40px;
                    &.bottom {
                        margin-bottom: 16px;
                    }
                }
                .current-address {
                    display: flex;
                    align-items: flex-start;
                    background: rgba(245, 133, 32, 0.1);
                    border-radius: 5px;
                    padding: 28.5px;
                    max-width: 533px;
                    margin-bottom: 22px;
                    margin-left: 30px;
                    @media (max-width: $desktop-min-width-minus) {
                        max-width: 296px;
                    }
                    @media (max-width: $phablet-min-width-minus) {
                        margin-bottom: 16px;
                    }
                    img {
                        width: 15px;
                        height: 19.5px;
                        margin-right: 14.5px;
                    }
                    .address-details {
                        .alias {
                            color: #383838;
                            font-size: 16px;
                            line-height: 24px;
                            font-family: $base-font-family-bold;
                            margin-bottom: 4px;
                            @media (max-width: $phablet-min-width-minus) {
                                font-size: 14px;
                            }
                        }
                        .info {
                            font-size: 16px;
                            line-height: 24px;
                            margin: 0;
                            font-family: $base-font-family;
                            @media (max-width: $phablet-min-width-minus) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .shipping-address-card {
                background: rgba(165, 163, 163, 0.05);
                box-shadow: 0px 3px 15px rgba(41, 41, 41, 0.2);
                border-radius: 10px;
                padding: 29.6px;
                margin-bottom: 32px;
                max-width: 801px;
                .border {
                    border: 1px solid #ced3d6;
                    width: 468px;
                    margin-bottom: 24px;
                    @media (max-width: $phablet-min-width-minus) {
                        margin-bottom: 20px;
                        max-width: 241px;
                        width: 100%;
                    }
                }
                .showMore {
                    margin-top: 12px;
                    .more {
                        font-size: 20px;
                        line-height: 20px;
                        margin-bottom: 16px;
                        font-family: $secondary-font-family-bold;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        @media (max-width: $phablet-min-width-minus) {
                            font-size: 14px;
                            line-height: 14px;
                            margin-bottom: 17px;
                        }
                    }
                    i {
                        height: 9px;
                        width: 9px;
                        margin-left: 6.97px;
                        border-color: $primary-color;
                        border-bottom-width: 2px;
                        border-right-width: 2px;
                    }
                    .rotate {
                        transform: rotate(-135deg);
                        margin-top: 5px;
                    }
                }
                .address {
                    &.hidden {
                        display: none;
                    }
                    &.last {
                        border: none;
                    }
                    .radio-check {
                        display: flex;
                        align-items: flex-start;
                        input[type="radio"] {
                            cursor: pointer;
                            -webkit-appearance: none;
                            appearance: none;
                            margin: 0 12px 0 0;
                            font: inherit;
                            color: #888888;
                            width: 24px;
                            height: 24px;
                            border: 2px solid #888888;
                            border-radius: 50%;
                            transform: translateY(-0.075em);
                            display: grid;
                            place-content: center;
                        }

                        input[type="radio"]:checked {
                            -webkit-appearance: none;
                            appearance: none;
                            margin: 0 12px 0 0;
                            font: inherit;
                            color: $primary-color;
                            width: 24px;
                            height: 24px;
                            border: 2px solid $primary-color;
                            border-radius: 50%;
                            transform: translateY(-0.075em);
                            display: grid;
                            place-content: center;
                        }

                        input[type="radio"]::before {
                            content: "";
                            width: 31px;
                            height: 29px;
                            border-radius: 50%;
                            transform: scale(0);
                            transition: 120ms transform ease-in-out;
                        }
                        input[type="radio"]:checked::before {
                            transform: scale(0.4);
                            background-color: $primary-color;
                        }
                        .details {
                            margin-bottom: 20px;
                            @media (max-width: $phablet-min-width-minus) {
                                margin-bottom: 16px;
                            }
                            .label {
                                margin-bottom: 4px;
                                font-size: 18px;
                                line-height: 24px;
                                font-family: $secondary-font-family-bold;
                                cursor: pointer;
                                @media (max-width: $phablet-min-width-minus) {
                                    font-size: 14px;
                                }
                            }
                            .info {
                                margin-bottom: 0px;
                                color: #383838;
                                font-size: 16px;
                                line-height: 24px;
                                font-family: $base-font-family;
                                @media (max-width: $phablet-min-width-minus) {
                                    font-size: 12px;
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }

                .new-address {
                    .toggle-title {
                        display: flex;
                        align-items: flex-start;
                        cursor: pointer;
                        background: rgba(134, 51, 153, 0.1);
                        border-radius: 10px;
                        width: 476px;
                        margin-bottom: 24px;
                        padding: 13px 12px;
                        @media (max-width: $desktop-min-width-minus) {
                            width: 428px;
                        }
                        @media (max-width: $phablet-min-width-minus) {
                            width: 100%;
                            margin-bottom: 16px;
                        }
                        .icon {
                            color: $primary-color;
                            margin-bottom: 0;
                            height: 16px;
                            width: 16px;
                            span {
                                font-size: 38px;
                                margin: 0;
                                line-height: 21px;
                                @media (max-width: $phablet-min-width-minus) {
                                    font-size: 28px;
                                    line-height: 20px;
                                }
                            }
                            &.minus {
                                span {
                                    font-size: 60px;
                                    margin: 0;
                                    line-height: 17px;
                                    @media (max-width: $phablet-min-width-minus) {
                                        font-size: 50px;
                                    }
                                }
                            }
                        }
                        .text {
                            font-size: 18px;
                            line-height: 28px;
                            color: $primary-color;
                            margin: 0;
                            margin-left: 10px;
                            @media (max-width: $phablet-min-width-minus) {
                                font-size: 16px;
                                line-height: 24px;
                                margin-left: 8px;
                            }
                        }
                    }
                    .shipping-method-form {
                        display: flex;
                        flex-direction: column;
                        margin-top: 30px;
                        max-width: 460px;
                        @media (max-width: $phablet-min-width-minus) {
                            max-width: 100%;
                        }
                        input {
                            border-color: #dadada !important;
                            height: 37px;
                            width: 100%;
                            padding-right: 0;
                        }
                        fieldset {
                            padding-right: 0;
                        }
                        @media (max-width: $desktop-min-width-minus) and (min-width: $phablet-min-width) {
                            fieldset {
                                padding-left: 0px;
                                padding-right: 15px;
                                &.eight {
                                    width: 66.6%;
                                }
                                &.four {
                                    width: 33%;
                                }
                            }
                        }
                        .icon-search {
                            display: none;
                        }
                        .action {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            @media (max-width: $desktop-min-width-minus) {
                                max-width: 428px;
                            }
                            @media (max-width: $phablet-min-width-minus) {
                                max-width: 100%;
                            }
                            .cancel-link {
                                font-size: 20px;
                                line-height: 20px;
                                font-family: $secondary-font-family-bold;
                                @media (max-width: $phablet-min-width-minus) {
                                    font-size: 16px;
                                    line-height: 16px;
                                }
                            }
                            .button {
                                padding: 8px 32px;
                                font-size: 20px;
                                line-height: 20px;
                                font-family: $secondary-font-family-bold;
                                @media (max-width: $phablet-min-width-minus) {
                                    font-size: 16px;
                                    line-height: 16px;
                                }
                            }
                        }
                    }
                }
            }
            .left-card {
                margin-left: 54px;
            }
        }
    }
    .navigation-section {
        border-top: 1px solid #e3e3ea;
        padding: 16px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        position: sticky;
        z-index: 2;
        bottom: 0;
        width: 100%;
        &.end {
            justify-content: flex-end;
        }
        .left {
            .no-border {
                color: $primary-color;
                font-size: 20px;
                line-height: 20px;
                font-family: $secondary-font-family-bold;
                font-weight: 700;
                margin-bottom: 0;
                cursor: pointer;
                @media (max-width: $phablet-min-width-minus) {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }
        .right {
            padding: 0 30px;
            cursor: pointer;
            font-family: $secondary-font-family-bold;
        }
        .button {
            font-size: 20px;
            line-height: 20px;
            padding: 8px 35px;
            font-family: $secondary-font-family-bold;
            font-weight: 700;
            cursor: pointer;
            &.secondary {
                margin-right: 16px;
            }
            @media (max-width: $phablet-min-width-minus) {
                font-size: 16px;
                line-height: 16px;
            }
        }
        .disabled {
            cursor: not-allowed;
            color: white;
            background-color: #863399;
        }
        @media (max-width: $desktop-min-width-minus) {
            padding: 20px 20px 30px;
            .right {
                padding: 0;
            }
        }
        @media (max-width: $phablet-min-width-minus) {
            padding: 16px 10px 24px;
        }
    }
    .plan-purchased-banner {
        display: flex;
        align-items: flex-start;
        padding: 24px;
        max-width: 915px;
        background: #e6f7ee;
        box-shadow: 0px 3px 4px rgba(234, 234, 234, 0.25);
        border-radius: 8px;
        width: 100%;
        margin-bottom: 32px;
        img {
            margin-right: 10px;
            width: 26px;
            height: 26px;
            @media (min-width: $phablet-min-width) {
                width: 20px;
                height: 20px;
            }
        }
        .descs {
            max-width: 823px;
            .top-desc {
                font-size: 20px;
                line-height: 28px;
                font-family: $secondary-font-family-bold;
                margin-bottom: 8px;
                @media (min-width: $phablet-min-width) {
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 4px;
                }
            }
            .sub-desc {
                font-size: 18px;
                line-height: 28px;
                font-family: $base-font-family;
                margin-bottom: 0;
                @media (min-width: $phablet-min-width) {
                    font-size: 14px;
                }
            }
        }
    }
}
