@import "../../../../styles/modules/_variables.scss";
@import "../../../../styles/modules/_mixins.scss";

::ng-deep {
  .plans-page {
    .plans-banner {
      background: linear-gradient(180deg, #d6e1ff 0%, #e3efff 100%);
      border-radius: 0px 0px 8px 8px;
      height: 420px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 24px 46px;
      max-width: 2000px;
      @media (max-width: $phablet-min-width-minus) {
        padding: 32px 24px;
      }
      .banner-head {
        font-weight: normal;
        font-family: $base-font-family;
        margin-bottom: 32px;
        color: $header-color;
        text-align: center;
        @media (max-width: 699.9px) {
          max-width: 500px;
        }
        @media (max-width: $phablet-min-width-minus) {
          margin-bottom: 24px;
          text-align: center;
          max-width: 380px;
        }
      }
      .banner-text {
        position: relative;
        width: 100%;
        @media (max-width: $phablet-min-width-minus) {
          .icons-text {
            max-width: 66px;
          }
        }
        .icon-section {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .icon-container {
          display: flex;
          margin-right: 24px;
          align-items: center;
          gap: 8px;
          &.last {
            margin-right: 0;
          }
          img {
            width: 60px;
            height: 60px;
          }
          @media (max-width: 699.9px) {
            flex-direction: column;
            text-align: center;
          }
          @media (max-width: $phablet-min-width-minus) {
            margin-right: 16px;
            img {
              width: 45px;
              height: 45px;
            }
          }
        }
      }
    }
    .desktop-plan-cards {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1390px;
      margin: 0 auto;
      margin-top: -132px;
      margin-bottom: 136px;
      box-shadow: 0px 4px 8px rgba(94, 94, 94, 0.03), 0px 7px 28px rgba(94, 94, 94, 0.1),
        0px 5px 14px rgba(0, 60, 117, 0.04);
      border-radius: 17px;
      background: #fbfbfb;
      padding: 32px 3%;
      height: 460px;
      .ebb-card {
        background: linear-gradient(78.53deg, #412b71 -25.3%, #6a9ee1 115.4%);
        border-radius: 8px;
        color: #fbfbfb !important;
        min-height: 596px;
        position: relative;
        top: -100px;
        max-width: 343px;
        padding: 16px 16px 24px;
        margin-right: 2%;
        .card-header {
          .category {
            color: #fbfbfb !important;
          }
          .plan-data {
            color: #fbfbfb !important;
            .sperator {
              border: 1px solid #fbfbfb !important;
            }
          }
        }
        .card-body {
          padding: 0 22px;
          margin-bottom: 14px!important;
          .intro {
            color: #fbfbfb !important;
          }
          .details {
            p,
            a {
              color: #fbfbfb !important;
            }
            color: #fbfbfb !important;
            a {
              text-decoration: underline;
            }
          }
        }
      }
      .plan-card {
        width: 100%;
        .card-header {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 15px;
          margin-bottom: 32px;
          .category {
            font-weight: bold;
            font-family: $base-font-family-bold;
            text-transform: uppercase;
            color: $purple;
            margin-bottom: 0;
          }
          .plan-data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: $base-font-family-bold;
            color: #001b3e;
            width: 100%;
            max-width: 209px;
            .price {
              font-size: 36px;
              line-height: 44px;
              font-weight: bold;
              font-family: $base-font-family-bold;
              position: relative;
              .currency {
                font-size: 18px;
                line-height: 32px;
                position: absolute;
                left: -10px;
              }
              .mo {
                font-size: 24px;
                line-height: 32px;
              }
            }
            .sperator {
              width: 0px;
              height: 38px;
              border: 1px solid #001b3e;
            }
            .data {
              font-size: 36px;
              line-height: 44px;
              font-family: $base-font-family-bold;
              font-weight: bold;
            }
          }
        }
        .card-body {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          margin: 0;
          margin-bottom: 16px;
          max-width: 278px;
          .intro {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;
            text-transform: uppercase;
            color: #090909;
            font-weight: normal;
            font-family: $base-font-family;
          }
          .details {
            margin-bottom: 16px;
            display: flex;
            align-items: flex-start;
            @media (max-width: $phablet-min-width-minus) {
              margin-bottom: 12px;
            }
            img {
              width: 20px;
              height: 20px;
              margin-right: 12px;
              @media (max-width: $phablet-min-width-minus) {
                width: 14px;
                height: 14px;
                margin-right: 10px;
              }
            }
            p {
              color: #090909;
              margin-bottom: 0;
              font-family: $secondary-font-family;
              b {
                font-family: $secondary-font-family-bold;
              }
            }
            a {
              white-space: nowrap;
            }
          }
        }
        .actions {
          display: flex;
          align-items: center;
          justify-content: center;
          .white-button {
            background-color: #fbfbfb;
          }
        }
        &.right-sperator {
          border-right: 0.75px solid #765ba7;
          height: 396px;
          margin-right: 24px;
        }
      }
    }
    .plan-gigs-section{
      position: absolute;
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 80px;
      margin-top: 37px;
      right: 0;
      left: 0;
      @media (max-width: 823.9px) {
        margin-top: 40px;
      }
      @media (max-width: 699.9px) {
        margin-top: 46px;
      }
      .italic-arrow{
        width: 12px;
        height: 46px;
        margin-right: -338px;
        margin-top: -40px;
        @media (max-width: 699.9px) {
          margin-right: -312px;
          margin-top: -46px;
        }
        @media (max-width: $phablet-min-width-minus) {
          margin-top: -70px;
          margin-right: -265px;
        }
      }
      .plan-gigs {
        box-shadow: 0px 4px 8px rgba(94, 94, 94, 0.03), 0px 7px 28px rgba(94, 94, 94, 0.1),
          0px 5px 14px rgba(0, 60, 117, 0.04);
        border-radius: 30px;
        background: #f2f7fa;
        display: flex;
        align-items: center;
        padding: 8px 32px;
        gap: 20px;
        position: absolute;
        top: -12px;
        @media (max-width: 699.9px) {
          margin-right: 12px;
        }
        @media (max-width: $phablet-min-width-minus) {
          gap: 12px;
          padding: 8px 16px;
          margin-right: 0px;
          top: -19px;
        }
        .gig-item {
          color: #669BBF;
          font-size: 18px;
          line-height: 28px;
          cursor: pointer;
          font-family: $base-font-family-bold;
          font-weight: bold;
          position: relative;
          &.active-gig {
            background-color: #005895;
            border-radius: 18px;
            padding: 2px 16px;
            color: white;
          }
          .dollar{
            font-size: 14px;
            line-height: 24px;
            position: relative;
            top: -4px;
          }
        }
        .tail-arrow{
          position: absolute;
          top: 32px;
          left: 25px;
          right: 0;
        }
      }
    }
    .responsive-plan-cards {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 1080px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 64px;
      margin-top: -126px;
      @media (max-width: 823.9px) {
        margin-top: -80px;
      }
      @media (max-width: 699.9px) {
        margin-top: -60px;
      }
      @media (max-width: $phablet-min-width-minus) {
        padding: 0 39px;
        margin-bottom: 22px;
        margin-top: -100px;
      }
      @media (max-width: 340.9px) {
        margin-top: -60px;
      }
      .plan-card {
        max-width: 520px;
        width: 100%;
        position: relative;
        @media (max-width: $phablet-min-width-minus) {
          max-width: 350px;
        }
        .card-header {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 16px 16px 8px;
          gap: 15px;
          min-height: 152px;
          background: linear-gradient(78.53deg, #412b71 -25.3%, #6a9ee1 115.4%);
          border-radius: 8px 8px 0px 0px;
          min-width: 520px;
          @media (max-width: $phablet-min-width-minus) {
            padding: 16px 16px 20px;
            min-width: unset;
          }
          &.rounded {
            box-shadow: 0px 4px 8px rgba(94, 94, 94, 0.12), 0px 7px 28px rgba(94, 94, 94, 0.18),
              0px 5px 14px rgba(9, 9, 9, 0.12);
            border-radius: 8px;
          }
          .category {
            font-weight: bold;
            font-family: $base-font-family-bold;
            text-transform: uppercase;
            color: #fbfbfb;
            margin-bottom: 0;
          }
          .plan-data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: $base-font-family-bold;
            color: #fbfbfb;
            width: 100%;
            max-width: 324px;
            @media (max-width: $phablet-min-width-minus) {
              max-width: 210px;
            }
            .price {
              font-size: 36px;
              line-height: 44px;
              font-weight: bold;
              font-family: $base-font-family-bold;
              position: relative;
              .currency {
                font-size: 18px;
                line-height: 32px;
                position: absolute;
                left: -10px;
              }
              .mo {
                font-size: 24px;
                line-height: 32px;
              }
            }
            .sperator {
              width: 0px;
              height: 38px;
              border: 1px solid #fbfbfb;
            }
            .data {
              font-size: 36px;
              line-height: 44px;
              font-family: $base-font-family-bold;
              font-weight: bold;
            }
          }
          .link {
            font-size: 16px;
            line-height: 16px;
            font-weight: bold;
            font-family: $base-font-family-bold;
            margin-right: 9px;
            color: #fbfbfb;
            margin-bottom: 0px;
            img {
              width: 14px;
              height: 14px;
            }
          }
        }
        .card-body {
          background: #fcfcfb;
          box-shadow: 0px 4px 12px rgba(94, 94, 94, 0.03), 0px 8px 30px rgba(94, 94, 94, 0.08),
            0px 5px 16px rgba(0, 60, 117, 0.02);
          border-radius: 8px;
          padding: 24px 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          min-height: unset;
          @media (max-width: $phablet-min-width-minus) {
            padding: 24px 16px;
          }
          .intro {
            margin-bottom: 16px;
            text-transform: uppercase;
            color: #6a509b;
            font-weight: bold;
            font-family: $base-font-family-bold;
            @media (max-width: $phablet-min-width-minus) {
              margin-bottom: 8px;
            }
          }
          .details {
            margin-bottom: 16px;
            display: flex;
            align-items: flex-start;
            @media (max-width: $phablet-min-width-minus) {
              margin-bottom: 8px;
            }
            img {
              width: 20px;
              height: 20px;
              margin-right: 12px;
              @media (max-width: $phablet-min-width-minus) {
                width: 16px;
                height: 16px;
                margin-right: 8px;
              }
            }
            p {
              color: #090909;
              margin-bottom: 0;
              font-family: $secondary-font-family;
              b {
                font-family: $secondary-font-family-bold;
              }
            }
            a {
              white-space: nowrap;
            }
          }
        }
        .actions {
          position: absolute;
          margin-top: -28px;
          right: 30px;
          box-shadow: 0px 4px 12px rgba(94, 94, 94, 0.16), 0px 7px 24px rgba(94, 94, 94, 0.2),
            0px 5px 16px rgba(57, 117, 181, 0.12);
          border-radius: 28px;
          @media (max-width: $phablet-min-width-minus) {
            right: 16px;
          }
          img {
            height: 48px;
            @media (max-width: $phablet-min-width-minus) {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
    .label {
      font-weight: normal;
      margin-bottom: 4px;
      color: #5e5e5e;
      @media (max-width: $phablet-min-width-minus) {
        margin-bottom: 2px;
      }
    }
    .sec-head {
      font-size: 32px;
      line-height: 40px;
      font-weight: bold;
      font-family: $base-font-family-bold;
      margin-bottom: 12px;
      color: $header-color;
      @media (max-width: $phablet-min-width-minus) {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 8px;
      }
    }
    .subtext {
      font-weight: normal;
      font-family: $secondary-font-family;
      color: #090909;
      margin-bottom: 40px;
      @media (max-width: $phablet-min-width-minus) {
        margin-bottom: 44px;
      }
    }
    .great-things-section {
      background: #f8fcfe;
      padding: 64px 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 64px;
      @media (max-width: $phablet-min-width-minus) {
        flex-direction: column;
        padding: 48px 16px;
        margin-bottom: 48px;
      }
      .things-details {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        align-items: flex-start;
        justify-content: center;
        @media (max-width: 999.9px) {
          flex-direction: column;
          align-items: center;
        }
        .item-details {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-self: center;
          text-align: center;
          img {
            width: 55px;
            height: 55px;
            margin-bottom: 28px;
          }
          .title {
            margin-bottom: 8px;
            font-weight: bold;
            font-family: $secondary-font-family-bold;
          }
          .desc {
            font-weight: normal;
            font-family: $base-font-family;
            margin-bottom: 0px;
            max-width: 352px;
            min-height: 80px;
            @media (max-width: 999.9px) {
              min-height: 100%;
              margin-bottom: 25px;
              max-width: 480px;
              &.spcific {
                max-width: 340px;
              }
            }
            @media (max-width: $phablet-min-width-minus) {
              max-width: 352px;
            }
          }
          .link {
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
            font-family: $base-font-family-bold;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            img {
              margin-left: 10px;
              width: 20px;
              height: 20px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .faqs-section {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 80px;
      width: 100%;

      .plans-questions {
        max-width: 100%;
        width: 100%;
        .questions-container {
          position: relative;
        }
      }
      .tool-tip-text {
        visibility: hidden;
        font-size: rem-calc(10px);
        width: 120px;
        background-color: #876dab;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        right: 68px;
        margin-top: -7px;
        @media (max-width: $desktop-min-width-minus) {
          right: 62px;
          margin-top: -3px;
        }
        @media (max-width: $phablet-min-width-minus) {
          width: 100px;
          right: 16px;
        }
      }
      .copy-icon-link:hover .tool-tip-text {
        visibility: visible;
      }
      .copied {
        font-size: rem-calc(10px);
        width: 120px;
        background-color: #005895;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        right: 68px;
        margin-top: -7px;
        @media (max-width: $desktop-min-width-minus) {
          right: 62px;
          margin-top: -3px;
        }
        @media (max-width: $phablet-min-width-minus) {
          width: 100px;
          right: 16px;
        }
      }
      .copy-icon {
        z-index: 1;
        cursor: pointer;
        position: absolute;
        right: 50px;
        width: 24px;
        height: 54px;
      }
      .toggle {
        margin-bottom: 12px;
        &.active {
          border: 1px solid #d9e6ef;
          border-radius: 4px;
          background: #fbfbfb;
          margin-bottom: 16px;
          .toggle-title {
            border: none;
            .title {
              .title-name {
                border-bottom: solid 1px #dadada;
                padding: 14px 4px 14px !important;
                margin: 0px 24px;
                @media (max-width: $phablet-min-width-minus) {
                  padding: 14px 8px 14px !important;
                  margin: 0px 10px;
                }
              }
            }
          }
        }
        .toggle-title {
          background: #fbfbfb;
          border: 1px solid #d9e6ef;
          border-radius: 4px;
          .title {
            .title-name {
              font-size: 16px;
              line-height: 24px;
              color: #6a509b;
              margin: 0;
              padding: 16px 20px 16px 14px !important;
              @media (max-width: $phablet-min-width-minus) {
                font-size: 14px;
                padding: 20px 16px 24px !important;
              }
            }
          }
        }
        .toggle-inner {
          font-size: 14px !important;
          line-height: 22px !important;
          font-weight: normal;
          width: 100%;
          padding: 16px 66px 16px 32px !important;
          @media (max-width: $phablet-min-width-minus) {
            font-size: 12px !important;
            line-height: 20px !important;
            padding: 7px 24px 10px 24px !important;
          }
          p {
            font-size: 14px !important;
            line-height: 22px !important;
            font-weight: normal;
            @media (max-width: $phablet-min-width-minus) {
              font-size: 12px !important;
              line-height: 20px !important;
            }
          }
        }
      }
    }
  }
}
