<section class="container-flex order-result">
    <div class="container-flex-row flex-center margin-bottom-20">
        <div class="text-center">
            <h1 class="header">Congratulations!</h1>
            <div class="image">
                <img src="assets/img/family-shoppers.svg" alt="Your Good Mobile SIM has been successfully purchased."/>
            </div>
            <p class="description">We have started your service migration process. Please check your email for more info and status of your SIM card. Once you are ready to activate, log back into your account to finish the service migration process.</p>
        </div>
    </div>
    <div class="actions-container">
        <button class="button primary" id="goToHome" (click)="goToHome()" aria-label="Back to Home">Back to Home</button>
    </div>
</section>
