<section class="check-compatibility">
  <div class="back-section"
    *ngIf="activeStep === 2 || (!!showAddressResultBanner && !!ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.success)"
    (click)="back()">
    <img src="assets/icon/back-arrow-icon.svg">
    <p class="text">Back</p>
  </div>
  <div class="stepper-part">
    <div class="step-circle">
      <circle-progress id="circleBar" class="circle-progress-bar" [percent]="circlePercentage" [radius]="40"
        [titleColor]="'#005895'" [outerStrokeWidth]="5" [innerStrokeWidth]="0" [outerStrokeColor]="'#765BA7'"
        [innerStrokeColor]="'#765BA7'" [outerStrokeGradientStopColor]="'#765BA7'" [title]="activeStep + '/2'"
        [animation]="true" [animationDuration]="300" [backgroundColor]="'#CCDEEA'" [backgroundOpacity]="0.5"
        [backgroundPadding]="-10" [outerStrokeGradient]="true" [startFromZero]="false">
      </circle-progress>
    </div>
    <div class="step-details">
      <p class="step">Step <span> {{activeStep}}</span></p>
      <h1 class="title">{{stepsDetails[activeStep - 1]?.title}}</h1>
    </div>
  </div>
  <div class="text-part" *ngIf="activeStep === 1">
    <p class="desc">GoodMobile rides on America’s largest 5G LTE wireless networks.</p>
    <p class="desc">Let’s See where you're covered</p>
  </div>
  <div class="text-part" *ngIf="activeStep === 2">
    <p class="desc">Let’s find out if your <a (click)="showUnlockedPopup()">Unlocked Device</a> is compatible with the
      best coverage in your area.</p>
  </div>
  <div class="input-action-part" *ngIf="activeStep === 1 && !showAddressResultBanner">
    <form (ngSubmit)="checkAddressCompatibility()" #addressCompatibilityForm="ngForm">
      <fieldset>
        <label for="address" class="input-label">
          <p class="p-label">Enter your full address</p>
          <p class="p-note">Street Number, Address Line, City, State, ZIP Code</p>
        </label>
        <input [(ngModel)]="address" id="addressRef" data-cy="addressRef" #addressRef="ngModel" type="search"
          class="geolocate" ngui-auto-complete [source]="findPlace.bind(this)" list-formatter="description"
          display-property-name="main_text" (valueChanged)="addressDetails($event)" [tab-to-select]="false"
          placeholder="Enter your full address" (focus)="setFoucs = true" (blur)="setFoucs = false" name="addressRef"
          (input)="changedAddress()" required />
        <label class="validation-message" *ngIf="!address && addressRef.touched" id="required-address-msg">Address is a
          Required Field</label>
        <label class="validation-message" *ngIf="!displayedAddressModel && !!address" id="required-address-msg">Please
          select address from the autocomplete list</label>
      </fieldset>
      <div class="action">
        <button type="submit" class="button primary" id="check-phone-button" data-cy="check-coverage">Check
          Coverage</button>
      </div>
      <app-invisible-recaptcha (resolved)="resolvedCaptcha($event)" [siteKey]="SITE_ID" #reCaptcha>
      </app-invisible-recaptcha>
    </form>
  </div>
  <div class="info-banner" *ngIf="!!showAddressResultBanner"
    [ngClass]="{'success-background': !!ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.success, 'error-background': !ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.success}">
    <div class="flex">
      <img
        [src]="!!ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.success ? 'assets/icon/success-icon.svg' : 'assets/icon/error-icon.svg'"
        alt="Icon">
      <div class="banner-content">
        <p class="title" *ngIf="!!ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.title">
          {{ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.title}}</p>
        <p class="description" *ngIf="!!ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.desc1"
          [innerHTML]="ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.desc1"></p>
        <p class="description bottom-8" *ngIf="!!ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.desc2"
          [innerHTML]="ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.desc2"></p>
        <p class="description last" *ngIf="!!ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.desc3"
          [innerHTML]="ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.desc3"></p>
        <div class="actions" *ngIf="!!ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.buttonName">
          <button class="button primary" *ngIf="!!ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.buttonName"
            data-cy="nextStepBtn"
            (click)="this[ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.buttonAction]()">{{ADDRESS_COMPATIBILITY_DESCS[compatibilityStatus]?.buttonName}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="input-action-part" *ngIf="activeStep === 2 && !showDeviceResultBanner">
    <form (ngSubmit)="checkDeviceCompatibility()" #equipmentCompatibilityForm="ngForm">
      <fieldset>
        <label for="address" class="input-label">
          <p class="p-label">Enter your device’s <a (click)="showWhatIsIMEI()">IMEI<img
                src="assets/icon/Information.svg"></a></p>
          <p class="p-note">Dial: *#06# on your device to get your IMEI/MEID</p>
        </label>
        <input type="tel" required [(ngModel)]="equipment" name="equipmentNumber" id="equipmentNumber"
          data-cy="equipmentNumber" restrictNumbers minlength="11" maxlength="18" #equipmentNumber="ngModel"
          placeholder="Enter your device’s IMEI" #imei>
        <label class='validation-message' id="required-equipment-msg"
          *ngIf="(equipmentNumber.errors || invalidIMEI) && !equipment && equipmentNumber.touched">
          This field is required
        </label>
        <label class='validation-message' *ngIf="equipmentNumber.hasError('minlength')" id="invalid-equipment-msg"
          data-cy="invalid-equipmentNumber-msg">
          Invalid serial, it should be between 11-18 digits
        </label>
        <p class="disclaimer"><span class="astryic">*</span>5G LTE where available. 5G compatible device required.</p>
      </fieldset>
      <div class="action">
        <button type="submit" class="button primary mobile-padding" id="check-phone-button"
          data-cy="checkYourDeviceButton">Check your device</button>
        <a class="skip-action" data-cy="skipForNowLink" (click)="skipDevice()">Skip for now</a>
      </div>
      <app-invisible-recaptcha (resolved)="resolvedCaptcha($event)" [siteKey]="SITE_ID" #reCaptcha>
      </app-invisible-recaptcha>
    </form>
  </div>
  <div class="info-banner error-background" *ngIf="!!showDeviceResultBanner">
    <div class="flex">
      <img src="assets/icon/error-icon.svg" alt="Error Icon">
      <div class="banner-content device">
        <p class="title" *ngIf="!!DEVICE_COMPATIBILITY_DESCS[compatibilityStatus]?.title">
          {{DEVICE_COMPATIBILITY_DESCS[compatibilityStatus]?.title}}</p>
        <p class="description last" *ngIf="!!DEVICE_COMPATIBILITY_DESCS[compatibilityStatus]?.desc1"
          [innerHTML]="DEVICE_COMPATIBILITY_DESCS[compatibilityStatus]?.desc1"></p>
        <div class="actions" *ngIf="!!DEVICE_COMPATIBILITY_DESCS[compatibilityStatus]?.buttonName">
          <button class="button primary" data-cy="checkAgain"
            *ngIf="!!DEVICE_COMPATIBILITY_DESCS[compatibilityStatus]?.buttonName"
            (click)="this[DEVICE_COMPATIBILITY_DESCS[compatibilityStatus]?.buttonAction]()">{{DEVICE_COMPATIBILITY_DESCS[compatibilityStatus]?.buttonName}}</button>
        </div>
      </div>
    </div>
  </div>
</section>