@import '../../styles/modules/variables';

::ng-deep {
  .purchased-for-title {
    font-size: 20px;
    line-height: 32px;
    font-family: $base-font-family-bold;
    margin-bottom: 0px;
    margin-top: 21px;
    @media (max-width: $ipad-min-width-minus) {
      font-size: 18px;
      line-height: 28px;
      margin-top: 13px;
    }
  }
  .plan-quantity {
    display: block !important;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
    font-weight: normal;
    font-family: $base-font-family;
  }
  .plan-unlimited {
    font-size: 16px;
    line-height: 24px;
    font-family: $base-font-family-bold;
    @media (max-width: $ipad-min-width-minus) {
      font-size: 14px;
    }
  }
  .phones-section {
    margin-top: 20px;
    @media (max-width: $ipad-min-width-minus) {
      margin-top: 13px;
    }
    .disabled {
      opacity: 0.4;
    }
    .red-note {
      font-size: 18px;
      line-height: 28px;
      font-family: $base-font-family-bold;
      margin-bottom: 20px;
      @media (max-width: $ipad-min-width-minus) {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .quantity {
      font-size: 14px;
      line-height: 24px;
      font-family: $base-font-family;
      margin-bottom: 12px;
      font-weight: normal;
    }
    img {
      height: 106px;
    }
    .head-desc {
      margin-top: 12px;
      margin-bottom: 6px;
      display: flex;
      justify-content: space-between;
      .phone-name {
        padding-right: 4px;
      }
      p {
        font-size: 16px;
        line-height: 28px;
        font-family: $base-font-family-bold;
        margin-bottom: 0px;
        @media (max-width: $ipad-min-width-minus) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    .actions-container {
      margin-bottom: 29px;
      margin-top: 20px;
    }
  }
}
