@import '../../../styles/modules/variables';
@import '../../../styles/modules/mixins';

.login-section {
    margin-top: 60px;
    @media (min-width: $tablet-min-width) {
        margin-top: 80px;
    }
    @media (max-width: $phablet-min-width-minus) {
        margin-top: 40px;
    }
    .header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            text-align: center;
        }
        .subhead {
            font-size: rem-calc(22px);
            line-height: 26px;
            font-family: $base-font-family;
            max-width: 748px;
            text-align: center;
        }
        .link {
            text-align: center;
            font-size: rem-calc(18px);
            line-height: 20px;
            font-family: $base-font-family;
            margin-bottom: 30px;
        }
        @media (max-width: $desktop-min-width-minus) {
            .title {
                font-size: rem-calc(27px);
                line-height: 35px;
            }
            .subhead {
                font-size: rem-calc(17px);
                line-height: 20px;
                max-width: 458px;
            }
            .link {
                font-size: rem-calc(15px);
                line-height: 28px;
            }
        }
        @media (max-width: $phablet-min-width-minus) {
            .title {
                font-size: rem-calc(26px);
                line-height: 35px;
                max-width: 286px;
            }
            .link {
                font-size: rem-calc(17px);
                line-height: 22px;
            }
        }
    }
    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-container {
            max-width: 465px;
            .validation-message {
                text-transform: none;
            }
            .forget {
                font-size: rem-calc(13px);
            }
            .passInput {
                margin-bottom: 5px;
            }
        }
        .actions-section {
            display: flex;
            width: 465px;
            margin-top: 20px;
            margin-bottom: 50px;
            .primary-actions {
                flex-basis: 40%;
                .button {
                    width: 150px;
                    padding: 7px;
                    font-size: rem-calc(20px);
                }
            }
            .secondary-actions {
                flex-basis: 60%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .secondary-text {
                    font-size: rem-calc(17px);
                    margin-bottom: 5px;
                }
            }
            @media (max-width: $desktop-min-width-minus) {
                .primary-actions {
                    .button {
                        width: 140px;
                        font-size: rem-calc(15px);
                    }
                }
                .secondary-actions {
                    .secondary-text {
                        font-size: rem-calc(15px);
                    }
                }
            }
            @media (max-width: $phablet-min-width-minus) {
                flex-direction: column;
                align-items: center;
                width: auto;
                .primary-actions {
                    flex-basis: 100%;
                    .button {
                        width: 145px;
                        font-size: rem-calc(20px);
                    }
                }
                .secondary-actions {
                    .secondary-text {
                        font-size: rem-calc(17px);
                    }
                }
            }
        }
    }
}