@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";

::ng-deep {
.checkout-result-page-section {
  margin: 40px auto;
  @media screen and (max-width: $phablet-min-width-minus) {
    margin: 32px auto;
  }
  .img-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 48px;
    @media screen and (max-width: $phablet-min-width-minus) {
      margin-bottom: 32px;
    }
    .banner-image-container {
      img {
        width: 100%;
        object-fit: cover;
        height: 400px;
      }
    }
    .title-section {
      text-align: center;
      position: absolute;
      top: 20px;
      @media screen and (max-width: $phablet-min-width-minus) {
        top: 18px;
      }
      .title {
        margin-bottom: 12px;
        color: $header-color;
        @media screen and (max-width: $phablet-min-width-minus) {
          margin-bottom: 4px;
        }
      }
      .sub-title {
        margin-bottom: 0;
        font-weight: normal;
        font-family: $secondary-font-family;
        max-width: 503px;
        @media screen and (max-width: $phablet-min-width-minus) {
          max-width: 300px;
        }
      }
    }
    &.acp-device {
      margin-bottom: 0;
      .banner-image-container {
        img {
          height: 300px;
          position: relative;
          z-index: -1;
          top: -80px;
          @media screen and (max-width: $desktop-min-width-minus) {
            max-width: 576px;
            height: 162px;
            top: 0;
         }
         @media screen and (max-width: $phablet-min-width-minus) {
           height: 274px;
           top: -60px;
         }
        }
      }
    }
  }
  .result-details-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .info-banner {
      max-width: 580px;
      width: 100%;
      margin-bottom: 32px;
      @media screen and (max-width: $phablet-min-width-minus) {
        margin-bottom: 24px;
      }
      .title {
        margin-bottom: 8px;
      }
      .banner-note {
        margin-bottom: 20px;
        font-weight: normal;
        @media screen and (max-width: $phablet-min-width-minus) {
          margin-bottom: 16px;
        }
      }
      .banner-link {
        margin-bottom: 0;
      }
      .device-price{
        margin-top: 12px;
      }
    }
    .result-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      .top-note {
        margin-bottom: 16px;
        @media screen and (max-width: $phablet-min-width-minus) {
          margin-bottom: 12px;
        }
      }
      .acp-top-note {
        margin-bottom: 0;
      }
      .stores-card {
        background: #fbfbfb;
        border-radius: 0px 0px 10px 10px;
        max-width: 564px;
        width: 100%;
        padding: 32px 24px;
        margin: 0 auto;
        margin-bottom: 32px;
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: $phablet-min-width-minus) {
          margin-bottom: 24px;
          padding: 20px 16px;
          flex-direction: column;
        }
        .stores {
          display: flex;
          align-items: flex-start;
          margin-right: 32px;
          @media screen and (max-width: $phablet-min-width-minus) {
            margin-right: 0;
            margin-bottom: 24px;
          }
          &.last-store {
            margin-bottom: 0;
          }
          .store-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          img {
            width: 32px;
            height: 32px;
            margin-right: 12px;
          }
          .store-name {
            margin-bottom: 8px;
          }
        }
      }
      .last-note {
        margin-bottom: 24px;
        max-width: 700px;
        &.addon{
          max-width: 450px;
        }
        &.change {
          margin-bottom: 12px;
        }
      }
      .order-note{
        margin-bottom: 36px;
        @media screen and (max-width: $phablet-min-width-minus) {
          margin-bottom: 24px;
        }
      }
      .view-stores-link{
        margin-bottom: 44px;
        font-weight: bold;
        font-family: $secondary-font-family-bold;
        font-size: 18px;
        line-height: 18px;
        @media screen and (max-width: $phablet-min-width-minus) {
          margin-bottom: 36px;
        }
        &.hide {
          margin-bottom: 24px;
          @media screen and (max-width: $phablet-min-width-minus) {
            margin-bottom: 16px;
          }
        }
      }
      .result-actions {
        &.flex-actions {
          display: flex;
          gap: 12px;
          @media screen and (max-width: $phablet-min-width-minus) {
            flex-direction: column;
          }
        }
      }
    }
  }
  .barcode-container{
    .barcode {
        svg {
            max-width: 320px!important;
            height: 100%;
            @media(max-width: $phablet-min-width-minus) {
              max-width: 210px!important;
            }
        }
    }
  }
  .acp-device-title{
    color: $header-color;
    margin-bottom: 12px;
    @media screen and (max-width: $phablet-min-width-minus) {
      margin-bottom: 4px;
    }
  }
  .acp-device-subtitle {
    margin-bottom: 32px;
    color: #090909;
    font-weight: normal;
    font-family: $secondary-font-family;
    text-align: center;
    @media screen and (max-width: $phablet-min-width-minus) {
      margin-bottom: 24px;
    }
  }
}
}