<section class="page-section no-sim">
    <app-activation-header></app-activation-header>
    <div class="page-content">
        <h1 class="header-color">Choose a number to activate your replacement SIM with:</h1>
        <form [formGroup]="currentMobileNumberForm" class="current-mobile-form">
            <div class="floating-label">
                <select id="mdn" name="mdn" formControlName="mdn" 
                  class="floating-select" #planMdn [class.dirty]="!!planMdn.value" value="" >
                  <option *ngFor="let plan of userPlans" [value]="plan?.mdn" placeholder=" ">
                    {{ plan?.mdn | phone }}
                  </option>
                </select>
                <label  [class.dirty]="!!planMdn.value">Select phone number</label>
            </div>
            <label class="validation-message" *ngIf="currentMobileNumberForm.controls.mdn.hasError('required') &&currentMobileNumberForm.controls.mdn.touched">
              Phone number is required
            </label>
        </form>
        <div class="action">
            <button class="button secondary" (click)="goToActivationFlow()" aria-label="back" ><img class="icon" src="assets/icon/left-circle-arrow-primary.svg"/> Back </button>
            <button class="button primary" (click)="swapSim()">Swap SIM</button>
        </div>
    </div>
</section>