@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";

.page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 48px 0 80px;
   .current-mobile-form {
        margin-top: 40px;
        @media(max-width: $phablet-min-width-minus) {
            margin-top: 32px;
        }
   }
    .action {
        margin-top: 28px;
        display: flex;
        gap: 40px;
        @media(max-width: $phablet-min-width-minus) {
            margin-top: 20px;
        }
    }
    select {
        height: 40px;
        width: 354px;
        padding: 8px;
    }
    .validation-message {
        text-align: left;
    }
    //TODO: fix the common select style and use it
    .floating-label {
        text-align: left;
        label {
            top: 10px;
            left: 8px;
        }
        .floating-select {
            &.dirty {
                border-color: #868686;
                &:valid {
                  ~ {
                    label {
                      top: -6px;
                      left: 8px;
                      font-size: rem-calc(12px);
                      background-color: white;
                      width: 116px;
                      color: #5e5e5e;
                    }
                  }
                }
              }
        }
    }
    @media(max-width: $phablet-min-width-minus) {
        margin: 32px 0 40px;
        .action {
            margin-top: 24px;
            gap: 16px;
        }
    }
}