<section class="return-form rma">
    <div class="progress-banner">
        <div class="step">
            <picture>
                <source srcset='assets/img/return-reason-done.svg' media="(min-width: 320px)">
                <img src="assets/img/return-reason-done.svg" alt="return reason done" class="step-image">
            </picture>
        </div>
        <div class="progress">
            <div class="rma-progress half"></div>
        </div>
        <div class="step">
            <picture>
                <source srcset='assets/img/return-form.svg' media="(min-width: 320px)">
                <img src="assets/img/return-form.svg" alt="return form" class="step-image">
            </picture>
        </div>
        <div class="progress">
            <div class="rma-progress disabled"></div>
        </div>
        <div class="step">
            <picture>
                <source srcset='assets/img/disabled-return-label.svg' media="(min-width: 320px)">
                <img src="assets/img/disabled-return-label.svg" alt="return labal" class="step-image">
            </picture>
        </div>
    </div>
    <div class="process-content">
       
    </div>
    <div class="component-footer">
        <p class="cancel" data-cy="cancelBtn" >Cancel</p>
        <div class="navigations">
            <button class="button secondary" data-cy="backBtn" aria-label="back" >Back</button>
            <button class="button primary" data-cy="nextButton" aria-label="next">Next</button>
        </div>
    </div>
</section>
