<section class="pending-activation-section">
    <div class="info-banner main-background" id="counter">
        <div class="flex center">
            <img src="assets/icon/info-icon.svg" alt="Info Icon">
            <div class="banner-content">
                <p class="title noMargin">Your Purchased Plans: <span class="text-orange">{{pendingPlans?.length}}</span></p>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!!pendingPlans && pendingPlans?.length > 0">
        <div class="info-banner default-background top" *ngIf="!!currentUserPlan?.eSIM">
            <div class="flex">
                <img src="assets/icon/info-icon.svg" alt="Info Icon">
                <div class="banner-content">
                    <p class="title">Are you ready to activate your eSIM?</p>
                    <p class="description">Once you're <b>activated</b>, this screen automatically updates with
                        your <b>QR code!</b></p>
                    <p class="description last">Please make sure you have the phone you intend to use ready to <b>scan
                            it</b> and set up your eSIM!</p>
                </div>
            </div>
        </div>
        <div class="order-card" *ngFor="let pendingPlan of pendingPlans | paginate: config">
            <div class="order-card-container">
                <div class="card-header-section">
                    <h5 class="noMargin text-color-thridly ">Plan</h5>
                    <button class="button thirdly noPadding" (click)="goToOrderDetails(pendingPlan?.orderId)">Order Details</button>
                </div>
                <div class="card-content shown">
                    <div class="item-details">
                        <div class="details-side">
                            <img class="thumbnail"
                                src="assets/icon/plan_thumbnail.svg"
                                alt="goodMobile plan">
                            <div class="details">
                                <p class="smaller primary-font-bold">{{pendingPlan?.basePlan?.subtitle}}</p>
                                <p class="smaller primary-font" [class.promo-title]="!!pendingPlan?.basePlan?.specialPromotion">
                                    {{!!pendingPlan?.basePlan?.ebb ? 'Affordable Connectivity Program Plan' :
                                    (!!pendingPlan?.basePlan?.specialPromotion &&
                                    !!pendingPlan?.basePlan?.specialPromotion?.promotionData ?
                                    pendingPlan?.basePlan?.specialPromotion?.promotionTitle :
                                    pendingPlan?.basePlan?.title )}}</p>
                                <p class="smaller primary-font-bold">(New Plan)</p>
                            </div>
                        </div>
                        <div class="price-side">
                            <p class="primary-font-bold smaller">${{pendingPlan?.basePlan.price }}</p>
                        </div>
                    </div>
                    <div class="information-banner activation" *ngIf="!!pendingPlan?.eSIM">
                        <p class="title">Your Activation Code</p>
                        <p class="copy">
                            {{pendingPlan?.activationCode}}
                            <img src="assets/icon/copy-purple.svg" alt="copy" (click)="copyLink()" />
                        </p>
                        <p class="note-title">Note:</p>
                        <p class="note">This code is needed in the next step, it will be filled out automatically. You
                            can copy it from the icon!</p>
                    </div>
                    <button class="button primary" (click)="activatePlan()" aria-label="Activate Plan"
                        [disabled]="!!pendingPlan?.eSIM && !!purchasedPhone && !deliveredPhone"
                        data-cy="activatePlanBtn">{{!!pendingPlan?.eSIM ? 'Activate Plan & eSIM' : 'Activate
                        Plan'}}</button>
                    <div class="delivered" *ngIf="!!pendingPlan?.eSIM && !!purchasedPhone && !deliveredPhone">
                        <p class="validation">This button will be disabled until the device is delivered to you. If the
                            plan is not intended for the purchased device, you may activate the plan on another device.
                        </p>
                        <p class="another" (click)="goToCompatiblity()">Use Another Device</p>
                    </div>
                    <hr class="border">
                    <div class="item-details">
                        <div class="details-side">
                            <img class="thumbnail"
                                src="assets/icon/sim-image.svg"
                                alt="goodMobile SIM">
                            <div class="details">
                                <p class="smaller primary-font-bold">SIM Card</p>
                                <p class="smaller primary-font-bold">(New SIM)</p>
                            </div>
                        </div>
                        <div class="price-side">
                            <p class="primary-font-bold smaller">$0</p>
                        </div>
                    </div>
                    <hr class="border" *ngIf="!!pendingPlan?.storePickup">
                    <div class="barCodes-details" *ngIf="!!pendingPlan?.storePickup">
                        <p class="smaller">In-store Pick up Barcode</p>
                        <ngx-barcode
                            [bc-value]="barCodeValues"
                            [bc-display-value]="true" class="barCode-radios"></ngx-barcode>
                        <div class="info-banner default-background specific">
                            <div class="flex">
                                <img src="assets/icon/info-icon.svg" alt="Info Icon">
                                <div class="banner-content">
                                    <p class="smallest">Check with the store clerk to pick up your package</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-content">
                    <input type="checkbox" id="device" [(ngModel)]="deviceExpanded">
                    <label class="sub-label" for="device">
                        <span>{{!pendingPlan?.planDevice?.id ? 'Device' : 'Purchased Device'}}</span><img class="icon"
                            src="assets/icon/arrow_circle.svg" alt="arrow icon">
                    </label>
                    <ng-container *ngIf="!!purchasedPhone">
                        <div class="card-content">
                            <div class="item-details">
                                <div class="details-side" [class.center]="!purchasedPhone?.imei">
                                    <img class="thumbnail" src="{{phoneImageLink}}" alt="thumbnail">
                                    <div class="details">
                                        <p class="title space"><b>{{purchasedPhone?.description}}</b></p>
                                        <p class="title" *ngIf="!!purchasedPhone?.imei"><b>IMEI</b></p>
                                        <p class="title" *ngIf="!!purchasedPhone?.imei">{{purchasedPhone?.imei}}</p>
                                    </div>
                                </div>
                                <div class="price-side">
                                    <p class="price"><b>{{purchasedPhone?.price | currency:'USD':'symbol':0}}</b></p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!purchasedPhone && !!pendingPlan?.planDevice && !!pendingPlan?.planDevice?.id">
                        <div class="card-content">
                            <div class="item-details">
                                <div class="details-side">
                                    <img class="thumbnail" src="assets/icon/generic-phone.svg" alt="phone">
                                    <div class="details">
                                        <p class="smaller primary-font-bold">{{pendingPlan?.planDevice?.marketingName}}</p>
                                        <p class="smaller primary-font-bold">IMEI</p>
                                        <p class="smaller primary-font">{{pendingPlan?.planDevice?.id}}</p>
                                        <p class="smaller primary-font-bold" *ngIf="!!pendingPlan?.planDevice?.address1">Checked Coverage Address:</p>
                                        <p class="smaller primary-font" *ngIf="!!pendingPlan?.planDevice?.address1">{{pendingPlan?.planDevice?.address1}}, {{pendingPlan?.planDevice?.city}}, {{pendingPlan?.planDevice?.state}} {{pendingPlan?.planDevice?.postalCode}}</p>
                                    </div>
                                </div>
                                <div class="price-side">
                                    <p class="smaller"><img src="assets/icon/edit-square.svg" (click)="editDevice()"
                                            alt="edit" /></p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!purchasedPhone && !!pendingPlan?.planDevice && !pendingPlan?.planDevice?.id">
                        <div class="card-content">
                            <div class="item-details">
                                <div class="details-side">
                                    <img class="thumbnail" src="assets/icon/pending-device.svg" alt="phone">
                                    <div class="details">
                                        <p class="smaller primary-font-bold">No device was selected</p>
                                        <p class="smallest primary-font">You can add a device once you check compatibility</p>
                                        <button class="button primary no-left" aria-label="check compatibility"
                                            (click)="editDevice()">Check Compatibility</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="tab-content">
                    <input type="checkbox" id="payment" [(ngModel)]="paymentExpanded">
                    <label class="sub-label" for="payment">
                        <span>{{!!pendingPlan?.shippingAddress || !!pendingPlan?.storePickup ? (!!planPaymentMethod ? 'Delivery & Payment Details' : 'Delivery Details') : 'Payment Details'}}</span><img class="icon" src="assets/icon/arrow_circle.svg" alt="arrow icon">
                    </label>
                    <ng-container *ngIf="!!pendingPlan?.shippingAddress || !!pendingPlan?.storePickup">
                        <div class="sub-header">
                            <p class="title">Delivery Methods</p>
                        </div>
                        <div class="card-content sub">
                            <div class="item-details">
                                <div class="details-side" [class.center]="!!pendingPlan?.storePickup">
                                    <img [src]="!!pendingPlan?.storePickup?'/assets/icon/delivery-pick.svg': '/assets/icon/delivery-home.svg'" alt="delivery-icon" class="delivery-img">
                                    <div class="delivery-details">
                                        <p class="smaller title">{{!!pendingPlan?.storePickup? 'Store Pick up': 'Home Delivery'}}</p>
                                        <div class="details" *ngIf="!!pendingPlan?.shippingAddress">
                                            <p class="smaller desc"><b>{{!!currentShippingAddress?.name ?
                                                    currentShippingAddress?.name : currentShippingAddress?.alias}}</b></p>
                                            <p class="smaller desc">{{currentShippingAddress?.address1}},
                                                {{currentShippingAddress?.city}},</p>
                                            <p class="smaller desc last">{{currentShippingAddress?.state}},
                                                {{currentShippingAddress?.postalCode}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-side" *ngIf="!!pendingPlan?.shippingAddress">
                                    <p class="smaller"><img src="assets/icon/edit-square.svg"
                                            (click)="editShippingAddress()" alt="edit" data-cy="editIcon" /></p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="sub-header" *ngIf="!!planPaymentMethod">
                        <p class="title">Preferred Payment Method</p>
                    </div>
                    <div class="card-content sub" *ngIf="!!planPaymentMethod && !pendingPlan?.voucherData?.code">
                        <div class="item-details">
                            <div class="details-side" *ngIf="!isEBBPlan">
                                <img class="thumbnail cc" src="assets/icon/payment-card.svg" alt="payment card">
                                <div class="details">
                                    <p class="smaller primary-font-bold">{{planPaymentMethod?.method}}</p>
                                    <p class="smaller primary-font">{{!!planPaymentMethod?.name ? planPaymentMethod?.name :
                                        planPaymentMethod?.alias}}</p>
                                    <p class="smaller primary-font">Ending in {{planPaymentMethod?.last4}}</p>
                                    <p class="smaller primary-font">Expiration date: {{planPaymentMethod?.expirationDate |
                                        expirationDateFormat}}</p>
                                </div>
                            </div>
                            <div class="details-side" *ngIf="!!isEBBPlan">
                                <div class="details">
                                    <p class="title"><b>Affordable Connectivity Program.</b></p>
                                </div>
                            </div>
                        </div>
                        <p class="alert-note smaller" *ngIf="!isEBBPlan">You won't be able to change the payment method at this
                            phase for auto-renew feature, until the plan is activated.</p>
                    </div>
                    <div class="card-content sub" *ngIf="!!pendingPlan?.voucherData?.code">
                        <div class="item-details">
                            <div class="details-side">
                                <img class="thumbnail voucher" src="assets/icon/overview-voucher.svg" alt="voucher">
                                <div class="details">
                                    <p class="smaller primary-font-bold">Top-up Card / Voucher</p>
                                    <p class="smaller primary-font-bold">PIN Code: </p>
                                    <p class="smaller">{{pendingPlan?.voucherData?.code}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-container">
            <app-custom-pagination [config]="config" [circle]="true" (configChange)="pageChanged($event)">
            </app-custom-pagination>
        </div>
    </ng-container>
    <ng-container *ngIf="!pendingPlans || (!!pendingPlans && pendingPlans?.length == 0)">
        <div class="info-banner default-background">
            <div class="flex">
                <img src="assets/icon/info-icon.svg" alt="Info Icon">
                <div class="banner-content">
                    <p class="title">No Purchased plans yet!</p>
                    <p class="description">All purchased plans will be shown here after purchase.</p>
                    <p class="description last">Please select a plan from our shop to get you started with GoodMobile!
                    </p>
                    <div class="actions">
                        <button class="button primary" aria-label="start shopping" (click)="goToPlans()">Start
                            Shopping!</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

</section>