<header class="header" [class.menuShown]="!!showResponsiveMenu" id="header">
  <div class="header-container">
    <div class="logo-section">
      <a [routerLink]="[ROUTE_URLS.HOME]" (click)="menuShowing = false;">
        <img src="assets/img/logo.svg" class="logo"
          alt="GoodMobile">
      </a>
    </div>
    <ul class="menu" *ngIf="innerWidth > 1024.9">
      <li class="menu-item has-list" (click)="showShopMenu = !showShopMenu" data-cy="shopMenu">
        <div class="label-section">
          <p class="title" data-cy="shopMenu">shop <i class="arrow down"></i></p>
        </div>
        <div class="wrapper" [class.menuShown]="!!showShopMenu">
          <ul class="dropdown" *ngIf="!isLoggedIn || (!!isLoggedIn && !userHasActivePlans)">
            <li class="sub-item"><a [routerLink]="[SHOP_ROUTE_URLS.BASE+'/'+SHOP_ROUTE_URLS.PLANS_AND_FEATURES]"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                (click)="onLinkClick($event)">plans</a></li>
            <li class="sub-item"><a
                [routerLink]="[SHOP_ROUTE_URLS.BASE+'/'+PHONES_SHOP_ROUTE_URLS.BASE + '/' + PHONES_SHOP_ROUTE_URLS.TYPE]"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                (click)="onLinkClick($event)">phones</a></li>
          </ul>
          <ul class="dropdown shop" *ngIf="!!isLoggedIn && !!userHasActivePlans">
            <li class="sub-item">
              <div class="shop-item title">New account </div>
              <a class="shop-item" data-cy="purchaseANewPlan" [routerLink]="[SHOP_ROUTE_URLS.BASE+'/'+SHOP_ROUTE_URLS.PLANS_AND_FEATURES]"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                (click)="onLinkClick($event)">Purchase new plan</a>
              <a class="shop-item"
                [routerLink]="[SHOP_ROUTE_URLS.BASE+'/'+PHONES_SHOP_ROUTE_URLS.BASE + '/' + PHONES_SHOP_ROUTE_URLS.TYPE]"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                (click)="onLinkClick($event)">Purchase phone</a>
            </li>
            <li class="sub-item">
              <div class="shop-item title"><span class="acount-dropdown-title">Account :</span>
                <select class="mdn-list" id="phonePlan" name="phonePlan" [(ngModel)]="selectedPlan"
                  (ngModelChange)="userPlanSelected($event)" [disabled]="disabled" [compareWith]="planCompare">
                  <option *ngFor="let plan of userPlans" [ngValue]="plan">
                    {{getSelectorTitle(plan)}}
                  </option>
                </select>
              </div>
              <button class="shop-item" (click)="changePlan()" [class.disabled]="!!isPortIn">Change plan</button>
              <button class="shop-item" (click)="onLinkClick($event, 'addon')"
                [class.disabled]="!!isPortIn || !!isExpiredAccount">Order Add-ons</button>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-item"><a id="check-your-phone-header" data-cy="check-your-phone-header" [routerLink]="[ROUTE_URLS.BRING_PHONE]"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)">bring
          your phone</a></li>
      <li class="menu-item"><a id="coverage-header" data-cy="coverage-header"
          [routerLink]="[SUPPORT_ROUTE_URLS.BASE+'/'+SUPPORT_ROUTE_URLS.LANDING_COVERAGE]" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)">coverage</a></li>
      <li class="menu-item"> <a id="activate" data-cy="activate"
          [routerLink]="[ACTIVATION_ROUTE_URLS.BASE+'/'+ACTIVATION_ROUTE_URLS.SIM_CHECK]" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)">activate</a></li>
      <!-- <li class="menu-item"><a id="refer-friend-header-logged-desktop" data-cy="refer-friend-header" [routerLink]="[ROUTE_URLS.REFER_FRIEND]"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)">refer a
          friend</a></li> -->
    </ul>
    <div class="icons-section">
      <ul class="right-menu">
        <li height="23" width="123" class="item align-right" *ngIf="!isLoggedIn && innerWidth > 1024.9"> <a
            [routerLink]="[LOGIN_ROUTE_URLS.BASE+'/'+LOGIN_ROUTE_URLS.LOGIN]" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" (click)="menuShowing = false;"> sign in </a></li>
        <li height="23" width="123" class="item has-list" *ngIf="!!isLoggedIn && innerWidth > 1024.9">
          <div class="label-section">
            <p class="title account" data-cy="account-menu-header">account <i class="arrow down"></i></p>
          </div>
          <div class="wrapper">
            <nav class="dropdown">
              <button class="sub-item" [routerLink]="[ACCOUNT_ROUTE_URLS.BASE + '/' + ACCOUNT_ROUTE_URLS.SUMMARY]"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)"
                id="account-summary-header" data-cy="account-summary-header">Account summary</button>
              <button *ngIf="!!displayAcpSection" class="sub-item" [routerLink]="[ACCOUNT_ROUTE_URLS.BASE + '/' + ACCOUNT_ROUTE_URLS.ACP_APPLICATION]"
                (click)="onLinkClick($event, 'acp')" id="acp-application-header">ACP application</button>
              <button class="sub-item" [routerLink]="[ACCOUNT_ROUTE_URLS.BASE + '/'+ACCOUNT_ROUTE_URLS.PENDING_ACTIVATIONS]"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                (click)="onLinkClick($event, 'pendingPlans')" id="purchased-plans-header" data-cy="purchased-plans-header">Purchased plans</button>
              <button class="sub-item"
                (click)="onLinkClick($event, 'refill')" [class.disabled]="!!isPortIn" id="refill-account-header" data-cy="refill-account-header"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pay &
                refill your account</button>
              <!-- <button class="sub-item" [routerLink]="[ACCOUNT_ROUTE_URLS.BASE + '/' + ACCOUNT_ROUTE_URLS.REFER_FRIEND]"
                (click)="onLinkClick($event, 'refer')" id="refer-friend-header-unlogged-desktop" data-cy="refer-friend-header" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Refer a friend</button> -->
              <button class="sub-item" (click)="onLinkClick($event, 'addon')" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}" [class.disabled]="!!isExpiredAccount || !!isPortIn"
                id="plan-addOns-header" data-cy="plan-addOns-header">Plan add-ons</button>
              <button class="sub-item" [routerLink]="[ACCOUNT_ROUTE_URLS.BASE + '/' + ACCOUNT_ROUTE_URLS.ORDERS]"
                (click)="onLinkClick($event, 'orders')" id="your-orders-header">Your
                orders</button>
              <button class="sub-item" (click)="onLinkClick($event, 'payment')" [class.disabled]="!!isPortIn"
                id="payment-history-header" data-cy="payment-history-header">Payment history</button>
              <button class="sub-item" 
                (click)="onLinkClick($event, 'usage')" [class.disabled]="!!isPortIn" id="usage-history-header" data-cy="usage-history-header">Usage
                history</button>
              <button class="sub-item" [routerLink]=" [ACCOUNT_ROUTE_URLS.BASE + '/'+ACCOUNT_ROUTE_URLS.MANAGE_DEVICES]"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)"
                id="manage-device-header">Manage device & sim</button>
              <button class="sub-item" [routerLink]=" [ACCOUNT_ROUTE_URLS.BASE + '/'+ACCOUNT_ROUTE_URLS.SETTINGS]"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)"
                id="profile-setting-header" data-cy="profile-setting-header">Profile settings</button>
              <button class="sub-item" (click)="logout($event)" id="logout-header" data-cy="logout-header">Logout</button>
            </nav>
          </div>
        </li>
        <li class="item">
          <button class="menu-btn" (click)="goToCart()">
            <img width="21" height="17"
              [src]="innerWidth > 1024.9 ? '/assets/icon/cart black.svg' : (innerWidth > 749 ? '/assets/icon/purple_cart.svg' : '/assets/icon/white_cart.svg')"
              alt="cart icon"><span class="counter" *ngIf="hasCartItem && totalItems != 0">{{totalItems}}</span></button>
        </li>
        <li class="item">
          <button class="menu-btn" (click)="getPriority()">
            <img alt="bell icon" class="bell_icon" width="19" height="21"
              [src]="innerWidth > 1024.9 ? '/assets/icon/bell black.svg' : (innerWidth > 749 ? '/assets/icon/purple bell.svg' : '/assets/icon/bell.svg')">
            <span class="counter" *ngIf="!!isLoggedIn && notificationCounter > 0">{{notificationCounter}}</span> </button>
        </li>
      </ul>
    </div>
    <div class="hamburger-section" *ngIf="innerWidth < 1025">
      <img [src]="innerWidth > 749 ? '/assets/icon/humburger-menu-purple.svg' : '/assets/icon/hamburger-white.svg'"
        alt="hamburger icon" class="hamburger" (click)="showResponsiveMenu=!showResponsiveMenu;toggleShowing()" />
      <div class="responsive-wrapper" [class.menuShown]="!!showResponsiveMenu">
        <ul class="responsive-menu">
          <li class="responsive-item first" *ngIf="innerWidth < 751">
            <div class="logo"><a [routerLink]="[ROUTE_URLS.HOME]"
                (click)="showResponsiveMenu = false;toggleShowing()"><img alt="good2go logo"
                  src="/assets/img/logo-small.png" /></a></div>
            <button class="close" (click)="showResponsiveMenu = false;toggleShowing()"><i class="icon-close"></i></button>
          </li>
          <li class="responsive-item" *ngIf="!isLoggedIn"> <a
              [routerLink]="[LOGIN_ROUTE_URLS.BASE+'/'+LOGIN_ROUTE_URLS.LOGIN]" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}" (click)="showResponsiveMenu = false;toggleShowing()">sign in </a></li>
          <li class="responsive-item" *ngIf="!isLoggedIn"> <a
              [routerLink]="[LOGIN_ROUTE_URLS.BASE+'/'+LOGIN_ROUTE_URLS.SIGN_UP]" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}" (click)="showResponsiveMenu = false;toggleShowing()">create a Good2Go account
            </a>
          </li>
          <li class="responsive-item" *ngIf="!!isLoggedIn">
            <div class="label-section" (click)="showAccountMenu = !showAccountMenu">
              <p class="title account">account <i class="arrow"
                  [ngClass]="{'down': !showAccountMenu, 'up': !!showAccountMenu}"></i></p>
            </div>
            <div class="menu-wrapper" [class.menuShown]="!!showAccountMenu">
              <ul class="sub-menu">
                <li class="item"><a [routerLink]="[ACCOUNT_ROUTE_URLS.BASE + '/' + ACCOUNT_ROUTE_URLS.SUMMARY]"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)"
                    id="account-summary-header" data-cy="account-summary-header">account summary</a></li>
                <li *ngIf="!!displayAcpSection" class="item"><a [routerLink]="[ACCOUNT_ROUTE_URLS.BASE + '/' + ACCOUNT_ROUTE_URLS.ACP_APPLICATION]"
                      (click)="onLinkClick($event, 'acp')" routerLinkActive="active"
                      [routerLinkActiveOptions]="{exact: true}" id="acp-application-header">ACP application</a></li>
                <li class="item"><a
                    [routerLink]="[ACCOUNT_ROUTE_URLS.BASE + '/'+ACCOUNT_ROUTE_URLS.PENDING_ACTIVATIONS]"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    (click)="onLinkClick($event, 'pendingPlans')" id="purchased-plans-header" data-cy="purchased-plans-header">purchased plans</a></li>
                <li class="item" [class.disabled]="!!isPortIn"><a
                    (click)="onLinkClick($event, 'refill')" [class.disabled]="!!isPortIn" id="refill-account-header" data-cy="refill-account-header"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">pay &
                    refill your account</a></li>
                <!-- <li class="item"><a [routerLink]="[ACCOUNT_ROUTE_URLS.BASE + '/' + ACCOUNT_ROUTE_URLS.REFER_FRIEND]"
                    (click)="onLinkClick($event, 'refer')" id="refer-friend-header-logged-tablet" data-cy="refer-friend-header" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">refer a friend</a></li> -->
                <li class="item" [class.disabled]="!!isExpiredAccount || !!isPortIn"><a
                    (click)="onLinkClick($event, 'addon')" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" [class.disabled]="!!isExpiredAccount || !!isPortIn"
                    id="plan-addOns-header" data-cy="plan-addOns-header">plan add-ons</a></li>
                <li class="item"><a [routerLink]="[ACCOUNT_ROUTE_URLS.BASE + '/' + ACCOUNT_ROUTE_URLS.ORDERS]"
                    (click)="onLinkClick($event, 'orders')" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" id="your-orders-header">Your orders</a></li>
                <li class="item" [class.disabled]="!!isPortIn"><a
                    (click)="onLinkClick($event, 'payment')" [class.disabled]="!!isPortIn"
                    id="payment-history-header">payment history</a></li>
                <li class="item" [class.disabled]="!!isPortIn"><a
                    (click)="onLinkClick($event, 'usage')" [class.disabled]="!!isPortIn" id="usage-history-header" data-cy="usage-history-header">usage
                    history</a></li>
                <li class="item"><a [routerLink]=" [ACCOUNT_ROUTE_URLS.BASE + '/'+ACCOUNT_ROUTE_URLS.MANAGE_DEVICES]"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)"
                    id="manage-device-header">manage device & sim</a></li>
                <li class="item"><a [routerLink]=" [ACCOUNT_ROUTE_URLS.BASE + '/'+ACCOUNT_ROUTE_URLS.SETTINGS]"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)"
                    id="profile-setting-header">profile settings</a></li>
                <li class="item" (click)="logout()">logout</li>
              </ul>
            </div>
          </li>
          <li class="responsive-item">
            <div class="label-section" (click)="showShopResMenu = !showShopResMenu">
              <p class="title">shop <i class="arrow"
                  [ngClass]="{'down': !showShopResMenu, 'up': !!showShopResMenu}"></i></p>
            </div>
            <div class="menu-wrapper" [class.menuShown]="!!showShopResMenu">
              <ul class="sub-menu" *ngIf="!isLoggedIn">
                <li class="item"><a [routerLink]="[SHOP_ROUTE_URLS.BASE+'/'+SHOP_ROUTE_URLS.PLANS_AND_FEATURES]"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    (click)="onLinkClick($event)">plans</a></li>
                <li class="item"><a
                    [routerLink]="[SHOP_ROUTE_URLS.BASE+'/'+PHONES_SHOP_ROUTE_URLS.BASE + '/' + PHONES_SHOP_ROUTE_URLS.TYPE]"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    (click)="onLinkClick($event)">phones</a></li>
              </ul>
              <ul class="sub-menu" *ngIf="!!isLoggedIn">
                <li class="item main">new account</li>
                <li class="item"><a [routerLink]="[SHOP_ROUTE_URLS.BASE+'/'+SHOP_ROUTE_URLS.PLANS_AND_FEATURES]"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    (click)="onLinkClick($event, 'plans')">purchase new plan</a></li>
                <li class="item"><a
                    [routerLink]="[SHOP_ROUTE_URLS.BASE+'/'+PHONES_SHOP_ROUTE_URLS.BASE + '/' + PHONES_SHOP_ROUTE_URLS.TYPE]"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    (click)="onLinkClick($event)">purchase phone</a></li>
                <li class="item main">
                  <div class="title">Account:</div>
                  <select class="mdns" [(ngModel)]="selectedPlan" (ngModelChange)="userPlanSelected($event)"
                    [disabled]="disabled" [compareWith]="planCompare">
                    <option *ngFor="let plan of userPlans" [ngValue]="plan">
                      {{getSelectorTitle(plan)}}
                    </option>
                  </select>
                </li>
                <li class="item" [class.disabled]="!!isPortIn"><a (click)="changePlan()"
                    [class.disabled]="!!isPortIn">change plan</a></li>
                <li class="item" [class.disabled]="!!isPortIn || !!isExpiredAccount"><a
                    (click)="onLinkClick($event, 'addon')" [class.disabled]="!!isPortIn || !!isExpiredAccount">Order
                    Add-ons</a></li>
              </ul>
            </div>
          </li>
          <li class="responsive-item"><a [routerLink]="[ROUTE_URLS.BRING_PHONE]" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)" id="byod" >bring your phone</a>
          </li>
          <li class="responsive-item"><a
              [routerLink]="[SUPPORT_ROUTE_URLS.BASE+'/'+SUPPORT_ROUTE_URLS.LANDING_COVERAGE]" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)">coverage</a></li>
          <li class="responsive-item"> <a id="activate" data-cy="activate"
              [routerLink]="[ACTIVATION_ROUTE_URLS.BASE+'/'+ACTIVATION_ROUTE_URLS.SIM_CHECK]" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)">activate</a></li>
          <!-- <li class="responsive-item"><a [routerLink]="[ROUTE_URLS.REFER_FRIEND]" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)" id="refer-friend-header-unlogged-tablet" data-cy="refer-friend-header">refer a
              friend</a> 
             </li> -->
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="alert-banner" *ngIf="!!mantainenceDescription && !!displayMaintenanceBanner">
  <img class="alert-icon" src="assets/icon/alert.svg" alt="alert">
  <div class="message" [innerHTML]="mantainenceDescription"></div>
</div>
<div class="acp-alert-banner" *ngIf="!!showACPActionBanner" id="alert">
  <div class="container-flex">
    <p class="title">
      <img class="alert-icon" src="assets/icon/red-alert.svg" alt="alert">
      <span>Action Required!</span>
    </p>
   <p class="desc">An ACP application has started! Resume your application now.</p>
   <button class="button primary" aria-label="Continue Application" (click)="goToACPApplication()">Continue Application</button>
  </div>
</div>
<div class="acp-alert-banner payment" *ngIf="!!showPaymentUpdateBanner" id="payment-alert">
  <div class="container-flex">
    <p class="title">
      <img class="alert-icon" src="assets/icon/red-alert.svg" alt="alert">
      <span>Action Required!</span>
    </p>
   <p class="desc">The current payment methods are indicating an issue. Please update your payment methods as soon as possible to 
    prevent service loss.
    </p>
   <button class="button primary" aria-label="Continue Application" (click)="goToPaymentUpdate()">Update Now</button>
  </div>
</div>
<div class="acp-alert-banner" *ngIf="!!paymentUpdateInProgress" id="progress-alert">
  <div class="container-flex">
    <p class="title">
      <img class="alert-icon" src="assets/icon/red-alert.svg" alt="alert">
      <span>In progress!</span>
    </p>
   <p class="desc">Your process of changing the preferred payment card is still in progress
    </p>
   <button class="button primary" aria-label="Continue Editing" (click)="continueEditing()">Continue Editing</button>
  </div>
</div>