<header class="header" [class.menuShown]="!!showResponsiveMenu" id="header" height="64">
    <div class="page-section header-container">
      <div class="logo-section">
        <img src="/assets/icon/humburger.svg" alt="hamburger icon" class="hamburger responsive" (click)="showResponsiveMenu=!showResponsiveMenu;toggleShowing()" />
        <div class="responsive-wrapper responsive" [class.menuShown]="!!showResponsiveMenu">
          <div class="responsive-menu-header">
            <div class="logo"><a [routerLink]="[ROUTE_URLS.HOME]"
                (click)="showResponsiveMenu = false;toggleShowing()"><img alt="goodMobile logo"
                  src="/assets/img/logo.svg" /></a></div>
            <button class="close" (click)="showResponsiveMenu = false;toggleShowing()"><i class="icon-close"></i></button>
            </div>
          <ul class="responsive-menu">
            <li class="responsive-item" *ngIf="!isLoggedIn">
              <img class="item-icon" src="assets/icon/account.svg" alt="sign in" />
              <a
                [routerLink]="[LOGIN_ROUTE_URLS.BASE+'/'+LOGIN_ROUTE_URLS.LOGIN]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}" (click)="showResponsiveMenu = false;toggleShowing()">Sign in </a></li>
            <li class="responsive-item">
              <img class="item-icon" src="assets/icon/cart.svg" alt="shop" />
              <a id="shopMenu" data-cy="shopMenu" [routerLink]="[SHOP_ROUTE_URLS.BASE+'/'+SHOP_ROUTE_URLS.PLANS_AND_FEATURES]"
                  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)">Shop</a></li>
            <li class="responsive-item">
              <img class="item-icon" src="assets/icon/mobile.svg" alt="bring your phone" />
              <a [routerLink]="[ROUTE_URLS.BRING_PHONE]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)" id="byod" >Bring your phone</a>
            </li>
            <li class="responsive-item">
              <img class="item-icon" src="assets/icon/wifi.svg" alt="coverage" />
              <a [routerLink]="[SUPPORT_ROUTE_URLS.BASE+'/'+SUPPORT_ROUTE_URLS.LANDING_COVERAGE]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)">Coverage</a></li>
            <li class="responsive-item"> 
              <img class="item-icon" src="assets/icon/toggle.svg" alt="activate" />
              <a id="activate" data-cy="activate"
                [routerLink]="[ACTIVATION_ROUTE_URLS.BASE+'/'+ACTIVATION_ROUTE_URLS.SIM_CHECK]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)">Activate</a></li>
          </ul>
        </div>
        <a [routerLink]="[ROUTE_URLS.HOME]" (click)="menuShowing = false;">
          <img src="assets/img/logo.svg" class="logo" alt="GoodMobile" width="134" height="32">
        </a>
      </div>
      <div class="list-section desktop">
        <ul class="menu" >
          <li class="menu-item"><a id="shopMenu" data-cy="shopMenu" [routerLink]="[SHOP_ROUTE_URLS.BASE+'/'+SHOP_ROUTE_URLS.PLANS_AND_FEATURES]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)">shop</a></li>
          <li class="menu-item"><a id="check-your-phone-header" data-cy="check-your-phone-header" [routerLink]="[ROUTE_URLS.BRING_PHONE]"
              routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)">bring
              your phone</a></li>
          <li class="menu-item"><a id="coverage-header" data-cy="coverage-header"
              [routerLink]="[SUPPORT_ROUTE_URLS.BASE+'/'+SUPPORT_ROUTE_URLS.LANDING_COVERAGE]" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)">coverage</a></li>
          <li class="menu-item"> <a id="activate" data-cy="activate"
              [routerLink]="[ACTIVATION_ROUTE_URLS.BASE+'/'+ACTIVATION_ROUTE_URLS.SIM_CHECK]" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick($event)">activate</a></li>
        </ul>
      </div>
      <div class="icons-section">
        <ul class="login-list desktop" >
          <li class="login-option" *ngIf="!isLoggedIn">
            <a [routerLink]="[LOGIN_ROUTE_URLS.BASE+'/'+LOGIN_ROUTE_URLS.LOGIN]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="menuShowing = false;"> sign in </a>
          </li>
        </ul>
        <ul class="icons-list" >
          <li class="item">
            <button class="menu-btn" (click)="goToCart()">
              <img width="32" height="32" src="/assets/icon/cart.svg" alt="cart icon"><span class="counter" *ngIf="hasCartItem && totalItems != 0">{{totalItems}}</span></button>
          </li>
          <li class="item">
            <button class="menu-btn" (click)="getPriority()">
              <img width="32" height="32"  src="/assets/icon/bell.svg" alt="bell icon"><span class="counter" *ngIf="hasCartItem && totalItems != 0">{{totalItems}}</span></button>
          </li>
        </ul>
      </div>
    </div>
</header>
<div class="alert-banner" *ngIf="!!mantainenceDescription && !!displayMaintenanceBanner">
  <img class="alert-icon" src="assets/icon/alert.svg" alt="alert">
  <div class="message" [innerHTML]="mantainenceDescription"></div>
</div>
<div class="acp-alert-banner" *ngIf="!!showACPActionBanner" id="alert">
  <div class="container-flex">
    <p class="title">
      <img class="alert-icon" src="assets/icon/red-alert.svg" alt="alert">
      <span>Action Required!</span>
    </p>
   <p class="desc">An ACP application has started! Resume your application now.</p>
   <button class="button primary" aria-label="Continue Application" (click)="goToACPApplication()">Continue Application</button>
  </div>
</div>