@import '../../../styles/modules/variables';
@import '../../../styles/modules/mixins';

.signup-section {
    margin-top: 60px;
    @media (min-width: $tablet-min-width) {
        margin-top: 80px;
    }
    @media (max-width: $phablet-min-width-minus) {
        margin-top: 40px;
    }
    .header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            text-align: center;
        }
        .subhead {
            font-size: rem-calc(22px);
            line-height: 26px;
            font-family: $base-font-family;
            text-align: center;
            margin-bottom: 45px;
            max-width: 750px;
        }
        @media (max-width: $desktop-min-width-minus) {
            .title {
                font-size: rem-calc(27px);
                line-height: 35px;
            }
            .subhead {
                max-width: 610px;
                font-size: rem-calc(17px);
                line-height: 20px;
            }
        }
        @media (max-width: $phablet-min-width-minus) {
            .title {
                font-size: rem-calc(26px);
                line-height: 35px;
            }
        }
    }
    .sign-up-form {
        max-width: 800px;
        margin: auto;
        display: flex;
        flex-direction: column;
        @media (max-width: $desktop-min-width-minus) {
            max-width: 520px;
        }
        .form-section {
            display: flex;
            .left, .right {
                flex-basis: 50%;
                input {
                    max-width: 347px;
                    width: 100%;
                }
            }
            .full {
                flex-basis: 100%;
                input {
                    max-width: 723px;
                }
            }
            @media (max-width: $desktop-min-width-minus) {
                flex-direction: column;
                .left, .right {
                    flex-basis: 100%;
                    input {
                        max-width: none;
                    }
                }
            }
        }
        .actions-section {
            display: flex;
            margin-bottom: 80px;
            .primary-actions {
                flex-basis: 40%;
                .button {
                    width: 160px;
                    padding: 10px;
                    font-size: rem-calc(20px);
                }
            }
            .secondary-actions {
                flex-basis: 60%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .secondary-text {
                    font-size: rem-calc(17px);
                    margin-bottom: 5px;
                }
            }
            @media (max-width: $desktop-min-width-minus) {
                .primary-actions {
                    .button {
                        width: 140px;
                        font-size: rem-calc(15px);
                    }
                }
                .secondary-actions {
                    .secondary-text {
                        font-size: rem-calc(15px);
                    }
                }
            }
            @media (max-width: $phablet-min-width-minus) {
                flex-direction: column;
                align-items: center;
                width: auto;
                .primary-actions {
                    flex-basis: 100%;
                    .button {
                        width: 145px;
                        font-size: rem-calc(20px);
                    }
                }
                .secondary-actions {
                    align-items: center;
                    .secondary-text {
                        text-align: center;
                        font-size: rem-calc(17px);
                    }
                }
            }
        }
    }
}