<section class="page-section success-swap">
    <app-activation-header></app-activation-header>
    <div class="page-content">
        <h1 class="header-color">Request Submitted!<br>
            Your SIM Card is successfully activated!</h1>
       <p>You can check your <a class="primary-font-bold" (click)="goToAccountSummary()">Account Summary</a> for more details 
        about your Port In process.</p>
       <div class="action">
        <button class="button primary" aria-label="done" (click)="goToAccountSummary()">Done</button>
       </div>
    </div>
</section>