<div class="plan-filter-title">Narrow your results</div>
<div class="plan-filter-container">
  <div class="plan-filter">
    <div class="filter-header" (click)="showFilterContent('PRICE_FILTER')" [class.visible]="FILTERS_VISIBILITY.DATA_FILTER">
      Price range
    </div>
    <div class="filter-content price-filter" [class.visible]="FILTERS_VISIBILITY.PRICE_FILTER">
      <app-custom-range-slider [min]="10" [max]="50" [step]="10" (value)="filterByPrice($event)"></app-custom-range-slider>
    </div>
  </div>
  <div class="plan-filter">
    <div class="filter-header" (click)="showFilterContent('DATA_FILTER')" [class.visible]="FILTERS_VISIBILITY.DATA_FILTER">
      Data | 4G LTE
    </div>
    <div class="filter-content" [class.visible]="FILTERS_VISIBILITY.DATA_FILTER">
      <ul>
        <li>
          <div class="radio-checkbox">
            <input type="radio" [(ngModel)]="filtersValues.data" name="filter-text-data-unlimited" id="filter-text-data-unlimited" value="99999"
                   (click)="filterByData(99999)">
            <label class="radio-checkbox-label" for="filter-text-data-unlimited">
              <span>Unlimited</span>
            </label>
          </div>
        </li>
        <li>
          <div class="radio-checkbox">
            <input type="radio" [(ngModel)]="filtersValues.data" id="filter-text-data-100" name="fiter-text-data-100" value="2"
                   (click)="filterByData(2)">
            <label class="radio-checkbox-label" for="filter-text-data-100">
              <span>3GB - 8GB</span>
            </label>
          </div>
        </li>
        <li>
          <div class="radio-checkbox">
            <input type="radio" [(ngModel)]="filtersValues.data" name="filter-text-data-500" id="filter-text-data-500" value="1"
                   (click)="filterByData(1)">
            <label class="radio-checkbox-label" for="filter-text-data-500">
              <span>500MB - 1GB</span>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="plan-filter">
    <div class="filter-header" (click)="showFilterContent('MINUTES_FILTER')" [class.visible]="FILTERS_VISIBILITY.MINUTES_FILTER">
      Minutes
    </div>
    <div class="filter-content" [class.visible]="FILTERS_VISIBILITY.MINUTES_FILTER">
      <ul>
        <li>
          <div class="radio-checkbox">
            <input type="radio" [(ngModel)]="filtersValues.minutes" name="filter-text-minutes-unlimited" id="filter-text-minutes-unlimited" value="99999"
                   (click)="filterByMinutes(99999)">
            <label class="radio-checkbox-label" for="filter-text-minutes-unlimited">
              <span>Unlimited</span>
            </label>
          </div>
        </li>
        <li>
          <div class="radio-checkbox">
            <input type="radio" [(ngModel)]="filtersValues.minutes" id="filter-text-minutes-100" name="fiter-text-minutes-100" value="100"
                   (click)="filterByMinutes(100)">
            <label class="radio-checkbox-label" for="filter-text-minutes-100">
              <span>100 mins</span>
            </label>
          </div>
        </li>
        <li>
          <div class="radio-checkbox">
            <input type="radio" [(ngModel)]="filtersValues.minutes" name="filter-text-minutes-500" id="filter-text-minutes-500" value="500"
                   (click)="filterByMinutes(500)">
            <label class="radio-checkbox-label" for="filter-text-minutes-500">
              <span>500 mins</span>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="plan-filter">
    <div class="filter-header" (click)="showFilterContent('MESSAGES_FILTER')" [class.visible]="FILTERS_VISIBILITY.MESSAGES_FILTER">
      Text messages
    </div>
    <div class="filter-content" [class.visible]="FILTERS_VISIBILITY.MESSAGES_FILTER">
      <ul>
        <li>
          <div class="radio-checkbox">
            <input type="radio" [(ngModel)]="filtersValues.textMessages" name="filter-text-messages-unlimited" id="filter-text-messages-unlimited" value="99999"
                   (click)="filterByTextMessages(99999)">
            <label class="radio-checkbox-label" for="filter-text-messages-unlimited">
              <span>Unlimited</span>
            </label>
          </div>
        </li>
        <li>
          <div class="radio-checkbox">
            <input type="radio" [(ngModel)]="filtersValues.textMessages" id="filter-text-messages-100" name="fiter-text-messages-100" value="100"
                   (click)="filterByTextMessages(100)">
            <label class="radio-checkbox-label" for="filter-text-messages-100">
              <span>100 texts</span>
            </label>
          </div>
        </li>
        <li>
          <div class="radio-checkbox">
            <input type="radio" [(ngModel)]="filtersValues.textMessages" name="filter-text-messages-500" id="filter-text-messages-500" value="500"
                   (click)="filterByTextMessages(500)">
            <label class="radio-checkbox-label" for="filter-text-messages-500">
              <span>500 texts</span>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="plan-filter-dropdown-container">
  <div class="plan-filter-dropdown">
    <label for="price-drop-down">
      <select name="price-drop-down" id="price-drop-down" (ngModelChange)="filterByPrice($event)" [(ngModel)]="filtersValues.price">
        <option value="50">$50</option>
        <option value="40">$40</option>
        <option value="30">$30</option>
        <option value="20">$20</option>
        <option value="10">$10</option>
      </select>
    </label>
  </div>
  <div class="plan-filter-dropdown">
    <label for="data-drop-down">
      <select name="data-drop-down" id="data-drop-down" (ngModelChange)="filterByData($event)" [(ngModel)]="filtersValues.data">
        <option value="0">Data | 4G LTE</option>
        <option value="99999">Unlimited</option>
        <option value="2">3GB - 8GB</option>
        <option value="1">500MB - 1GB</option>
      </select>
    </label>
  </div>
  <div class="plan-filter-dropdown">
    <label for="minutes-drop-down">
      <select name="minutes-drop-down" id="minutes-drop-down" (ngModelChange)="filterByMinutes($event)" [(ngModel)]="filtersValues.minutes">
        <option value="0">Minutes</option>
        <option value="99999">Unlimited</option>
        <option value="100">100 mins</option>
        <option value="500">500 mins</option>
      </select>
    </label>
  </div>
  <div class="plan-filter-dropdown">
    <label for="messsages-drop-down">
      <select name="messsages-drop-down" id="messsages-drop-down" (ngModelChange)="filterByTextMessages($event)" [(ngModel)]="filtersValues.textMessages">
        <option value="0">Text messages</option>
        <option value="99999">Unlimited</option>
        <option value="100">100 mins</option>
        <option value="500">500 mins</option>
      </select>
    </label>
  </div>
</div>
