<section class="checkout-step shipping-section">
  <div class="progress-banner">
    <div class="step">
      <picture>
        <source srcset='assets/icon/enabled-checkout-shipping.png' media="(min-width: 320px)">
        <img src="assets/icon/enabled-checkout-shipping.png" alt="shipping" class="step-image">
      </picture>
    </div>
    <img class="tracking-icon dots" src="assets/icon/tracking-dots-disabled.svg" alt="dots">
    <div class="step">
      <picture>
        <source srcset='assets/icon/disabled-checkout-payment.svg' media="(min-width: 320px)">
        <img src="assets/icon/disabled-checkout-payment.svg" alt="payment" class="step-image">
      </picture>
    </div>
    <picture>
      <source srcset='assets/icon/tracking-dots-disabled.svg' media="(min-width: 320px)">
      <img class="tracking-icon dots" src="assets/icon/tracking-dots-disabled.svg" alt="dots">
    </picture>

    <div class="step">
      <picture>
        <source srcset='assets/icon/disabled-checkout-overview.png' media="(min-width: 320px)">
        <img src="assets/icon/disabled-checkout-overview.png" alt="overview" class="step-image">
      </picture>
    </div>
  </div>

  <div class="page-section shipping">
    <div class="cart-total" id="cart-section">
      <p>Checkout</p>
      <p data-cy="total" ><span>Est. Total:</span>{{total | currency:'USD':'symbol':0}}</p>
    </div>
    <h1 class="step-title">Where should we send your order?</h1>
    <div class="error-banner" *ngIf="!!showAddressRequiredError">
      <img src="assets/icon/red-alert.svg" alt="alert"/>
      <p class="note">Please select a shipping address or add a new address.</p>
    </div>
    <div class="checkout-card">
      <p class="card-title">Shipping Details</p>
      <div class="card-content" id="addressDetails">
        <p class="info" id="selectAddress">Please select a shipping address or add a new address:</p>
        <div class="methods-list" *ngIf="!!addressesList && addressesList?.length > 0" id="addresses">
          <label class="form-control" *ngFor="let address of addressesList; let i = index"
            [class.hidden]="i > 1 && !showAllAddresses"
            [class.last]="(i === 1 && !showAllAddresses) || (i === (addressesList?.length - 1) && !!showAllAddresses) || (addressesList?.length === 1)">
            <div class="radio-container">
              <input title="{{ !!address.name ? address?.name : address?.alias }}" type="radio" data-cy="shippingAddress"
                [(ngModel)]="selectedShippingAddress" name="shippingAddress" [id]="address.id" [value]="address"
                [id]="address.id" [value]="address" (ngModelChange)="toggleSelectedAddress()">
            </div>
            <div class="details">
              <label for="{{address.id}}"><b>{{!!address?.name ? address?.name: address?.alias}}</b></label>
              <p> {{ address?.address1 }}
                {{ !!address?.address2 ? ", " + address?.address2 : "" }}
                , {{ address?.city }} , {{ address?.state }} {{ address?.postalCode }}</p>
            </div>
          </label>
        </div>
        <div class="showMore" *ngIf="addressesList?.length > 2" (click)="showAllAddresses = !showAllAddresses">
          <p class="more" data-cy="showMoreAndLess">{{!!showAllAddresses ? 'Show less' : 'Show more'}}</p>
          <i class="arrow down" [class.rotate]="!!showAllAddresses"></i>
        </div>
        <div class="add-new">
          <div class="add-trigger" (click)="ShowShippingForm()">
            <img class="add" [src]="!showShippingForm ? '/assets/icon/plus.svg' : '/assets/icon/minus.svg'" alt="add" />
            <p class="add-text" data-cy="addNewAddress">Add a new address</p>
          </div>
          <section class="add-new-card-section" *ngIf="!!showShippingForm">
            <form #shippingMethodForm="ngForm" class="shipping-method-form">
              <fieldset class="address-lookup">
                <app-address-lookup [displayedAddress]="shippingAddress" (isValid)="setValidAddress($event)"
                  (addressChange)="addressLookUpChanged($event)" [touchForm]="touchShippingForm" [showAlias]="true">
                </app-address-lookup>
              </fieldset>
              <div class="action">
                <a class="cancel-link" data-cy="cancel" aria-label="cancel" (click)="toggleSelectedAddress()">
                  Cancel
                </a>
                <button class="button primary" data-cy="saveBtn" aria-label="Add address" (click)="addAddress()">
                  Save
                </button>
              </div>
            </form>
          </section>
        </div>
      </div>
      <div class="sub-card-content">
        <input type="checkbox" class="hidden-checkbox" id="items" [(ngModel)]="shippingMethodItems" />
        <label class="sub-label" for="items">Shipping Method <img class="icon" src="assets/icon/arrow_circle.svg"
            alt="arrow icon" /></label>
        <div class="tab-content">
          <p class="info">Please select a shipping method and a delivery option for your order:</p>
          <!-- <div class="alert-box" *ngIf="!hasPhone">
            <img src="/assets/icon/red-alert.svg" alt="alert">
            <p class="alert-info"><b>Note:</b> Due to global shipping delays, expedited shipping methods are currently
              temporarily unavailable.</p>
          </div> -->
          <form #packageForm="ngForm" class="options-form">
            <div class="form-row">
              <div class="form-field half">
                <label *ngIf="!!shippingServiceType">Shipping Service</label>
              <div class="floating-label">
                <select class="floating-select" [(ngModel)]="shippingServiceType" id="Courier" placeholder=" "
                  #courier="ngModel" name="courier" [class.dirty]="!!shippingServiceType"
                  (ngModelChange)="changedShippingMethod(shippingServiceType)" required>
                  <option disabled selected value="">Shipping Service</option>
                  <option *ngFor="let item of shippingDeliveryService" [value]="item">
                    {{ item | titlecase }}
                  </option>
                </select>
                <!-- <label class="long" [class.medium]="shippingServiceType">Shipping Service</label> -->
              </div>
              <div class="validation-message" *ngIf="courier.errors?.required && courier.touched"
                id="required-shipping-service-msg">
                Shipping service is required
              </div>
              </div>
            <div class="form-field half">
              <label *ngIf="!!selectedShippingServiceOption">Delivery Options</label>
              <div class="floating-label">
                <select class="floating-select" [(ngModel)]="selectedShippingServiceOption" name="shippingMethod"
                  id="Service" placeholder=" " #service="ngModel" [class.dirty]="!!selectedShippingServiceOption"
                  (ngModelChange)="changedDeliveryOption()" required>
                  <option disabled selected value="">Delivery Options</option>

                  <option *ngFor="let item of shippingDeliveryOptions" [value]="item.id">
                    {{ item.title }}
                  </option>
                </select>
                <!-- <label class="long" [class.medium]="selectedShippingServiceOption">Delivery Options</label> -->
              </div>
              <div class="validation-message" *ngIf="service.errors?.required && service.touched"
                id="required-shipping-service-msg">
                Delivery option is required
              </div>
            </div>
          </div>
          </form>
          <div class="shipping-options-result"
            *ngIf="!!shippingServiceType && !!selectedShippingServiceOption && !!orderShippingMethod">
            <p class="option-note">United States Postal Service</p>
            <div class="option-details">
              <p class="option">{{orderShippingMethod?.title}}</p>
              <p class="option price">{{orderShippingMethod.price > 0 ? (orderShippingMethod.price |
                currency:'USD':'symbol':0) : 'Free'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="navigation-section" [class.blur]="!!showShippingForm">
  <div class="page-section navs">
    <button class="button secondary" data-cy="backBtn" (click)="goToCart()">Back</button>
    <button class="button primary" (click)="nextCheckoutStep()" id="continue-shipping" data-cy="nextBtn">Next</button>
  </div>
</section>
<app-invisible-recaptcha (resolved)="resolvedCaptcha($event)" [siteKey]="SITE_ID" #reCaptcha></app-invisible-recaptcha>