@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";

.contact-us-container {
  padding-left: 3%;
  margin-bottom: 8%;
  @media (max-width: 1025px) and (min-width: 640px) {
    margin-bottom: 6%;
  }
  @media (max-width: 640px) {
    padding-left: 5%;
  }

  @media (min-width: 640px) {
    .one,
    .two,
    .three,
    .four,
    .five,
    .six,
    .seven,
    .eight,
    .nine,
    .ten,
    .eleven,
    .twelve {
      padding-left: 15px;
      padding-right: 15px;
    }
    .twelve {
      width: 100%;
    }
    .six {
      width: 50%;
    }
  }
  @media (max-width: 639px) {
    margin-bottom: 8px;
  }
  @media (max-width: 1400px) and (min-width: 1200px) {
    padding-left: 4%;
  }
  @media (max-width: 1200px) and (min-width: 1024px) {
    padding-left: 5%;
  }
  @media (max-width: 1024px) and (min-width: 750px) {
    padding-left: 4%;
  }
  .contact {
    margin-top: 8%;
    padding-left: 0;
    padding-bottom: 40px;
    display: block;
    @media (min-width: 640px) {
      display: none;
    }
    .six {
      padding-left: 0;
      .padding-bottom-10 {
        padding-bottom: 10px;
      }
      .font-size-20 {
        @media (max-width: 640px) {
          font-size: rem-calc(20px);
        }
      }
      .call-us {
        font-size: rem-calc(17px);
        font-family: $base-font-family;
        img {
          width: 16.4px;
          height: 16.6px;
          text-align: center;
        }
        #fb {
          width: 9px;
          height: 19.4px;
        }
        #tweet {
          width: 19.4px;
          height: 15.5px;
        }
        #insta {
          width: 14.8px;
          height: 14.8px;
        }

        .orange-rectangular {
          width: 45px;
          height: 45px;
          background-color: $secondary-color;
          display: inline-block;
          margin: 0 5px;
          .center-block {
            text-align: center;
            margin-bottom: 11px;
            margin-top: 11px;
            display: block;
          }
        }

        .purple-rectangular {
          width: 45px;
          height: 45px;
          background-color: $primary-color;
          display: inline-block;
          margin: 0 5px;
          .center-block {
            text-align: center;
            margin-bottom: 11px;
            margin-top: 11px;
            display: block;
          }
        }
      }
      .call__sub {
        font-size: rem-calc(17px);
        font-family: $base-font-family;
        margin-left: 26px;
        @media (max-width: 640px) {
          margin-left: 0px;
          margin-bottom: 9px;
          display: inline-block;
        }
      }
      .right {
        @media (#{$larger-than-phablet}) {
          float: right;
        }
      }
    }
  }
  .form-section {
    @media (min-width: 1025px) {
      border-right: 1px solid $dark-grey;
    }
    @media (max-width: 1025px) and (min-width: 640px) {
      padding-bottom: 45px;
    }
    @media (#{$larger-than-phablet}) {
      padding-right: 30px;
    }
    .title-section {
      h1 {
        @media (max-width: 640px) and (min-width: 320px) {
          font-size: rem-calc(26px);
        }
        font-size: rem-calc(38px);
        line-height: rem-calc(26px);
        font-family: $secondary-font-family-bold;
        @media (max-width: 426px) {
          line-height: 1;
        }
        @media (max-width: $desktop-min-width) and (min-width: 640px) {
          font-size: rem-calc(27px);
          line-height: rem-calc(35px);
        }
      }
      .pitch {
        @media (max-width: 640px) and (min-width: 320px) {
          font-size: rem-calc(17px);
          width: 86%;
        }
        @media (max-width: $desktop-min-width) and (min-width: 640px) {
          font-size: rem-calc(18px);
          line-height: rem-calc(21px);
        }
        font-family: $base-font-family;
        font-size: rem-calc(22px);
        font-weight: normal;
      }
    }
    .contactUsForm {
      margin-top: 45px;
      .category {
        padding-left: 0;
        @media (max-width: 640px) {
          width: 100%;
        }
        #category {
          @media (max-width: 640px) {
            width: 100%;
          }
        }
        select {
          height: 35px;
          font-size: rem-calc(17px);
          font-family: $base-font-family;
          -webkit-appearance: none;
          text-indent: 1px;
          text-overflow: "";
          width: 200px;
          background-image: url(/assets/img/downarrow.svg);
          background-repeat: no-repeat;
          background-position: right center;
          &.opened {
            background-image: url(/assets/img/arrowup.svg);
          }
        }
      }
      .form-row {
        padding-left: 0;
        margin-top: 30px;
        &.numbers {
          margin-top: 10px;
        }
        .input-section {
          .float-right {
            @media (min-width: 640px) {
              float: right;
            }
          }
          padding-left: 0;
          label {
            font-size: rem-calc(17px);
            font-family: $base-font-family;
            &.note {
              font-size: rem-calc(11px);
              line-height: 14px;
              font-style: italic;
              font-weight: normal;
              max-width: 310px;
            }
            &.validation-message {
              margin-top: 0px;
            }
          }
          textarea {
            border-radius: 0;
            height: 150px;
          }
          input {
            margin-bottom: 10px;
          }
        }
        .required {
          @media (min-width: 640px) {
            font-family: $base-font-family;
            font-style: italic;
            font-size: rem-calc(14px);
            line-height: rem-calc(16px);
            text-align: left;
            display: block;
          }
          display: none;
        }
        .required-res {
          @media (max-width: 640px) {
            font-family: $base-font-family;
            font-style: italic;
            font-size: rem-calc(14px);
            line-height: rem-calc(16px);
            text-align: left;
            display: block;
          }
          display: none;
        }
        .layout-flex {
          @media (max-width: 640px) {
            display: flex;
          }
        }
        .button {
          padding: 13px 40px;
          @media (max-width: 640px) and (min-width: 320px) {
            width: 143px;
            height: 43px;
          }
          @media (min-width: $desktop-min-width) {
            margin-right: 2%;
          }
        }
        .call-us-imformation {
          @media (max-width: 1024px) and (min-width: 640px) {
            display: block;
            .call {
              width: 14px;
              height: 14px;
              margin-right: 10px;
              img {
                width: 14px;
                height: 14px;
                margin-right: 10px;
              }
            }
            .call__sub {
              margin-left: 27px;
              width: 26%;
            }

            .social {
              margin-left: 30px;
            }

            .font-size {
              font-size: rem-calc(15px);
              line-height: rem-calc(17px);
            }
            .tablet-follow-us {
              padding-left: 0px;
            }
          }
          display: none;
        }
      }
    }
    .contact-info-section {
      padding-left: 0;
      display: inline-block;
      margin-top: 50px;
      .left-section {
        display: inline-block;
        width: 65%;
        .call {
          font-size: rem-calc(17px);
          line-height: 20px;
          margin-bottom: 5px;
          &.time {
            padding-left: 25px;
          }
        }
      }
      .right-section {
        display: inline-block;
        width: 35%;
        float: right;
        text-align: right;
        .call {
          font-size: rem-calc(17px);
          line-height: 20px;
          margin-bottom: 5px;
        }
      }
      .social-icon {
        height: 15px;
        width: 15px;
        margin: 0 5px;
      }
      .tel {
        display: inline;
        font-weight: bold;
      }
      @media (max-width: $desktop-min-width-minus) {
        display: block;
        margin-top: 30px;
        .left-section {
          display: block;
          width: 100%;
          .call {
            font-size: rem-calc(15px);
            line-height: 17px;
            &.time {
              max-width: 210px;
            }
          }
        }
        .right-section {
          text-align: left;
          float: left;
          display: block;
          width: 100%;
          margin-top: 15px;
          .call {
            font-size: rem-calc(15px);
            line-height: 17px;
            padding-left: 25px;
          }
        }
      }
      @media (max-width: 640px) {
        display: none;
      }
    }
    .contact {
      margin-top: 8%;
      padding-left: 0;
      padding-bottom: 40px;
      .six {
        padding-left: 0;
        .call {
          font-size: rem-calc(17px);
          font-family: $base-font-family;
          img {
            width: 14px;
            height: 14px;
            margin-right: 10px;
          }
        }
        .call__sub {
          font-size: rem-calc(17px);
          font-family: $base-font-family;
          margin-left: 26px;
        }
        .right {
          @media (#{$larger-than-phablet}) {
            float: right;
          }
        }
      }
    }
  }

  .width-on-tablet {
    @media (max-width: 1025px) and (min-width: 640px) {
      flex-basis: 97%;
    }
  }
  .questions-holder {
    @media (min-width: 1025px) {
      padding-left: 12%;
    }
    @media (max-width: 1025px) and (min-width: 640px) {
      padding-top: 30px;
      border-top: 1px solid #666666;
    }
    padding-top: 55px;
    @media (max-width: 640px) {
      margin-bottom: 0px;
      padding-top: 34px;
    }
    .questions-title {
      font-family: $base-font-family;

      .title {
        font-weight: bold;
        font-size: rem-calc(22px);
        font-family: $base-font-family;
        margin-bottom: 20px;
        @media (max-width: 1025px) and (min-width: 640px) {
          font-size: rem-calc(15px);
          line-height: rem-calc(17px);
        }
      }
      .subtitle {
        font-size: rem-calc(17px);
        @media (max-width: 1025px) and (min-width: 640px) {
          font-size: rem-calc(15px);
          line-height: rem-calc(17px);
        }
      }
    }
    .questions {
      @media (max-width: 640px) {
        margin-top: 21px;
      }
      margin-top: 10%;
      @media (min-width: 640px) {
        margin-top: 7%;
      }
      @media (max-width: 1025px) and (min-width: 640px) {
        margin-top: 20px;
      }
      .question {
        font-size: rem-calc(20px);
        border-bottom: 1px solid $grey;
        @media (max-width: 640px) {
          padding: 13px 0;
        }
        @media (max-width: 1025px) and (min-width: 640px) {
          font-size: rem-calc(15px);
          line-height: rem-calc(17px);
        }
        padding: 20px 0;
        margin-bottom: 0;
        font-family: $base-font-family;
        font-weight: normal;
        &:first-child {
          border-top: 1px solid $grey;
        }
      }
    }
  }
}

.contact-us-after-submition {
  .align-center {
    text-align: center;
  }

  .main-title {
    margin-top: 70px;
    font-family: $secondary-font-family-bold;
    line-height: rem-calc(30px);
    font-size: rem-calc(26px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    @media (min-width: $desktop-min-width) {
      font-size: rem-calc(38px);
      line-height: rem-calc(50px);
      margin-bottom: 40px;
    }
    @media (max-width: 640px) {
      width: 62%;
    }
  }

  .main-paragraph {
    font-size: rem-calc(17px);
    line-height: rem-calc(22px);
    font-family: $base-font-family;
    margin-left: auto;
    margin-right: auto;
    width: 84%;
    @media (max-width: 640px) {
      height: 115px;
    }
    @media (min-width: $desktop-min-width) {
      font-size: rem-calc(22px);
      line-height: rem-calc(33px);
    }
  }

  .button-margin {
    @media (max-width: 640px) {
      margin-top: 40px;
    }
    margin-top: 60px;
    margin-bottom: 70px;
  }

  .main-button {
    @media (min-width: $desktop-min-width) {
      width: 215px;
      font-size: 20px;
      line-height: 27px;
      font-weight: bold;
    }
  }

  .button-max {
    min-width: max-content;
    width: 230px;
    font-family: $secondary-font-family-bold;
    font-weight: normal;
    font-size: rem-calc(20px);
    line-height: rem-calc(27px);
  }
}
