@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";


.contact-us-page {
  .contact-us-banner {
    max-width: 2000px;
    height: 252px;
    background: linear-gradient(180deg, #D6E1FF 0%, #E3EFFF 100%);
    border-radius: 0px 0px 8px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    text-align: center;

    @media (max-width: $phablet-min-width-minus) {
      height: 204px;
      padding-top: 32px;
    }

    .header {
      color: $header-color;
      margin-bottom: 12px;

      @media (max-width: $phablet-min-width-minus) {
        margin-bottom: 4px;
      }
    }

    .sub-header {
      font-family: $secondary-font-family;
      margin: 0;
    }
  }

  .grey-boxes-section {
    bottom: 90px;

    @media (min-width: $desktop-min-width) {
      position: relative;
    }

    @media (max-width: $desktop-min-width-minus) {
      margin-top: -60px;
    }

    @media (max-width: $phablet-min-width-minus) {
      margin-top: -30px;
    }

    &.page-section {
      @media (max-width: $desktop-min-width-minus) {
        padding: 0;
      }
    }

    .flex {
      display: flex;
      justify-content: center;
      gap: 40px;

      @media (max-width: $desktop-min-width-minus) {
        flex-direction: column;
        align-items: center;
        gap: 0;
      }

      .box {
        background: #FBFBFB;
        box-shadow: 0 4px 12px #5e5e5e08, 0 8px 30px #5e5e5e14, 0 5px 16px #003c7505;
        border-radius: 10px;
        padding: 16px 24px;
        width: 100%;

        @media (max-width: $desktop-min-width-minus) {
          max-width: 592px;
        }
      }

      .page-section {
        max-width: 748px;
        width: 100%;

        @media (min-width: $desktop-min-width) {
          padding: 0;
        }

        @media (max-width: 1439.9px) {
          max-width: 590px;
        }

        @media (max-width: $desktop-min-width-minus) {
          margin-bottom: 65px;
        }

        @media (max-width: $phablet-min-width-minus) {
          margin-bottom: 32px;
        }

        .contact-form-part {
          padding: 32px 24px 40px;

          @media (max-width: $phablet-min-width-minus) {
            padding: 24px 16px 32px;
          }

          .form-title {
            margin-bottom: 32px;
            font-family: $secondary-font-family;

            @media (max-width: $desktop-min-width-minus) {
              text-align: center;
            }
          }

          .contactUsForm {
            .category {
              margin-bottom: 40px;

              select {
                width: 184px;
                height: 40px;
                font-size: rem-calc(16px);
                line-height: 24px;
                font-family: $base-font-family;
                -webkit-appearance: none;
                text-indent: 1px;
                text-overflow: "";
                background-image: url(/assets/icon/down-blue-arrow.svg);
                background-repeat: no-repeat;
                background-position: right center;
                padding: 8px;
                color: $third-color;
                border: 1px solid #5E5E5E;
                border-radius: 4px;

                &.opened {
                  background-image: url(/assets/icon/up-blue-arrow.svg);
                }
              }
            }

            .form-fields {
              display: flex;
              flex-direction: column;
              gap: 16px;

              .last {
                position: relative;
                margin-bottom: 0;
              }

              textarea {
                background-color: #FBFBFB;
                border: 1px solid #dadada;
                border-radius: 4px;
                font-size: rem-calc(16px);
                line-height: 24px;

                &::placeholder {
                  color: #868686;
                }
              }

              .required {
                position: absolute;
                left: 115px;
                top: 8px;
                font-size: rem-calc(16px);
                line-height: 24px;
                color: #D61D33;

                &.none {
                  display: none;
                }
              }

              .description-input {
                height: 115px;
              }

              .flex-input {
                display: flex;
                gap: 16px;

                @media (max-width: $phablet-min-width-minus) {
                  flex-direction: column;
                }

                .form-field {
                  width: 100%;

                  i {
                    color: #D10000;
                  }

                  .validation-message {
                    margin-bottom: 0;
                  }

                  .tooltip-note {
                    margin-left: 8px;

                    .tooltip {
                      cursor: pointer;

                      .info {
                        width: 24px;
                        height: 24px;
                      }

                      .tooltiptext {
                        width: 330px;
                        top: 44px;
                        left: -70px;
                        height: fit-content;
                        padding: 8px 12px;
                        background: #5E5E5E;
                        box-shadow: 0 4px 12px #5e5e5e08, 0 8px 30px #5e5e5e14, 0 5px 16px #003c7505;
                        border-radius: 8px;
                        color: white;

                        @media(max-width: $phablet-min-width-minus) {
                          width: 200px;
                          text-align: center;
                          top: 45px;
                          left: -8px;
                        }

                        img {
                          width: 17px;
                          height: 9.32px;
                          position: absolute;
                          top: -8px;
                          left: 153.5px;

                          @media(max-width: $phablet-min-width-minus) {
                            left: 91.5px;
                          }
                        }
                      }
                    }
                  }
                }
              }

              .recaptcha-part {
                .float-left {
                  float: left;

                  @media (max-width: $phablet-min-width-minus) {
                    transform: scale(0.85);
                    transform-origin: 0 0;
                  }
                }
              }
            }

            .actions {
              margin-top: 40px;
            }
          }
        }
      }

      .contact-options-part {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 466px;
        width: 100%;

        @media (max-width: 1439.9px) {
          max-width: 262px;
        }

        @media (max-width: $desktop-min-width-minus) {
          max-width: 100%;
          align-items: center;
          background: #F8FCFE;
          padding: 64px 24px;
        }

        @media (max-width: $phablet-min-width-minus) {
          padding: 48px 16px;
        }

        .box {
          min-height: 214px;

          .box-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 98px;

            @media (max-width: $phablet-min-width-minus) {
              height: 75px;
            }

            img {
              width: 57px;
              height: 57px;

              @media (max-width: $phablet-min-width-minus) {
                width: 43px;
                height: 43px;

              }
            }
          }

          .box-content {
            text-align: center;

            .title {
              margin-bottom: 12px;
              font-family: $base-font-family-bold;

              @media (max-width: $phablet-min-width-minus) {
                margin-bottom: 8px;
              }

              &.top {
                margin-top: 6px;

                @media (max-width: $phablet-min-width-minus) {
                  margin-top: 11px;
                }
              }
            }

            .link {
              font-size: 18px;
              line-height: 18px;
              color: $link-color;
              font-family: $secondary-font-family-bold;
            }

            .smallest {
              margin-top: 12px;
              color: $medium-grey;

              @media (max-width: $phablet-min-width-minus) {
                margin-top: 8px;
              }
            }
          }
        }
      }
    }
  }

  .more-questions-section {
    background: #E6F2FF;
    padding-top: 48px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-bottom: 12px;
      color: $section-header-color;

      @media (max-width: $phablet-min-width-minus) {
        margin-bottom: 8px;
      }
    }

    .sub-title {
      margin: 0;
    }

    .links-part {
      margin-top: 40px;
      display: flex;
      gap: 32px;

      @media (max-width: $tablet-min-width-minus) {
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }

      @media (max-width: $phablet-min-width-minus) {
        margin-top: 28px;
        gap: 38px;
      }

      a {
        font-size: 18px;
        line-height: 18px;
        font-family: $secondary-font-family;
        text-decoration-line: underline;

        @media (max-width: $phablet-min-width-minus) {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }

    .social-media-part {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-top: 64px;

      @media (max-width: $desktop-min-width-minus) {
        margin-top: 52px;
      }

      @media (max-width: $phablet-min-width-minus) {
        margin-top: 48px;
      }

      .follow-us {
        font-family: $base-font-family-bold;
      }

      .social-media-icons {
        display: flex;
        gap: 12px;
      }
    }
  }
}

.contact-us-submition-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 40px;

  @media (max-width: $desktop-min-width-minus) {
    margin-top: 32px;
  }

  @media (max-width: $phablet-min-width-minus) {
    margin-top: 24px;
  }

  .header {
    color: $header-color;
    margin-bottom: 20px;

    @media (max-width: $phablet-min-width-minus) {
      margin-bottom: 16px;
    }
  }

  .description {
    max-width: 830px;
    width: 100%;
    margin: 0 auto;

    br {
      @media (max-width: 739.9px) {
        display: none;
      }
    }
  }

  .actions {
    margin: 32px 0 52px;

    @media (max-width: $phablet-min-width-minus) {
      margin: 24px 0 36px;
    }
  }

  .feedback-image {
    img {
      width: 373px;
      height: 175px;

      @media (max-width: $phablet-min-width-minus) {
        width: 300px;
        height: 141px;
      }
    }
  }
}