<section class="confirmation-screen">
    <div class="back-section">
        <a class="back-link" [routerLink]="[ACCOUNT_ROUTE_URLS.BASE + '/' + ACCOUNT_ROUTE_URLS.ORDERS]"> Back to orders
            &nbsp;<img src="/assets/icon/back-arrow.svg"></a>
        <p>Confirmation</p>
    </div>
    <div>
        <h2 class="desc">Thank you for contacting us.<br> Your issue has been submitted and your reference ticket number
            is: <span class="ticket-number">{{ticketNumber}}</span></h2>
    </div>
</section>