@import "../../../styles/modules/variables";
@import "../../../styles/modules/mixins";

.compatible-device {
    padding-top: 40px;
    padding-bottom: 40px;

    @media(max-width:$desktop-min-width-minus) {
        padding-top: 24px;
    }

    .header {
        font-size: rem-calc(40px);
        line-height: 48px;
        margin-bottom: 32px;
    }

    .esim-networks-part {
        margin-bottom: 40px;

        @media (max-width: $phablet-min-width-minus) {
            padding: 0;
            margin-bottom: 24px;
        }

        .info-banner {
            max-width: 1360px;
            width: 100%;

            .flex {
                .banner-content {
                    max-width: 850px;
                }
            }
        }

        .physical-flow {
            margin-top: 32px;

            @media (max-width: $phablet-min-width-minus) {
                margin-top: 24px;
            }

            .desc {
                font-size: rem-calc(20px);
                line-height: 28px;
                margin-bottom: 12px;
                font-family: $secondary-font-family-bold;

                @media (max-width: $phablet-min-width-minus) {
                    font-size: rem-calc(18px);
                    line-height: 24px;
                }
            }

            .action-link {
                font-size: rem-calc(20px);
                line-height: 20px;
                font-family: $secondary-font-family-bold;
                cursor: pointer;
                color: $primary-color;

                @media (max-width: $phablet-min-width-minus) {
                    font-size: rem-calc(16px);
                    line-height: 16px;
                }
            }
        }
    }

    @media (max-width: $phablet-min-width-minus) {
        .header {
            font-size: rem-calc(24px);
            line-height: 32px;
        }
    }
}