<div class="plans-container">
    <div *ngIf="!filteredPlans || filteredPlans.length == 0">
        <h2 class="subhead">
            Loading Plans...
        </h2>
    </div>
    <div class="plans-section">
        <div class="plan-row" *ngFor="let plan of filteredPlans; let i = index;" [class.active]="selectedIndex == i"
        [class.special]="!!plan.specialPromotion" [id]="i" #planElement>
            <div class="plan-title col-12" (click)="toggleSelectedPlan(i)" [class.special-promo]="!!plan.specialPromotion">
                <p class="special-promo-title" *ngIf="!!plan.specialPromotion && !!plan.specialPromotion?.promotionTitle" #promoPlans id="promoPlans">
                    {{plan.specialPromotion?.promotionTitle}}
                  </p>
                  <div class="flex-content">   
                <div class="data">
                    <p class="description no-data" *ngIf="plan?.details?.data == 0">Unlimited talk & text</p>
                    <div class="data-amounts" *ngIf="plan?.details?.data > 0" [class.data-amounts-flex]="plan?.details?.data > 0 && !!plan.specialPromotion?.promotionData && plan.specialPromotion?.promotionData > 0">
                        <p class="data-value" *ngIf="plan?.details?.data > 0" [class.slash]="!!plan.specialPromotion?.promotionData && plan.specialPromotion?.promotionData > 0"> <span class="cross-off-line" *ngIf="!!plan.specialPromotion?.promotionData && plan.specialPromotion?.promotionData > 0"></span><span class="val">{{plan?.details?.data/1024}}</span><span class="gb">GB</span></p>
                        <p class="data-value" *ngIf="plan?.details?.data > 0 && !!plan.specialPromotion?.promotionData && plan.specialPromotion?.promotionData > 0">{{(plan?.details?.data + plan.specialPromotion?.promotionData )/1024}}<span class="gb">GB</span></p>
                  </div>
                </div>
                <div class="price">
                    <p class="price-value">
                      {{calculatePlanPrice(plan)}}<span class="month">/mo</span>
                    </p>
                    <p class="view-details">View plan details <i
                        class="arrow down" *ngIf="selectedIndex != i || !activePlan"></i> <i class="arrow up"
                        *ngIf="selectedIndex == i && activePlan"></i></p>
                  </div>
                <div class="action">
                    <div class="button-link-flex">
                        <button class="button primary" (click)="addToCart(i);" id="select-{{plan?.id}}">Add to
                            cart</button>
                    </div>
                    <p class="responsive"><i class="arrow down" *ngIf="selectedIndex != i || !activePlan"></i> <i
                            class="arrow up" *ngIf="selectedIndex == i && activePlan"></i></p>
                </div>
                </div>
            </div>
            <div class="plan-details col-12" *ngIf="selectedIndex == i && activePlan" [class.special-promo]="!!plan?.isSpecialPromotion">
                <p class="price-details"><span class="value">${{plan?.price - plan?.promoPrice}}</span>/mo </p>
                <p class="price-note">Regular price {{plan?.price | currency}}/mo</p>
                <div class="details-section">
                    <p class="promo-title" *ngIf="!!plan.specialPromotion">{{plan?.specialPromotion?.promotionTitle}}</p>
                    <ul class="details-list">
                        <li *ngIf="!!plan?.details?.data  && plan?.details?.data  != 0">
                            <p class="tick">✓</p>
                            <p>{{(!!plan.specialPromotion?.promotionData && plan.specialPromotion?.promotionData > 0) ? (plan?.details?.data + plan.specialPromotion?.promotionData )/1024 : (plan?.details?.data/1024) }} GB high-speed data per month; speeds reduce after allowance is used</p>
                        </li>
                        <li>
                            <p class="tick">✓</p>
                            <p>Unlimited talk and text <span *ngIf="!!plan?.details?.data  != 0">+ data access </span>on
                                America’s nationwide networks </p>
                        </li>
                        <li *ngIf="!plan?.isSpecialPromotion">
                            <p class="tick">✓</p>
                            <p>Works with our network compatible unlocked iPhone and Android phones</p>
                        </li>
                        <li *ngIf="!!plan?.isSpecialPromotion">
                            <p class="tick">✓</p>
                            <p>{{calculatePlanPrice(plan)}} + applicable tax for service let you try us out at our lowest prices ever.</p>
                          </li>
                          <li *ngIf="!!plan?.isSpecialPromotion">
                            <p class="tick">✓</p>
                            <p>After that your subscription will auto renew monthly at regular {{plan?.details?.data/1024}}GB for {{calculatePlanPrice(plan)}} + applicable tax. Watch your email for ways to keep this exceptional pricing.</p>
                          </li>
                        <li *ngIf="!currentPlan?.activationCode">
                            <p class="tick">✓</p>
                            <p>FREE SIM Card & FREE Shipping</p>
                        </li>
                    </ul>
                </div>
                <div class="details-action button-section">
                    <div class="button-link-flex">
                        <button class="button primary" (click)="addToCart(i)"
                            *ngIf="!currentPlan?.planDevice && !currentPlan?.planExpectedDevice"
                            id="add-to-cart-{{plan?.id}}">Add to cart</button>
                        <button class="button primary" (click)="goToCheckout(i)" id="checkout-{{plan?.id}}"
                            *ngIf="!!currentPlan?.planDevice || !!currentPlan?.planExpectedDevice">Go to checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>