<section class="container-flex ios-gsm-container device-setup">

  <h1 class="title">4G PHONE LTE INSTRUCTIONS:</h1>
  <div class="content flexing">
    <img class="icon-image" src="assets/img/purple_gear_icon.svg" />
    <a href="assets/reseller.mobileconfig" class="link"><b>iPhone 4G-
        RESELLER APN FILE</b></a>
  </div>
  <p class="content short">The phone will detect the file and download the file. It may prompt you to ‘install’ the
    file,
    *depending on the model of your phone.</p>
  <p class="content">*Model X, Xs, Xr users may need to follow additional steps shown in this link.</p>
  <div class="submission-item">
    <div class="item-content">
      <div class="actions-container">
        <a (click)="showLTEsettingPopUp()">How to Download Link <span class="thicker"> &#10230;</span></a>
        <button class="button primary" (click)="done()" id="done-button">Done</button>
      </div>
      
    </div>
  </div>
</section>
