@import "../../../styles/modules/variables";

.acp-flow {
    margin-top: 40px;
    @media (max-width: $phablet-min-width-minus) {
        margin-top: 32px;
    }
    h4 {
        margin-bottom: 37px;
        @media (max-width: $phablet-min-width-minus) {
            margin-bottom: 32px;
        }
    }

    .acp-form-flow {
        &.acp-disabled {
            .form-control {
                opacity: .5;
                cursor: not-allowed;
            }

            span,
            input[type=radio] {
                cursor: not-allowed;
            }
        }

        .form-control {
            font-size: 18px;
            line-height: 28px;
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            gap: 5px;
            @media (max-width: $phablet-min-width-minus) {
                font-size: 16px;
                line-height: 24px;
            }
        }

        label {
            margin-bottom: 0;
        }

        input[type="radio"] {
            cursor: pointer;
            -webkit-appearance: none;
            appearance: none;
            margin: 0 5px 0 0;
            font: inherit;
            color: #888888;
            width: 24px;
            height: 24px;
            border: 2px solid #888888;
            border-radius: 50%;
            transform: translateY(-0.075em);
            display: grid;
            place-content: center;
        }

        input[type="radio"]:checked {
            -webkit-appearance: none;
            appearance: none;
            margin: 0 5px 0 0;
            font: inherit;
            color: $primary-color;
            width: 24px;
            height: 24px;
            border: 2px solid $primary-color;
            border-radius: 50%;
            transform: translateY(-0.075em);
            display: grid;
            place-content: center;
        }

        input[type="radio"]::before {
            content: "";
            width: 31px;
            height: 29px;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
        }

        input[type="radio"]:checked::before {
            transform: scale(0.4);
            background-color: $primary-color;
        }
    }

    .info-banner {
        margin-top: 45px;
        margin-bottom: 0px;
        width: 100%;
        @media (min-width: 1727px) {
            max-width: 865px;
        }

        @media (max-width: $phablet-min-width-minus) {
            margin-top: 37.6px;
        }

        .flex {
            .banner-content {
                .description {
                    margin-bottom: 8px;
                }
                .notes {
                    .sub-note {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        margin-bottom: 4px;
                        &.last {
                            margin-bottom: 0px;
                            @media (max-width: 404.9px) {
                                align-items: flex-start;
                            }
                        }
                        img {
                            width: 15px;
                            height: 26px;
                            @media (max-width: $phablet-min-width-minus) {
                                width: 11px;
                            }
                        }

                        .desc {
                            font-size: 14px;
                            line-height: 24px;
                            margin-bottom: 0;
                            font-family: $base-font-family-bold;
                        }
                    }
                }
            }
        }
    }

    .illustration-section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 22px;
        margin-top: 0;

        @media (min-width: 1727px) {
            margin-bottom: 93px;
            margin-top: 43.81px;
        }

        @media (max-width: 1726.9px) {
            margin-bottom: 172px;
            margin-top: 42px;
        }
        @media (max-width: 750px) {
            margin-top: 20px;
        }

        @media (max-width: $phablet-min-width-minus) {
            margin-bottom: 65px;
        }

        .picture {
            position: relative;
            @media (min-width: 1727px) {
                width: 100%;
            }

            img {
                width: 100%;
                height: 331.82px;
                object-fit: cover;

                @media (min-width: 1727px) {
                    position: absolute;
                    width: 100%;
                    max-width: 650px;
                    bottom: 0;
                    right: 0;
                    object-fit: contain;
                }

                @media (max-width: 749.9px) {
                    object-fit: contain;
                    height: 355px;
                }
                @media (max-width: $phablet-min-width-minus) {
                    object-fit: cover;
                    height: 235px;
                }
            }
        }
    }
}

.navigation-section {
    border-top: 1px solid #e3e3ea;
    padding: 16px 0px;
    background-color: #ffffff;
    position: sticky;
    z-index: 2;
    bottom: 0;
    width: 100%;
    .navs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .button {
            height: 40px;
        }
        .no-border {
            color: $primary-color;
            font-size: 20px;
            line-height: 20px;
            font-family: $secondary-font-family-bold;
            font-weight: 700;
            margin-bottom: 0;
            cursor: pointer;
            @media (max-width: $phablet-min-width-minus) {
                font-size: 16px;
                line-height: 16px;
            }
        }
    }
}