<section class="acp-flow page-section" *ngIf="!showAcpComponents && !acpSuccess && !acpError">
  <h2 class="header-color">Before we begin...</h2>
  <h4 class="secondary-font" data-cy="id-decision">Do you have an
    ACP application ID?</h4>
  <form [formGroup]="acpFlowForm" class="acp-form-flow" [class.acp-disabled]="!!enrolled">
    <div class="radioBtn" *ngFor="let item of acpOptions">
      <label class="form-control primary-font-bold" [for]="item?.id">
        <input type="radio" [value]="item?.id" formControlName="option" [id]="item?.id" [data-cy]="item?.id"
          (change)="onOptionChange()">{{item?.value}}
      </label>
    </div>
    <label class="validation-message" *ngIf="!!showAcpValidationMsg">Please select one of the options above to
      continue</label>
  </form>
  <div class="illustration-flex">
    <div class="info-banner default-background">
      <div class="flex">
        <img src="/assets/icon/info-icon.svg" alt="Info Icon">
        <div class="banner-content">
          <p class="title">Note:</p>
          <p class="description">You have an application ID if you were previously verified for the ACP via:</p>
          <div class="notes">
            <div class="sub-note">
              <img src="/assets/icon/note-check.svg" alt="Note Check Icon">
              <p class="desc">Lifeline</p>
            </div>
            <div class="sub-note">
              <img src="/assets/icon/note-check.svg" alt="Note Check Icon">
              <p class="desc">The National Verifier</p>
            </div>
            <div class="sub-note">
              <img src="/assets/icon/note-check.svg" alt="Note Check Icon">
              <p class="desc">A School</p>
            </div>
            <div class="sub-note last">
              <img src="/assets/icon/note-check.svg" alt="Note Check Icon">
              <p class="desc">Or any other alternative verification process</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="illustration-section">
      <picture class="picture">
        <source srcset='/assets/img/acp-image-mobile.svg' media="(max-width: 639.9px)">
        <source srcset='/assets/img/acp-image-tablet.svg' media="(max-width: 1024.9px)">
        <source srcset='/assets/img/acp-image-desktop.svg' media="(min-width: 1025px)">
        <img src="assets/img/acp-image-desktop.svg" alt="ACP Illustration">
      </picture>
    </div>
  </div>
</section>
<section *ngIf="!!showAcpComponents && !acpSuccess && !acpError">
  <app-acp-validation *ngIf="!!newApplication" [acpData]="acpData" [customerId]="customerId" (back)="back($event)"
    [applicationId]="applicationId" [userProfileId]="userId" [enrolled]="enrolled" [userPlans]="userPlans"
    [ebbId]="ebbId"></app-acp-validation>
  <app-not-existing-app-validation *ngIf="!!yesWithNonExistingApp" [acpData]="acpData" [customerId]="customerId"
    [applicationId]="applicationId" [userProfileId]="userId" [enrolled]="enrolled" (back)="back($event)">
  </app-not-existing-app-validation>
  <app-app-id-validation *ngIf="!!yesExistingAppId" [acpData]="acpData" [customerId]="customerId"
    [applicationId]="applicationId" [userProfileId]="userId" [enrolled]="enrolled" (back)="back($event)">
  </app-app-id-validation>
</section>
<app-acp-success *ngIf="!!acpSuccess" [acpData]="acpData" [acpStatus]="acpStatus" [link]="acpLink"></app-acp-success>
<app-acp-error *ngIf="!!acpError" [acpStatus]="acpStatus"></app-acp-error>
<section class="navigation-section" *ngIf="!showAcpComponents && !acpSuccess && !acpError">
  <div class="page-section navs">
    <p class="no-border" data-cy="cancelBtn" (click)="cancel()">Cancel</p>
    <button class="button primary" data-cy="nextButton" aria-label="Next" (click)="goNext()"
      *ngIf="!enrolled">Next</button>
  </div>
</section>