@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";
@import "../../../styles/partials/_grid.scss";

.first-row {
  display: flex;

  @media (max-width: $ipad-min-width-minus) {
    flex-direction: column;
  }

  .editable-action {
    .second-label {
      margin-top: 16px;
    }
  }
}
.second-row {
  @media (max-width: $desktop-min-width-minus) {
    display: flex;
    flex: 1 0 34%;
    flex-wrap: wrap;
    .account-card {
      &.billing {
        margin-right: 6%;
      }
      &.ebb {
        width: 100%;
        order: 3;
        margin-right: 0px;
      }
    }
  }
  @media (max-width: $ipad-min-width-minus) {
    flex-direction: column;
  }
}
.forth-row {
  @media (max-width: $desktop-min-width-minus) {
    .account-card {
      &.full {
        width: 100%;
      }
    }
  }
}
.new-address-form {
  ::ng-deep {
    .form-section {
        .eight{
            padding-left: 0;
            padding-right: 0;
            width: 50%;
        }
        .four {
            padding-right: 0;
            width: 50%;
        }
        @media(max-width: $desktop-min-width-minus) {
            .eight {
                padding-right: 10px;
            }
            .four {
                padding-left: 10px;
            }
        }
        @media(max-width: $phablet-min-width-minus) {
            .eight {
                width: 100%;
                padding-right: 0px;
            }
            .four {
                width: 100%;
                padding-left: 0;
                padding-right: 0px;
            }
        }
    }
    .address-lookup-details {
        .four {
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
        @media(max-width: $desktop-min-width-minus) {
            .four {
                &:first-child {
                    padding-right: 0px;
                }
                &:nth-child(2) {
                    padding-left: 10px;
                }
                &:last-child {
                    padding-right: 0px;
                }
            }
        }
        @media(max-width: $phablet-min-width-minus) {
            .four {
                width: 100%;
                &:nth-child(2) {
                    padding-left: 0px;
                }
            }
        }
    }
}
}
.ebb-header-section {
  display: flex;
  .enrolled-container {
    background-color: #f2fafc;
    width: 118.8px;
    height: 43.2px;
    border-radius: 50px;
    margin-left: 19px;
    .enrolled {
      font-size: rem-calc(20px);
      font-weight: bold;
      text-align: left;
      color: #7dd0de;
      padding: 13px 22px;
      font-family: $secondary-font-family;
      @media (max-width: $desktop-min-width-minus) {
        font-size: rem-calc(18px);
      }
    }
    @media (max-width: $desktop-min-width-minus) {
      margin-top: -9px;
    }
  }
}
.account-card {
  .card-action {
    .action {
      @media (min-width: 1230px) {
        &.right {
          float: right;
        }
        &.space {
          margin-right: 45px;
        }
      }
      @media (max-width: 1229.9px) {
        display: block;
        margin-bottom: 10px;
      }

      &.edit-email-style {
        display: block;
        margin-top: 10px;
      }

      .de-enroll-icon {
        background-color: $primary-color;
        padding: 6px 4px;
        border-radius: 50%;
        color: white;
        width: 25px;
        height: 25px;
        @media (max-width: $desktop-min-width-minus) {
            width: unset;
            padding: 6px 0;
        }
      }
      .action-plus {
        padding: 0px 3px;
        margin-right: 5px;
        .plus-img {
          width: 20px;
          height: 15px;
          padding-bottom: 4px;
          @media (max-width: $desktop-min-width-minus) {
            width: 10px;
            height: 15px;
            padding-bottom: 0px;
          }
        }
      }
      .action-minus {
        padding: 0px 6px;
        margin-right: 5px;
        .minus-img {
          width: 15px;
          height: 15px;
          padding-bottom: 4px;
          @media (max-width: $desktop-min-width-minus) {
            width: 12px;
            height: 15px;
            padding-bottom: 0px;
          }
        }
      }
      .close-action {
        padding: 0px 2px;
        img {
          width: 20px;
          height: 35px;
          padding-bottom: 3px;
        }
      }
    }
  }
  &.CC {
    .card-subtitle {
      font-family: $base-font-family;
    }
    .card-content {
      margin-bottom: 30px;
      .flex-display {
        display: flex;
        .select {
          width: 47%;
          @media (min-width: 460px) and (max-width: 833.9px) {
            width: 168px;
          }
          @media (max-width: 344.9px) {
            margin-left: 0;
          }
          select {
            width: 100%;
          }
        }
      }
      .sperator {
        color: #898383;
        padding-left: 3px;
        padding-top: 0px;
        font-size: rem-calc(28px);
        width: 6px;
        @media (max-width: $desktop-min-width-minus) {
          font-size: rem-calc(36px);
          width: 24px;
        }
        @media (max-width: 374.9px) {
          padding-right: 16px;
        }
      }
      .no-wrap {
        white-space: nowrap;
      }
    }
    .info-details {
      display: flex;
      .info {
        display: inline-flex;
        flex-wrap: wrap;
        flex-basis: 95%;
        .brand {
          padding-right: 3px;
        }
        .responsive {
          @media (#{$larger-than-desktop}) {
            display: none;
          }
        }
        @media (max-width: 1150px) {
          flex-basis: 82%;
        }
      }
      .card-action {
        display: flex;
        width: 355px;
        margin-top: 0;
        margin-bottom: 0;
      }
      @media (max-width: $desktop-min-width-minus) {
        display: flex;
        flex-direction: column;
        margin: 10px 0 25px;
        .info {
          display: block;
          b {
            display: block;
            margin-bottom: 5px;
          }
          .responsive {
            display: inline;
            float: right;
            .close-action {
              padding: 5px 3px;
              background-color: $primary-color;
              border-radius: 50%;
              img {
                width: 19px;
                padding-bottom: 1px;
              }
            }
          }
        }
        .desktop {
          display: none;
        }
        .card-action {
          width: 100%;
          display: block;
          .action {
            margin-top: 10px;
          }
        }
      }
      @media (max-width: 345px) {
        .info {
          max-width: 207px;
        }
      }
    }
    .card-action {
      @media (max-width: $desktop-min-width-minus) {
        display: flex;
        flex-direction: column-reverse;
        .action {
          &.toggle {
            margin-top: 17px;
          }
        }
      }
    }
  }
  &.shipping {
    .info-details {
      display: flex;
      margin-bottom: 20px;
      .title {
        flex-basis: 30%;
        @media (max-width: 1150px) {
          flex-basis: 26%;
        }
      }
      .address-info {
        flex-basis: 39%;
        .info {
          margin-bottom: 0;
        }
      }
      .card-action {
        display: flex;
      }
      @media (max-width: $desktop-min-width-minus) {
        .title {
          flex-basis: 30%;
        }
        .address-info {
          flex-basis: 43%;
        }

        .card-action {
          flex-basis: 27%;
          justify-content: flex-end;
          .action {
            &.edit {
              margin-left: 10px;
              width: 138px;
            }
          }
        }
      }
      @media (max-width: $phablet-min-width-minus) {
        flex-direction: column;
        .title {
          .mobile {
            float: right;
            background-color: $primary-color;
            border-radius: 50%;
            margin-top: 10px;
            padding: 2px;
            width: 26px;
            height: 26px;
            .close-action {
              padding: 0px 1.5px;
              img {
                width: 19px;
                padding-bottom: 20px;
              }
            }
          }
        }
        .card-action {
          .action {
            &.desktop {
              display: none;
            }
            &.edit {
              width: 100%;
              margin-left: 0;
              margin-top: 10px;
            }
          }
        }
      }
    }
    .card-action {
      &.full {
        @media (max-width: $desktop-min-width-minus) {
          display: flex;
          .action {
            flex-basis: 100%;
            &.toggled {
              flex-basis: 50%;
            }
            &.space {
              flex-basis: 50%;
              margin-left: 15px;
            }
          }
        }
        @media (max-width: $phablet-min-width-minus) {
          flex-direction: column-reverse;
          .action {
            &.right {
              margin-left: 0;
            }
            &.toggled {
              background-color: transparent;
              .action-title {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .ebb-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 55px;
    .title {
      font-weight: bold;
      font-size: rem-calc(22px);
      line-height: 45px;
      font-family: $base-font-family-bold;
      margin-bottom: 14px;
      @media (max-width: $desktop-min-width-minus) {
        font-size: rem-calc(14px);
        line-height: 22px;
        margin-bottom: 6px;
      }
    }
    .value {
      font-weight: normal;
      font-size: rem-calc(17px);
      font-family: $base-font-family;
      @media (max-width: $desktop-min-width-minus) {
        font-size: rem-calc(13px);
      }
    }
  }
}
.icon-plus {
  padding: 2px !important;
  margin-right: 5px;
}
.icon-minus {
  color: white;
  padding: 2px !important;
  margin-right: 5px;
}
.hidden {
  display: none !important;
}
.preferredPayments {
  margin: 20px 0;
  display: flex;
  &.hidden {
    display: none;
  }
  .info-details {
    flex-wrap: wrap;
    display: inline-flex;
    flex-basis: 100%;
    .mobile-section {
      &.verticalCenter {
        display: flex;
        align-items: center;
      }
      flex-basis: 40%;
      .info {
        font-size: rem-calc(17px);
        line-height: 30px;
        b {
          display: block;
          font-size: 22px;
          margin-bottom: 5px;
          @media (max-width: 1200px) {
            max-width: 100px;
          }
        }
      }
    }
    .paymentMethod-section {
      .info {
        font-size: rem-calc(17px);
        line-height: 23px;
        margin-bottom: 7px;
        b {
          display: block;
          font-size: 22px;
          margin-bottom: 5px;
        }
        &.disabled {
          color: $disabled-grey;
        }
        @media (max-width: 1100px) {
          max-width: 185px;
        }
      }
      @media (max-width: 1250px) {
        max-width: 250px;
      }
    }
  }
  .action {
    display: flex;
    justify-content: flex-start;
    width: 272px;
    .changeAction {
      font-size: rem-calc(20px);
      font-weight: bold;
      line-height: 30px;
    }
    .action-icon {
      background-color: $primary-color;
      padding: 6px 4px;
      border-radius: 50%;
      color: white;
    }
    .icon {
      margin-right: 5px;
    }
    .action-plus {
      padding: 0px 3px;
      margin-right: 5px;
      .plus-img {
        width: 20px;
        height: 15px;
        padding-bottom: 4px;
        @media (max-width: $desktop-min-width-minus) {
          width: 10px;
          height: 15px;
          padding-bottom: 0px;
        }
      }
    }
    .action-minus {
      padding: 0px 6px;
      margin-right: 5px;
      .minus-img {
        width: 15px;
        height: 15px;
        padding-bottom: 4px;
        @media (max-width: $desktop-min-width-minus) {
          width: 12px;
          height: 15px;
          padding-bottom: 0px;
        }
      }
    }
    .close-action {
      padding: 0px 2px;
      img {
        width: 20px;
        height: 35px;
        padding-bottom: 3px;
      }
    }
    &.disabled {
      color: $disabled-grey;
      cursor: not-allowed;
      .disabled {
        padding: 7px;
        background-color: $disabled-grey;
        border-radius: 50%;
      }
    }
    .responsive {
      display: none;
    }
  }
  @media (max-width: $desktop-min-width-minus) {
    padding-bottom: 20px;
    margin: 7px 0;
    display: flex;
    flex-direction: column;
    .info-details {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      .mobile-section {
        .info {
          font-size: rem-calc(12px);
          line-height: 14px;
          b {
            font-size: rem-calc(14px);
            line-height: 16px;
            max-width: 100%;
          }
        }
      }
      .paymentMethod-section {
        .info {
          font-size: rem-calc(12px);
          line-height: 14px;
          max-width: 100%;
          b {
            font-size: rem-calc(14px);
            line-height: 16px;
          }
        }
      }
    }
    .action {
      flex-basis: 100%;
      background-color: $primary-color;
      color: white;
      justify-content: center;
      padding: 4px;
      margin-top: 15px;
      width: 100%;
      .changeAction {
        font-size: rem-calc(12px);
        line-height: 24px;
        margin-bottom: 0;
      }
    }
  }
  @media (max-width: $phablet-min-width-minus) {
    display: block;
    margin-top: 20px;
    .info-details {
      .mobile-section {
        .info {
          font-size: rem-calc(15px);
          line-height: 22px;
        }
      }
      .paymentMethod-section {
        .info {
          font-size: rem-calc(15px);
          line-height: 22px;
        }
      }
    }
    .action {
      justify-content: flex-start;
      background-color: $primary-color;
      color: white;
      padding: 3px;
      display: block;
      text-align: center;
      height: 34px;
      margin: 15px auto 0;
      &.disabled {
        background-color: $disabled-grey;
        color: white;
        .disabled {
          color: white;
        }
      }
      .changeAction {
        .desktop {
          display: none;
        }
        .responsive {
          display: inline;
        }
      }
    }
  }
}
.toggle-icon {
  background-color: $primary-color;
  padding: 1px 10px;
  border-radius: 50%;
  margin-right: 5px;
  .arrow.down {
    border-width: 0 2px 2px 0;
    border-color: white;
    margin-bottom: 5px;
  }
  .arrow.up {
    border-width: 0 2px 2px 0;
    border-color: white;
  }
}
.toggle-section {
  width: 337px;
  .toggle-action {
    color: $primary-color;
    cursor: pointer;
    font-size: rem-calc(20px);
    font-weight: bold;
    line-height: 30px;
  }
}

.account-settings-section {
  @media (min-width: $desktop-min-width) {
    margin-left: 10%;
  }
  @media (min-width: $desktop-min-width) and (max-width: 1200px) {
    margin-left: 5%;
  }
  @media (min-width: $phablet-min-width) and (max-width: $desktop-min-width) {
    margin-bottom: 29px;
  }
  @media (max-width: $phablet-min-width) {
    margin-bottom: 43px;
  }
}
.font-size-12 {
  @media (max-width: 1024.9px) and (min-width: 640px) {
    font-size: rem-calc(12px);
  }
}
