<div class="hearing-aid-page">
    <section class="banner-section">
      <picture class="banner-image-container">
        <source srcset='assets/img/banners/hearing-aid-mobile.webp' media="(max-width: 639.9px)"
        type="image/webp">
      <source srcset='assets/img/banners/hearing-aid-mobile.png' media="(max-width: 639.9px)"
        type="image/png">
        <source srcset='assets/img/banners/hearing-aid-tablet.webp' media="(max-width: 1024.9px)"
        type="image/webp">
      <source srcset='assets/img/banners/hearing-aid-tablet.png' media="(max-width: 1024.9px)"
        type="image/png">
        <source srcset='assets/img/banners/hearing-aid-desktop.webp' media="(max-width: 1439.9px)"
          type="image/webp">
        <source srcset='assets/img/banners/hearing-aid-desktop.png' media="(max-width: 1439.9px)"
          type="image/png">
        <source srcset='assets/img/banners/hearing-aid-2000.webp' media="(min-width: 1440px)" type="image/webp">
        <source srcset='assets/img/banners/hearing-aid-2000.png' media="(min-width: 1440px)" type="image/png">
        <img src="assets/img/banners/hearing-aid-2000.png" alt="Hearing Aid">
      </picture>
      <div class="page-section banner-text-content">
        <h1 class="header">Hearing Aid Compatibility</h1>
      </div>
    </section>
    <section class="device-section blue">
      <div class="page-section content-container">
        <p class="label label-color">HEARING AID COMPATIBILITY</p>
        <h2 class="header-color">Digital Devices & Hearing Aids</h2>
        <p class="smaller space">As wireless phones moved to digital with more features & improved efficiency, some digital phones may cause interference for hearing aid users. To make sure the deaf & hard of hearing can use digital wireless devices, the Federal Communications Commission (FCC) updated the Hearing Aid Compatibility Act of 1988 ("HAC Act"), passing regulations to increase the number of hearing aid-compatible wireless devices.</p>
        <p class="smaller">Learn more about hearing aid compatibility and wireless please go to <a href="http://www.accesswireless.org"
            target="_blank">Access Wireless</a></p>
      </div>
    </section>
    <section class="specifications-section">
        <div class="page-section">
          <div class="step-image">
            <picture class="banner-image-container">
              <source srcset='assets/img/hearing-aid-section.png' type="image/png" type="image/png">
              <source srcset='assets/img/hearing-aid-section.webp' type="image/webp"  type="image/webp">
              <img class="map" src="assets/img/hearing-aid-section.png"  alt="phone">
            </picture>
          </div>
          <div class="description">
            <p class="label">SPECIFICATIONS</p>
            <h2 class="header-color">Compatible Phones & Devices</h2>
            <p class="smaller">Pursuant to FCC guidelines, the handsets features & details listed on the Good 
                Mobile website have been tested & rated for Hearing Aid Compatibility (HAC). 
                These <b>HAC</b> ratings, or <b>M-Ratings</b> & <b>T-Ratings</b>, help hearing aid users find the
                 best phone for their needs.</p>
          </div>
        </div>
        <div class="page-section center">
            <div class="info-banner default-background">
                <div class="flex">
                    <img src="assets/icon/info-icon.svg" alt="Info Icon">
                    <div class="banner-content">
                        <p class="title">M-Ratings and Hearing Aid Immunity</p>
                        <p class="description">Phones with an M-Rating of M3 or M4 meet FCC requirements and are less likely to generate interference to hearing devices than phones that are not labeled. M4 is the better/higher of the two ratings.</p>
                        <p class="description ">Hearing devices may also be measured for immunity to this type of interference. Your hearing device manufacturer or hearing health professional can help you find results for your hearing device. The more immune your hearing aid is, the less likely you are to experience interference noise from mobile phones.</p>
                        <h5>T-Ratings and Compatibility with Hearing Aids with Telecoils</h5>
                        <p class="description last">A telecoil is a small device that is built into some hearing aids for use with the telephone as well as assistive listening devices. Not all hearing aids have telecoils. Phones with a T-Rating of T3 or T4 meet FCC requirements and are more likely to work well for people who use hearing aids with telecoils with telephones. T4 is the better/higher of the two ratings.</p>
                    </div>
                </div>
            </div>
        </div>
      </section>
    <section class="device-section dark-blue">
        <div class="page-section content-container">
            <p class="label label-color">HEARING AID COMPATIBILITY</p>
            <h2 class="header-color">Options for the Deaf & Hard of Hearing</h2>
            <img class="sms" src="assets/img/hearing-aid-texting.svg" alt="text messaging">
            <h5>Text Messaging</h5>
            <p class="smaller">Today's wireless devices are light, mobile, and packed with features to make writing easier. Some have full QWERTY keyboards & almost all have predictive text for faster typing. BLUETOOTH® enabled phones, Speaker Phones and wireless keyboards are also ideal for high volume text with our unlimited plan and pay as you go plans.</p>
          </div>
    </section>
  </div>