@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";

.hearing-aid-container {
    h2,
    h3 {
      margin-bottom: 30px;
      @media (max-width: 750px) {
        margin-top: 50px;
      }
    }
    p {
      font-size: rem-calc(17px);
    }
  }