<section class="international-calling-container">
    <div class="container-flex">
        <div class="container-flex-row flex-center text-center">
            <div class="content">
                <h1>Good Mobile International</h1>
                <img src="assets/img/banners/intrnational-image-res.jpg"
                    alt="Good Mobile offers the world at your fingertips. All plans include unlimited talk and text in the US + Canada and Mexico." />
                <p class="hide-on-phone">The world. At your fingertips.</p>
                <p class="hide-on-large">The world.<br> At your fingertips.</p>
            </div>
        </div>
    </div>
</section>
<section class="international-calling-details">
    <div class="container-flex">
        <div class="title">
            <h2 class="width-80">Prepaid that’s world made</h2>
            <p class="desc">Louis Armstrong sings it best: “What a wonderful world it is.”</p>
            <p class="desc">From Canada to Venezuela and plenty of places in between, we’ve got you covered. Unlike some prepaid cell
                phone plans, Good Mobile International plans offer unlimited talk & text to over 60 countries including
                Canada & Mexico for FREE. With the ability to add on Individual countries’ minutes for just $5 a month.
            </p>
            <p class="desc">Simply sign in to your account, add-on the Individual Countries you want (or discontinue) at any time.
                It’s one of the best cell phone deals around!</p>
        </div>
        <div>
            <h4>Stay in touch with family & friends around the world!</h4>
            <p class="hint">Here’s the List of countries that are included in each service:</p>
            <ul class="categories">
                <li [class.active]="!!showUnlimited" (click)="showUnlimited=true;showPayGo=false;">Unlimited
                    Calling</li>
                <li [class.active]="!!showPayGo" (click)="showPayGo=true;showUnlimited=false;">Individual
                    Country</li>
            </ul>
            <section *ngIf="!!showUnlimited">
                <p class="title">Unlimited Calling</p>
                <p class="subtitle">Get unlimited calling to over 60 countries from the US, including landline &
                    cellular to Mexico & Canada for <b>FREE</b> with your plan.</p>
                <ul class="sort-nav">
                    <li *ngFor="let letter of letters" value="{{letter}}" [class.active]="selected == letter"><a
                            (click)="filterCountries(letter);selected=letter">{{letter}}</a>
                    </li>
                </ul>
                <ul class="countriesList unlimited" *ngIf="filteredCountries.length > 0">
                    <li *ngFor="let country of filteredCountries" value={{country?.name}}>
                        <span class="countryName">{{country?.name}}</span>
                        <span class="rate" *ngIf="country?.isLandline">Landline</span><span class="rate"
                            *ngIf="country?.isLandline && country?.isCellular">+</span><span class="rate"
                            *ngIf="country?.isCellular">Cellular</span>
                    </li>
                </ul>
                <div *ngIf="filteredCountries.length === 0">
                    <p>No countries found.</p>
                </div>
            </section>
            <section *ngIf="!!showPayGo">
                <p class="title"><strong>Pay Go International Calling</strong></p>
                <p>
                    Need to call a country not on your Unlimited Calling Country
                    list? You can purchase $5 of additional International minutes to
                    call globally. Rates vary by destination.
                </p>
                <p>
                    Check below on a specific destinations Rates
                </p>
                <ul class="sort-nav">
                    <li *ngFor="let letter of letters" value="{{letter}}"
                        [class.active]="selectedPayGoLetter == letter"><a
                            (click)="filterCountries(letter,'payGo');selectedPayGoLetter=letter">{{letter}}</a>
                    </li>
                </ul>
                <ul class="countriesList payGo" *ngIf="filteredPayGoCountries.length > 0"
                    [class.long]="selectedPayGoLetter == 'M' || selectedPayGoLetter == 'S' || selectedPayGoLetter == 'B' || selectedPayGoLetter == 'C'">
                    <li *ngFor="let country of filteredPayGoCountries" value={{country?.name}}><span
                            class="countryName">{{country?.name}}</span><span class="rate">{{country?.value |
                            currency:'USD':'symbol':0}}</span>
                    </li>
                </ul>
                <div *ngIf="filteredPayGoCountries.length === 0">
                    <p>No countries found.</p>
                </div>
            </section>
        </div>
    </div>
</section>
<section class="international-calling-info">
    <div class="container-flex">
        <h3>How to get Unlimited Calling and Texting with Good Mobile</h3>
        <p>To get International Unlimited Calling and Texting you need to <a
                [routerLink]="['/'+LOGIN_ROUTE_URLS.BASE +'/'+ LOGIN_ROUTE_URLS.LOGIN]">sign in</a> with Good Mobile and
            purchase an <a
                [routerLink]="['/'+SHOP_ROUTE_URLS.PLANS_AND_FEATURES+'/'+PLANS_SHOP_ROUTE_URLS.NEW_PLAN]">Unlimited
                Plan</a> that will work best for you.
            The rest is pretty simple, just follow the Add-ons on your Account Summary menu and click on the
            International Calling tab. Click on ‘Add International Calling’ and you’re good to go!</p>
        <p>If you need to call a country that’s not on our Unlimited Calling country list, you can purchase $5 of
            additional International minutes to call globally through our Pay Go Calling. Rates may vary by destination.
        </p>
    </div>
</section>
<section class="get-started">
    <div class="container-flex">
        <div class="container-flex-row flex-center">
            <div class="description">
                <span>Cheap phone plans shouldn’t mean sacrifice.</span>
                <span>For the best cell phone deals, try Good Mobile</span>
            </div>
            <div class="col-md-3">
                <button class="button primary" data-cy="goToPlans"
                    [routerLink]="SHOP_ROUTE_URLS.BASE+'/'+SHOP_ROUTE_URLS.PLANS_AND_FEATURES+'/'+PLANS_SHOP_ROUTE_URLS.NEW_PLAN">Go
                    to plans</button>
            </div>
        </div>
    </div>
</section>