@import "../../../styles/modules/_variables.scss";
@import "../../../styles/modules/_mixins.scss";

.banner-section {
  position: relative;

  .banner-image-container {
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;

      @media (min-width: 500px) {
        object-position: 51%;
      }
    }
  }

  .banner-text-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 38px;

    @media (max-width: $phablet-min-width-minus) {
      top: 32px;
    }

    .header {
      color: $header-color;
      text-align: center;
      margin-bottom: 12px;

      @media (max-width: $phablet-min-width-minus) {
        margin-bottom: 4px;
      }
    }

    .sub-header {
      margin-bottom: 0;
      text-align: center;
      color: #81B3F8;
    }
  }
}
b {
  font-family: $base-font-family-bold;
}
.international-calling-details {
  background: #F8FCFE;
  .smaller {
    max-width: 1464px;
    &.limited {
      max-width: 749px;
    }
  }
  @media (max-width: 999.9px) {
    text-align: center;
  }
}
.space {
  margin-bottom: 20px;
}
.p-space {
  margin-bottom: 12px;
}
.section-space {
  padding-top: 64px;
  padding-bottom: 64px;
  @media (max-width: $phablet-min-width-minus) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.international-info-section {
  .footer {
    margin-top: 24px;
    @media (max-width: 999.9px) {
      text-align: center;
    }
  }
  .tabs {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    .tabs-header {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      .tab-label {
        background: #99BCD5;
        box-shadow: 0px -1px 4px 0px #0940671f;
        border-radius: 8px 8px 0px 0px;
        padding: 8px 14px;
        height: 40px;
        width: 192px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -5px;
        cursor: pointer;
        label {
          color: $white;
          font-size: rem-calc(16px);
          margin-bottom: 0;
          font-family: $base-font-family-bold;
          text-align: center;
        }
        &.active {
          background: #F1F9FD;
          height: 52px;
          z-index: 2;
          label {
            color: $primary-color;
          }
        }
        @media (max-width: 999.9px) {
          width: 100%;
          border-radius: 0px 8px 0px 0px;
          margin-right: 0;
        }
        @media (max-width: 499.9px) {
          padding: 7px;
        }
      }
    }
    input[type="radio"] {
      display: none;
    }
    .tab-content {
      background: #F1F9FD;
      padding: 32px 24px;
      border-radius: 0px 0px 10px 10px;
      
      .pages {
        display: flex;
        justify-content: center;
        ::ng-deep {
          .pagination {
            ul.pagination  {
              .pagination-previous {
                border-radius: 50%;
              }
              .pagination-next {
                border-radius: 50%;
              }
            }
          }
        }
      }
      .search-section {
        margin-top: 24px;
        display: flex;
        input {
          max-width: 500px;
        }
        .search-icon {
          background-color: $primary-color;
          display: flex;
          height: 40px;
          width: 40px;
          border-radius: 0px 4px 4px 0px;
          align-items: center;
          justify-content: center;
          margin-left: -5px;
        }
        @media (max-width: 999.9px) {
          justify-content: center;
        }
      }
      .filter-section {
        margin-top: 24px;
        .filter-options {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin-top: 20px;
          .option {
            .region {
              cursor: pointer;
              padding-right: 10px;
              font-family: $base-font-family-bold;
              color: $primary-color;
              &:hover {
                color: $hover-color;
              }
              &:first-child {
                padding-left: 5px;
              }
              &.active {
                color: $blue;
              }
            }
          }
          @media (max-width: 999.9px) {
            justify-content: center;
          }
        }
      }
      .result-section {
        margin-top: 32px;
        background-color: $white;
        border-radius: 0px 0px 10px 10px;
        padding: 24px;
        .number {
          @media (max-width: 999.9px) {
            text-align: left;
          }
        }
        .international-calling-section {
          margin-top: 24px;
          .header-section {
              .titles-container {
                  display: flex;
                  justify-content: space-between;
                  .titles-container1,
                  .titles-container2 {
                    @media (min-width: $desktop-min-width) {
                      max-width: 1014px;
                    }
                    width: 100%;
                    .titles {
                      border-bottom: 1px solid #CED3D6;
                      display: flex;
                      justify-content: space-between;
                      margin-bottom: 24px;
                      p {
                        margin-bottom: 8.19px;
                        max-width: 80px;
                        width: 100%;
                        text-align: center;
                      }
                    }
                  }
                  .titles-container2 {
                      @media (max-width: 999.9px) {
                          display: none;
                      }
                  }
              }
          }
          .contents-section {
            margin-top: 12px;
              .contents {
                  margin-bottom: 20px;
                  @media (min-width: 1000px) {
                      max-width: 1014px;
                  }
                  width: 100%;
                  .top-section {
                      display: flex;
                      margin-bottom: 8px;
                      align-items: center;
                      .country-name {
                          margin-bottom: 0;
                          margin-left: 16px;
                      }
                      .flag-icon {
                          width: 24px;
                          height: 24px;
                      }
                  }
                  .offerings {
                      margin-left: 44px;
                      .offers {
                          display: flex;
                          justify-content: space-between;
                          margin-bottom: 5px;
                          .offer-key {
                              margin-bottom: 0;
                              text-align: left;
                          }
                          .offer-value {
                              margin-bottom: 0;
                              max-width: 70px;
                              width: 100%;
                              text-align: center;
                          }
                      }
                  }
              }
          }
      }
      .split-style {
          @media (min-width: 1000px) {
              column-count: 2;
              column-gap: 50px;
          }
      }
      .content-section-split-style {
          @media (min-width: 1000px) {
              display: flex;
              width: 100%;
              flex-wrap: wrap;
              margin: 0;
              justify-content: space-between;
              width: 100%;
          }
          .contents {
              max-width: 100%;
              flex-basis: 47%;
          }
      }
      }
    }
  }
  .title-section {
    @media (max-width: 999.9px) {
      text-align: center;
    }
  }
}
.label {
  color: #5E5E5E;
}
.get-started {
  background-color: #F2F7FA;
  .page-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .actions {
      margin-top: 24px;
    }
  }
}
