<section class="plan-details-section sticky internal-page-margins mainSection--width">
    <div class="container-flex">
      <div class="container-flex-row">
        <div class="col-12">
          <div class="back-to-plans">
            <a (click)="goToPlans()"><i class="icon-thin-left-arrow"></i> Back to plans </a>
          </div>
          <div class="plan-selected">
              ${{selectedPlan?.price - selectedPlan?.promoPrice}} Plan selected:
          </div>
          <ng-container *ngIf="!!selectedPlan">
            <div class="plan-title">
              <span class="content" *ngIf="!selectedPlan?.promoPrice">Pay Go Plans |</span>
              <span class="content" *ngIf="!!selectedPlan?.details?.data && selectedPlan?.details?.data != 0">
                {{(selectedPlan?.details?.data / 1024)}}GB |
              </span>
              <span class="content">{{selectedPlan?.title}}</span>
            </div>
            <hr>
            <div class="details-section">
              <ul class="details-list">
                <li *ngIf="!!selectedPlan?.details?.data  && selectedPlan?.details?.data  != 0">
                  <p class="tick">✓</p>  
                  <p> {{(selectedPlan?.details?.data / 1024)}}GB high-speed data with speeds up to 4G LTE; speeds reduce after allowance is used</p>
                </li>
                <li>
                  <p class="tick">✓</p>
                  <p>Unlimited talk and text <span *ngIf="!!currentPlan?.basePlan?.details?.data && selectedPlan?.details?.data  != 0">+ data access </span>on America’s best nationwide 4G LTE network </p>
                </li>
                <li>
                  <p class="tick">✓</p>
                  <p>Save up to $60/year with <span class="default">Auto Pay Credit!</span> <span class="help" (click)="showAutoPayPopUp()">?</span><span class="mobile" (click)="showAutoPayPopUp()">Auto Pay Credit!</span> </p>
                </li>
                <li>
                  <p class="tick">✓</p>
                  <p>Works with AT&T and compatible unlocked iPhone and Android phones</p>
                </li>
                <li>
                  <p class="tick">✓</p>
                  <p>Keep your number or get a new one</p>
                </li>
                <li>
                  <p class="tick">✓</p>
                  <p>Add <span *ngIf="selectedPlan?.details?.data > 0"> more</span> high-speed data and unlimited international calling when you need it</p>
                </li>
                <li *ngIf="!currentPlan?.activationCode">
                  <p class="tick">✓</p>
                  <p>FREE SIM Card Activation Kit</p>
                </li>
              </ul>
            </div>
            <div class="quantity">
            <hr>
              <ng-container >
                <div class="total">
                  TOTAL: ${{selectedPlan.price - selectedPlan?.promoPrice}}/month
                </div>
                <div class="auto-renew-txt text-color-primary" (click)="showAutoPayPopUp()">After Auto Pay Credit</div>
              </ng-container>
              <hr>
            </div>
            <ng-container *ngIf="!currentPlan?.planDevice && !currentPlan?.planExpectedDevice"> 
              <div class=" buttons-container">
                  <button class="button primary" (click)="needPhonePopUp()" id="procees-to-checkout-button">Add to cart</button>
            </div>
           </ng-container> 
           <ng-container *ngIf="!!currentPlan?.planDevice || !!currentPlan?.planExpectedDevice">
            <div class="buttons-container" >
              <div class="mobile-hidden">
                  <button class="button primary" (click)="goToCart()" id="procees-to-checkout-button">Go to checkout </button>
            </div>
          </div>
           </ng-container>
          </ng-container>
          <ng-container *ngIf="!selectedPlan ">
            <div class="plan-title">
              Loading ...
            </div>
            <hr/>
            <div class="details-section">
              Loading ...
            </div>
            <hr/>
            <div class="quantity ">
              <div class="padding-top-10 padding-bottom-10 text-color-primary">
                TOTAL: $0/month
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
  