<div class="form-holder">
    <div class="content-holder new">
        <form #activateSimForm="ngForm" class="activate-sim-form">
            <div class="form-part">
                <fieldset *ngIf="showActivationCode" class="ten">
                    <label for="activationCode">Enter activation Code</label>
                    <input type="text" name="activationCode" [class.disabled]="!!userPlan?.eSIM && !!userPlan?.activationCode" [(ngModel)]="activationCode" [readonly]="!!userPlan?.eSIM && !!userPlan?.activationCode"
                        id="activationCode" data-cy="activationCode" #activationCodeRef="ngModel" required minlength="7" maxlength="8" [pattern]="codePattern" 
                        [disabled]="!!processingRequest">
                        <label class="validation-message" id="activation-label">
                            <a (click)="showActivationModal()" id="activation-link">Where to find your Activation
                                Code</a>
                        </label>     
                    <label class="validation-message"
                        *ngIf="activationCodeRef.touched && !activationCodeRef.valid && !processingRequest && !activationCodeRef.value"
                        id="required-activation-code-label">Activation Code is required. </label>
                    <label class="validation-message"
                        *ngIf="!!activationCodeRef.value && !activationCodeRef.valid && !processingRequest">Activation Code is invalid. </label>
                </fieldset>
                <fieldset *ngIf="showIccid" class="ten">
                    <label for="iccid">Verify ICCID number</label>
                    <input restrictNumbers type="tel" name="iccid" [(ngModel)]="iccid" id="iccid" #iccidRef="ngModel"
                        required [disabled]="!!processingRequest" restrictNumbers minlength="19" maxlength="22">
                    <label class="validation-message" id="iccid-label">
                        <a (click)="showIccidModal()" id="iccid-link">Where to find my SIM ICCID number</a>
                    </label>
                    <label class="validation-message" *ngIf="iccidRef.touched && !iccidRef.valid && !processingRequest"
                        id="required-iccid-code-label">ICCID Code is required. </label>
                </fieldset>
                <fieldset class="ten">
                    <label for="postalCode">Postal Code</label>
                    <input type="text" name="postalCode" maxlength="10" autocomplete="postal-code" id="postalCode"
                        [(ngModel)]="postalCode" #postalCodeRef="ngModel" required (blur)="onPostalCodeChange()"
                        [disabled]="!!processingRequest">
                    <label class="validation-message"
                        *ngIf="postalCodeRef.touched && !postalCodeRef.valid && !processingRequest"
                        id="required-postal-code-label">Postal Code is required. </label>
                    <label class="validation-message" id="invalid-postal-label" *ngIf="!!postalCode && invalidPostalCode">Invalid postal code
                    </label>
                </fieldset>
            </div>
            <div class="form-part ">
                <section>
                    <fieldset class="five">
                        <label for="pinCode">Create Account PIN</label>
                        <input type="password" name="pinCode" maxlength="4" minlength="4" restrictNumbers id="pinCode" data-cy="pinCode"
                            [(ngModel)]="pinCode" required autocomplete='pin-code' placeholder="4 digit PIN"
                            #pinCodeRef="ngModel" [disabled]="!!processingRequest">
                        <label class="validation-message" id="pin-rules-label">
                            <a (click)="showPinCodeRules()" id="pin-rules-link">Account PIN Code rules?</a>
                        </label>
                        <label class="validation-message"
                            *ngIf="validatePin() == PIN_VALIDATE.EMPTY && pinCodeRef.touched && !processingRequest"
                            id="required-pin-label">Account Pin Code required</label>
                        <label class="validation-message" id="invalid-pin-label"
                            *ngIf="validatePin() == PIN_VALIDATE.INVALID && pinCodeRef.touched">
                            Invalid Pin Code
                        </label>
                    </fieldset>

                    <fieldset class="five">
                        <label for="pinCodeConfirm">Confirm Account PIN</label>
                        <input type="password" name="pinCodeConfirm" maxlength="4" minlength="4" restrictNumbers
                            id="pinCodeConfirm" data-cy="pinCodeConfirm" [(ngModel)]="pinCodeConfirm" #pinCodeConfirmRef="ngModel"
                            placeholder="4 digit PIN" required autocomplete='pin-code-confirm'
                            [disabled]="!!processingRequest">
                        <label class="validation-message" *ngIf="pinCode != pinCodeConfirm && pinCodeConfirmRef.touched"
                            id="mismatch-label">
                            Pin Code Mismatch
                        </label>
                    </fieldset>
                </section>
            </div>
            <fieldset class="re-captcha--resizing">
                <app-re-captcha (resolved)="resolvedCaptcha($event)" [siteKey]="SITE_ID" #reCaptcha>
                </app-re-captcha>
                <label class="validation-message" *ngIf="!captchaResponse && captchaRequired">Please verify that you are not a robot</label>
            </fieldset>
            <div class="account-actions">
                <button class="button primary"
                    [disabled]="!userPlan?.planDevice || !activateSimForm.valid || validatePin() != PIN_VALIDATE.VALID || invalidPostalCode || pinCode != pinCodeConfirm || !captchaValid"
                    (click)="activateNewNumber()" [uiBlockButton]="processingRequest"
                    [uiBlockMessage]="processingRequest? null : 'Activate'" id="activate-button" data-cy="activate-button">
                    Activate
                </button>
                <span class="validation-message" *ngIf="!userPlan?.planDevice">You need to register your device before
                    you continue</span>
            </div>
        </form>
    </div>
</div>