<section class="container-flex internal-page-margins device-setup">
    <div class="ios-cdma">
      <h1 class="header">Once you restart or power on your phone, the activation should begin automatically.
        If not, please proceed to the steps below*: </h1>
      <div class="details-content">
        <h2 class="list-title">Start by connecting to a Wi-Fi network</h2>
        <ul class="list-steps">
          <li>Go to the phone app and tap Keypad.</li>
          <li>Enter <b>##25327#</b> and tap Call.</li>
          <li class="sub">When the “Resetting Subscriber Settings” message appears, tap <b>Ok/Dismiss.</b>
            <p class="sub-content">If the “Waiting for Activation” message appears, tap <b>Ok/Dismiss</b>. Otherwise, wait
              5-10 seconds for the word “Searching” to appear in the top left-hand corner.</p>
          </li>
          <li>When activation is successful, a message may appear or the phone will show signal signs again.</li>
        </ul>
        <h2 class="list-title">Next up, go to the phone app and tap Keypad again</h2>
        <ul class="list-steps">
          <li>Enter <b>##873283#</b> and tap Call.</li>
          <li>A “Starting Service Update” message appears, tap <b>Ok/Dismiss</b>.</li>
          <li>If the “Service Update Complete” message appears, tap <b>Ok/Dismiss</b>.</li>
          <li>Your phone is now ready for use.</li>
        </ul>
        <p class="note"><i>*Don’t worry—these steps will not erase any personal photos, videos, contact info or other
            files from your iPhone.</i></p>
      </div>
      <div class="action">
        <button class="button primary" (click)="done()" id="done-button">Done</button>
      </div>
    </div>
  </section>