<section class="payments-check">
    <div class="container-flex">
        <div class="content">
            <h1 class="header" *ngIf="!!duplicatePayments && duplicatePayments?.length > 0">Your payment methods need revalidation!</h1>
            <h1 class="header" *ngIf="!!duplicatePayments && duplicatePayments?.length == 0">Thank you!</h1>
            <div class="banner" id="success-note" [ngClass]="{'fade-in': !!showSuccessBanner, 'hidden': !showSuccessBanner}">
              <img class="alert" alt="success" src="assets/icon/purple-circle-check.svg">
              <div class="banner-note">
                <p class="title">Success!</p>
                <p class="note">Your payment method has been successfully updated:</p>
                <p class="note">Your <b>Auto Pay</b> discount will remain active. You may now proceed and delete the card ending in {{updatedPayment?.last4}}</p>
              </div>
            </div>
            <div class="banner" *ngIf="!!duplicatePayments && duplicatePayments?.length == 0">
              <img class="alert" alt="success" src="assets/icon/purple-circle-check.svg">
              <div class="banner-note">
                <p class="title">You payment methods have been successfully updated!</p>
              </div>
            </div>
            <h2 class="sub-header" *ngIf="!!duplicatePayments && duplicatePayments?.length > 0">Your payment cards:</h2>
            <div class="payment-container" *ngIf="!!duplicatePayments && duplicatePayments?.length > 0">
                <div class="payment-details" *ngFor="let method of duplicatePayments; let i=index">
                    <h3 class="brand">{{method?.brand}}</h3>
                    <p class="info">Ending in {{method?.last4}},</p>
                    <p class="info" data-cy="cardExpiryDate">Expiration date {{method?.expirationDate | expirationDateFormat}}</p>
                    <div class="attention-banner">
                        <img src="assets/icon/red-alert.svg" alt="red alert">
                        <p class="note">Requires attention</p>
                    </div>
                    <div class="actions">
                        <button class="button primary" aria-label="edit card" (click)="toggleEditCard(i)" [disabled]="!!editCards[i]"><img src="assets/img/white-pin.svg" /> Update Card</button>
                        <button class="button secondary" aria-label="delete card" (click)="deletePaymentMethod(i)"><img src="assets/img/delete-white.svg" /> Delete Card</button>
                    </div>
                    <div class="card-form" *ngIf="!!editCards[i]">
                        <h3 class="form-header">Credit Card Details</h3>
                        <form [formGroup]="paymentInfoForm" class="credit-card-form">
                            <fieldset class="half">
                                <label class="font-size-12" for="fullName">Name on card <span
                                    class="form-text error validation-message">*</span></label>
                                <input id="fullName" data-cy="fullName" type="text" name="fullName" formControlName="fullName" 
                                   autocomplete="cc-given-name" minlength="1" maxlength="30">
                                <label class="validation-message"
                                  *ngIf="paymentInfoForm.controls.fullName.touched && paymentInfoForm.controls.fullName.hasError('required')">Name
                                  on card is required. </label>
                                <label class="validation-message"
                                  *ngIf="paymentInfoForm.controls.fullName.dirty && paymentInfoForm.controls.fullName.errors?.pattern">Invalid
                                  name. </label>
                            </fieldset>
                            <fieldset class="flex-display">
                                <div class="half">
                                    <label class="font-size-12" for="cardNumber">Card Number <span
                                        class="form-text error validation-message">*</span></label>
                                    <input id="cardNumber" data-cy="cardNumber" type="tel" name="cardNumber" ccNumber formControlName="cardNumber"
                                       maxlength="19" autocomplete="cc-number">
                                       <label class="validation-message"
                                      *ngIf="paymentInfoForm.controls.cardNumber.touched && paymentInfoForm.controls.cardNumber.hasError('required')">Card number is required. </label>
                                    <label class="validation-message"
                                      *ngIf="paymentInfoForm.controls.cardNumber.dirty && !paymentInfoForm.controls.cardNumber.valid">Invalid
                                      Credit Card Number. </label>
                                    
                                </div>
                                <div class="half">

                                    <label class="font-size-12" for="cardCode">CVV <span
                                        class="form-text error validation-message">*</span></label>
                                    <input id="cardCode"  data-cy="cardCode" type="password" name="cardCode" restrictNumbers formControlName="cardCode"
                                      minlength="3" maxlength="4"  autocomplete="cc-csc">
                                    <label class="validation-message"
                                      *ngIf="paymentInfoForm.controls.cardCode.touched && !paymentInfoForm.controls.cardCode.value">CVV
                                      is
                                      required field. </label>
                                    <label class="validation-message"
                                      *ngIf="paymentInfoForm.controls.cardCode.dirty && paymentInfoForm.controls.cardCode.value && !paymentInfoForm.controls.cardCode.valid">CVV
                                      is invalid. </label>
                                </div>
                            </fieldset>
                           
                            <fieldset class="">
                              <label class="font-size-12" for="cardExpirationMonth">Expiration date <span
                                  class="form-text error validation-message">*</span></label>
                              <div class="flex-display">
                                <div class="half no-margin-left select">
                                  <select id="cardExpirationMonth" data-cy="cardExpirationMonth" name="cardExpirationMonth" formControlName="cardExpirationMonth"
                                    autocomplete="cc-exp-month" >
                                    <option value="" selected disabled hidden>MM</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                  </select>
                                  <div class="select-bg">
                                    <div class="select-arrow"></div>
                                  </div>
                                </div>
                                <div class="half select no-margin-left">
                                  <select id="cardExpirationYear" data-cy="cardExpirationYear" name="cardExpirationYear" formControlName="cardExpirationYear"
                                    autocomplete="cc-exp-year"  aria-placeholder="Year">
                                    <option value="" selected disabled hidden>YY</option>
                                    <option *ngFor="let expYear of expirationYearRange" value="{{expYear}}">{{expYear}}
                                    </option>
                                  </select>
                                  <div class="select-bg">
                                    <div class="select-arrow"></div>
                                  </div>
                                </div>
                              </div>
                              <label class="validation-message no-wrap"
                                *ngIf="(paymentInfoForm.controls.cardExpirationMonth.touched) && paymentInfoForm.controls.cardExpirationMonth.hasError('required')">
                                Expiration month is required
                              </label>
                              <label class="validation-message no-wrap"
                                *ngIf="(paymentInfoForm.controls.cardExpirationYear.touched) && paymentInfoForm.controls.cardExpirationYear.hasError('required')">
                                Expiration year is required
                              </label>
                              <label class="validation-message no-wrap"
                                *ngIf="(paymentInfoForm.controls.cardExpirationMonth.touched || paymentInfoForm.controls.cardExpirationYear.touched) && paymentInfoForm.errors?.cardExpirationInvalid && (paymentInfoForm.controls.cardExpirationMonth.valid || !paymentInfoForm.controls.cardExpirationYear.valid)">
                                Expiration date must be valid
                              </label>
                            </fieldset>
                          </form>
                          <h3 class="form-header">Billing address</h3>
                          <div class="address-lookup credit-card-form3">
                            <app-address-lookup [displayedAddress]="duplicatePayments[i]" (isValid)="setValidAddress($event)"
                              (addressChange)="addressLookUpChanged($event)" [touchForm]="touchAddressForm" [showAlias]="true">
                            </app-address-lookup>
                        </div>
                        <div class="form-actions">
                            <p class="transparent" data-cy="cancelBtn" (click)="editCards[i]=false">Cancel</p>
                            <button class="button primary" data-cy="savePayment" aria-label="Save" (click)="updateDuplicateCard(i)">Save</button>
                        </div>
                        <app-invisible-recaptcha (resolved)="resolvedCaptcha($event)" [siteKey]="SITE_ID" #reCaptcha></app-invisible-recaptcha>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="container-flex">
            <button class="button primary" aria-label="next" [disabled]="duplicatePayments?.length > 0" (click)="goToHomePage()">{{!!duplicatePayments && duplicatePayments?.length > 0 ? 'Next' : 'Done'}}</button>
        </div>
    </div>
</section>
