<div class="banner-container">
  <div class="banner-section">
    <picture class="banner-image-container acp">
      <source srcset='assets/img/banners/ACP-banner-mobile.webp' media="(max-width: 639.9px)" type="image/webp">
      <source srcset='assets/img/banners/ACP-banner-mobile.png' media="(max-width: 639.9px)" type="image/png">
      <source srcset='assets/img/banners/ACP-banner-tablet.webp' media="(max-width: 1024.9px)" type="image/webp">
      <source srcset='assets/img/banners/ACP-banner-tablet.png' media="(max-width: 1024.9px)" type="image/png">
      <source srcset='assets/img/banners/ACP-banner-desktop-1440.webp' media="(max-width: 1439.9px)"
        type="image/webp">
      <source srcset='assets/img/banners/ACP-banner-desktop-1440.png' media="(max-width: 1439.9px)"
        type="image/png">
      <source srcset='assets/img/banners/ACP-banner-desktop.webp' media="(min-width: 1440px)" type="image/webp">
      <source srcset='assets/img/banners/ACP-banner-desktop.png' media="(min-width: 14400px)" type="image/png">
      <img src="assets/img/banners/ACP-banner-desktop.png" alt="ACP Banner Image">
    </picture>
    <div class="banner-content-container">
      <p class="title">Goverment Benefit Program</p>
      <div class="header-part">
        <h1 class="header">How to Get <span class="yellow">UNLIMITED</span>Cell Phone Service Every Month?</h1>
      </div>
      <p class="description">Sign up with GoodMobile through the Affordable 
        Connectivity Program, offering UNLIMITED monthly Data, 
        Talk & Text to eligible customers</p>
      <div class="actions">
        <button class="button primary" id="do-i-qualify" data-cy="do-i-qualify"
          [routerLink]="['/' + ROUTE_URLS.ACP]" fragment="acpDiscount" title="Do I Qualify?" value="Do I Qualify?"
          aria-label="Do I Qualify?">Do I Qualify?</button>
      </div>
    </div>
  </div>
  <div class="banner-bottom-strip acp">
    <p class="text">1 After the 6GB high-speed data allowance is used, data speeds are slowed to a maximum of
      128Kbps for the rest of the term.</p>
  </div>
 
</div>