@import "../../styles/modules/_variables.scss";
@import "../../styles/modules/mixins";

.banner-container {
  .swiper-container {
    position: relative;
    overflow: hidden;
    .swiper-slide {
      height: 100%;
    }
    .swiper-container-override {
      position: relative;
      bottom: 430px;
      @media screen and (max-width: $desktop-min-width-minus) {
        bottom: 450px;
      }
      @media screen and (max-width: $phablet-min-width-minus) {
        bottom: 430px;
      }
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: rem-calc(12px);
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        background-color: $primary-color;
        background-size: 28%;
        color: $white;
        height: 21px;
        width: 21px;
        z-index: 1;
        cursor: pointer;
        top: 127px;
        --swiper-navigation-size: 11px;
        border-radius: 50%;
    }

    .swiper-button-next {
        right: 12px;
    }
  }
  .banner-section {
    position: relative;
    bottom: -1px;
    &.acp-slide {
      .banner-image-container {
        img {
          width: 100%;
          height: 540px;
          object-fit: cover;
          object-position: 44%;

          @media screen and (max-width: $desktop-min-width-minus) {
            object-position: 40.5%;
          }

          @media screen and (max-width: $phablet-min-width-minus) {
            object-position: unset;
            height: 560px;
          }
        }
      }

      .banner-content-container {
        position: absolute;
        bottom: 0;
        right: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 538px;
        flex-basis: 50%;

        @media screen and (max-width: 1919.9px) {
          right: 6.5%;
        }

        @media screen and (max-width: $desktop-min-width-minus) {
          height: 500px;
          right: 21px;
        }
        @media screen and (max-width: $phablet-min-width-minus) {
          right: unset;
          width: 100%;
          justify-content: unset;
          padding: 0 16px;
          top: 250px;
        }
        @media screen and (max-width: 370px) {
          top: 225px;
        }
        .title {
          font-size: rem-calc(16px);
          line-height: 24px;
          font-family: $base-font-family-bold;
          margin-bottom: 12px;
          display: flex;
          align-items: flex-end;
          gap: 5px;
          @media screen and (max-width: $desktop-min-width-minus) {
            font-size: rem-calc(14px);
            line-height: 24px;
          }
          @media screen and (max-width: $phablet-min-width-minus) {
            margin-bottom: 0;
            img {
              width: 35px;
              height: 50px;
            }
          }
        }
        b {
          font-family: $base-font-family-bold;
        }
        .header-part {
          margin-bottom: 28px;
          .header {
            font-family: $base-font-family-bold;
            color: $header-color;
            font-size: rem-calc(28px);
            line-height: 36px;
            span {
              display: block;
              font-size: rem-calc(36px);
              line-height: 44px;
            }
          }
          @media screen and (max-width: $desktop-min-width-minus) {
            margin-bottom: 12px;
          }
          @media screen and (max-width: 840px) {
            max-width: 254px;
          }
          @media screen and (max-width: $phablet-min-width-minus) {
            max-width: none;
            margin-bottom: 5px;
            .header {
              font-size: rem-calc(20px);
              line-height: 25px;
              span {
                font-size: rem-calc(26px);
                line-height: 32px;
              }
            }
          }
        }

        .description {
          font-size: rem-calc(16px);
          line-height: 24px;
          font-family: $base-font-family;
          max-width: 440px;
          margin-bottom: 28px;

          @media screen and (max-width: $desktop-min-width-minus) {
            font-size: rem-calc(14px);
            line-height: 24px;
            max-width: 410px;
            margin-bottom: 20px;
          }
          @media screen and (max-width: 840px) {
            max-width: 296px;
          }
          @media screen and (max-width: $phablet-min-width-minus) {
            margin-bottom: 12px;
            max-width: none;
          }
        }
      }
    }
    &.phones-slide {
      .banner-image-container {
        img {
          width: 100%;
          height: 540px;
          object-fit: cover;
          object-position: 31%;

          @media screen and (max-width: $desktop-min-width-minus) {
            object-position: 32.5%;
          }

          @media screen and (max-width: $phablet-min-width-minus) {
            object-position: unset;
            height: 560px;
          }
        }
      }

      .banner-content-container {
        position: absolute;
        bottom: 0;
        right: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 538px;
        flex-basis: 50%;

        @media screen and (max-width: 1919.9px) {
          right: 6.5%;
        }

        @media screen and (max-width: $desktop-min-width-minus) {
          height: 542px;
          right: 8%;
        }
        @media screen and (max-width:799.9px) {
          right: 4%;
        }
        @media screen and (max-width: $phablet-min-width-minus) {
          right: unset;
          width: 100%;
          justify-content: unset;
          padding: 0 16px;
          top: 260px;
        }
        .title {
          font-size: rem-calc(16px);
          line-height: 24px;
          font-family: $base-font-family-bold;
          margin-bottom: 24px;
          display: flex;
          align-items: flex-end;
          gap: 5px;
          img {
            width: 32px;
            height: 43px;
          }
          @media screen and (max-width: $desktop-min-width-minus) {
            font-size: rem-calc(14px);
            line-height: 24px;
          }
          @media screen and (max-width: $phablet-min-width-minus) {
            margin-bottom: 12px;
          }
        }
        b {
          font-family: $base-font-family-bold;
        }
        .text-img {
          width: 350px;
          height: 80px;
          margin-bottom: 28px;
          @media screen and (max-width: $desktop-min-width-minus) {
            width: 300px;
            height: 68px;
          }
          @media screen and (max-width: $phablet-min-width-minus) {
            width: 286px;
            height: 65px;
            margin-bottom: 12px;
          }
        }
        .desc1 {
          font-size: 16px;
          line-height: 24px;
          font-family: $base-font-family;
          margin-bottom: 8px;
          @media screen and (max-width: $phablet-min-width-minus) {
            font-size: 14px;
            margin-bottom: 4px;
          }
        }
        .desc2 {
          font-size: 18px;
          line-height: 28px;
          font-family: $base-font-family;
          margin-bottom: 2px;
          @media screen and (max-width: $phablet-min-width-minus) {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 2px;
          }
        }
        .desc3 {
          font-size: 18px;
          line-height: 28px;
          font-family: $base-font-family;
          margin-bottom: 24px;
          @media screen and (max-width: $phablet-min-width-minus) {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  .banner-bottom-strip {
    background-color: $yellow;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    color: $black;
    @media screen and (max-width: 1919.9px) {
      padding-left: 6.5%;
    }

    @media screen and (max-width: $desktop-min-width-minus) {
      padding: 0 24px;
    }

    @media screen and (max-width: $phablet-min-width-minus) {
      padding: 0 16px;
      justify-content: center;
    }

    .text {
      font-size: rem-calc(10px);
      line-height: 13px;
      margin: 0;
      color: $black;

      @media screen and (max-width: $desktop-min-width-minus) {
        font-size: rem-calc(10px);
        line-height: 11px;
      }

      @media screen and (max-width: $phablet-min-width-minus) {
        font-size: rem-calc(8px);
        line-height: 9px;
      }
    }
  }
}
