<div [innerHtml]="jsonLDString"></div>
<app-banners></app-banners>
<section class="content-section featured-plans-section">
    <app-featured-plans [isPromo]="showPromoPlan"></app-featured-plans>
</section>
<section class="why-us">
  <div class="page-section section-container">
    <div class="image-section">
      <picture>
        <source width="300" height="316" srcset='assets/img/why-us-mobile.svg' media="(max-width: 639.9px)"
          type="image/svg">
        <source width="400" height="316" srcset='assets/img/why-us-tablet.svg' media="(max-width: 1024.9px)"
          type="image/svg">
        <source width="429" height="400" srcset='assets/img/why-us.svg' media="(min-width: 1025px)"
          type="image/svg">
        <img width="429" height="400" src="assets/img/why-us.svg" alt="Why GoodMobile">
      </picture>
    </div>
    <div class="details-section">
      <p class="note caption">WHY US</p>
      <h2 class="header">Every purchase powers GoodWill mission</h2>
      <p class="details mb-20">Your purchase changes lives!</p>
      <p class="smaller description">GoodMobile sales support the Goodwill mission to help people overcome the challenge to build skills, finding jobs & grow their careers through the power of work</p>
    </div>
  </div>
</section>
<section class="bring-device">
  <div class="page-section section-container">
    <div class="details-section">
      <p class="note caption">BRING YOUR DEVICE </p>
      <h2 class="header">Bring the device you love </h2>
      <p class="details mb-20">Keep your phone number or get a new one</p>
      <div class="action">
        <button class="button primary" id="Bring-phone" data-cy="Bring-phone"
        [routerLink]="ACTIVATION_ROUTE_URLS.BASE +'/'+ACTIVATION_ROUTE_URLS.CHECK_PHONE" title="Check compatibility"
        value="Bring phone" aria-label="Bring phone">Bring your Device</button>
      </div>
    </div>
    <div class="image-section">
      <picture>
        <source width="400" height="316" srcset='assets/img/home-bring-device-responsive.svg' media="(max-width: 1169.9px)"
          type="image/svg">
        <source srcset='assets/img/home-bring-device.svg' media="(min-width: 1170px)"
          type="image/svg">
        <img  src="assets/img/home-bring-device.svg" alt="Bring your device">
      </picture>
    </div>
  </div>
</section>
<section class="content-section social-media">
  <app-social-media-swiper [pageId]="'home'"></app-social-media-swiper>
</section>


