@import "../../styles/modules/variables";
@import "../../styles/modules/mixins";

.home-banner-section {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;

  @media (max-width: $desktophd-min-width) {
    padding: 30px 24px;
  }

  @media (max-width: $desktop-min-width-minus) {
    flex-direction: column;
  }

  @media (max-width: $tablet-min-width-minus) {
    margin-bottom: 20px;
  }

  .banner-text-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 63%;
    padding-left: 2.5%;

    @media (max-width: $desktophd-min-width) {
      padding-left: 1%;
    }

    .offer-box {
      max-width: 277px;
      width: 100%;
      height: 44px;
      background-color: #fdebf0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 39px;
      padding: 13px;

      .offer-text {
        font-size: rem-calc(18px);
        color: #fe0064;
        margin-bottom: 0;
      }

      @media (max-width: $phablet-min-width-minus) {
        padding: 12px 9px;
      }
    }

    .header {
      font-size: rem-calc(72px);
      font-weight: normal;
      line-height: 83px;
      margin-bottom: 30px;
      font-family: $secondary-font-family;
    }

    .sub-header {
      font-size: rem-calc(48px);
      line-height: 60px;
      margin-bottom: 0;
      font-family: $secondary-font-family;
      max-width: 600px;

      @media (max-width: $phablet-min-width-minus) {
        font-size: rem-calc(32px);
        line-height: 48px;
      }
    }

    .info {
      font-size: rem-calc(24px);
      line-height: 60px;
      margin-bottom: 0;
    }

    .purchase-plans-button {
      margin-top: 24px;

      button {
        font-weight: normal;
        font-family: $secondary-font-family;
        font-size: rem-calc(16px);
      }
    }
  }

  .banner-image-part {
    display: flex;
    flex-basis: 37%;
    align-items: center;

    @media (max-width: $desktop-min-width-minus) {
      justify-content: center;
      margin-top: 30px;
    }

    img {

      // max-width: 648px;
      @media (max-width: $tablet-min-width-minus) {
        max-width: 640px;
      }
    }
  }
}

.banner-container {
  height: 747px;
  margin-bottom: 3.5%;
  background-color: #BCE1E8 !important;

  @media (max-width: $desktop-min-width-minus) {
    height: 580px;
  }

  @media (max-width:$phablet-min-width-minus) {
    height: 842px;
  }

  @media (max-width:494.9px) {
    height: 851px;
  }

  .inner-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .display-flex {
      display: flex;
      width: 100%;

      @media (max-width: $phablet-min-width-minus) {
        flex-direction: column;
        align-items: center;
      }

      .banner-img-part {
        position: relative;
        width: 100%;
        height: 707px;
        @media (max-width: $desktop-min-width-minus) {
          height: 540px;
        }

        @media (max-width: $phablet-min-width-minus) {
          width: 639px;
          height: 805px;
        }

        img {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 707px;
          object-position: 40%;
          
          @media (max-width: 1329.9px) {
            object-position: 50%;
          }

          @media (max-width: $desktop-min-width-minus) {
            height: 540px;
            object-position: 24%;
          }

          @media (max-width: $tablet-min-width-minus) {
            object-position: 35%
          }

          ;

          @media (max-width: $phablet-min-width-minus) {
            max-width: 639px;
            width: 100%;
            height: 805px;
            object-position: center;
          }
        }
      }

      .banner-text-part {
        background-color: transparent;
        width: 100%;
        height: 707px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;

        @media (max-width: $desktop-min-width-minus) {
          width: 100%;
          height: 540px;
        }

        @media (max-width: $phablet-min-width-minus) {
          height: 805px;
        }



        .promos-section {
          position: absolute;
          max-width: 597px;
          width: 100%;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          left: 59.5%;
          height: 100%;
          text-align: center;

          @media (max-width: 1849.9px) {
            left: 64%;
            max-width: 468px;
          }

          @media (max-width: 1329.9px) {
            left: 54%;
            max-width: 445px;
          }

          @media (max-width: $desktop-min-width-minus) {
            left: 58%;
            max-width: 288px;
          }

          @media (max-width: $tablet-min-width-minus) {
            left: 54%;
          }

          @media (max-width: $phablet-min-width-minus) {
            left: unset;
            max-width: 355px;
            top: 57%;
            height: 310px;
          }

          .banner-content {
            margin-bottom: 40px;

            @media (max-width: $phablet-min-width-minus) {
              margin-bottom: 32px;
            }

            &.zero {
              margin-bottom: 0;
            }

            .head-content {
              width: 100%;
              font-family: $secondary-font-family;
              color: #383838;
              font-weight: 700;
              font-size: 26px;
              line-height: 26px;
              margin-bottom: 0;

              @media (max-width: $desktop-min-width-minus) {
                font-size: 18px;
                line-height: 18px;
              }

              @media (max-width: $phablet-min-width-minus) {
                font-size: 14px;
                line-height: 14px;
              }
            }

            .how-to-get {
              width: 100%;
              font-family: $base-font-family-bold;
              font-weight: 700;
              font-size: 40px;
              line-height: 45px;
              color: $primary-color;
              margin-bottom: 0;

              @media (max-width: $desktop-min-width-minus) {
                font-size: 30px;
                line-height: 33.57px;
              }

              @media (max-width: $phablet-min-width-minus) {
                font-size: 22px;
                line-height: 24.62px;
              }
            }

            .free {
              width: 100%;
              font-family: $base-font-family-bold;
              font-weight: 700;
              font-size: 52px;
              line-height: 58px;
              color: $secondary-color;
              margin-bottom: 0;

              @media (max-width: $desktop-min-width-minus) {
                font-size: 42px;
                line-height: 47px;
              }

              @media (max-width: $phablet-min-width-minus) {
                font-size: 32px;
                line-height: 35.81px;
              }
            }

            .description {
              font-family: $secondary-font-family;
              color: #383838;
              font-weight: 700;
              font-size: 26px;
              line-height: 36px;
              margin-bottom: 0;
              text-align: center;
              width: 100%;
              max-width: 559px;

              @media (max-width: $desktop-min-width-minus) {
                font-size: rem-calc(18px);
                line-height: 28px;
              }

              @media (max-width: $tablet-min-width-minus) {
                max-width: 261px;
              }

              @media (max-width: $phablet-min-width-minus) {
                max-width: 355px;
                font-size: 16px;
                line-height: 24px;
              }
            }
          }


        }
      }
    }
  }

  .bottom-strip {
    width: 100%;
    display: flex;
    align-items: center;
    height: 42px;

    @media (max-width: $desktop-min-width-minus) {
      height: 39px;
    }

    @media (max-width:$phablet-min-width-minus) {
      height: 37px;
    }

    @media (max-width:494.9px) {
      height: 46px;
    }

    .last {
      color: #383838;
      font-weight: 400;
      font-size: 12px;
      line-height: 13.43px;
      position: relative;
      width: 100%;
      display: flex;
      // padding-right: 0;
      max-width: 1500px;
      padding: 0 40px;
      margin: 0 auto;

      @media(max-width: $desktophd-min-width) {
        padding: 0 24px;
      }

      @media (max-width: $desktop-min-width-minus) {
        font-size: 10px;
        line-height: 11px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
      }

      @media (max-width:$phablet-min-width-minus) {
        font-size: 8px;
        line-height: 9px;
      }
    }
  }
}
















.featured-plans-section {
  padding: 0px;
  margin-top: 0px;

  .circles {
    margin: 0 auto;
    cursor: pointer;
  }

  .circle {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 33%;
    background-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid $primary-color;
    text-align: center;
    display: block;
    padding: 5px;

    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -2%;
    }

    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }

  .buttons-container {
    margin-top: 150px;

    @media (max-width: $phablet-min-width) {
      margin-top: 130px;

      .button {
        width: 200px;
        font-size: rem-calc(20px);
      }
    }
  }

  .mobile-shown {
    display: none;

    @media (max-width: 640px) {
      display: block;
      font-size: rem-calc(16px);
    }
  }
}

.cell-phones {
  padding: 51px 0 97px;

  @media (max-width: $desktop-min-width-minus) {
    padding: 32px 0 56px;
  }

  @media (max-width: $tablet-min-width-minus) {
    padding: 88px 0 56px;
  }

  @media (max-width: $phablet-min-width-minus) {
    padding: 33px 0 51px;
  }

  .blocks-section {
    max-width: 1500px;
    margin: auto;
    padding: 0 40px;

    @media (max-width: $desktophd-min-width) {
      padding: 0 24px;
    }

    .side-section {
      .details-section {
        .button {
          width: 100%;
        }
      }
    }

    @media (min-width: $desktop-min-width) {
      .side-section {
        display: flex;
        width: 100%;

        &.row-reverse {
          flex-direction: row-reverse;
        }

        .image-section {
          text-align: center;
          flex-basis: 50%;

          img {
            object-fit: cover;
            max-width: 648px;
            width: 90%;
            height: auto;
            object-fit: cover;
            object-position: 50% 50%;
          }
        }

        .details-section {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-basis: 50%;
          padding-left: 2.5%;

          &.bring-phone-section {
            .header {
              max-width: 314px;
            }

            .details {
              max-width: 380px;
            }
          }

          .header {
            margin-bottom: 30px;
            font-size: rem-calc(34px);
            line-height: 45px;
          }

          .details {
            margin-bottom: 40px;
            max-width: 513px;
            font-size: rem-calc(22px);
            line-height: 30px;
          }

          button {
            max-width: 226px;
          }
        }
      }
    }

    @media (max-width: $desktop-min-width-minus) {
      .side-section {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;

        .image-section {
          img {
            object-fit: cover;
            max-width: 733px;
            width: 100%;
            height: 377px;
            object-fit: cover;
            object-position: 50% 50%;
          }
        }

        .details-section {
          margin-bottom: 43px;

          .header {
            margin-bottom: 33px;
            font-size: rem-calc(48px);
            line-height: 40px;
          }

          .details {
            margin: 0 auto 20px;
            max-width: 513px;
            font-size: rem-calc(24px);
            line-height: 30px;
          }

          button {
            max-width: 216px;
          }

          &.bring-phone-section {
            // max-width: 369px;
            margin-top: 56px;
          }
        }
      }
    }

    @media (max-width: $phablet-min-width-minus) {
      .side-section {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;

        .image-section {
          img {
            object-fit: cover;
            width: 300px;
            height: 265px;
            object-fit: cover;
            object-position: 50% 50%;
          }
        }

        .details-section {
          margin-bottom: 45px;

          .header {
            margin: 0 auto;
            margin-bottom: 22px;
            font-size: rem-calc(24px);
            line-height: 25px;
          }

          .details {
            margin-bottom: 0 auto 20px;
            max-width: 253px;
            font-size: rem-calc(16px);
            line-height: 25px;
          }

          &.bring-phone-section {
            max-width: 201px;
            margin-top: 45px;
          }
        }
      }
    }
  }
}

.social-media {
  // background: linear-gradient(90deg, white 43%, #7cbadb 43%);
  // display: flex;
  // align-items: center;
  background-color: #7dd0de;

  @media (#{$larger-than-desktop}) {
    // margin-top: 139px;
    height: 525px;
    padding-top: 117px;
  }

  @media (max-width: 1200px) {
    padding-top: 90px;
  }

  @media (max-width: 1024.9px) {
    padding-top: 0px;
    margin-top: 30px;
    max-height: 565px;
    height: 550px;
  }

  @media (max-width: 750px) {
    background: transparent;
    margin-top: 0px;
    max-height: 620px;
    position: relative;
  }
}

.coverage-home-section {
  padding-bottom: 0px;

  @media (max-width: 750px) {
    padding-top: 40px;
  }

  @media (max-width: 414px) {
    padding-top: 15px;
  }
}

.map-image-section {
  display: flex;
  justify-content: right;
  align-items: center;

  img {
    height: 640px;
  }

  @media (max-width: $desktop-min-width-minus) {
    justify-content: center;

    img {
      height: 517px;
      max-width: 785px;
    }
  }

  @media (max-width: $ipad-min-width-minus) {
    img {
      height: 407px;
      max-width: 610px;
    }
  }

  @media (max-width: $phablet-min-width-minus) {
    img {
      height: 254px;
      max-width: 320px;
    }
  }
}

.network-section2 {
  width: 100%;
  color: white;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $desktop-min-width) {
    background-position: center;
    background-image: url(/assets/img/USA-map.jpg);
    height: 640px;
  }

  @media (max-width: $desktop-min-width) and (min-width: 834px) {
    background-image: url(/assets/img/USA-map-834.jpg);
    height: 517px;
    max-width: 785px;
  }

  @media (max-width: 834px) {
    background-image: url(/assets/img/USA-map-640.jpg);
    height: 408px;
    max-width: 610px;
  }

  @media (max-width: 639.9px) {
    background-image: url(/assets/img/USA-map.jpg);
    height: 254px;
    max-width: 381px;
  }

  @media (min-width: 1497px) {
    height: 700px;
  }

  @media (min-width: 1640px) {
    height: 860px;
  }

  @media (min-width: 1840px) {
    height: 960px;
  }

  .container-flex {
    max-width: 1120px;
  }

  .network-coverage-section {
    display: inline-flex;

    @media (max-width: 750px) {
      padding-top: 50px;
    }
  }

  .content {
    width: 70%;
    padding-top: 5%;

    @media (min-width: $desktop-min-width) {
      padding-top: 33%;
    }

    @media (min-width: 1497px) {
      padding-top: 40%;
    }

    @media (min-width: 1640px) {
      padding-top: 54%;
    }

    @media (min-width: 1840px) {
      padding-top: 50%;
    }

    @media (max-width: $desktop-min-width) {
      width: 100%;
      padding-top: 15px;
    }
  }

  .text-side {
    margin-left: 1.5%;
    margin-top: 6%;

    .title {
      color: white;
      font-family: $secondary-font-family-bold;
      line-height: 40px;
      font-size: rem-calc(34px);
      margin-bottom: 20px;
    }

    .description {
      width: 90%;
      font-size: rem-calc(20px);
      font-family: $base-font-family;
      font-weight: normal;
      color: white;
      margin-bottom: 45px;
      line-height: 1.4;
    }

    @media (max-width: $desktop-min-width) {
      margin-top: 25px;
      margin-left: 0;

      .title {
        font-size: rem-calc(26px);
        line-height: 30px;
        margin: 0 auto 30px;
      }

      .description {
        font-size: rem-calc(16px);
        line-height: 20px;
        max-width: 420px;
        margin: 0 auto;
      }

      p {
        font-size: rem-calc(16px);
        width: 100%;
      }
    }
  }

  .girl {
    @media (min-width: 641px) {
      display: none;
    }

    img {
      height: 619px;
    }
  }

  .action {
    width: 76%;
    margin-left: 1.5%;
    display: inline-flex;

    .zip {
      width: 53%;
      margin-right: 10%;

      .success-message {
        font-size: rem-calc(18px);
      }

      a {
        font-size: rem-calc(18px);
      }
    }

    .coverage {
      .button {
        padding: 10px 30px;
        margin-bottom: 15px;
        width: 225px;
      }

      a {
        font-size: rem-calc(18px);
        font-family: $secondary-font-family;
      }
    }

    @media (max-width: $desktop-min-width) {
      width: 100%;
      margin: 30px auto;
      display: block;

      .coverage {
        .button {
          padding: 10px;
          width: 200px;
          font-size: rem-calc(17px);
        }
      }
    }
  }

  @media (max-width: 639.9px) {
    margin-top: 15px;
    margin-bottom: 25px;

    .network-coverage-section {
      display: block;

      .content {
        width: 100%;

        .text-side {
          width: 100%;
          text-align: center;
          margin-bottom: 50px;
        }

        .action {
          width: 100%;
          display: block;
          text-align: center;

          .coverage {
            .button {
              padding: 10px 21px;
              margin-bottom: 15px;
              width: 257px;
              font-size: rem-calc(20px);
            }

            a {
              font-size: rem-calc(18px);
            }
          }

          .zip {
            width: 100%;
            text-align: center;
            margin-right: 0;
          }
        }
      }

      .girl {
        text-align: center;

        img {
          margin-bottom: 0;
        }
      }
    }
  }
}

.network-section {
  width: 100%;
  color: white;
  padding: 0;

  @media (min-width: $desktop-min-width) {
    background-position: center;
    background-image: url(/assets/img/network-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
  }

  @media (max-width: $desktop-min-width) {
    background-color: #7cbadb;
    background-size: 100%;
    height: 299px;
    text-align: center;
  }

  @media (min-width: 1497px) {
    height: 700px;
  }

  @media (min-width: 1640px) {
    height: 860px;
  }

  @media (min-width: 1840px) {
    height: 960px;
  }

  .container-flex {
    max-width: 1120px;
  }

  .network-coverage-section {
    display: inline-flex;
  }

  .content {
    width: 70%;
    padding-top: 5%;

    @media (min-width: $desktop-min-width) {
      padding-top: 33%;
    }

    @media (min-width: 1497px) {
      padding-top: 40%;
    }

    @media (min-width: 1640px) {
      padding-top: 54%;
    }

    @media (min-width: 1840px) {
      padding-top: 50%;
    }

    @media (max-width: $desktop-min-width) {
      width: 100%;
      padding-top: 15px;
    }
  }

  .text-side {
    margin-left: 1.5%;
    margin-top: 6%;

    .title {
      color: white;
      font-family: $secondary-font-family-bold;
      line-height: 40px;
      font-size: rem-calc(34px);
      margin-bottom: 20px;
    }

    .description {
      width: 90%;
      font-size: rem-calc(20px);
      font-family: $base-font-family;
      font-weight: normal;
      color: white;
      margin-bottom: 45px;
      line-height: 1.4;
    }

    @media (max-width: $desktop-min-width) {
      margin-top: 25px;
      margin-left: 0;

      .title {
        font-size: rem-calc(26px);
        line-height: 30px;
        margin: 0 auto 30px;
      }

      .description {
        font-size: rem-calc(16px);
        line-height: 20px;
        max-width: 420px;
        margin: 0 auto;
      }

      p {
        font-size: rem-calc(16px);
        width: 100%;
      }
    }
  }

  .girl {
    @media (min-width: 641px) {
      display: none;
    }

    img {
      height: 619px;
    }
  }

  .action {
    width: 76%;
    margin-left: 1.5%;
    display: inline-flex;

    .zip {
      width: 53%;
      margin-right: 10%;

      .success-message {
        font-size: rem-calc(18px);
      }

      a {
        font-size: rem-calc(18px);
      }
    }

    .coverage {
      .button {
        padding: 10px 30px;
        margin-bottom: 15px;
        width: 225px;
      }

      a {
        font-size: rem-calc(18px);
        font-family: $secondary-font-family;
      }
    }

    @media (max-width: $desktop-min-width) {
      width: 100%;
      margin: 30px auto;
      display: block;

      .coverage {
        .button {
          padding: 10px;
          width: 200px;
          font-size: rem-calc(17px);
        }
      }
    }
  }

  @media (max-width: 640px) {
    margin-top: 15px;
    margin-bottom: 25px;

    .network-coverage-section {
      display: block;

      .content {
        width: 100%;

        .text-side {
          width: 100%;
          text-align: center;
          margin-bottom: 50px;
        }

        .action {
          width: 100%;
          display: block;
          text-align: center;

          .coverage {
            .button {
              padding: 10px 21px;
              margin-bottom: 15px;
              width: 257px;
              font-size: rem-calc(20px);
            }

            a {
              font-size: rem-calc(18px);
            }
          }

          .zip {
            width: 100%;
            text-align: center;
            margin-right: 0;
          }
        }
      }

      .girl {
        text-align: center;

        img {
          margin-bottom: 0;
        }
      }
    }
  }
}

.newsletterSection {
  margin-top: 73px;
}
