<div class="about-goodmobile-page">
  <section class="banner-section">
    <picture class="banner-image-container">
      <source srcset='assets/img/banners/about-goodmobile-banner-breakpoint.webp' media="(max-width: 499.9px)"
        type="image/webp">
      <source srcset='assets/img/banners/about-goodmobile-banner-breakpoint.png' media="(max-width: 499.9px)"
        type="image/png">
      <source srcset='assets/img/banners/about-goodmobile-banner.webp' media="(min-width: 1025px)" type="image/webp">
      <source srcset='assets/img/banners/about-goodmobile-banner.png' media="(min-width: 1025px)" type="image/png">
      <img src="assets/img/banners/about-goodmobile-banner.png" alt="About GoodMobile Page Banner">
    </picture>
    <div class="page-section banner-text-content">
      <h1 class="header">Hello!</h1>
      <h3 class="sub-header">We are Good Mobile!</h3>
    </div>
  </section>
  <section class="why-us-section">
    <div class="page-section content-container background">
      <p class="label">WHY US</p>
      <h2 class="header-1">Pay Less</h2>
      <h2 class="header-2">Talk, Text and High Speed Data</h2>
      <h5 class="sub-header">More is better. Bigger is best. Right?</h5>
      <div class="description-part">
        <p class="desc smaller">Not necessarily when it comes to cell phone plans, UNLIMITED data plans and wireless
          service carriers.<br>You may not have heard of us, but for the past fifteen years our parent company <b>Ztar
            Mobile</b> has been driving innovation, helping to keep prices down and service levels up.</p>
        <ng-container *ngIf="(!!viewContent && innerWidth < 640) || innerWidth > 639">
          <p class="desc smaller bottom"><b>Every purchase powers Goodwill mission.</b></p>
          <p class="desc smaller">Good Mobile sales support the Goodwill mission to help people overcome the challenge
            to build skills, finding jobs & grow their careers through the power of work. Our mission is equally simple.
            Uncomplicated that which was still too complicated. Give our customers better choices, more control and more
            savings to live life.</p>
          <p class="desc smaller last">Here at Good Mobile, we place a high premium on value and customer service. Cheap
            wireless service shouldn’t mean sacrifice. We’re powered by the country’s best <b>5G/4G LTE</b> network.
            We’re big on treating customers right with great support. We don’t profit from confusion, tie you down with
            onerous contracts only a lawyer would love. In our world, it’s all about you, our customer and keeping you
            happy with our service.<br>Order a SIM and it shows up on your doorstep in a few days or purchase SIM card
            from retailers like Best Buy. Pick a plan with the high-speed data you want and add more at any time. It’s
            that simple.</p>
        </ng-container>
        <p class="more-less" (click)="viewContent = !viewContent;">{{!viewContent ? 'Read More' : 'Read Less'}}</p>
      </div>
    </div>
    <div class="page-section content-container">
      <p class="label">WHY US</p>
      <h2 class="header-2">Our promise to you</h2>
      <div class="description-part">
        <p class="desc smaller">At Good Mobile, we won’t profit from confusion. We don’t “make” you sign up for plans
          with rigid rules about cell data.<br>From the get-go you are in charge.</p>
        <p class="desc smaller">But most important, in addition to affordable prepaid phone plans, we believe
          passionately in living life – family, travel, good food, great friends, long talks, taking naps, broadened
          horizons and a spirit of adventure.</p>
        <p class="desc smaller bottom"><b>We live to facilitate fun. So you can…</b></p>
        <p class="desc smaller">Go on a trip. See a movie. Do volunteer work. Wherever it is that you spend your time,
          we hope you’ll bring Good Mobile to capture the memories.</p>
        <p class="desc smaller last"><b>Choose Good Mobile and great things await!</b></p>
      </div>
    </div>
  </section>
</div>