@import "../../../../../styles/modules/variables";
@import "../../../../../styles/modules/mixins";

.android-cdma {
    padding: 0 25px;
    .title {
      font-size: rem-calc(25px);
      line-height: 24px;
      margin-bottom: 50px;
    }
    .instructions-section {
      margin-bottom: 40px;
      .header {
        font-size: rem-calc(20px);
        line-height: 27px;
        margin-bottom: 20px;
      }
      .sub-list {
        .sub {
          font-size: rem-calc(18px);
          line-height: 25px;
        }
      }
      .instruction {
        font-size: rem-calc(18px);
        line-height: 25px;
        max-width: 803px;
      }
      .note {
        font-size: rem-calc(15px);
        line-height: 20px;
        max-width: 764px;
        font-weight: normal;
      }
    }
    .actions {
      margin-bottom: 50px;
      .button {
        width: 200px;
        padding: 11px;
        font-size: rem-calc(18px);
      }
    }
    @media (max-width: $desktop-min-width-minus) {
      padding: 0 10px;
      .title {
        font-size: rem-calc(22px);
        line-height: 28px;
        margin-bottom: 35px;
      }
      .instructions-section {
        margin-bottom: 25px;
        .header {
          font-size: rem-calc(18px);
          line-height: 24px;
        }
        .instruction {
          font-size: rem-calc(15px);
          line-height: 20px;
        }
        .sub-list {
          padding-left: 24px;
          .sub {
            font-size: rem-calc(15px);
            line-height: 20px;
          }
        }
        .note {
          font-size: rem-calc(13px);
          line-height: 20px;
        }
      }
      .actions {
        text-align: center;
        margin-bottom: 30px;
        .button {
          margin-top: 25px;
        }
      }
    }
  }