<section class="page-section check-sim">
    <app-activation-header></app-activation-header>
    <div class="page-content">
        <h1 class="header-color">Hello, I’m Liz! <br>Do you have a Good Mobile SIM card with you?</h1>
        <h4 class="text-orange">To activate, you need to have a Good Mobile SIM card.</h4>
        <div class="options">
            <label class="radio-label" for="yes" >
                <input type="radio" value="yes" [(ngModel)]="option" id="yes" #optionRef="ngModel">Yes, I have it with me
            </label>
            <label class="radio-label" for="no" >
                <input type="radio" value="no" [(ngModel)]="option"  id="no" #optionRef="ngModel">No, I don’t 
            </label>
            <label class="validation-message" *ngIf="optionRef?.touched && !option">Please select one of the options</label>
        </div>
       <div class="action">
        <button class="button primary" (click)="selectOption()">Next <img class="icon" src="assets/icon/right-circle-arrow.svg"/></button>
       </div>
    </div>
</section>