<section class="container-flex internal-page-margins check-sim">
    <div class="container-flex-row flex-center margin-bottom-20">
        <div class="text-center">
            <h1 class="header" id="check-sim-header">Do you have your GoodMobile SIM card?</h1>
            <h2 class="subhead">To Activate, you need to have a GoodMobile SIM card</h2>
        </div>
    </div>
    <div class="actions-container">
        <button class="button primary" id="yes-button" (click)="goToSimSource()">Yes</button>
        <button class="button secondary" id="no-button" (click)="goToNoSimPath()">No</button>
    </div>
</section>